<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="NetworkAdapterSection" type="Miner.Geodatabase.Integration.Configuration.NetworkAdapterConfigurationSection, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler, System, Version=2.0.8.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<appSettings>
		<add key="GeoMart_Exception" value =" AND TYPE IN (SELECT UUID FROM SDE.GDB_ITEMTYPES WHERE NAME IN ('Feature Dataset','Feature Class','Relationship Class','Table','Schematic Dataset','Dataset'))"/>
		<add key="FCIDMap" value="JU,EDGIS.ELECTRICDISTNETWORK_JUNCTIONS;PO,EDGIS.PRIOHCONDUCTOR;PU,EDGIS.PRIUGCONDUCTOR;DI,EDGIS.DISTBUSBAR;
         ST,EDGIS.ELECTRICSTITCHPOINT;DV,EDGIS.DEVICEGROUP;TR,EDGIS.TRANSFORMER;CP,EDGIS.CAPACITORBANK;SW,EDGIS.SWITCH;SE,EDGIS.STEPDOWN;
         FU,EDGIS.FUSE;PM,EDGIS.PRIMARYMETER;DP,EDGIS.DYNAMICPROTECTIVEDEVICE;VR,EDGIS.VOLTAGEREGULATOR;OP,EDGIS.OPENPOINT;
         TI,EDGIS.TIE;FI,EDGIS.FAULTINDICATOR;OI,EDGIS.PRIOHCONDUCTORINFO;UI,EDGIS.PRIUGCONDUCTORINFO;
         CO,EDGIS.CONTROLLER;TU,EDGIS.TRANSFORMERUNIT;VU,EDGIS.VOLTAGEREGULATORUNIT;RI,EDGIS.PRIMARYRISER;SC,EDGIS.SCADA;NP,EDGIS.NETWORKPROTECTOR;SL,EDGIS.SERVICELOCATION;SP,EDGIS.SERVICEPOINT;GI,EDGIS.GENERATIONINFO"/>
		<add key="NONFCID" value="DC,EDGIS.DCRECTIFIER;DE,EDGIS.DELIVERYPOINT;SG,EDGIS.SECONDARYGENERATION;
         SM,EDGIS.SMARTMETERNETWORKDEVICE;ST,EDGIS.STREETLIGHT;SD,EDGIS.DCCONDUCTOR;SO,EDGIS.SECOHCONDUCTOR;SU,EDGIS.SECUGCONDUCTOR;
         TL,EDGIS.TRANSFORMERLEAD" />
		<add key="SUBFCID" value="JU,EDGIS.SUBGEOMETRICNETWORK_JUNCTIONS;BU,EDGIS.SUBBUSBAR;UG,EDGIS.SUBUGCONDUCTOR;OH,EDGIS.SUBOHCONDUCTOR;
         SW,EDGIS.SUBSWITCH;RI,EDGIS.SUBRISER;PT,EDGIS.SUBPOTENTIALTRANSFORMER;FU,EDGIS.SUBFUSE;CT,EDGIS.SUBCURRENTTRANSFORMER;
         TR,EDGIS.SUBTRANSFORMERBANK;ST,EDGIS.SUBSTATIONTRANSFORMER;SI,EDGIS.SUBELECTRICSTITCHPOINT;CA,EDGIS.SUBCAPACITORBANK;
         CE,EDGIS.SUBCELL;RE,EDGIS.SUBREACTOR;TI,EDGIS.SUBTIE;VO,EDGIS.SUBVOLTAGEREGULATOR;ID,EDGIS.SUBINTERRUPTINGDEVICE;MT,EDGIS.SUBMTU;
         CS,EDGIS.CIRCUITSOURCE;UI,EDGIS.SUBUGCONDUCTORINFO;OI,EDGIS.SUBOHCONDUCTORINFO;LI,EDGIS.SUBLINK;EX,EDGIS.SUBEXTRAWINDING;
         TU,EDGIS.SUBTRANSFORMERUNIT;TA,EDGIS.SUBTRANSFORMERRATING;LO,EDGIS.SUBLOADTAPCHANGER;VU,EDGIS.SUBVOLTAGEREGULATORUNIT;
         LA,EDGIS.SUBLIGHTNINGARRESTOR"/>

		<add key="ServiceLocationTableName" value="SERVICELOCATION" />
		<add key="GenCategoryFieldName" value="GENCATEGORY" />
		<add key="GenSymbologyFieldName" value="GENSYMBOLOGY" />
		<add key="GenCategoryDomainName" value="Generation Category" />
		<add key="GenCategoryValueForPrimary" value="Primary" />


		<!-- Database connection parameters -->
		<add key="UseTNSConnection" value="True" />

		<add key ="EDGMC_ConnectionStr" value ="EDGIS@EDGMC"/>
		<add key ="EDSUBGMC_ConnectionStr" value ="EDGIS@EDSUBGMC"/>
		<add key ="EDSCHM_ConnectionStr" value ="EDGIS@EDSCHM"/>
		<add key ="EDGMC_ConnectionStr_dmsstaging" value ="DMSSTAGING@EDGMC"/>
		<add key ="EDER_ConnectionStr_dmsstaging" value ="DMSSTAGING@EDER"/>

		<add key ="PGES_SDEElement" value ="EDGIS@EDSUBGMC"/>
		<add key ="PGE_SDEElement" value ="EDGIS@EDER"/>


		<add key="StagingSchema" value="DMSSTAGING"/>
		<add key="BufferSizeInBytes" value="65535" />
		<add key="BulkCopyTimeout" value="90"/>

		<!-- Should schematics pathing and x,y values be processed -->
		<add key="ProcessSchematics" value="True"/>

		<!-- How many processes should run to generate results -->
		<add key="MaximumProcesses" value="8" />

		<!-- List of tables to extract to csv files -->
		<add key="ExportTables" value="CAPACITOR,DEVICE,LINE,LOAD,NODE,PATH,SOURCE,EXPORTED,SITE" />
		<add key="ExportPath" value="D:\ED50\EXPORTS"/>
		<add key="ArchivePath" value="D:\ED50\archive\" />
		<add key="TriggerFile" value="ED50_P_TRIGGER.TXT" />

		<add key="SubstationPolygon" value="EDGIS.SUBStationBoundary" />
		<add key="SubstationField" value="SUBSTATIONID" />
	</appSettings>
	<!-- Replace ConfigName with MinervilleToCIM, MinervilleToMultispeak, or other custom configuration name -->
	<NetworkAdapterSection Default="PGE">
		<NetworkAdapters>
			<!-- CONFIGURATION: Change GeometricNetworkName as needed.  Set GlobalIDs to true or false, as needed. -->

			<add name="PGES" GeometricNetworkName="SubGeometricNetwork" GlobalIDs="false">
				<!-- Geodatabase connection -->
				<!-- CONFIGURATION:  Edit this section to use your own connection parameters.  -->
				<SdeElement>
				
					<WorkspaceFactory QualifiedTypeName="ESRI.ArcGIS.DataSourcesGDB.SdeWorkspaceFactoryClass, ESRI.ArcGIS.DataSourcesGDB, Version=10.8.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				</SdeElement>
				<!-- Export model names -->
				<ModelNames FeatureIDFieldModelName="FACILITYID">
					<ClassModelNames>
						<!-- Any class with this model name will be exported -->
						<add name="PGE_DMSCLASS"/>
						<add name="SUBSTATION"/>
					</ClassModelNames>
					<FieldModelNames>
						<!-- Any field with any of these model names will be exported -->
						<add name="PGE_DMSFIELD"/>
						<add name="HIGHSIDECONFIGURATION"/>
						<add name="LOWSIDECONFIGURATION"/>
						<add name="FEEDERID"/>
						<add name="SUBSTATIONID"/>
						<add name="BAYID"/>
						<add name="LOWSIDEVOLTAGE"/>
						<add name="OPERATINGVOLTAGE"/>
						<add name="SCADACONTROLID"/>
						<add name="FACILITYID"/>
						<add name="MEASUREDLENGTH"/>
						<add name="FAULTINDICATORDIRECTION"/>
						<add name="TAPCHANGEREQUIPMENT"/>
						<add name="TAPCHANGEREQUIPMENT1"/>
						<add name="TAPCHANGEREQUIPMENT2"/>
						<add name="TAPCHANGEREQUIPMENT3"/>
						<add name="TAPCHANGEREQUIPMENT4"/>
					</FieldModelNames>
					<RelationshipModelNames>
						<!-- Related rows or features with this model name will be exported. -->
						<add name="PGE_DMSCLASS"/>
					</RelationshipModelNames>
					<ReverseRelationshipModelNames>
						<!-- Use the model name for related tables or feature classes that server as the origin of the relationship. -->
						<add name="PGE_DMSRELATED"/>
					</ReverseRelationshipModelNames>
					<!-- These special electric model names are used by the validation rules. -->
					<ElectricModelNames LowSideVoltageFieldModelName="LOWSIDEVOLTAGE" OperatingVoltageFieldModelName="OPERATINGVOLTAGE" PhaseDesignationFieldModelName="PHASEDESIGNATION"/>
				</ModelNames>
				<PipelineRules>
					<!-- Traces feeders -->
					<!-- CONFIGURATION: set IncludeDeenergized to false if you don't want to export 
			   de-energized features -->
					<!--<add name="Electric Trace" type="Telvent.PGE.ED.Integration.DMS.Tracers.GenericNetworkExporter, Telvent.PGE.ED.Integration.DMS, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>-->
					<add name="Electric Trace" IncludeDeenergized="true" type="Miner.Geodatabase.Integration.Electric.TraceFeeders, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Adds attributes and geometry to the trace results -->
					<add name="Features" ChildName="Electric Trace" type="Miner.Geodatabase.Integration.Electric.GetFeatures, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Adds relationships to the traced features -->
					<add name="Relationships" ChildName="Features" type="Miner.Geodatabase.Integration.Electric.GetRelationships, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Checks for Voltage consistency in the exported features -->
					<add name="Validate Voltage" ChildName="Relationships" type="Miner.Geodatabase.Integration.Electric.ValidateVoltages`1[[Miner.Geodatabase.Integration.ElectricExportScope, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc]], Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Checks for Phase consistency in the exported features -->
					<add name="Validate Phase" ChildName="Validate Voltage" type="Miner.Geodatabase.Integration.Electric.ValidatePhase`1[[Miner.Geodatabase.Integration.ElectricExportScope, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc]], Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="CADOPS" ChildName="Validate Phase" type="PGE.Interface.Integration.DMS.CADOPS, PGE.Interface.Integration.DMS, Version=10.8.1.0, Culture=neutral, PublicKeyToken=d01347ab6ada58e7"/>
				</PipelineRules>
				<OptionsDialogs>
					<add name="GeneralOptions" type="Miner.GeodatabaseUI.Integration.GeneralOptions, Miner.GeodatabaseUI, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="MessageLogOptions" type="Miner.GeodatabaseUI.Integration.MessageLogOptions, Miner.GeodatabaseUI, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="FileOptions" type="Miner.GeodatabaseUI.Integration.SaveFileOptions, Miner.GeodatabaseUI, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc" PipelineRule="Save File"/>
				</OptionsDialogs>
				<!-- To change the severity level for any of these exceptions, uncomment one or more exceptions below and set
					the severity to Error, Warning or Ignore. 
				Error - Stop the export.
				Warning - Warn the user and continue the export.
				Ignore - Suppress the warning.-->
				<!--<Exceptions>
					<add name="GisAdapterException" Severity="Error" type="Miner.Geodatabase.Integration.DMS.GisAdapterException, Miner.Geodatabase.NetworkAdapter,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc" />        
					<add name="VoltageDoesNotMatchSourceException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.VoltageDoesNotMatchSourceException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="TransformerVoltageInvalidException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.TransformerVoltageInvalidException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgePhasesExceedSourceException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.EdgePhasesExceedSourceException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="JunctionPhasesDontMatchEdgeException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.JunctionPhasesDontMatchEdgeException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="FromJunctionNotFoundException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.FromJunctionNotFoundException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgePhasesNothingInCommonException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.EdgePhasesNothingInCommonException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="RelatedPhasesExceedOperationalPhasesException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.RelatedPhasesExceedOperationalPhasesException,Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="RelatedPhasesAreNullException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.RelatedPhasesAreNullException,Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeCorruptLineException" Severity="Warning" type="Miner.Geodatabase.Integration.EdgeCorruptLineException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeMissingToJunctionException" Severity="Warning" type="Miner.Geodatabase.Integration.Serialization.EdgeMissingToJunctionException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeMissingFromJunctionException" Severity="Warning" type="Miner.Geodatabase.Integration.Serialization.EdgeMissingFromJunctionException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeMissingLineException" Severity="Warning" type="Miner.Geodatabase.Integration.Serialization.EdgeMissingLineException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="JunctionCorruptPointException" Severity="Warning" type="Miner.Geodatabase.Integration.JunctionCorruptPointException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="JunctionNotTracedException" Severity="Warning" type="Miner.Geodatabase.Integration.JunctionNotTracedException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="MspTransformationWrongStylesheetException" Severity="Error" type="Miner.Geodatabase.Integration.MspTransformationWrongStylesheetException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc" />
				</Exceptions>-->
			</add>

			<add name="PGE" GeometricNetworkName="ElectricDistNetwork" GlobalIDs="false">
				<!-- Geodatabase connection -->
				<!-- CONFIGURATION:  Edit this section to use your own connection parameters.  -->
				<SdeElement>
				
					<WorkspaceFactory QualifiedTypeName="ESRI.ArcGIS.DataSourcesGDB.SdeWorkspaceFactoryClass, ESRI.ArcGIS.DataSourcesGDB, Version=10.8.0.0, Culture=neutral, PublicKeyToken=8fc3cc631e44ad86"/>
				</SdeElement>
				<!-- Export model names -->
				<ModelNames FeatureIDFieldModelName="FACILITYID">
					<ClassModelNames>
						<!-- Any class with this model name will be exported -->
						<add name="PGE_DMSCLASS"/>
						<add name="SUBSTATION"/>
					</ClassModelNames>
					<FieldModelNames>
						<!-- Any field with any of these model names will be exported -->
						<add name="PGE_DMSFIELD"/>
						<add name="HIGHSIDECONFIGURATION"/>
						<add name="LOWSIDECONFIGURATION"/>
						<add name="FEEDERID"/>
						<add name="SUBSTATIONID"/>
						<add name="BAYID"/>
						<add name="LOWSIDEVOLTAGE"/>
						<add name="OPERATINGVOLTAGE"/>
						<add name="SCADACONTROLID"/>
						<add name="FACILITYID"/>
						<add name="MEASUREDLENGTH"/>
						<add name="FAULTINDICATORDIRECTION"/>
						<add name="TAPCHANGEREQUIPMENT"/>
						<add name="TAPCHANGEREQUIPMENT1"/>
						<add name="TAPCHANGEREQUIPMENT2"/>
						<add name="TAPCHANGEREQUIPMENT3"/>
						<add name="TAPCHANGEREQUIPMENT4"/>
					</FieldModelNames>
					<RelationshipModelNames>
						<!-- Related rows or features with this model name will be exported. -->
						<add name="PGE_DMSCLASS"/>
					</RelationshipModelNames>
					<ReverseRelationshipModelNames>
						<!-- Use the model name for related tables or feature classes that serve as the origin of the relationship. -->
						<add name="PGE_DEVICEGROUP"/>
					</ReverseRelationshipModelNames>
					<!-- These special electric model names are used by the validation rules. -->
					<ElectricModelNames LowSideVoltageFieldModelName="LOWSIDEVOLTAGE" OperatingVoltageFieldModelName="OPERATINGVOLTAGE" PhaseDesignationFieldModelName="PHASEDESIGNATION"/>
				</ModelNames>
				<PipelineRules>
					<!-- Traces feeders -->
					<!-- CONFIGURATION: set IncludeDeenergized to false if you don't want to export 
			   de-energized features -->
					<add name="Electric Trace" IncludeDeenergized="true" type="Miner.Geodatabase.Integration.Electric.TraceFeeders, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Adds attributes and geomery to the trace results -->
					<add name="Features" ChildName="Electric Trace" type="Miner.Geodatabase.Integration.Electric.GetFeatures, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Adds relationships to the traced features -->
					<add name="Relationships" ChildName="Features" type="Miner.Geodatabase.Integration.Electric.GetRelationships, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Checks for Voltage consistency in the exported features -->
					<add name="Validate Voltage" ChildName="Relationships" type="Miner.Geodatabase.Integration.Electric.ValidateVoltages`1[[Miner.Geodatabase.Integration.ElectricExportScope, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc]], Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<!-- Checks for Phase consistency in the exported features -->
					<add name="Validate Phase" ChildName="Validate Voltage" type="Miner.Geodatabase.Integration.Electric.ValidatePhase`1[[Miner.Geodatabase.Integration.ElectricExportScope, Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc]], Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="CADOPS" ChildName="Validate Phase" type="PGE.Interface.Integration.DMS.CADOPS, PGE.Interface.Integration.DMS, Version=10.8.1.0, Culture=neutral, PublicKeyToken=d01347ab6ada58e7"/>
				</PipelineRules>
				<OptionsDialogs>
					<add name="GeneralOptions" type="Miner.GeodatabaseUI.Integration.GeneralOptions, Miner.GeodatabaseUI, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="MessageLogOptions" type="Miner.GeodatabaseUI.Integration.MessageLogOptions, Miner.GeodatabaseUI, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="FileOptions" type="Miner.GeodatabaseUI.Integration.SaveFileOptions, Miner.GeodatabaseUI, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc" PipelineRule="Save File"/>
				</OptionsDialogs>
				<!-- To change the severity level for any of these exceptions, uncomment one or more exceptions below and set
					the severity to Error, Warning or Ignore. 
				Error - Stop the export.
				Warning - Warn the user and continue the export.
				Ignore - Suppress the warning.-->
				<!--<Exceptions>
					<add name="GisAdapterException" Severity="Error" type="Miner.Geodatabase.Integration.DMS.GisAdapterException, Miner.Geodatabase.NetworkAdapter,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc" />        
					<add name="VoltageDoesNotMatchSourceException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.VoltageDoesNotMatchSourceException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="TransformerVoltageInvalidException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.TransformerVoltageInvalidException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgePhasesExceedSourceException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.EdgePhasesExceedSourceException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="JunctionPhasesDontMatchEdgeException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.JunctionPhasesDontMatchEdgeException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="FromJunctionNotFoundException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.FromJunctionNotFoundException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgePhasesNothingInCommonException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.EdgePhasesNothingInCommonException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="RelatedPhasesExceedOperationalPhasesException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.RelatedPhasesExceedOperationalPhasesException,Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="RelatedPhasesAreNullException" Severity="Warning" type="Miner.Geodatabase.Integration.Electric.RelatedPhasesAreNullException,Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeCorruptLineException" Severity="Warning" type="Miner.Geodatabase.Integration.EdgeCorruptLineException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeMissingToJunctionException" Severity="Warning" type="Miner.Geodatabase.Integration.Serialization.EdgeMissingToJunctionException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeMissingFromJunctionException" Severity="Warning" type="Miner.Geodatabase.Integration.Serialization.EdgeMissingFromJunctionException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="EdgeMissingLineException" Severity="Warning" type="Miner.Geodatabase.Integration.Serialization.EdgeMissingLineException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="JunctionCorruptPointException" Severity="Warning" type="Miner.Geodatabase.Integration.JunctionCorruptPointException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="JunctionNotTracedException" Severity="Warning" type="Miner.Geodatabase.Integration.JunctionNotTracedException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
					<add name="MspTransformationWrongStylesheetException" Severity="Error" type="Miner.Geodatabase.Integration.MspTransformationWrongStylesheetException, Miner.Geodatabase,Version=10.1.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc" />
				</Exceptions>-->
			</add>
		</NetworkAdapters>
	</NetworkAdapterSection>
	<log4net>
		<appender name="EventLogAppender" type="Miner.EventLogAppender, Miner.System, Version=10.8.0.0, Culture=neutral,PublicKeyToken=196beceb052ed5dc">
			<param name="LogName" value="Miner"/>
			<param name="ApplicationName" value="Network Adapter"/>
			<param name="Threshold" value="WARN"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n"/>
			</layout>
		</appender>
		<!-- Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="INFO"/>
			<appender-ref ref="EventLogAppender"/>
		</root>
		<!-- Specify the level for some specific categories
		<logger name="Miner.Responder.Shared.Channels.MSMQ">
			<level value="ALL" />
		</logger>  -->
		<!-- An example of the UserLotFileAppender specifying a conversion pattern. 
		 The file element is required, but it's overwritten by the application.
		 Set the log file under Tools->Options.  -->
		<!--<appender name="UserLogFileAppender" type="log4net.Appender.FileAppender">
			<file value="" />
			<appendToFile value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date %message%newline"/>
			</layout>
		</appender>
		<logger name="UserLogFile">
			<level value="INFO"/>
			<appender-ref ref="UserLogFileAppender"/>
		</logger>-->
	</log4net>
	<!--<startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>-->
</configuration>