<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>   
    <add name="ConnectionStr" connectionString="EDSETT@EDGISQ6Q" />   
  </connectionStrings>

  <appSettings>
    <add key="filePeakLoad" value="C:\ENOS Tables\test.csv" />
    <add key="fileFeederPeak" value="C:\ENOS Tables\FeederPeak_Query.csv" />
    <add key="fileBankPeak" value="C:\ENOS Tables\Test.xlsx" />
    <add key="UserID" value="EDCYMELOADMIG" />
  </appSettings>
</configuration>