<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Common Start -->
    <!--Connection to Perform Version Operations in Main Database-->
   
    <add key ="EDER_SDEConnection_sde" value ="SDE@EDER"/>
    <add key ="EDER_ConnectionStr" value ="INT_ED15_RW@EDER"/>
    <add key ="EDER_SDEConnection" value ="INT_ED15_RW@EDER"/>
    <add key ="EDAUX_ConnectionStr" value ="EDSETT@EDAUX"/>
    
    
    
    
    <add key ="UserName" value ="Int_ED15_RW"/>
    <add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
    <!--Common End -->
    <!--Configuration to Load data in Primary Stage Tables and To Export Data For SAP Start-->
    <!--<add key="Path_To_SAP_Files" value="C:\ED15" />
    <add key="Path_To_Archive" value="C:\ED15\ED15Archive" />-->

    <add key="SETTINGS_USER" value="EDSETT"/>
    <add key="Date_Format_For_Update" value="mm/dd/yyyy hh:mi:ss AM"/>
    <add key="PTO_DATE_FORMAT" value="yyyyMMdd"/>
    <!--Adding Config Values to Store Versiona Name-->
    <add key="VERSIONNAME" value="VERSIONNAME"/>
    <add key="Migrate_CEDSADATA" value="N"/>
    <add key="CEDSA_KEYWORD" value="INCLUDECEDSA"/>
    <!--SP For CEDSA Data Validation before merge to SAP Only for DATA MIGRATION-->
    <add key="SP_CEDSA_DATA_VLDTN" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_CEDSA_DATA_VLDTN_SP"/>
    <!--SP to Process SAP Data  merge to CEDSA Only for DATA MIGRATION-->
    <add key="SP_CEDSA_2_SAP" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_CEDSA_2_SAP_PROCESS_SP"/>
    <add key="Qry_UpdateVersionName" value="UPDATE PGEDATA.APPLICATIONCONFIG SET CONFIG_VALUE='{0}' WHERE CONFIG_KEY='VERSIONNAME' AND BATCH_NAME='ED15'"/>
    <add key="Qry_SelectVersionaName" value="SELECT CONFIG_VALUE FROM PGEDATA.APPLICATIONCONFIG WHERE CONFIG_KEY='VERSIONNAME' AND BATCH_NAME='ED15' "/>
    <add key="Qry_UpdateSessionId" value="UPDATE PGEDATA.APPLICATIONCONFIG SET CONFIG_VALUE='{0}' WHERE CONFIG_KEY='SESSIONID' AND BATCH_NAME='ED15'"/>
    <add key="Qry_SelectSessionID" value="SELECT CONFIG_VALUE FROM PGEDATA.APPLICATIONCONFIG WHERE CONFIG_KEY='SESSIONID' AND BATCH_NAME='ED15' "/>
    <!-- WG1 Coonfig Change start 10/07/2021-->
    <add key="Stage1_Summary_Table_Name" value="PGEDATA.GEN_SUMMARY_STAGE" />
    <add key="Query_on_SummaryTable" value="SELECT SERVICE_POINT_ID,GUID,ACTION FROM {0} WHERE ACTION IN ('U','D') and (status='S' or status is null)" />
    <add key="Update_on_SummaryTable" value="UPDATE {0} SET STATUS = '{1}', STATUS_MESSAGE = '{2}' WHERE SERVICE_POINT_ID = '{3}' AND GUID = '{4}'" />
    <add key="Query_on_MainTable" value="SELECT OBJECTID,SERVICEPOINTGUID,DATECREATED,CREATEDBY,DATEMODIFIED DATE_MODIFIED,MODIFIEDBY,SAPEGINOTIFICATION,PROJECTNAME,GENTYPE,PROGRAMTYPE,EFFRATINGMACHKW,EFFRATINGINVKW,EFFRATINGMACHKVA,EFFRATINGINVKVA,    BACKUPGEN,MAXSTORAGECAPACITY,CHARGEDEMANDKW,GENSYMBOLOGY,POWERSOURCE,GLOBALID,DERATED,TELEMETRYENABLED,COMMUNICATIONTYPE,CONTROLENABLED,CONTROLPROGRAMTYPE,PROJECTTOTALEXPORTKW,LIMITED FROM {0} WHERE GLOBALID IN ('{1}') " />
    <add key="Stage1_Equipment_Table_Name" value="PGEDATA.GEN_EQUIPMENT_STAGE" />
    <add key="Stage2_Generation_info_Table_Name" value="PGEDATA.PGEDATA_GENERATIONINFO_STAGE" />
    <add key="Fields_To_Insert_Stage2_GenInfo" value="OBJECTID,GLOBALID,SERVICEPOINTGUID,DATECREATED,CREATEDBY,DATEMODIFIED,MODIFIEDBY,SAPEGINOTIFICATION,PROJECTNAME,GENTYPE,PROGRAMTYPE,EFFRATINGMACHKW,EFFRATINGINVKW,EFFRATINGMACHKVA,EFFRATINGINVKVA,BACKUPGEN,MAXSTORAGECAPACITY,CHARGEDEMANDKW,GENSYMBOLOGY,POWERSOURCE,ACTION,DERATED,TELEMETRYENABLED,COMMUNICATIONTYPE,CONTROLENABLED,CONTROLPROGRAMTYPE,PROJECTTOTALEXPORTKW,LIMITED" />
    <add key="Stage2_SM_Generation_Table_Name" value="PGEDATA.PGEDATA_SM_GENERATION_STAGE" />
    <add key="Fields_To_Insert_Stage2_SmGen" value="ID,GLOBAL_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,SAP_EGI_NOTIFICATION,PROJECT_NAME,GEN_TYPE,PROGRAM_TYPE,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,BACKUP_GENERATION,EXPORT_KW,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,DIRECT_TRANSFER_TRIP,GRD_FAULT_DETECTION_CD,NOTES,ACTION,DERATED,TELM_ENBL,TELM_COMM_TYP,TELM_CNTR_ENB,TELM_CNTRPRG_TYP,PROJECT_TOTAL_EXPORT_KW,LIMITED" />
    <add key="Fields_To_Insert_Main_SmGen" value="GLOBAL_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,SAP_EGI_NOTIFICATION,PROJECT_NAME,GEN_TYPE,PROGRAM_TYPE,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,BACKUP_GENERATION,EXPORT_KW,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,DIRECT_TRANSFER_TRIP,GRD_FAULT_DETECTION_CD,NOTES,CURRENT_FUTURE,DERATED,TELM_ENBL,TELM_COMM_TYP,TELM_CNTR_ENB,TELM_CNTRPRG_TYP,PROJECT_TOTAL_EXPORT_KW,LIMITED" />
    <add key="Fields_To_INSERT_IN_HIST_SmGen" value="SM_GENERATION_ID,GLOBAL_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,SAP_EGI_NOTIFICATION,PROJECT_NAME,GEN_TYPE,PROGRAM_TYPE,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,BACKUP_GENERATION,EXPORT_KW,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,DIRECT_TRANSFER_TRIP,GRD_FAULT_DETECTION_CD,NOTES,CURRENT_FUTURE,DERATED,TELM_ENBL,TELM_COMM_TYP,TELM_CNTR_ENB,TELM_CNTRPRG_TYP,PROJECT_TOTAL_EXPORT_KW,LIMITED" />
    <add key="Fields_To_SELECT_For_HIST_SmGen" value="ID,GLOBAL_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,SAP_EGI_NOTIFICATION,PROJECT_NAME,GEN_TYPE,PROGRAM_TYPE,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,BACKUP_GENERATION,EXPORT_KW,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,DIRECT_TRANSFER_TRIP,GRD_FAULT_DETECTION_CD,NOTES,CURRENT_FUTURE,DERATED,TELM_ENBL,TELM_COMM_TYP,TELM_CNTR_ENB,TELM_CNTRPRG_TYP,PROJECT_TOTAL_EXPORT_KW,LIMITED" />
    <add key="Fields_To_Query_Stage2_SmGen" value="ID,GLOBAL_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,SAP_EGI_NOTIFICATION,PROJECT_NAME,GEN_TYPE,PROGRAM_TYPE,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,BACKUP_GENERATION,EXPORT_KW,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,DIRECT_TRANSFER_TRIP,GRD_FAULT_DETECTION_CD,NOTES,ACTION,UPDATED_IN_ED_MAIN,DERATED,TELM_ENBL,TELM_COMM_TYP,TELM_CNTR_ENB,TELM_CNTRPRG_TYP,PROJECT_TOTAL_EXPORT_KW,LIMITED" />
    <!-- WG1 Coonfig Change end 10/07/2021-->
    <!--End Edit-->
    <add key="Stage2_SM_Protection_Table_Name" value="PGEDATA.PGEDATA_SM_PROTECTION_STAGE" />
    <add key="Fields_To_Insert_Stage2_SmProtection" value="ID,PARENT_TYPE,PARENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,PROTECTION_TYPE,EXPORT_KW,FUSE_SIZE,FUSE_TYPE,MANUFACTURER,CERTIFIED_INVERTER,PHA_MIN_AMPS_TRIP,PHA_SLOW_CURVE,PHA_FAST_CURVE,PHA_TIME_DIAL,PHA_INST,GRD_MIN_AMPS_TRIP,GRD_SLOW_CURVE,GRD_FAST_CURVE,GRD_TIME_DIAL,GRD_INST,NOTES,ACTION" />
    <add key="Fields_To_Insert_Main_SmProtection" value="PARENT_TYPE,PARENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,PROTECTION_TYPE,EXPORT_KW,FUSE_SIZE,FUSE_TYPE,MANUFACTURER,CERTIFIED_INVERTER,PHA_MIN_AMPS_TRIP,PHA_SLOW_CURVE,PHA_FAST_CURVE,PHA_TIME_DIAL,PHA_INST,GRD_MIN_AMPS_TRIP,GRD_SLOW_CURVE,GRD_FAST_CURVE,GRD_TIME_DIAL,GRD_INST,NOTES,CURRENT_FUTURE" />
    <add key="Fields_To_Update_Main_SmProtection" value="DATE_MODIFIED,MODIFIEDBY,PROTECTION_TYPE,EXPORT_KW,FUSE_SIZE,FUSE_TYPE,MANUFACTURER,CERTIFIED_INVERTER,PHA_MIN_AMPS_TRIP,PHA_SLOW_CURVE,PHA_FAST_CURVE,PHA_TIME_DIAL,PHA_INST,GRD_MIN_AMPS_TRIP,GRD_SLOW_CURVE,GRD_FAST_CURVE,GRD_TIME_DIAL,GRD_INST,NOTES" />

    <add key="Fields_To_SELECT_For_HIST_SmProtection" value="ID,PARENT_TYPE,PARENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,PROTECTION_TYPE,EXPORT_KW,FUSE_SIZE,FUSE_TYPE,MANUFACTURER,CERTIFIED_INVERTER,PHA_MIN_AMPS_TRIP,PHA_SLOW_CURVE,PHA_FAST_CURVE,PHA_TIME_DIAL,PHA_INST,GRD_MIN_AMPS_TRIP,GRD_SLOW_CURVE,GRD_FAST_CURVE,GRD_TIME_DIAL,GRD_INST,NOTES,CURRENT_FUTURE" />
    <add key="Fields_To_INSERT_IN_HIST_SmProtection" value="SM_PROTECTION_ID,PARENT_TYPE,PARENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,PROTECTION_TYPE,EXPORT_KW,FUSE_SIZE,FUSE_TYPE,MANUFACTURER,CERTIFIED_INVERTER,PHA_MIN_AMPS_TRIP,PHA_SLOW_CURVE,PHA_FAST_CURVE,PHA_TIME_DIAL,PHA_INST,GRD_MIN_AMPS_TRIP,GRD_SLOW_CURVE,GRD_FAST_CURVE,GRD_TIME_DIAL,GRD_INST,NOTES,CURRENT_FUTURE" />

    <add key="Fields_To_Query_Stage2_SmProtection" value="ID,PARENT_TYPE,PARENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,PROTECTION_TYPE,EXPORT_KW,FUSE_SIZE,FUSE_TYPE,MANUFACTURER,CERTIFIED_INVERTER,PHA_MIN_AMPS_TRIP,PHA_SLOW_CURVE,PHA_FAST_CURVE,PHA_TIME_DIAL,PHA_INST,GRD_MIN_AMPS_TRIP,GRD_SLOW_CURVE,GRD_FAST_CURVE,GRD_TIME_DIAL,GRD_INST,NOTES,ACTION" />
    <add key="Stage2_SM_Relay_Table_Name" value="PGEDATA.PGEDATA_SM_RELAY_STAGE" />
    <add key="Stage2_SM_Generator_Table_Name" value="PGEDATA.PGEDATA_SM_GENERATOR_STAGE" />
    <!-- WG1 Coonfig Change start 10/07/2021-->
    <add key="Fields_To_Insert_Stage2_SmGenerator" value="ID,PROTECTION_ID,SAP_EGI_NOTIFICATION,SAP_QUEUE_NUMBER,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,POWER_SOURCE,PROJECT_NAME,MANUFACTURER,MODEL,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,NUMBER_OF_PHASES,MODE_OF_INVERTER,GEN_TECH_CD,PTO_DATE,PROGRAM_TYPE,CONTROL_CD,CONNECTION_CD,STATUS_CD,SS_REACTANCE,SS_RESISTANCE,TRANS_REACTANCE,TRANS_RESISTNACE,SUBTRANS_REACTANCE,SUBTRANS_RESISTANCE,NEG_REACTANCE,NEG_RESISTANCE,ZERO_REACTANCE,ZERO_RESISTANCE,GRD_REACTANCE,GRD_RESISTANCE,NOTES,CERTIFICATION,TECH_TYPE_CD,ACTION,BACKUP_GEN,METHOD_OF_BACKUP,GRID_TRANSITION,PARALLEL_TIME_TO_GRID,STANDBYGEN,DERATED,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,DERATED_RATING_PER_UNIT_KW,CHARGE_DEMAND_KW,MAX_STORAGE_CAPACITY,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />

    <add key="Fields_To_Insert_Main_SmGenerator" value="PROTECTION_ID,SAP_EGI_NOTIFICATION,SAP_QUEUE_NUMBER,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,POWER_SOURCE,PROJECT_NAME,MANUFACTURER,MODEL,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,NUMBER_OF_PHASES,MODE_OF_INVERTER,GEN_TECH_CD,PTO_DATE,PROGRAM_TYPE,CONTROL_CD,CONNECTION_CD,STATUS_CD,SS_REACTANCE,SS_RESISTANCE,TRANS_REACTANCE,TRANS_RESISTNACE,SUBTRANS_REACTANCE,SUBTRANS_RESISTANCE,NEG_REACTANCE,NEG_RESISTANCE,ZERO_REACTANCE,ZERO_RESISTANCE,GRD_REACTANCE,GRD_RESISTANCE,NOTES,CERTIFICATION,TECH_TYPE_CD,CURRENT_FUTURE,BACKUP_GEN,METHOD_OF_BACKUP,GRID_TRANSITION,PARALLEL_TIME_TO_GRID,STANDBYGEN,DERATED,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,DERATED_RATING_PER_UNIT_KW,CHARGE_DEMAND_KW,MAX_STORAGE_CAPACITY,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />

    <add key="Fields_To_SELECT_For_HIST_SmGenerator" value="ID,PROTECTION_ID,SAP_EGI_NOTIFICATION,SAP_QUEUE_NUMBER,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,POWER_SOURCE,PROJECT_NAME,MANUFACTURER,MODEL,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,NUMBER_OF_PHASES,MODE_OF_INVERTER,GEN_TECH_CD,PTO_DATE,PROGRAM_TYPE,CONTROL_CD,CONNECTION_CD,STATUS_CD,SS_REACTANCE,SS_RESISTANCE,TRANS_REACTANCE,TRANS_RESISTNACE,SUBTRANS_REACTANCE,SUBTRANS_RESISTANCE,NEG_REACTANCE,NEG_RESISTANCE,ZERO_REACTANCE,ZERO_RESISTANCE,GRD_REACTANCE,GRD_RESISTANCE,NOTES,CERTIFICATION,TECH_TYPE_CD,CURRENT_FUTURE,BACKUP_GEN,METHOD_OF_BACKUP,GRID_TRANSITION,PARALLEL_TIME_TO_GRID,STANDBYGEN,DERATED,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,DERATED_RATING_PER_UNIT_KW,CHARGE_DEMAND_KW,MAX_STORAGE_CAPACITY,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />
    <add key="Fields_To_INSERT_IN_HIST_SmGenerator" value="SM_GENERATOR_ID,PROTECTION_ID,SAP_EGI_NOTIFICATION,SAP_QUEUE_NUMBER,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,POWER_SOURCE,PROJECT_NAME,MANUFACTURER,MODEL,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,NUMBER_OF_PHASES,MODE_OF_INVERTER,GEN_TECH_CD,PTO_DATE,PROGRAM_TYPE,CONTROL_CD,CONNECTION_CD,STATUS_CD,SS_REACTANCE,SS_RESISTANCE,TRANS_REACTANCE,TRANS_RESISTNACE,SUBTRANS_REACTANCE,SUBTRANS_RESISTANCE,NEG_REACTANCE,NEG_RESISTANCE,ZERO_REACTANCE,ZERO_RESISTANCE,GRD_REACTANCE,GRD_RESISTANCE,NOTES,CERTIFICATION,TECH_TYPE_CD,CURRENT_FUTURE,BACKUP_GEN,METHOD_OF_BACKUP,GRID_TRANSITION,PARALLEL_TIME_TO_GRID,STANDBYGEN,DERATED,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,DERATED_RATING_PER_UNIT_KW,CHARGE_DEMAND_KW,MAX_STORAGE_CAPACITY,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />

    <add key="Fields_To_Query_Stage2_SmGenerator" value="ID,PROTECTION_ID,SAP_EGI_NOTIFICATION,SAP_QUEUE_NUMBER,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,POWER_SOURCE,PROJECT_NAME,MANUFACTURER,MODEL,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,NUMBER_OF_PHASES,MODE_OF_INVERTER,GEN_TECH_CD,PTO_DATE,PROGRAM_TYPE,CONTROL_CD,CONNECTION_CD,STATUS_CD,SS_REACTANCE,SS_RESISTANCE,TRANS_REACTANCE,TRANS_RESISTNACE,SUBTRANS_REACTANCE,SUBTRANS_RESISTANCE,NEG_REACTANCE,NEG_RESISTANCE,ZERO_REACTANCE,ZERO_RESISTANCE,GRD_REACTANCE,GRD_RESISTANCE,NOTES,CERTIFICATION,TECH_TYPE_CD,ACTION,BACKUP_GEN,METHOD_OF_BACKUP,GRID_TRANSITION,PARALLEL_TIME_TO_GRID,STANDBYGEN,DERATED,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,DERATED_RATING_PER_UNIT_KW,CHARGE_DEMAND_KW,MAX_STORAGE_CAPACITY,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />
    <add key="Stage2_SM_Gen_Equipment_Table_Name" value="PGEDATA.PGEDATA_SM_GEN_EQUIPMENT_STAGE" />
    <add key="Fields_To_Insert_Stage2_SmGenEquipment" value="ID,GENERATOR_ID,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,GEN_TECH_CD,MANUFACTURER,MODEL,PTC_RATED_KW,NAMEPLATE_RATING,QUANTITY,MAX_STORAGE_CAPACITY,RATED_DISCHARGE,CHARGE_DEMAND_KW,GRID_CHARGED,NOTES,ACTION,PROGRAM_TYPE,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />
    <add key="Fields_To_Insert_Main_SmGenEquipment"     value="GENERATOR_ID,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,GEN_TECH_CD,MANUFACTURER,MODEL,PTC_RATED_KW,NAMEPLATE_RATING,QUANTITY,MAX_STORAGE_CAPACITY,RATED_DISCHARGE,CHARGE_DEMAND_KW,GRID_CHARGED,NOTES,CURRENT_FUTURE,PROGRAM_TYPE,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />

    <add key="Fields_To_SELECT_For_HIST_SmGenEquipment" value="ID,GENERATOR_ID,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,GEN_TECH_CD,MANUFACTURER,MODEL,PTC_RATED_KW,NAMEPLATE_RATING,QUANTITY,MAX_STORAGE_CAPACITY,RATED_DISCHARGE,CHARGE_DEMAND_KW,GRID_CHARGED,NOTES,CURRENT_FUTURE,PROGRAM_TYPE,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />
    <add key="Fields_To_INSERT_IN_HIST_SmGenEquipment" value="SM_GEN_EQUIPMENT_ID,GENERATOR_ID,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,GEN_TECH_CD,MANUFACTURER,MODEL,PTC_RATED_KW,NAMEPLATE_RATING,QUANTITY,MAX_STORAGE_CAPACITY,RATED_DISCHARGE,CHARGE_DEMAND_KW,GRID_CHARGED,NOTES,CURRENT_FUTURE,PROGRAM_TYPE,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />
    <add key="Fields_To_Query_Stage2_SmGenEquipment" value="ID,GENERATOR_ID,SAP_EQUIPMENT_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,GEN_TECH_CD,MANUFACTURER,MODEL,PTC_RATED_KW,NAMEPLATE_RATING,QUANTITY,MAX_STORAGE_CAPACITY,RATED_DISCHARGE,CHARGE_DEMAND_KW,GRID_CHARGED,NOTES,ACTION,PROGRAM_TYPE,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,EST_ANN_USAGE_AES_KW,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />
    <!-- WG1 Coonfig Change end 10/07/2021-->
    <add key="Fields_To_INSERT_IN_HIST_SmRelay" value="ID,PROTECTION_ID,DATECREATED,CREATEDBY,DATE_MODIFIED,MODIFIEDBY,RELAY_CD,RELAY_TYPE,CURVE_TYPE,MIN_AMPS_TRIP,LEVER_SETTING,INST_TRIP,RESTRAINT_TYPE,RESTRAINT_PICKUP,MIN_VOLT_PICKUP,VOLTAGE_SETPOINT,CURRENT_FUTURE" />
    <add key="Main_Service_Point_Table_Name" value="EDGIS.SERVICEPOINT" />
    <add key="Main_Primary_Meter_Table_Name" value="EDGIS.PRIMARYMETER" />
    <add key="Main_Transformer_Table_Name" value="EDGIS.TRANSFORMER" />
    <add key="Main_Generation_Info_Table_Name" value="EDGIS.ZZ_MV_GENERATIONINFO" />
    <add key="Query_on_MainGenInfoTable" value="SELECT * FROM {0} WHERE GLOBAL_ID IN ('{1}')" />
    <add key="Main_SM_Generation_Table_Name" value="EDSETT.SM_GENERATION" />
    <add key="Query_on_MainSmGenTable" value="SELECT * FROM {0} WHERE GLOBAL_ID IN ('{1}')" />
    <add key="Main_SM_Protection_Table_Name" value="EDSETT.SM_PROTECTION" />
    <add key="Query_on_MainSmProTable" value="SELECT * FROM {0} WHERE PARENT_ID IN ('{1}')" />
    <add key="Main_SM_Relay_Table_Name" value="EDSETT.SM_RELAY" />
    <add key="Query_on_MainSmRelayTable" value="SELECT * FROM {0} WHERE PROTECTION_ID IN ('{1}')" />
    <add key="Main_SM_Generator_Table_Name" value="EDSETT.SM_GENERATOR" />
    <add key="Query_on_MainSmGeneratorTable" value="SELECT * FROM {0} WHERE PROTECTION_ID IN ('{1}')" />
    <add key="Main_SM_Gen_Equipment_Table_Name" value="EDSETT.SM_GEN_EQUIPMENT" />
    <add key="Query_on_MainSmGenEquipTable" value="SELECT * FROM {0} WHERE GENERATOR_ID IN ('{1}')" />
    <add key="Query_To_Check_GlobalId_Available_in_EDGIS" value="SELECT COUNT(*) FROM {0} WHERE GLOBALID IN ('{1}')" />
    <add key="Query_on_SM_Gen_Table" value="SELECT {0} FROM {1} WHERE STATUS IN ('S','W') AND UPDATED_IN_ED_MAIN IN ('Y','N') AND (UPDATED_IN_SETTINGS IS NULL OR UPDATED_IN_SETTINGS ='N')" />
    <add key="Query_on_SM_Pro_Table" value="SELECT {0} FROM {1} WHERE PARENT_ID={2} AND PARENT_TYPE='GENERATION'" />
    <add key="Query_on_SM_Generator_Table" value="SELECT {0} FROM {1} WHERE STATUS IN ('S','W') AND PROTECTION_ID={2} AND (UPDATED_IN_SETTINGS IS NULL OR UPDATED_IN_SETTINGS ='N')" />
    <add key="Query_on_SM_Gen_Equip_Table" value="SELECT {0} FROM {1} WHERE STATUS IN ('S','W') AND GENERATOR_ID={2} AND (UPDATED_IN_SETTINGS IS NULL OR UPDATED_IN_SETTINGS ='N')" />
    <add key="Triggers_Assigned_in_SETTINGS" value="Y" />
    <add key="Triggers_Assigned_in_STAGE2" value="N" />
    <add key="SP_Name_To_Disable_Triggers" value="PGEDATA.DISABLE_GENERATION_TRIGGER" />
    <add key="SP_Name_To_Enable_Triggers" value="PGEDATA.ENABLE_GENERATION_TRIGGER" />
    <add key="SP_Name_To_Delete_Data_Stage2" value="PGEDATA.DELETE_PROCESSED_DATA" />
    <add key="Update_Field_In_Stage2_SM_Gen_Equip" value="UPDATE {0} SET UPDATED_IN_SETTINGS = '{1}' WHERE SAP_EQUIPMENT_ID = '{2}' returning GENERATOR_ID into :myOId" />
    <add key="Update_Field_In_Stage2_SM_Generator" value="UPDATE {0} SET UPDATED_IN_SETTINGS = '{1}' WHERE SAP_EQUIPMENT_ID = '{2}' returning PROTECTION_ID into :myOId" />
    <add key="Update_Field_In_Stage2_SM_Protection" value="UPDATE {0} SET UPDATED_IN_SETTINGS = '{1}' WHERE ID = '{2}' returning PARENT_ID into :myOId" />
    <add key="Update_Field_In_Stage2_SM_Relay" value="UPDATE {0} SET UPDATED_IN_SETTINGS = '{1}' WHERE PROTECTION_ID = '{2}' returning ID into :myOId" />
    <add key="Update_Field_In_Stage2_SM_Generation" value="UPDATE {0} SET UPDATED_IN_SETTINGS = '{1}' WHERE GLOBAL_ID = '{2}' returning ID into :myOId" />
    <add key="Update_Field_In_Stage2_GenerationInfo" value="UPDATE {0} SET UPDATED_IN_ED_MAIN = '{1}' WHERE GLOBALID = '{2}' returning OBJECTID into :myOId" />
    <add key="Value_Current_Future" value="C" />
    <!--Configuration to Perform Operations From stage 2 to Main Database Start -->
    <add key="SAPDailyInterfaceVersionName" value="SAP_Daily_Interface_Version" />
    <add key="TargetVersionName" value="SDE.DEFAULT" />
    <add key="QueryToGetRecordsFromGenInfoStage" value="SELECT * FROM PGEDATA.PGEDATA_GENERATIONINFO_STAGE" />
    <!-- WG1 Coonfig Change start 11/25/2021-->
    <add key="ColumnsToTransferFromStageToMainGenInfoTable" value="SERVICEPOINTGUID,SAPEGINOTIFICATION,PROJECTNAME,GENTYPE,PROGRAMTYPE,EFFRATINGMACHKW,EFFRATINGINVKW,EFFRATINGMACHKVA,EFFRATINGINVKVA,BACKUPGEN,MAXSTORAGECAPACITY,CHARGEDEMANDKW,GENSYMBOLOGY,POWERSOURCE,DERATED,TELEMETRYENABLED,COMMUNICATIONTYPE,CONTROLENABLED,CONTROLPROGRAMTYPE,PROJECTTOTALEXPORTKW,LIMITED" />
    <!-- WG1 Coonfig Change end 11/25/2021-->
    <add key="Col_CommonFieldStageToMainGenInfoTable" value="GLOBALID" />
    <add key="GenerationInfoTableName" value="EDGIS.GENERATIONINFO" />
    <add key="GenerationInfoStageTableName" value="PGEDATA.PGEDATA_GENERATIONINFO_STAGE" />
    <add key="SMGenerationStageTableName" value="PGEDATA.PGEDATA_SM_GENERATION_STAGE" />
    <add key="EDGISChangesToSAPTableName" value="PGEDATA.PGE_ED16_GIS_CHANGES_TO_SAP" />
    <add key="ServiceLocationTableName" value="EDGIS.SERVICELOCATION" />
    <!-- DERMS Coonfig Change start 07/14/2021-->
    <add key="ServicePointTableName" value="EDGIS.SERVICEPOINT"/>
    <!--<add key="UpdateSymbolNumber" value="null"/>-->
    <add key="ServicePointQuery" value="SERVICELOCATIONGUID='{}'"/>
    <add key ="DERMSPrimarySymbolNumberValue" value="16"/>
    <add key ="DERMSSecondarySymbolNumberValue" value="17"/>
    <add key ="PrimarySymbolNumberValue" value="11"/>
    <add key ="SecondarySymbolNumberValue" value="12"/>
    <add key ="Col_SYMBOLNUMBER" value ="SYMBOLNUMBER"/>
    <add key="GenInfoQuery" value=" CONTROLENABLED='Y' and COMMUNICATIONTYPE IS NOT NULL and COMMUNICATIONTYPE  NOT IN 'PG&amp;E Recloser' and SERVICEPOINTGUID in ({}) "/>
    <!-- DERMS Coonfig Change end 07/14/2021-->
    <add key="Col_GlobalID" value="GLOBALID" />
    <add key="Col_DateCreated" value="DATECREATED" />
    <add key="Col_CreatedBy" value="CREATEDBY" />
    <add key="Col_DateModified" value="DATEMODIFIED" />
    <add key="Col_ModifiedBy" value="MODIFIEDBY" />
    <add key="Col_ServicePointGuid" value="SERVICEPOINTGUID" />
    <add key="Col_GlobalID_Settings" value="GLOBAL_ID" />
    <add key="Col_Action" value="ACTION" />
    <add key="Col_Updated_in_main" value="UPDATED_IN_MAIN" />
    <add key="Col_Updated_in_ED_main" value="UPDATED_IN_ED_MAIN" />
    <add key="Col_Updated_in_Settings" value="UPDATED_IN_SETTINGS" />
    <add key="Col_Cedsa_Match_Found" value="CEDSA_MATCH_FOUND" />
    <add key="DTCol_GlobalIDMain" value="GLOBALID_MAIN" />
    <add key="DTCol_GlobalIDStage" value="GLOBALID_STAGE" />
    <add key="DTCol_SPGuidStage" value="SERVICEPOINTGUID_STAGE" />
    <add key="DTCol_Action" value="ACTION" />
    <add key="Col_GEN_GUID" value="GEN_GUID" />
    <add key="Col_SPGUID" value="SERVICEPOINTGUID" />
    <add key="Col_SPID" value="SERVICEPOINTID" />
    <add key="Col_CGC12" value="CGC12" />
    <add key="Col_CID" value="CIRCUITID" />
    <add key="Col_Updated_Field" value="UDATED_FIELD" />
    <add key="Col_Updated_Table" value="UDATED_TABLE" />
    <add key="Col_FeatureGUID" value="FEATUREGUID" />
    <add key="Col_Postdate" value="POSTDATE" />
    <add key="Col_Comments" value="COMMENTS" />
    <add key="Col_Action" value="ACTION" />
    <add key="ACTION" value="ACTION" />
    <add key="Col_GENSYMBOLOGY" value="GENSYMBOLOGY" />
    <add key="Col_SERVICELOCATIONGUID" value="SERVICELOCATIONGUID" />
    <add key="Col_PROJECTNAME" value="PROJECTNAME" />
    <add key="Col_EFFRATINGINVKW" value="EFFRATINGINVKW" />
    <add key="Col_EFFRATINGMACHKW" value="EFFRATINGMACHKW" />
    <add key="Col_GENCATEGORY" value="GENCATEGORY" />
    <add key="Col_LABELTEXT" value="LABELTEXT" />
    <add key="Col_VERSIONNAME" value="VERSIONNAME"/>
    <add key="GenCategoryValue_Primary" value="PRIMARY" />
    <add key="GenCategoryValue_Secondary" value="SECONDARY" />
    <add key="GenCategoryDomainValue_Primary" value="1" />
    <add key="GenCategoryDomainValue_Secondary" value="2" />
    <add key="FieldsToInsert_EDGIS_GIS_CHANGES_SAP" value="GEN_GUID,SERVICEPOINTGUID,SERVICEPOINTID,CGC12,CIRCUITID,UDATED_FIELD,UDATED_TABLE,FEATUREGUID,POSTDATE,COMMENTS" />
    <add key="SAP_Daily_Interface_User" value="INT_ED15_RW" />
    <add key="Date_Time_Format_gen_info_main_table" value="{0:MM/dd/yyyy}" />
    <!--Configuration to Perform Operations From stage 2 to Main Database End -->
    <add key="Summary_File_Name" value="EGI_Generation_Assets_Summary" />
    <add key="Equipment_File_Name" value="EGI_Generation_Assets" />
    <add key="Delimiter" value="\t" />
    <add key="Summary_Table_Name" value="PGEDATA.GEN_SUMMARY_STAGE" />
    <add key="Equipment_Table_Name" value="PGEDATA.GEN_EQUIPMENT_STAGE" />
    <!-- DERMS Coonfig Change start 07/14/2021-->
    <!-- WG1 Coonfig Change start 10/07/2021-->
    <add key="Summary_Column_List" value="ACTION,SAP_EGI_NOTIFICATION,PROJECT_NAME,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,PROGRAM_TYPE,SERVICE_POINT_ID,GUID,TELM_ENBL,TELM_COMM_TYP,TELM_CNTR_ENB,TELM_CNTRPRG_TYP,OBJECTID,PROJECT_TOTAL_EXPORT_KW,LIMITED" />
    <!-- WG1 Coonfig Change end 10/07/2021-->
    <!-- DERMS Coonfig Change end 07/14/2021-->
    <add key="Summary_Action" value="ACTION" />
    <add key="Summary_SAP_Noti" value="SAP_EGI_NOTIFICATION" />
    <add key="Summary_Project_Name" value="PROJECT_NAME" />
    <add key="Summary_Power_Source" value="POWER_SOURCE" />
    <add key="Summary_Mach_KW" value="EFF_RATING_MACH_KW" />
    <add key="Summary_Inv_KW" value="EFF_RATING_INV_KW" />
    <add key="Summary_Mach_KVA" value="EFF_RATING_MACH_KVA" />
    <add key="Summary_Inv_KVA" value="EFF_RATING_INV_KVA" />
    <add key="Summary_Max_Cap" value="MAX_STORAGE_CAPACITY" />
    <add key="Summary_Charfe_Dmd" value="CHARGE_DEMAND_KW" />
    <add key="Summary_Program_Type" value="PROGRAM_TYPE" />
    <add key="Summary_Spid" value="SERVICE_POINT_ID" />
    <add key="Summary_Guid" value="GUID" />
    <add key="Summary_Objid" value="OBJECTID" />
    <!-- DERMS Coonfig Change start 07/14/2021-->
    <!-- WG1 Coonfig Change start 10/07/2021-->
    <add key="Summary_Insert_Columns" value="ACTION,SAP_EGI_NOTIFICATION,PROJECT_NAME,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,PROGRAM_TYPE,SERVICE_POINT_ID,GUID,TELM_ENBL,TELM_COMM_TYP,TELM_CNTR_ENB,TELM_CNTRPRG_TYP,OBJECTID,PROJECT_TOTAL_EXPORT_KW,LIMITED" />
    <!-- DERMS Coonfig Change end 07/14/2021-->
    <add key="Equip_Insert_Columns" value="ACTION,SAP_EGI_NOTIFICATION,PROJECT_NAME,SAP_QUEUE_NUMBER,SAP_EQUIPMENT_ID,GEN_TECH_CD,TECH_TYPE_CD,POWER_SOURCE,MANUFACTURER,MODEL,PTC_RATING,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,NAMEPLATE_CAPACITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,CERTIFICATION,NUMBER_OF_PHASES,MODE_OF_INV,GEN_TECH_EQUIPMENT,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,GRID_CHARGED,SS_RESISTANCE,SS_REACTANCE,TRANS_RESISTANCE,TRANS_REACTANCE,SUBTRANS_RESISTANCE,SUBTRANS_REACTANCE,NEG_RESISTANCE,NEG_REACTANCE,ZERO_RESISTANCE,ZERO_REACTANCE,GRD_RESISTANCE,GRD_REACTANCE,PTO_DATE,PROGRAM_TYPE,ENOS_EQUIP_REF,ENOS_PROJ_REF,SERVICE_POINT_ID,GUID,BACKUP_GEN,METHOD_OF_BACKUP,GRID_TRANSITION,PARALLEL_TIME_TO_GRID,STANDBYGEN,DERATED,OPERATING_MODE,EXPORT_TO_GRID,NON_EXPORT_SCHEME,DERATED_RATING_PER_UNIT_KW,EST_ANN_USAGE_AES_KW,OBJECTID,LIMIT_EXPORT_PLAN,LIMITED_EXPORT_PCS,SP_CRDPCS_CERT,MAX_EXPCT_EXPORT" />
    <!-- WG1 Coonfig Change end 10/07/2021-->
    <add key="Summary_Stg_Seq" value="PGEDATA.PGE_GEN_SUMMARY_STG_OID_SEQ" />
    <add key="Eqp_Stg_Seq" value="PGEDATA.PGE_GEN_EQUIPMENT_STG_OID_SEQ" />
    <add key="Query_Get_Curr_Seq" value="select {0}.nextval OBJECTID from dual" />
    <add key="Output_File" value="C:/Yasha/ENOS_File/Status_Report">
    </add>
    <add key="Query_SelectAll" value="SELECT * FROM PGEDATA.GEN_SUMMARY_STAGE" />
    <add key="Qry_Select_Setting_SPID" value="Select * from EDSETT.CHANGED_SPID" />
    <add key="File_Format" value=".TXT" />
    <add key="COL_POWER_SOURCE" value="POWER_SOURCE" />
    <add key="COL_STATUS" value="STATUS" />
    <add key="COL_STATUS_MESSAGE" value="STATUS_MESSAGE" />
    <add key="COL_RATED_DISCHARGE" value="RATED_DISCHARGE" />
    <add key="COL_UL1741_CERTIFICATION" value="UL1741_CERTIFICATION" />
    <add key="COL_UL1741_SA_CERTIFICATION" value="UL1741_SA_CERTIFICATION" />
    <add key="COL_STAUAS" value="STAUS" />
    <add key="TEXTFILE_DELIMETER" value="\t" />
    <add key="Date_Format" value="dd/Mon/yy" />
    <add key="Date_Format_for_GenInfo" value="MM/dd/yyyy hh:mi:ss AM" />
    <add key="Date_Format_For_Update" value="mm/dd/yyyy hh:mi:ss AM"/>
    <add key="LogConfigName" value="PGE.Interfaces.SAP.LoadData.log4net.config" />
    <add key="FN_GenType_Return" value="@FN_GenType_Return" />
    <add key="Flag" value="@Flag" />
    <add key="Input_Action" value="@Input_Action" />
    <add key="FN_Main_Stg2_Return" value="@FN_Main_Stg2_Return" />
    <add key="FN_Del_Stg2_Return" value="h_delete_flg" />
    <add key="Input_DM_DI_Flag" value="DI" />
    <add key="DailyInterface" value="DI" />
    <add key="DataMigration" value="DM" />
    <add key="File_Separator" value="_" />
    <!--Stored Procedure to Run Validation on Primary Stage Data-->
    <add key="SP_Data_Validation" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_SMRY_EQPMNT_DTL_VLDTN_SP" />
    <!--Function to Delete Data from Stage2-->
    <add key="FN_Delete_Stg2" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_DELETE_STG2_DATA_SP" />
    <!--SP to Process Data from Stage1 to Stage2 For DATA MIGRATION ONLY-->
    <!--<add key="SP_Stg1_To_Stg2_DM" value="PGE_SAP_2_STG2_Data_Mgrtn_SP"/>-->
    <!--Function To insert data from main EDGIS/SETTING to Stg_2 DB for update/delete case in Daily Interface-->
    <add key="FN_Main_To_Stg2_Update_Delete" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_MAIN_TO_STG2_INSERT_DI_F" />
    <!--SP to	Process data from stage_1 to stage_2 for DI only-->
    <add key="SP_Stg1_To_Stg2_DI" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_SAP_TO_STG2_DI_SP" />
    <!--Function To Calculate Gen Type-->
    <add key="FN_Calc_Gen_Type" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_CAL_GEN_TYPE_F" />
    <!--SP For CEDSA Data Validation before merge to SAP Only for DATA MIGRATION-->
    <!--<add key="SP_CEDSA_DATA_VLDTN" value="PGE_CEDSA_DATA_VLDTN_SP"/>-->
    <!--SP to Process SAP Data  merge to CEDSA Only for DATA MIGRATION-->
    <!--<add key="SP_CEDSA_2_SAP" value="PGE_CEDSA_2_SAP_PROCESS_SP"/>-->
    <!--SP to	Migrate Data Stage_2 to  Main EDGIS GenerationInfo for both DM and DI-->
    <add key="SP_Stg2_2_Main_EDGIS_GenInfo" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_GEN_MGRTN_TO_MAIN_EDGIS_SP" />
    <!--SP to Migrate Data Stage_2 to  Main Setting DB for both DM and DI-->
    <add key="SP_Stg2_2_SETT" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_GEN_MGRTN_TO_SETTING_SP" />
    <!--SP to INSERT data in archive tables from Stage1 table-->
    <add key="SP_INSERT_IN_STAGE_ARCHIVE" value="PGEDATA.PGE_INSERT_IN_STAGE_ARCHIVE" />

    <!--Procedure To update GEN_TYPE in SETTINGS-->
    <add key="SP_PGE_UPDATE_SMGEN_GENTYPE" value="EDSETT.PGE_UPDATE_SMGEN_GENTYPE" />

    <add key="Output_File" value="C:/Yasha/ENOS/ENOS_File/Status_Report_Folder/" />

    <add key="Output_File_Archive" value="C:/Yasha/ENOS/ENOS_File/ENOS_File_Archive/" />

    <add key="Query_SelectAll" value="SELECT * FROM PGEDATA.GEN_SUMMARY_STAGE" />
    <add key="Qry_Changed_SPID_Sett" value="select * from edsett.changed_spid" />
    <add key="Table_Servicepoint" value="SERVICEPOINT" />
    <add key="Table_PrimaryMeter" value="PRIMARYMETER" />
    <add key="Table_Transformer" value="TRANSFORMER" />
    <add key="Table_Gen_Eqp_Stg" value="GEN_EQUIPEMTNT_STAGE" />
    <add key="SP_EDER_TO_SAP_STATUS_INSERT" value="PGEDATA.EDER_TO_SAP_STATUS_INSERT" />
    <add key="Proc_Stage" value="ENOS_STAGE_STATUS_INSRT" />
    <add key="Proc_Changed_Cid" value="ENOS_CHANGED_CID_STATUS_INSRT" />
    <add key="Proc_Changed_Spid" value="ENOS_CHANGED_SPID_STATUS_INSRT" />
    <add key="Proc_Unique_Records" value="EDER_TO_SAP_UNIQUE_RCRD" />
    <add key="PGE_UPDT_STATUS_STG2_2_STG1_SP" value="PGEDATA.PGE_UPDT_STATUS_STG2_2_STG1_SP" />
    <add key="PGE_STG2_GUID_UPDT_STG1_SP" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_STG2_GUID_UPDT_STG1_SP" />
    <add key="Qry_Slct_Changed_SPID" value="select * from pgedata.eder_to_sap_status where inserted_by='SPID' and date_inserted= sysdate" />
    <add key="Qry_Clear_Curr_Data" value="delete from pgedata.EDER_TO_SAP_STATUS where date_inserted = trunc(sysdate)" />
    <add key="Qry_Slct_Changed_CID" value="select * from pgedata.EDER_TO_SAP_STATUS where inserted_by='CID' and date_inserted= sysdate" />
    <add key="Qry_Distinct_Action" value="Select distinct(action) from {0}" />
    <add key="Qry_Fetch_EqpId_Frm_Settings" value="select sm_genrtr.SAP_EQUIPMENT_ID SAP_EQUIPMENT_ID from (select sm_pt.ID ID from (select sm_gen.ID ID from edsett.sm_generation sm_gen where global_id='{0}') gen_id, edsett.sm_protection sm_pt where sm_pt.parent_id = gen_id.ID) pt_id, edsett.sm_generator sm_genrtr where sm_genrtr.protection_id = pt_id.ID" />
    <add key="Qry_Select_EDER_TO_SAP" value="Select * from PGEDATA.EDER_TO_SAP_STATUS where date_inserted=trunc(sysdate)" />
    <add key="Qry_Update_EDER_TO_SAP" value="update pgedata.EDER_TO_SAP_STATUS set equipmentid={0} WHERE ROWID IN (SELECT MIN (ROWID) FROM pgedata.EDER_TO_SAP_STATUS where guid= '{1}' and equipmentid is null GROUP BY guid)" />
    <!--Configuration to Load data in Primary Stage Tables and To Export Data For SAP End-->
    <!--chane the index value in case PTO_DATE index change in text file-->
    <add key="PTO_DATE_INDEX" value="38" />
    <!--Capturing CircuitID,CGC,SPID updates from GIS to send to SAP.. Start  -->
    <add key="parentVersionName" value="SDE.DEFAULT" />
    <add key="childVersionName" value="ED16_GIS_Changes_To_SAP" />
    <add key="ChangedTables" value="EDGIS.GENERATIONINFO,EDGIS.SERVICEPOINT,EDGIS.PRIMARYMETER,EDGIS.TRANSFORMER" />
    <add key="ChangeCol_EDGIS.GENERATIONINFO" value="SERVICEPOINTGUID" />
    <add key="ChangeCol_EDGIS.SERVICEPOINT" value="SERVICEPOINTID" />
    <add key="ChangeCol_EDGIS.PRIMARYMETER" value="CIRCUITID,CGC12" />
    <add key="ChangeCol_EDGIS.TRANSFORMER" value="CIRCUITID,CGC12" />
    <add key="ChangedTables_generationinfo" value="EDGIS.GENERATIONINFO" />
    <add key="ChangedTables_servicepoint" value="EDGIS.SERVICEPOINT" />
    <add key="ChangedTables_primarymeter" value="EDGIS.PRIMARYMETER" />
    <add key="ChangedTables_transformer" value="EDGIS.TRANSFORMER" />
    <add key="ChangedColumns_SERVICEPOINTGUID" value="SERVICEPOINTGUID" />
    <add key="ChangedColumns_SERVICEPOINTID" value="SERVICEPOINTID" />
    <add key="ChangedColumns_CIRCUITID" value="CIRCUITID" />
    <add key="ChangedColumns_CGC12" value="CGC12" />
    <add key="ColName_GLOBALID" value="GLOBALID" />
    <add key="ColName_SERVICEPOINTGUID" value="SERVICEPOINTGUID" />
    <add key="ColName_SERVICEPOINTID" value="SERVICEPOINTID" />
    <add key="ColName_CGC12" value="CGC12" />
    <add key="ColName_CIRCUITID" value="CIRCUITID" />
    <add key="DoNotRollVersions" value="true" />
    <!--Capturing CircuitID,CGC,SPID updates from GIS to send to SAP.. End  -->
    <add key="SAP_TO_EDER_STAGGING_TABLENAME" value="PGEDATA.SAPTOGIS_STG" />
    <add key="COL_SAPTOGIS_STG_TABLE" value="PROCESS_NAME,STAGE_STATUS,STATUS_DATE" />
    <add key="ColName_PROCESS_NAME" value="PROCESS_NAME" />
    <add key="ColName_STAGE_STATUS" value="STAGE_STATUS" />
    <add key="ColName_STATUS_DATE" value="STATUS_DATE" />
    <add key="VersionNamePrefix" value="SN_" />
    <!--EMAIL Parameters-->
    <add key="MAIL_FROM_DISPLAY_NAME" value="SAP to GIS Data Load" />
    <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com" />
    <add key="MAIL_SUBJECT" value="SAP to GIS daily interface ( ED15 ) failed – Process Terminated" />
    <add key="LANIDS" value="LANIDS" />
    <add key="MAIL_BODY_VERSIONEXIST" value="Hello Team,&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                SAP to GIS data sharing interface ( ED15 ) has been failed. The primary reason is an earlier Session found in process.&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA; Session Name: {0}  &lt;br&gt;Action: Session needs to be posted on high priority &lt;br&gt;Owner: Business &lt;br&gt; &lt;br&gt;&#xD;&#xA;             Thank you,&#xD;&#xA;                &lt;br&gt;&#xD;&#xA;                EDGIS Support Team" />
    <add key="MAIL_BODY_VERSIONPOSTING_FAILED" value="Hello Team,&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                SAP to GIS data sharing interface ( ED15 ) has been failed. The primary reason is failure in posting the version through interface.&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA; Session Name: {0}   &lt;br&gt;Action: Session needs to be posted on high priority &lt;br&gt;Owner: Business&#xD;&#xA; &lt;br&gt; &lt;br&gt;&#xD;&#xA;               Thank you,&#xD;&#xA;                &lt;br&gt;&#xD;&#xA;                EDGIS Support Team" />
    <add key="MAIL_BODY_INCOMPLETE_STAGE" value="Hello Team:,&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                An earlier SaptoGIS Session stages is not in completed state. SAP to GIS process getting terminated.&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                Thank you,&#xD;&#xA;                &lt;br&gt;&#xD;&#xA;                EDGIS Support Team" />
    <add key="MAIL_BODY_CONFLICT" value="Hello Team:,&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                CONFLICT occurred while reconciling the version against the SDE.Default. SAP to GIS process getting terminated.&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                Thank you,&#xD;&#xA;                &lt;br&gt;&#xD;&#xA;                EDGIS Support Team" />
    <add key="MAIL_BODY_SAP_TO_EDER_FAILED" value="Hello Team:,&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                Error occured while executing the SAP to EDER Process,To know the reason please check the log file. SAP to GIS process getting terminated.&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                Thank you,&#xD;&#xA;                &lt;br&gt;&#xD;&#xA;                EDGIS Support Team" />
    <add key="MAIL_BODY_EDER_TO_SETTINGS_FAILED" value="Hello Team:,&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                Error occured in EDER to SETTINGS Process. SAP to GIS process getting terminated.&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                Thank you,&#xD;&#xA;                &lt;br&gt;&#xD;&#xA;                EDGIS Support Team" />
    <add key="MAIL_BODY_DATA_LOAD_FAILED" value="Hello Team:,&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA;                SAP to GIS data sharing interface ( ED15 ) has been failed.The primary reason is failure in loading the data from the input files.&#xD;&#xA;                &lt;br&gt; &lt;br&gt;&#xD;&#xA; Error: {0} &lt;br&gt;Action: Files need to be send again after correction &lt;br&gt;Owner: SAP Team&lt;br&gt; &lt;br&gt;&#xD;&#xA;              Thank you,&#xD;&#xA;                &lt;br&gt;&#xD;&#xA;                EDGIS Support Team" />
    <add key="MAIL_SUBJ_LOADFAIL" value="SAP to GIS daily interface ( ED15 ) failed – Error in loading the input files"/>
    <add key="MAIL_SUBJ_POSTFAIL" value="SAP to GIS daily interface ( ED15 ) failed – Automated version posting failed"/>
    <add key="LANIDS_LOADFAIL" value="SAPRhythmTeam@pge.com"/>
    <add key="LANIDS_POSTFAIL" value="GISEngineeringTechnicalSolutions@pge.com"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <!--Changing Mailhost from mail01 to mailhost-->
        <network host="mailhost.utility.pge.com" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>