<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN_EDGIS_FILE" value="C:\Users\v1ge\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\Connection to EDER.sde"/>
    <add key="CONN_LBGIS_FILE" value="C:\Users\v1ge\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\Connection to LBGIS1Q.sde"/>
    <add key="SESSION_NAME" value="A3KF.SN_212694"/>
    <add key ="LOGPATH" value =""/>    
    <add key="DistrictFCName"  value="LBGIS.ElecMCDistricts"/>
    <add key="DivisionFCName" value="LBGIS.ElecDivision"/>
    <add key ="FeatureClassNames" value="EDGIS.ServiceLocation"/>
    <add key="DivisionDomainName" value="Division Name"/>
    <add key="DistrictDomainName" value="District Name"/>
    <add key="TargetFeatureClasssNames" value="EDGIS.CAPACITORBANK,EDGIS.DEVICEGROUP,EDGIS.DISTBUSBAR,EDGIS.DYNAMICPROTECTIVEDEVICE,EDGIS.FAULTINDICATOR,EDGIS.FUSE,EDGIS.NETWORKPROTECTOR,EDGIS.OPENPOINT,EDGIS.PRIMARYGENERATION,EDGIS.PRIMARYMETER,EDGIS.PRIMARYRISER,EDGIS.PRIOHCONDUCTOR,EDGIS.PRIUGCONDUCTOR,EDGIS.STEPDOWN,EDGIS.SWITCH,EDGIS.TIE,EDGIS.TRANSFORMER,EDGIS.VOLTAGEREGULATOR"/>
    <add key="GISSAPStagingTable" value="EDGIS.PGE_GISSAP_REPROCESSASSETSYNC"/>
    <add key="DISABLE_AU_FRAMEWORK" value="false"/> <!--true/flase for Disable AU Framework-->
    <add key="AUFileds" value="DATEMODIFIED,LASTUSER,VERSIONNAME"/>    
  </appSettings>

</configuration>