<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--For Prod Start-->
    <!--<add key="DC1DestFileNamePath" value="\\\\sfetgis-nas01\\sfgispoc_data\\ApplicationDevelopment\\Temp\\" />
    <add key="DC2DestFileNamePath" value="\\\\sfetgis-nas01\\sfgispoc_data\\ApplicationDevelopment\\Temp\\" />-->
    <!--For Prod End-->
    <!--For Dev Start-->
    <add key="DC1DestFileNamePath" value="\\\\eoappgisqa01\\arcgisserver\\SAPRWNotification\\" />
    <add key="DC2DestFileNamePath" value="\\\\eoappgisqa01\\arcgisserver\\SAPRWNotification\\" />
    <!--For Dev End-->
    <add key="InsertSQL_NotificationDetail" value="Insert into EDSAPRW.PGE_SAP_RW_HEADER_DETAILS (NOTIFICATION_ID, MAPNUMBER, SUBSTATION, CIRCUITID, SUBMITDATE, DIVISION, DEPARTMENT, LANID, CONSTRUCTION_TYPE, CORRECTION_TYPE, STATUS, FUNCTIONAL_LOCATION, MAINWORKCENTER, NUMBEROFCORRECTION, DATACENTER) Values (" />
    <add key="InsertSQL_NotificationLocation" value="Insert into EDSAPRW.PGE_SAP_RW_MAP_LOCATIONS (NOTIFICATION_ID, MAP_LOCATION_NUM, MAP_LOCATION, COMMENTS, LATITUDE, LONGITUDE, MAP_JOB_ID, MAP_CORRECTION_TYPE) Values (" />
    <add key="InsertSQL_Attachment" value="Insert into EDSAPRW.PGE_SAP_RW_ATTACHMENTS (NOTIFICATION_ID, MAP_LOCATION_NUM, FILENAMES) Values (" />
    <add key="Update_NotificationDetail_Pass" value="UPDATE EDSAPRW.PGE_SAP_RW_HEADER_DETAILS SET STATUS = 3 where NOTIFICATION_ID = '" />
    <add key="Update_NotificationDetail_Fail" value="UPDATE EDSAPRW.PGE_SAP_RW_HEADER_DETAILS SET STATUS = 4 where NOTIFICATION_ID = '" />
    <add key="Select_NotificationDetail" value="Select * from EDSAPRW.PGE_SAP_RW_HEADER_DETAILS where NOTIFICATION_ID = '" />
    <add key="Select_NotificationLocation" value="Select * from EDSAPRW.PGE_SAP_RW_MAP_LOCATIONS where NOTIFICATION_ID = '" />
    <add key="Select_Attachment" value="Select * from EDSAPRW.PGE_SAP_RW_ATTACHMENTS where NOTIFICATION_ID = '" />
    <add key="WaitTimeforFileCheck" value="1" />
    <!--For Prod Start-->
    <!--<add key="DC1PrintServer" value="\\\\rcedgis-nas01\\edgisnasfs01\\PrintServer\\directories\\arcgisjobs\\data\\pgneadhocprintservice_gpserver\\"/>
    <add key="DC2PrintServer" value="\\\\rcedgis-nas01\\edgisnasfs01\\PrintServer\\directories\\arcgisjobs\\data\\pgneadhocprintservice_gpserver\\"/>-->
    <!--For Prod End-->
    <!--For Dev Start-->
    <add key="DC1PrintServer" value="\\\\edgisappQa01\\arcgisserver\\directories\\arcgisjobs\\data\\pgneadhocprintservice_gpserver" />
    <add key="DC2PrintServer" value="\\\\edgisappQa01\\arcgisserver\\directories\\arcgisjobs\\data\\pgneadhocprintservice_gpserver" />
    <!--For Dev End-->
    <add key="ConnectionString" value="Data Source=edgisa2q;User ID=edsaprw;Password=edsaprw" />
    <add key="MailFrom" value="s4ga@pge.com" />
    <add key="MailTo" value="s4ga@pge.com" />
    <add key="MailSubject" value="SAP RW Notification has failed" />
    <add key="MailBody" value="SAP RW Notification " />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="C:\LOGS\${date:format=yyyy-MM-dd}-SAPRWNotification.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="My Web API Application" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
    </rules>
  </nlog>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MapCorrection_Binding" messageEncoding="Mtom">
          <security mode="Transport" />
        </binding>
        <binding name="MapCorrection_Binding1" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--DEV-->
      <!--<https://itapposbdev01.comp.pge.com:8006/ei.electric.edgis/MapCorrection>-->
      <!--<QA>-->
      <endpoint address="https://itapposbq01vip.comp.pge.com/ei.electric.edgis/MapCorrection?Wsdl" binding="basicHttpBinding" bindingConfiguration="MapCorrection_Binding" contract="ProxyForEI.MapCorrection_Port" name="MapCorrection_Port" />
    </client>
  </system.serviceModel>
</configuration>