<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   
    <add key ="EDER_ConnectionStr" value ="SDE@EDER"/>
    <add key ="GISI_ConnectionStr" value ="GIS_I@EDER"/>
    <!--<add key ="LANID" value="m6p9@pge.com;hxdq@pge.com"/>
    <add key ="LANID_FRIDAY" value="m6p9@pge.com;hxdq@pge.com"/>-->
    <add key ="LANID" value="yxa6@pge.com;s2nn@pge.com;a7m6@pge.com"/>
    <add key ="LANID_FRIDAY" value="yxa6@pge.com;s2nn@pge.com;a7m6@pge.com"/>
    
    <add key="MAIL_FROM_DISPLAY_NAME" value="Electric Version Statistics Report" />
    <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com" />
    <add key="LOG_PATH" value="" />

    <!--GDB – States count-->
    <add key="HEALTHY_VALUE_SESSION_VERSION" value="10000"/>
    <add key="ALERT_VALUE_SESSION_VERSION" value="15000"/>
    <add key="MAX_VALUE_SESSION_VERSION" value="25000"/>
    <add key="HEALTHY_COLOR_SESSION_VERSION" value="bgcolor='#00ff00'"/>
    <add key="HEALTHY_ALERT_COLOR_SESSION_VERSION" value="bgcolor='#FFA500'"/>
    <add key="ALERT_MAX_COLOR_SESSION_VERSION" value="bgcolor='#FFFF00'"/>
    <add key="MAX_COLOR_SESSION_VERSION" value="bgcolor='#FF0000'"/>
    <!--GDB – Lineage Depth-->
    <add key="HEALTHY_VALUE_SESSION" value="500"/>
    <add key="ALERT_VALUE_SESSION" value="1500"/>
    <add key="MAX_VALUE_SESSION" value="2500"/>
    <add key="HEALTHY_COLOR_SESSION" value="bgcolor='#00ff00'"/>
    <add key="HEALTHY_ALERT_COLOR_SESSION" value="bgcolor='#FFA500'"/>
    <add key="ALERT_MAX_COLOR_SESSION" value="bgcolor='#FFFF00'"/>
    <add key="MAX_COLOR_SESSION" value="bgcolor='#FF0000'"/>
    <!--GDB Delta Table (A/D) Size-->
    <add key="HEALTHY_VALUE_DELTA_TABLE" value="4"/>
    <add key="ALERT_VALUE_DELTA_TABLE" value="5"/>
    <add key="MAX_VALUE_DELTA_TABLE" value="6"/>
    <add key="HEALTHY_COLOR_DELTA_TABLE" value="bgcolor='#00ff00'"/>
    <add key="HEALTHY_ALERT_COLOR_DELTA_TABLE" value="bgcolor='#FFA500'"/>
    <add key="ALERT_MAX_COLOR_DELTA_TABLE" value="bgcolor='#FFFF00'"/>
    <add key="MAX_COLOR_DELTA_TABLE" value="bgcolor='#FF0000'"/>
    <!--GDB – State Lineage Tree-->
    <add key="HEALTHY_VALUE_STATE_LINEAGE" value="700"/>
    <add key="ALERT_VALUE_STATE_LINEAGE" value="1"/>
    <add key="MAX_VALUE_STATE_LINEAGE" value="1.5"/>
    <add key="HEALTHY_COLOR_STATE_LINEAGE" value="bgcolor='#00ff00'"/>
    <add key="HEALTHY_ALERT_COLOR_STATE_LINEAGE" value="bgcolor='#FFA500'"/>
    <add key="ALERT_MAX_COLOR_STATE_LINEAGE" value="bgcolor='#FFFF00'"/>
    <add key="MAX_COLOR_STATE_LINEAGE" value="bgcolor='#FF0000'"/>
    
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp>
        <!--Changing Mailhost from mail01 to mailhost-->
        <network host="mailhost.utility.pge.com" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>