<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="pge.connections.ederSDEWorkspaceConnection"
                 service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\edgis@pge1.sde</workspaceConnectionFile>
        </parameters>
      </component>
      <component id="pge.connections.webrSDEWorkspaceConnection"
                 service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\edgis@pge1.sde</workspaceConnectionFile>
        </parameters>
      </component>
      <component id="PGE.Common.ChangesManager.fgdbManager"
                 service="PGE.Common.ChangesManager.IExtractGDBManager,PGE.Common.ChangesManager"
                 type="PGE.Common.ChangesManager.FGDBManager,PGE.Common.ChangesManager" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.webrSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <featureClassName>EDGIS.WIP_NVW</featureClassName>
          <fgdbLocation>C:\Projects\EDAMGIS\Source_Development\IBM GIS\Standalone Executables\PGEChangeDetection\PGE.BatchApplication.ChangeManager.Tests\Data\CD.gdb</fgdbLocation>
        </parameters>
      </component>
      <component id="PGE.Common.ChangesManager.mdbManager"
                 service="PGE.Common.ChangesManager.MDBManager, PGE.Common.ChangesManager"
                 type="PGE.Common.ChangesManager.MDBManager, PGE.Common.ChangesManager" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.webrSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <featureClassName>EDGIS.WIP_NVW</featureClassName>
          <mdbLocation>\\sfetgis-nas01\sfgispoc_data\ApplicationDevelopment\IBM_TeamMembers\PhilPenn\wip_fgdbs\wip.mdb</mdbLocation>
        </parameters>
      </component>
      <component id="PGE.Common.ChangesManager.featureCompareChangeDetector"
                 service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManager.FeatureCompareChangeDetector,PGE.Common.ChangesManager" >
        <parameters>
          <extractGdbManager>${PGE.Common.ChangesManager.MDBManager}</extractGdbManager>
          <DoNotRollFGDBs>false</DoNotRollFGDBs>
        </parameters>
      </component>
      <component id="PGE.Common.ChangesManager.versionedChangeDetector"
                 service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <targetVersionName>Daily_Change_Detection_Sync</targetVersionName>
          <sourceVersionName>sde.DEFAULT</sourceVersionName>
          <DoNotRollVersions>true</DoNotRollVersions>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter"
                 service="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <outputTable>EDGIS.PGE_CHANGEDETECTIONGRIDS</outputTable>
          <outputFieldMapNumber>MAPNUMBER</outputFieldMapNumber>
          <outputFieldChangeDate>GRIDCHANGEDDATE</outputFieldChangeDate>
          <outputFieldScale>SCALE</outputFieldScale>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector"
                 service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <gridMapNumberFieldName>MAPNO</gridMapNumberFieldName>
          <gridScaleFieldName>SCALE</gridScaleFieldName>
          <gridFeatureClassName>EDGIS.plat_unified</gridFeatureClassName>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber"
                 service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
                 type="PGE.BatchApplication.ChangeSubscribers.UnifiedGridChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <unifiedGridIntersector>${PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector}</unifiedGridIntersector>
          <unifiedGridWriter>${PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter}</unifiedGridWriter>
        </parameters>
      </component>
      <component id="PGE.Common.ChangesManager.changeManager"
                 service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
                 type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
        <parameters>
          <ChangeDetectors>
            <list>
              <item>${PGE.Common.ChangesManager.featureCompareChangeDetector}</item>
              <!--              <item>${PGE.Common.ChangesManager.versionedChangeDetector}</item> -->
            </list>
          </ChangeDetectors>
          <ChangeSubscribers>
            <list>
              <item>${PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber}</item>
              <item>${PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriber}</item>
              <item>${PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriber}</item>
            </list>
          </ChangeSubscribers>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriber"
                 service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <tableName>EDGIS.PGE_CHANGED_CIRCUIT</tableName>
          <attributeName>CIRCUITID</attributeName>
          <UserIDFieldName>USERID</UserIDFieldName>
          <PostDateFieldName>POSTDATE</PostDateFieldName>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriber"
                 service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <tableName>EDGIS.PGE_CHANGED_SUBSTATION</tableName>
          <attributeName>SUBSTATIONID</attributeName>
          <UserIDFieldName>USERID</UserIDFieldName>
          <PostDateFieldName>POSTDATE</PostDateFieldName>
        </parameters>
      </component>
    </components>
  </castle>  
</configuration>