<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="CONN_EDGIS_FILE" value="P:\Working Folder\EDGIS\conn\EDGISQ9Q@GIS_I.sde"/>-->
    <add key="CONN_EDGIS_FILE" value="C:\Yasha\ED GIS\SDEConnectionString\Connection to edgisq9q@edgis.sde"/>
    <add key="SESSION_NAME" value="gis_i.SN_285799"/>
    <!--<add key="CONN_EDGIS_FILE" value="P:\Working Folder\EDGIS\conn\Connection to EDGIST1D@RELEDITOR.sde"/>
    <add key="SESSION_NAME" value="RELEDITOR.REL_MM_Testing"/>-->
    <add key ="LOGPATH" value =""/>
    <!--<add key="DISABLE_AU_FRAMEWORK" value="false"/>-->
    <!--true/false for Disable AU Framework-->
    <add key="FROM_FEATURE_CLASS" value="EDGIS.DynamicProtectiveDevice" />
    <add key="TO_FEATURE_CLASS" value="EDGIS.Switch" />
    <add key="WHERE_CONDITION" value="SUBTYPECD = 8 AND DEVICETYPE = 'SCAD'" />
  </appSettings>
</configuration>