<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <!--Specify the file path and the file base. Do not include the file extension in this parameter-->
    <add key="ElecFilePathAndBase" value="C:\Yasha\ArcFM_FieldProperties_WEBR_Elec" />
    <add key="SubFilePathAndBase" value="C:\Yasha\ArcFM_FieldProperties_WEBR_Sub" />
    
    <!--The SDE to read from. Will not be used if a write operation is performed-->
    <add key="ElecReadSDEConnection" value="C:\Yasha\From Shashwat\EDGIS@EDGIST1D.sde"/>
    <add key="SubReadSDEConnection" value= "C:\Yasha\From Shashwat\EDGIS@EDGISX1X.sde"/>
    
    <!--The SDE to write an existing file into. Will not be used if a read operation is performed-->
    <add key="ElecWriteSDEConnection" value="C:\Yasha\From Shashwat\EDGIS@EDGIST1D.sde"/>
    <add key="SubWriteSDEConnection" value="C:\Yasha\From Shashwat\EDGIS@EDGISX1X.sde"/>
  </appSettings>
</configuration>