<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <appSettings>
    <!--Connect to EDGIS user-->
    <add key="SDEConnectionFile" value="SDE@EDER"/> 
    <add key="50ScaleAnnoModelName" value="PGE_50SCALEANNO"/>
    <add key="100ScaleAnnoModelName" value="PGE_100SCALEANNO"/>
    <add key="BoundaryFeatureClass" value="EDGIS.PGE_50ScaleBoundary"/>
    <add key="VersionName" value="Delete50And100ScaleAnnos"/>
	  <add key="VersionName100Scale" value="Delete100ScaleAnnos"/>
	  <add key="VersionName50Scale" value="Delete50ScaleAnnos"/>
  </appSettings>
  <!--<startup><supportedRuntime version="v2.0.50727"/></startup>-->
</configuration>
