<?xml version="1.0" encoding="utf-8" ?>
<!--If the application is running from ArcMap these entries should go in ArcMap.exe.config-->
<configuration>
  <appSettings>
    <!--If using event logging set the source here-->
    <add key="eventLogSource" value ="PGE.Common"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="LoggerSwitch" value="All"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--Give Full path to the Log file-->
        <add name="Logger" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logger.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>