<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Mxds" type="null" />
  </configSections>
  <appSettings>
    <!-- ArcGIS License (refer to esriLicenseProductCode enumeration in ESRI documentation for valid values)-->
    <add key="EsriLicense" value="esriLicenseProductCodeAdvanced" />
    <!-- ArcFM License (refer to mmLicensedProductCode enumeration in ArcFM documentation for valid values)-->
    <add key="ArcFMLicense" value="mmLPArcFM" />
    <!-- Map Caching can be enabled to try to improve performance.  Should remain turned off for Schematics-->
    <add key="EnableMapCache" value="True" />
    <!-- Table names -->
    <add key="ServiceAreaFeatureClass" value="EDGIS.ServiceArea" />
    <add key="UnifiedMapGridFeatureClass" value="EDGIS.plat_unified" />
    <add key="ChangeDetectionTable" value="EDGIS.PGE_CHANGEDETECTIONGRIDS" />
    <!--Field Names in PGE_UNIFIEDMAPGRID table-->
    <add key="UnifiedMapGridNumberField" value="MAPNO" />
    <add key="UnifiedMapGridScaleField" value="SCALE" />
    <add key="RegionNameField" value="REGION" />
    <add key="DivisionNameField" value="DIVISION" />
    <add key="DistrictNameField" value="DISTRICT" />
    <!--Field Names in PGE_CHANGEDETECTIONGRIDS table-->
    <add key="ChangeDetectionMapNumberField" value="MapNumber" />
    <add key="ChangeDetectionErrorField" value="MAPPRODUCTION_ERROR" />
    <add key="ChangeDetectionDateField" value="GRIDCHANGEDDATE" />
    <add key="ChangeDetectionStateField" value="EXPORTSTATE" />
    <add key="ChangeDetectionMapTypeField" value="MAP_TYPE" />
    <add key="ChangeDetectionScaleField" value="SCALE" />
    <add key="ChangeDetectionPriorityField" value="PRIORITY" />
    <add key="ChangeDetectionMachineNameField" value="MACHINENAME" />
    <add key="ChangeDetectionServiceToProcessField" value="SERVICETOPROCESS" />
    <add key="ChangeDetectionStartDateField" value="STARTDATE" />
    <add key="ChangeDetectionEndDateField" value="ENDDATE" />
    <add key="ChangeDetectionErrorMsgField" value="ERRORMSG" />
    <add key="ChangeDetectionOIdField" value="OBJECTID" />
    <add key="ChangeDetectionFailureCountField" value="FAILURECOUNT" />
    <add key="ProcessTimeout" value="2700000" />
    <add key="MaxTries" value="2" />
    <add key="ConnectionString" value="user id=gis_i;password=;data source=EDGIS1Q;" />
    <add key="Password" value="*#Kk%(nR+ufPtWJIwBfdMf1VGMHQ==" />
    <add key="MXDFolder" value="D:\MAPPROD20\MXDS" />
    <add key="OverWrite" value="true" />
    <!-- ExportDirectory: Defines where the generated maps will be copied to on the NAS-->
    <add key="ExportDirectory" value="\\SFSHARE04-NAS2\sfgispoc_data\EDGIS_Map_Prod" />

    <!-- ExportDirectory: Defines where the generated maps will first be generated (local) -->
    <add key="TempDirectory" value="D:\Temp" />
    <!-- Defines the memory threshhold in MB that the application should restart a process at to avoid memory errors -->
    <add key="MemoryThreshhold" value="5000" />
    <!-- Minimum file size for output - if actual file size is less the map status is failed -->
    <add key="MinFileSizePDF" value="1100" />
    <add key="MinFileSizeTIFF" value="17000" />
  </appSettings>
  <!-- Define new Mxd name and scale pairs here.-->
  <Mxds>
    <!-- 
    
    MxdName: Name of the mxd file to use
    
    OutputName: Name of the output file.  This file name is composed of 
    OutputName_MapNumber_Size_Scale (i.e. CircuitMap_A01_24x36_100)
    
    Scale: Scale of the maps to generate (e.g. 100)
    
    HasDataFeatureClasses: Define the feature classes here that describe 
    what features must be contained in the map grid to generate an actual 
    map (if there is no data the map pdf/tif will not be generated) 

    OutputFormat: Specifies the output file format (PDF or TIF)
    
    ProcessStartIndex: Configuration to determine which maptype a given 
    process will start processing. Every process that runs map prod has 
    a process index, so if you ran map production with parameters = 
    -s 1 -e 4 that means that the processes will have indexes of 1,2,3 and 
    4. So for example, if you set ProcessStartIndex="1,2" for the 
    ED_M_and_C.mxd map - that means that processes 1 and 2 will begin 
    processing ED_M_and_C maps first. ProcessStartIndex must have a comma 
    separated list of process indexes with values of 0-9. So a value of 
    ProcessStartIndex = 10,11 is not a valid configuration 
    
    NOTE: Only one Mxd entry should be made per map and scale combination 
    (you cannot have multiple entries with an identical MxdName and Scale)  
    
    ExportStates: 
    
    ReadyToExport =1
    InProgress = 2
    Idle = 3
    Processed = 7
    Error = 4
    LocationInformationMissing= 5
    RequiredDataMissing = 6
            
    
		 -->
    <Mxd MxdName="ED_M_and_C.mxd" IsColor="false" ProcessStartIndex="1" OutputName="ED_M_and_C" Scale="100" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="PDF" />
    <Mxd MxdName="ElectricDistribution.mxd" IsColor="false" ProcessStartIndex="2" OutputName="ElectricDistribution" Scale="100" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="PDF" />
    <Mxd MxdName="TIFF.mxd" IsColor="false" ProcessStartIndex="3" OutputName="TIFF" Scale="100" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="TIF" />
    <Mxd MxdName="CircuitMap.mxd" IsColor="false" ProcessStartIndex="4" OutputName="CircuitMap" Scale="100" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor" OutputFormat="PDF" />
    <Mxd MxdName="CircuitMap_500.mxd" IsColor="false" ProcessStartIndex="5" OutputName="CircuitMap" Scale="500" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor" OutputFormat="PDF" />
    <Mxd MxdName="Streetlight.mxd" IsColor="false" ProcessStartIndex="6" OutputName="Streetlight" Scale="100" HasDataFeatureClasses="EDGIS.StreetLight" OutputFormat="PDF" />
    <Mxd MxdName="JointUtility.mxd" IsColor="false" ProcessStartIndex="7" OutputName="JointUtility" Scale="100" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="PDF" />
    <Mxd MxdName="RuralMapView.mxd" IsColor="false" ProcessStartIndex="8,9" OutputName="RuralMapView" Scale="500" HasDataFeatureClasses="EDGIS.SupportStructure" OutputFormat="PDF" />
    <Mxd MxdName="ED_M_and_C_50.mxd" IsColor="false" ProcessStartIndex="10" OutputName="ED_M_and_C" Scale="50" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="PDF" />
    <Mxd MxdName="ElectricDistribution_50.mxd" IsColor="false" ProcessStartIndex="11" OutputName="ElectricDistribution" Scale="50" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="PDF" />
    <Mxd MxdName="TIFF_50.mxd" IsColor="false" ProcessStartIndex="12" OutputName="TIFF" Scale="50" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="TIF" />
    <Mxd MxdName="CircuitMap_50.mxd" IsColor="false" ProcessStartIndex="13" OutputName="CircuitMap" Scale="50" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor" OutputFormat="PDF" />
    <Mxd MxdName="Streetlight_50.mxd" IsColor="false" ProcessStartIndex="14" OutputName="Streetlight" Scale="50" HasDataFeatureClasses="EDGIS.StreetLight" OutputFormat="PDF" />
    <Mxd MxdName="JointUtility_50.mxd" IsColor="false" ProcessStartIndex="15" OutputName="JointUtility" Scale="50" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.SupportStructure" OutputFormat="PDF" />
    <Mxd MxdName="AssesmentMaps.mxd" IsColor="false" ProcessStartIndex="16,17" OutputName="AssesmentMaps" Scale="1000" HasDataFeatureClasses="EDGIS.PriOHConductor,EDGIS.PriUGConductor" OutputFormat="PDF" />

  </Mxds>
</configuration>