<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PDFBaseDirectory" value=" \\rcedgis-nas01\rcedgis-nas02\EDGIS_Map_Prod"/>
    <add key="AdobeReaderDirectory" value="C:\Program Files (x86)\Adobe\Reader 11.0\Reader\AcroRd32.exe"/>
    <!--<add key="connectionString" value="sde:oracle11g:/;local=edgisa1d"/>
    <add key="usr" value="edgis"/>
    <add key="pwd" value="edgis!A1Di"/>-->

    <add key ="EDER_SDEConnection" value ="EDGIS@EDER"/>
  </appSettings>
</configuration>