<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LOGPATH" value="D:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\UB" />
    <add key="ED_SDEConnection" value="Underbuild_Interface@EDER1D" />
    <add key="ET_SDEConnection" value="etgis@ETMAN1D" />
    <add key="VERSION_NAME" value="ETGIS_AssetSync_Process" />
	<add key="ED_Pole_Query" value="Select GLOBALID from EDGIS.ZZ_MV_supportstructure Where POLEUSE = 5 AND SUBTYPECD = 1 AND ETGIS_ID IS NULL  AND (datemodified >= '13-DEC-21' OR (datemodified is null and datecreated >= '13-DEC-21'))" />
	<add key="ED_Tower_Query" value="Select GLOBALID from EDGIS.ZZ_MV_supportstructure Where POLEUSE = 5 AND SUBTYPECD = 3 AND ETGIS_ID IS NULL AND (datemodified >= '13-JUN-15' OR (datemodified is null and datecreated >= '13-JUN-15' ))" />
    <add key="ET_Query" value="UNDERBUILD_IND = 'Y' AND EDGIS_GLOBALID = '" />
    <add key="ED_Table" value="EDGIS.SUPPORTSTRUCTURE" />
    <add key="ET_PoleTable" value="ETGIS.T_POLEINFO" />
    <add key="ET_TowerTable" value="ETGIS.T_TOWERINFO" />
    <add key="ED_updatefield" value="ETGIS_ID" />
    <add key="ET_field" value="EDGIS_GLOBALID" />
    <add key="GLOBALID" value="GLOBALID" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="strFromList" value= "k4bj@pge.com"/>
	<add key="strToList" value= "k4bj@pge.com"/>
	<add key="strMessage" value= "ETGIS Asset Sync Process completed.Global IDs list is attached which is not processed."/>
	<add key="strSubject" value= "ETGIS Asset Sync Process completed"/>
	<add key="strHost"  value= "mailhost.utility.pge.com"/>
	<add key="VersionNamePrefix" value="SN_" />
	<add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>