<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Warning: The configSections element must be the first element under configuration -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString">
				<conversionPattern value="log_ETGIS_Asset_Sync.txt" />
			</file>
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="150MB" />
			<threshold value="ALL" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<threshold value="ALL" />
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<backColor value="Green" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<backColor value="White" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<root>
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
		<logger name="NHibernate">
			<level value="ERROR" />
		</logger>

		<logger name="NHibernate.SQL">
			<level value="ERROR" />
		</logger>
	</log4net>
</configuration>