<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="Python CGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python27\ArcGISx6410.2\python.exe|D:\Python27\ArcGISx6410.2\Scripts\wfastcgi.exe" resourceType="Unspecified" />
            
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="true" />
            </authentication>
        </security>
        <directoryBrowse enabled="true" />
    </system.webServer>
<appSettings>
  <add key="PYTHONPATH" value="D:\inetpub\PGEWeb\EESAPI" />
  <add key="WSGI_HANDLER" value="app.app" />
<add key="WSGI_LOG" value="D:\inetpub\PGEWeb\EESAPI\web.log" />
</appSettings>
</configuration>
