<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CONN_EDGIS_FILE" value="C:\Users\v1ge\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\Connection to EDER.sde" />
    <add key="SESSION_NAME" value="SDE.DEFAULT" />
    <!--A3KF.SN_212717-->
    <add key="LOGPATH" value="" />
    <add key="DISABLE_AU_FRAMEWORK" value="true" />
    <!--true/flase for Disable AU Framework-->
    <add key="CROSS_50ANNO_CLASS" value="EDGIS.CrossSection50Anno" />
    <add key="CROSS_10ANNO_CLASS" value="EDGIS.CrossSection10Anno" />
    <add key="TEMPLATE_FGDB_NAME" value="CROSS_ANNO.gdb" />
    <add key="CROSS_50ANNO_FGDB_CLASS" value="CROSS_50_ANNO" />
    <add key="CROSS_10ANNO_FGDB_CLASS" value="CROSS_10_ANNO" />
    <add key="CROSS_50POLY_FGDB_CLASS" value="CROSS_50_POLY" />
    <add key="CROSS_10POLY_FGDB_CLASS" value="CROSS_10_POLY" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>