<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup> 
  <connectionStrings>
    <!--For QA QAETAPPDBSWC007-->
       <!--For TEST TSETAPPDBSWC003-->
    <add name="PLDB" connectionString="Data Source=QAETAPPDBSWC007;Initial Catalog=PLDB;User id=PLDB_I;Password=pldbTemp!;"
      providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  <appSettings>
    <add key="LOG_FOLDER" value="C:\Simon\"/>
    <add key="LOG_FILE" value="PLDBBatchLogfile.txt"/>
    <add key="POLE_FILTER" value="PLDBID IS NOT NULL"/>
    <add key="EDGIS_SDE" value="C:\Simon\SDEConnections\EDERPL1T.sde" />
    <add key="SQL_SLEEP_INTERVAL" value="240000" />
    <add key="WIP_SDE" value="C:\Simon\SDEConnections\WIPPLC1T.sde" />
    <add key="WIP" value="data source=WIPPLC1T;password=webr_2017;user id=webr;Connection Timeout=3600;Incr Pool Size=5;Decr Pool Size=2;"/>
    <add key="PLD_INFO_OBJECTID_SEQUENCE" value="GEN_PLDINFO"/>
    <add key="PLD_INFO_SRID" value="300001"/>    
    <add key="DECOMM_WHERECLAUSE" value="subtypecd = 1 Or subtypecd = 4 Or subtypecd = 5 Or subtypecd = 8"/>
    <add key="ENABLE_ENABLE_POP_EDGIS_POLES" value="T"/>
    <add key="ENABLE_ENABLE_POP_PLDB_POLES" value="T"/>
    <add key="ENABLE_UPDATE_LOCATION" value="T"/>
    <add key="ENABLE_DECOMMISSION" value="T"/>
    <add key="ENABLE_UPDATE_IDS" value="T"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
