<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    
    <add key ="EDER_SDEConnection" value ="EDGIS@EDER"/>

    <add key ="WIP_SDEConnection" value ="WEBR@WIP"/>
    
    
    <add key ="LOGPATH" value ="C:\Shashwat\EDGIS\Code\ElectricDistCollection\EDAMGIS\Source_Development_10_2_1_IT\EDER\EDGIS Interfaces\SAPFLOC\PGE.Interface.PopulateCircuitID\PGE.Interface.PopulateCircuitID\bin\Debug\logs"/>
    <add key ="INPUT_CSVNAME" value ="ED_Functional_Location.csv"/>
    <add key ="TRIGGER_FILENAME" value ="ED09_P_TRIGGER.txt"/>
    <add key ="OUTPUT_FILEPATH" value ="C:\Shashwat\EDGIS\Code\ElectricDistCollection\EDAMGIS\Source_Development_10_2_1_IT\EDER\EDGIS Interfaces\SAPFLOC\PGE.Interface.PopulateCircuitID\PGE.Interface.PopulateCircuitID\bin\Debug\Output"/>
    <add key ="CSV_FIELD_WORKORDER" value ="Order"/>
    <add key ="RUN_FROM_CSV" value ="false"/>
    <add key="MIN_BUFFER_DISTANCE" value="1000"/>
    <add key ="MAX_BUFFER_DISTANCE" value ="64000"/>
    <add key="BACKUPFOLDERNAME" value="backup"/>    
  </appSettings>
</configuration>