<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  
	  <!--<add key="ConnectionString" value="EDGED1BQ_P,EDGMC_QA_DC1B,DMSSTAGING,DMS!MhH46_ed1aq" />-->
	  <add key ="ConnectionString" value ="DMSSTAGING@EDER_QA"/>
	<!--  <add key ="ConnectionString" value ="DMSSTAGING@EDGMC_QA_DC1B"/>-->
	  <add key ="LANID" value="a9ks@pge.com"/>
	  <add key ="LANIDCC" value="a9ks@pge.com"/>    
    <add key="MAIL_FROM_DISPLAY_NAME" value="DMS Extract Update" />
    <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com" />
    <add key="LOG_PATH" value="" />
	  <add key="ExportPath" value="\\rcnas01-smb\edgisrearch-fs01\INTERFACE\EDAMGIS_ED50_PRODUCER\OUTBOUND\DMSQA\" />
     </appSettings>  
  <system.net>
    <mailSettings>
      <smtp>
        <!--Changing Mailhost from mail01 to mailhost-->
        <network host="mailhost.utility.pge.com" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>