<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!-- Licenses Configuration. -->
    <!-- ArcGIS License (refer to esriLicenseProductCode enumeration in ESRI documentation for valid values)-->
    <add key="EsriLicense" value="esriLicenseProductCodeAdvanced"/>
    <!-- ArcFM License (refer to mmLicensedProductCode enumeration in ArcFM documentation for valid values)-->
    <add key="ArcFMLicense" value="mmLPArcFM"/>
   
    <add key ="EDER_ConnectionStr" value ="EDGIS@EDER"/>
    <add key ="EDER_SDEConnection" value ="EDGIS@EDER"/>
    
    <add key="TransformerClassID" value="1001"/>
    <add key="ServiceLocationClassID" value="1012"/>
    <add key="GeometricNetwork" value="EDGIS.ElectricDistNetwork"/>
    <add key="SecondaryClassIDs" value="1022;1024;1025"/>

  </appSettings>
  
</configuration>