<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="EDER_ConnectionStr" value ="PGEDATA@EDER"/>
    <add key="LOG_PATH" value=""/>
    <add key="MAILFROM" value="EDGISSupport@pge.com"/>
    <add key="MAILTO" value="s2nn@pge.com"/>
    <add key="MAILCC" value="akmb@pge.com"/>
    <add key="MAILSUBJECT" value="Supervisory Control Device Updates"/>
    <add key="SMTPSERVER" value="mailhost.utility.pge.com"/>    
  </appSettings>
</configuration>