<?xml version="1.0"?>
<configuration>
 
  <appSettings>
    <add key ="EDER_ConnectionStr" value ="PGEDATA@EDER"/>
    <add key ="EDAUX_ConnectionStr" value ="EDSETT@EDAUX"/>


    <add key="Output_File" value="C://ENOS_File/Status_Report/"></add>
    <add key="Output_File_Archive" value="C://ENOS_File/Status_Report_Archive/"></add>
    <add key="Query_SelectAll" value="SELECT * FROM PGEDATA.GEN_SUMMARY_STAGE"/>
    <add key="Qry_Changed_SPID_Sett" value="select * from edsett.changed_spid"/>
    <!--<add key="Query_Changed_CircuitId" value="select * from edgis.PGE_CHANGED_CIRCUIT"/>-->
    <add key="Table_Servicepoint" value="SERVICEPOINT"/>
    <add key="Table_PrimaryMeter" value="PRIMARYMETER"/>
    <add key="Table_Transformer" value="TRANSFORMER"/>
    <add key="Table_Gen_Eqp_Stg" value="GEN_EQUIPEMTNT_STAGE"/>
    
    <add key="Proc_Stage" value="PGEDATA.EDER_TO_SAP_STATUS_INSERT"/>
    <add key="Proc_Changed_Cid" value="ENOS_CHANGED_CID_STATUS_INSRT"/>
    <add key="Proc_Changed_Spid" value="ENOS_CHANGED_SPID_STATUS_INSRT"/>
    <add key="Proc_Unique_Records" value="EDER_TO_SAP_UNIQUE_RCRD"/>

    <add key="Qry_Clear_Curr_Data" value="delete from pgedata.eder_to_sap_status where date_inserted = trunc(sysdate)"/>
    <add key="Qry_Slct_Changed_SPID" value="select * from pgedata.enos_to_sap_status where inserted_by='SPID' and date_inserted= sysdate"/>
    <add key="Qry_Slct_Changed_CID" value="select * from pgedata.enos_to_sap_status where inserted_by='CID' and date_inserted= sysdate"/>
    <add key="Qry_Slct_Stage" value="select * from pgedata.enos_to_sap_status where inserted_by='STAGE' and date_inserted= sysdate"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
