<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="EDERDatabaseTNSName" value="LBGISQ1Q"/>
    <add key="EDERUserName" value="rprh"/>
    <add key="EDERPassword" value="rprh"/>
    <add key="EDPUBDatabaseTNSName" value="EDGISP2D"/>
    <add key="EDPUBUserName" value="rprh"/>
    <add key="EDPUBPassword" value="rprh"/>-->

    <add key ="EDER_ConnectionStr" value ="RPRH@EDER"/>
    <add key ="EDPUB_ConnectionStr" value ="RPRH@EDPUB"/>
  </appSettings>
</configuration>