<?xml version="1.0"?>
<configuration>


  <connectionStrings>
    <!--For QA QAETAPPDBSWC007-->
    <!--For TEST TSETAPPDBSWC003-->
    <add name="PLDB" connectionString="PLDB_I@QAETAPPDBSWC007"/>
  </connectionStrings>
  <appSettings>
    
   

    <add key ="EDER_SDEConnection" value ="PLC_RO@EDER"/>
    <add key ="WIP_ConnectionStr" value ="PLC_RW@WIP"/>
    <add key ="WIP_SDEConnection" value ="PLC_RW@WIP"/>
    
    <add key="LOG_FOLDER" value="C:\edgisdbmaint\log\"/>
    <add key="LOG_FILE" value="PLDBBatchLogfile"/>
    <add key="POLE_FILTER" value="PLDBID IS NOT NULL"/>

    <add key="SQL_SLEEP_INTERVAL" value="240000"/>
   	<add key="SQL_CONN_TIMEOUT" value="600"/>

    <add key="PLD_INFO_OBJECTID_SEQUENCE" value="WEBR.GEN_PLDINFO"/>
    <add key="PLD_INFO_SRID" value="300001"/>
    <add key ="PLD_INFO_FIELDS" value ="OBJECTID, PLDBID, PLD_STATUS, LAT, LONGITUDE, ELEVATION, HORIZONTAL_SF, OVERALL_SF, BENDING_SF,VERTICAL_SF,CLASS, LENGTHININCHES, SPECIES,SAPEQUIPID, GLOBALID_PLD, SNOW_LOAD_DIST,SKETCH_LOC,ORDER_NUMBER,NOTIFICATION_NUMBER,LANID,MAINTENANCECODE"/>
    <add key ="PLD_INFO_TEMP_FIELDS" value ="PLDBID, PLD_STATUS, LAT, LONGITUDE, ELEVATION, HORIZONTAL_SF, OVERALL_SF, BENDING_SF,VERTICAL_SF, CLASS, LENGTHININCHES, SPECIES, SAPEQUIPID, GLOBALID_PLD, SNOW_LOAD_DIST,PGE_SKETCHLOCATION,PGE_ORDERNUMBER,PGE_NOTIFICATIONNUMBER,PGE_LANID,PGE_MATCODE"/>
  
  </appSettings>

</configuration>
