<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>

    <!-- [Connection Details] -->
    <add key ="EDGMC_ConnectionStr" value ="GIS_I_WRITE@EDGMC"/>

    <!-- [Other Configurations Details] -->
    <add key="LogPath" value=" " />
		<add key="delimiter" value=";" />
		<add key="TimeCheckInterval" value="3000" />
    
    <!-- Date Format YYYY-MM-DD -->
    <add key="Default_LastRun" value="2021-01-01" />
       
	</appSettings>
</configuration>