<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONN_EDGIS_FILE" value="C:\Users\v1ge\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\Connection to EDER.sde"/>
    <add key="SESSION_NAME" value="EDGIS.SN_212740"/>
    <!--A3KF.SN_212717-->
    <add key ="LOGPATH" value =""/>
    <add key="DISABLE_AU_FRAMEWORK" value="true"/>
    <!--true/flase for Disable AU Framework-->
    <add key="DELETE_FEATURE_CLASS" value="EDGIS.SECONDARYGENERATION" />
  </appSettings>
</configuration>