<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Set the path of the LANDBASE connection file (using SDE user)-->
    <add key="SDE_FILE_PATH" value="C:\Final2010\PGE.BatchApplication.RowAutomationDaily\Landbase_sde_user.sde" />
    <add key ="LANDBASE_SDEConnection" value ="SDE@LANDBASE"/>
    <!-- Set the name of LANDBASE version (using SDE user) to be used for comparing daily versions-->
    <!-- If this version exists, it will be used to compare with SDE.Default-->
    <!-- If this version doesnot exist then it will be created as a child of SDE.Default-->
    <add key ="ROW_OLDER_VERSION" value ="DAILY_ROW_COPY"/>

    <!-- Set the name of LANDBASE version (using SDE user) to be used for updating ROW. -->
    <!-- If this version exists it will be deleted and recreated as a child of SDE.Default-->
    <add key ="ROW_UPDATE_VERSION" value ="DAILY_ROW_UPDATE"/>

    <!-- Set the number of ROW features to be processed in one group-->
    <add key="ROW_GROUP_SIZE" value="500" />

    <!-- Set the log file path. If left blank, logs will be created at the executing file location-->
    <add key="LOG_FILE_PATH" value="" />

    <!-- Set the mailing details in case ROW_UPDATE_VERSION post is unsuccessful-->
    <add key="mailhost" value="mailhost.comp.pge.com" />
    <add key="INCLUDE" value="0" />
    <add key="EMAIL_TO" value="EDGISSupport@pge.com" />
    <add key="EMAIL_FROM" value="EDGISSupport@pge.com" />
    <add key="MSG_BODY" value="Hi. LBGIS Daily Update Process has encountered an error. The version DAILY_ROW_UPDATE could not be posted to default." />

  </appSettings>

</configuration>