<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SettingsDBConnection" connectionString="metadata=res://*/SettingsModel.csdl|res://*/SettingsModel.ssdl|res://*/SettingsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgisdbqa01.comp.pge.com:1521/EDGISA2Q;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="SettingsAppDBConnection" connectionString="metadata=res://*/SettingsModel.csdl|res://*/SettingsModel.ssdl|res://*/SettingsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgisdbqa01.comp.pge.com:1521/EDGISA2Q;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>