<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--PGE.MapProduction.Integration-->
  <Fragment>
    <ComponentGroup Id="ED07Component">
      <ComponentGroupRef Id="PGE.Common.Delivery.Diagnostics.dll"/>
      <ComponentRef Id="RegistryEntries"/>
      <ComponentRef Id="DefaultLogFile"/>
      <ComponentGroupRef Id="Extras"/>
    </ComponentGroup>
  </Fragment>
</Wix>