<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <sdeWorkspaceConnectionLandbase><![CDATA[LBGIS_RO@LANDBASE]]></sdeWorkspaceConnectionLandbase>
    <sdeWorkspaceConnection><![CDATA[CWOSL_RW@EDER]]></sdeWorkspaceConnection>
    <EDERConnectionSDEUser><![CDATA[SDE@EDER]]></EDERConnectionSDEUser>
    <oleDBconnectionString><![CDATA[CWOSL_RW@EDER]]></oleDBconnectionString>
    </properties>
  <components>
    <component id="pge.connections.sdeWorkspaceConnection"
               service="PGE.BatchApplication.CWOSL.SDEWorkspaceConnection, PGE.BatchApplication.CWOSL"
               type="PGE.BatchApplication.CWOSL.SDEWorkspaceConnection, PGE.BatchApplication.CWOSL" >
      <parameters>
        <workspaceConnectionFile>#{sdeWorkspaceConnection}</workspaceConnectionFile>
        <workspaceConnectionFileLandbase>#{sdeWorkspaceConnectionLandbase}</workspaceConnectionFileLandbase>
      </parameters>
    </component>
    <component id="pge.BatchApplication.cswol.Initialize"
               service="PGE.BatchApplication.CWOSL.Initialize, PGE.BatchApplication.CWOSL"
               type="PGE.BatchApplication.CWOSL.Initialize, PGE.BatchApplication.CWOSL" >
      <parameters>
        <SDEConnectionFile>#{sdeWorkspaceConnection}</SDEConnectionFile>
        <EDERConnectionSDEUser>#{EDERConnectionSDEUser}</EDERConnectionSDEUser>
        <OleDBconnectionString>#{oleDBconnectionString}</OleDBconnectionString>
        <SDEWorkspaceConnection>${pge.connections.sdeWorkspaceConnection}</SDEWorkspaceConnection>
        <CWOSLTableName>EDGIS.CWOSL</CWOSLTableName>
        <ServicePointTableName>EDGIS.ServicePoint</ServicePointTableName>
        <ServiceLocationFCName>EDGIS.ServiceLocation</ServiceLocationFCName>
        <TransformerFCName>EDGIS.Transformer</TransformerFCName>
        <SecondaryLoadPointFCName>EDGIS.SecondaryLoadPoint</SecondaryLoadPointFCName>
        <NetworkName>EDGIS.ElectricDistNetwork</NetworkName>
        <ServiceLocationGUIDFldName>ServiceLocationGUID</ServiceLocationGUIDFldName>
        <SecondaryLoadPointGUIDFldName>LoadSourceGUID</SecondaryLoadPointGUIDFldName>
        <ServicePointIDFldName>ServicePointID</ServicePointIDFldName>
        <StreetNumberFldName>STREETNUMBER</StreetNumberFldName>
        <StreetName1FldName>STREETNAME1</StreetName1FldName>
        <CityFldName>CITY</CityFldName>
        <StateFldName>STATE</StateFldName>
        <ZipFldName>ZIP</ZipFldName>
        <SessionName>CWOSLProcess</SessionName>
        <NumberOfJobs>1</NumberOfJobs>
        <LimitEditsInSession>5000</LimitEditsInSession>
        <MaxMinutesToRun>90</MaxMinutesToRun>
        <LimitSegUGServices>3</LimitSegUGServices>
        <IgnoreESRIGeocodeServiceError>0</IgnoreESRIGeocodeServiceError>
        <ESRIGeocodeScore>100</ESRIGeocodeScore>
        <BufferGeocodeInFeet>27</BufferGeocodeInFeet>
        <MaxParcelCustomerPoints>1</MaxParcelCustomerPoints>
        <MaxParcelArea>500</MaxParcelArea>
        <HFTDDomainName>ALL</HFTDDomainName>
        <Division>ALL</Division>
        <County>ALL</County>
        <SecLoadPoint>INC</SecLoadPoint>
        <LocalOfficeID>ALL</LocalOfficeID>
        <Transformer>ALL</Transformer>
        <SketchPreFeature>INC</SketchPreFeature>
        <FULLPROCESS>TRUE</FULLPROCESS>
        <CIRCUITID>ALL</CIRCUITID>
        <MAILFROM>yxa6@pge.com</MAILFROM>
        <MAILTO>yxa6@pge.com</MAILTO>
        <MAILCC>yxa6@pge.com</MAILCC>
        <!--for prod -->
        <!--<MAILFROM>EDGISSupport@pge.com</MAILFROM>
        <MAILTO>GISEngineeringTechnicalSolutions@pge.com</MAILTO>
        <MAILCC>ITGISIncidentTeam@pge.com</MAILCC>-->
        <MAILSUBJECT>CWOSL Process Update</MAILSUBJECT>
        <SMTPSERVER>mailhost.utility.pge.com</SMTPSERVER>
        <QAQCMess>Hi,\n\nQAQC has failed for CWOSL Session. Please check.</QAQCMess>
        <SessionExist>Hi,\n\nCWOSL UC4 job did not run as the session already exists. Please either delete the session or inform Opeartions team to post it. Session Name - </SessionExist>
      </parameters>
      <forwardedTypes>
        <add service="PGE.BatchApplication.CWOSL.Interfaces.IValidateInstance, PGE.BatchApplication.CWOSL" />
      </forwardedTypes>
    </component>
    <component id="pge.BatchApplication.CWOSL"
               service="PGE.BatchApplication.CWOSL.Interfaces.IExtractTransformLoad, PGE.BatchApplication.CWOSL"
               type="PGE.BatchApplication.CWOSL.CWOSL, PGE.BatchApplication.CWOSL" >
      <parameters>
      
    </parameters>
    </component>
  </components>
</configuration>
