<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<connectionStrings>    
    <add name="connStringreleditor" connectionString="Provider=MSDAORA;Persist Secutiry Info=True;Data Source=EDER;PLSQLRSet=1;User Id=releditor; Password=releditor"/>
  </connectionStrings>-->

  <appSettings>   
  
    
  <add key ="EDER_SDEConnection" value ="GIS_I_WRITE@EDER"/>
  <add key ="EDER_ConnectionStr" value ="GIS_I_WRITE@EDER"/>
  <add key ="EDER_ConnectionStr_RELEDITOR" value ="RELEDITOR@EDER"/>
   
  <add key="QueryToGetRecords" value="select distinct transoid,trphdsgtoupdate from releditor.temp_trans_sourceline_multi where transcircuitid in
       (
022571107,
162370406,
083252109,
253951106,
254771102,
255292104
) and trphdsgtoupdate is not null"/>


    <add key="QueryToGetTrUnitRecords" value="select distinct transunitobjectid, trunitphdsgtoupdate from releditor.temp_trans_sourceline_multi where transcircuitid in
       (
022571107,
162370406,
083252109,
253951106,
254771102,
255292104
) and trunitphdsgtoupdate is not null"/>
    
    
  <add key="VersionNamePrefix" value="TEMP_VERSION_1196"/>

    <add key="PhaseVerifiedValue" value="Estimated/Defaulted"/>
    
    <add key="ServiceLocationClassName" value="EDGIS.SERVICELOCATION"/>
  <add key="TransformerClassName" value="EDGIS.TRANSFORMER"/>
    <add key="TransformerUnitClassName" value="EDGIS.TRANSFORMERUNIT"/>
  <add key="TargetVersionName" value="SLUP"/>
 
  <add key="DefaultVersionName" value="SDE.DEFAULT"/>
  <add key="SessionName" value="Temp_"/> 

  <add key="Col_GLOBALID" value="GLOBALID"/>
  <add key="Col_GENCATEGORY" value="GENCATEGORY"/>
  <add key="Col_LABELTEXT" value="LABELTEXT"/>
  <add key="Col_VERSIONNAME" value="VERSIONNAME"/>  
    
  <add key="LogConfigName" value="pge.log4net.config"/> 
  </appSettings>
    
</configuration>