<?xml version="1.0" encoding="utf-8" ?>
<!--Make sure path contains \\ instead of \.-->
<configuration>
  <appSettings>
    <add key="Exception_FilePath" value="Exception_Sap_to_gis_DateWriter.txt"/>
    <add key="SDE_FilePath" value="C:\Users\b4s8\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog"/>
    <add key="TargetVersion_Name" value=""/>
    <add key="Reconcile4_AcquireLock" value="true"/>
    <add key="Reconcile4_AbortIfConflicts" value="true"/>
    <add key="Reconcile4_ChildWins" value="true"/>
    <add key="Reconcile4_ColumnLevel" value="true"/>
  </appSettings>

  <log4net>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="matt.kempf@miner.com"/>
      <from value="log4net@miner.com"/>
      <subject value="Application Failure"/>
      <param name="Threshold" value="DEBUG"/>
      <smtpHost value="oberon.miner.com"/>
      <bufferSize value="512"/>
      <lossy value="false"/>
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="DEBUG"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%d [%t] %-5p %c [%x] - %m%n%exception%properties%n%n%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>