<?xml version="1.0" encoding="utf-8"?>

<!-- Configuration section settings area. -->
<Configuration>

    <!--configuration section that handles layers-->
    <!--
        Valid layer types are:
            ArcGISDynamicMapServiceLayer
            ArcGISTiledMapServiceLayer
            ArcGISImageServiceLayer
            FeatureLayer
    -->

    <BensLayers Extent="2212750,399072,2215702,400599">
        <!--Mapservices that display in the map control-->
        <!--<Layer MapServiceName="US" Url="http://mesonet.agron.iastate.edu/cgi-bin/wms/nexrad/n0r.cgi"
           ProxyUrl="http://serverapps.esri.com/SilverlightDemos/ProxyPage/proxy.ashx"
           Version="1.1.1" Visible="True" Type="WmsLayer"/>-->
        <Layer MapServiceName="Electric"
               Url="http://vm-pgeweb101.miner.com/arcgis/rest/services/Data/minerGeomNetService/MapServer"
               Visible="True" Type="ArcGISDynamicMapServiceLayer" StoredDisplayNames=""/>

        <!--Feature services for redlining functionality-->
        <Layer MapServiceName="Redline Points" Url="http://server.arcfmsolution.com/ArcGIS/rest/services/Redline/FeatureServer/0"
           Visible="True" Type="FeatureLayer" AutoSave="False" OutFields="*"/>
        <Layer MapServiceName="Redline Text" Url="http://server.arcfmsolution.com/ArcGIS/rest/services/Redline/FeatureServer/1"
           Visible="True" Type="FeatureLayer" AutoSave="False" OutFields="*"/>
        <Layer MapServiceName="Redline Conductors" Url="http://server.arcfmsolution.com/ArcGIS/rest/services/Redline/FeatureServer/2"
           Visible="True" Type="FeatureLayer" AutoSave="False" OutFields="*"/>
        <Layer MapServiceName="Redline Polygons" Url="http://vm-pgeweb101.miner.com/arcgis/rest/services/RedlineStuff/MapServer"
           Visible="True" Type="ArcGISDynamicMapServiceLayer" DisableClientCaching="False" AutoSave="False" OutFields="NAME,WORKORDERID"/>
    </BensLayers>

    <Layers Extent="1078653,12139951,4411322,13658746">
        <!--Mapservices that display in the map control-->
        <Layer MapServiceName="PGEBoundary" Url="http://vm-pgeedweb/arcgis/rest/services/PGEBoundary/MapServer"
               Visible="True" Type="ArcGISDynamicMapServiceLayer"/>
        <Layer MapServiceName="PGE_Grid" Url="http://vm-pgeedweb/arcgis/rest/services/PGEGrids/MapServer"
               Visible="True" Type="ArcGISDynamicMapServiceLayer"/>
        
        <!-- Girish's Layers -->
        
        <Layer MapServiceName="Electric Distribution" Url="http://vm-pgeweb101.miner.com/arcgis/rest/services/Data/PGE_ElectricDistribution/MapServer"
           Visible="True" Type="ArcGISDynamicMapServiceLayer" StoredDisplayNames="Electric,Landbase"/>
        <Layer MapServiceName="Circuit Map" Url="http://vm-pgeweb101.miner.com/arcgis/rest/services/Data/PGE_CircuitMap/MapServer"
               Visible="False" Type="ArcGISDynamicMapServiceLayer" StoredDisplayNames="Circuit,Master,Electric,Test"/>
        
        <!-- End Girish's Layers -->
        
        
        
        
        
        <!--Feature services for redlining functionality-->
        <!--Layer MapServiceName="Points" Url="http://ServerName/ArcGIS/rest/services/Redline/FeatureServer/0" Visible="True" Type="FeatureLayer" AutoSave="False" OutFields="*"/>
        <Layer MapServiceName="Polygons" Url="http://ServerName/ArcGIS/rest/services/Redline/FeatureServer/3" Visible="True" Type="FeatureLayer" AutoSave="False" OutFields="*"/-->
        
        <!--Feature services for redlining functionality-->
        <!--<Layer MapServiceName="Points" Url="http://ServerName/ArcGIS/rest/services/Redline/FeatureServer/0" Visible="True" Type="FeatureLayer" AutoSave="False" OutFields="*"/>
        <Layer MapServiceName="Polygons" Url="http://ServerName/ArcGIS/rest/services/Redline/FeatureServer/3" Visible="True" Type="FeatureLayer" AutoSave="False" OutFields="*"/>-->
    </Layers>

    <!--Configuration section that handles related data
    <RelatedData>
        <Path LayerId="13" Url="http://ServerName/ArcGIS/rest/services/Electric/MapServer" RelationshipIds="41,50" />
        <Path LayerId="0" Url="http://ServerName/ArcGIS/rest/services/Electric/MapServer" RelationshipIds="103" />
    </RelatedData>-->

    <!--Configuration section that handles custom searches
    <Searches>
        <Search Type="Custom" Title="Fuse And XFR and Poles" Description="Searches ObjectID">
            <SearchLayer Url="http://ServerName/ArcGIS/rest/services/Electric/MapServer" LayerId="2" Fields="ObjectID"/>
            <SearchLayer Url="http://ServerName/ArcGIS/rest/services/Electric/MapServer" LayerId="0" Fields="ObjectID"/>
            <SearchLayer Url="http://ServerName/ArcGIS/rest/services/Electric/MapServer" LayerId="4" Fields="ObjectID"/>
        </Search>
        <Search Type="Custom" Title="Fuse Only" Description="Searches FacilityID.">
            <SearchLayer Url="http://ServerName/ArcGIS/rest/services/Electric/MapServer" LayerId="2" Fields="FacilityID"/>
        </Search>
        <Search Type="Custom" Title="XFR and Unit" MaxRecords="300" Description="Searches FacilityID and FeederID for Transformer. Searches Manufacturer and MaxSteps for Unit. Will not return more than 300 records.">
            <SearchLayer Url="http://ServerName/ArcGIS/rest/services/Electric/MapServer" LayerId="0" Fields="FacilityID,FeederID">
                <SearchRelationship Table="TransformerUnit" Fields="Manufacturer,MaxSteps" Path="Transformer"/>
            </SearchLayer>
        </Search>
        <Search Type="Address" Title="US Address Locate" Description="Searches US Address" Url="http://tasks.arcgisonline.com/ArcGIS/rest/services/Locators/TA_Streets_US_10/GeocodeServer" Fields="Single Line Input" MaxRecords="500" AddressScore="50" />
        <Search Type="Address" Title="EU Address Locate" Description="Searches EU Address" Url="http://tasks.arcgisonline.com/ArcGIS/rest/services/Locators/TA_Address_EU/GeocodeServer" Fields="Address,City,Country" MaxRecords="500" AddressScore="50" />
    </Searches>-->

    <!--Configuration section for redlining -->
    <Editor>
        <EditorLayer PointServiceName="Points" PolygonServiceName="Polygons" />
        <PolygonShape Shapes="Freehand,Circle,Rectangle" />
        <!-- The base reference for scaling redline text and points as well as selection markers -->
        <PointSymbol ReferenceResolution="1" />
    </Editor>

    <!--Configuration section for the tracing-->
    <Tracing>
        <!-- Only one service is allowed per trace type. Leave blank to hide trace toolbar. -->
        <ElectricTrace MapServiceName="Electric Distribution">
            <ProtectiveDeviceSettings>
                <TraceType Name="Upstream" ProtectiveDevices="85,87" />
                <TraceType Name="UpstreamProtectiveDevice" ProtectiveDevices="84,86" />
                <TraceType Name="NextUpstreamProtective" ProtectiveDevices="85" />
                <TraceType Name="Downstream" ProtectiveDevices="84,86,87" />
                <TraceType Name="DownstreamProtectiveDevice" ProtectiveDevices="" />
                <TraceType Name="ProtectiveDeviceIsolation" ProtectiveDevices="84,85,86,87" />
            </ProtectiveDeviceSettings>
        </ElectricTrace>
        <GasTrace MapServiceName="" />
        <WaterTrace MapServiceName="" />
        
        
        <!-- OLD Settings -->
        <!-- ElectricTrace MapServiceName="Electric" />
        <GasTrace MapServiceName="" />
        <WaterTrace MapServiceName="" /> -->
    </Tracing>

    <!--Configuration section for the attribute viewer-->
    <AttributeViewer>
        <Selection SelectionColor="Blue" MarkerSize="10"/>
        <ZoomBuffer Size="20"/>
    </AttributeViewer>

    <!--Configuration section for the tools. Used for the measure tool and the coordinate tool. 
    <Tools>
        <Measure ProjectionWKID="26753" />
        <GeometryService Url="http://vm-riverside101.miner.com/arcgis/rest/services/Utilities/Geometry/GeometryServer" />
    </Tools>-->

    <!--Configuration section for layer visibility. Turns off link with enabled layers and scale suppression. -->
    <LayerVisibility>
        <ClientSideVisibility Visible="True" ScaleRange="True" />
    </LayerVisibility>
    
    <!-- Geographic Search Filter Configuration section-->
    <GeographicSearchFilter>
        <Filter FilterLabel="County Filter" Url="http://vm-pgeweb101.miner.com/arcgis/rest/services/Data/PGEBoundary/MapServer/1" Where="OBJECTID > 0" Outfields="*" />
        <Filter FilterLabel="District Filter" Url="http://vm-pgeweb101.miner.com/arcgis/rest/services/Data/PGEBoundary/MapServer/2" Where="OBJECTID > 0" Outfields="*" />        
    </GeographicSearchFilter>
</Configuration>
