<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--PGE.MapProduction.Integration-->
  <Fragment>
    <ComponentGroup Id="Extras">

      <Component Id="PGE.BatchApplication.CircuitProtectionZone.dll" Directory="CircuitProtectionZone" Guid="CC7B96E8-9BD6-4382-A316-2FE6E6A54C3A" >
        <File Id="PGE.BatchApplication.CircuitProtectionZone.dll" KeyPath="yes" Source="..\..\..\..\..\PGE_ProjectOutput\CircuitProtectionZones\PGE.BatchApplication.CircuitProtectionZone.dll"/>
      </Component>

      <Component Id="PGE.BatchApplication.CircuitProtectionZone.dll.config" Directory="CircuitProtectionZone" Guid="81EFAA06-A340-41BC-A1C2-F3AE38AF051B" Permanent="yes" >
        <File Id="PGE.BatchApplication.CircuitProtectionZone.dll.config" KeyPath="yes" Source="..\..\..\..\..\PGE_ProjectOutput\CircuitProtectionZones\PGE.BatchApplication.CircuitProtectionZone.dll.config"/>
      </Component>

      <Component Id="PGE.BatchApplication.CircuitProtectionZoneCL.exe" Directory="CircuitProtectionZone" Guid="4920CF20-6DDB-4C08-9013-040A19D4FE8F" >
        <File Id="PGE.BatchApplication.CircuitProtectionZone.exe" KeyPath="yes" Source="..\..\..\..\..\PGE_ProjectOutput\CircuitProtectionZones\PGE.BatchApplication.CircuitProtectionZoneCL.exe"/>
      </Component>

      <Component Id="PGE.CircuitProtectionZoneCL.log4net.config" Directory="LoggingConfiguration" Guid="9B8F08FA-E414-40B2-A5AB-8FE6F29D7316" Permanent="yes" >
        <File Id="PGE.CircuitProtectionZoneCL.log4net.config" KeyPath="yes" Source="..\..\..\..\..\PGE_ProjectOutput\CircuitProtectionZones\PGE.CircuitProtectionZoneCL.log4net.config"/>
      </Component>
      
    </ComponentGroup>

  </Fragment>
</Wix>
