<configuration>
  <components>
    <component id="pge.connections.settingsAdoOracleConnectionDestination"
               service="PGE.ChangesManagerShared.AdoOracleConnection, PGE.ChangesManagerShared"
               type="PGE.ChangesManagerShared.AdoOracleConnection, PGE.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[Data Source=edgisspt;User Id=edsett;Password=*#Kk%(keOrRP4nTIU=]]></connectionString>
      </parameters>
    </component>
    <component id="pge.connections.pgedataAdoOracleConnectionDestination"
               service="PGE.ChangesManagerShared.AdoOracleConnection, PGE.ChangesManagerShared"
               type="PGE.ChangesManagerShared.AdoOracleConnection, PGE.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[Data Source=eder;User Id=pgedata;Password=*#Kk%(G+OqkQWvVaGUmdJZgiNfIA==]]></connectionString>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerScada"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_SCADA_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_SCADA_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerFCLayerMapping"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_FC_LAYER_MAPPING</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_FC_LAYER_MAPPING</destTableName>
        <KeyAttribute>ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
        <Synchronize>true</Synchronize>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerTableLookup"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_TABLE_LOOKUP</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_TABLE_LOOKUP</destTableName>
        <KeyAttribute>ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
        <Synchronize>true</Synchronize>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerRecloser"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_RECLOSER_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_RECLOSER_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerRegulator"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_REGULATOR_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_REGULATOR_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerCapacitor"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_CAPACITOR_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_CAPACITOR_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerSwitch"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_SWITCH_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_SWITCH_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerNetworkProtector"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_NETWORK_PROTECTOR_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_NETWORK_PROT_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerSectionalizer"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_SECTIONALIZER_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_SECTIONALIZER_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerCircuitBreaker"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_CIRCUIT_BREAKER_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_CIRCUIT_BREAKER_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsRowTransferrerInterrupter"
               service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDSETT.SM_INTERRUPTER_ERD_VW</sourceTableName>
        <destTableName>PGEDATA.PGEDATA_SM_INTERRUPTER_EAD</destTableName>
        <KeyAttribute>GLOBAL_ID</KeyAttribute>
        <UpdateIfRowExists>true</UpdateIfRowExists>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.settingsToEDERETL"
               service="PGE.ChangesManagerShared.Interfaces.IExtractTransformLoad, PGE.ChangesManagerShared"
               type="PGE.ChangeDetection.ETL.SettingsToEDERETL, PGE.ChangeDetection.ETL" >
      <parameters>
        <adoOracleConnectionSource>${pge.connections.settingsAdoOracleConnectionDestination}</adoOracleConnectionSource>
        <adoOracleConnectionDestination>${pge.connections.pgedataAdoOracleConnectionDestination}</adoOracleConnectionDestination>
        <lastExecutedTable>PGEDATA.PGEDATA_EXECUTED</lastExecutedTable>
        <rowTransferrers>
          <list>
            <item>${pge.etl.settingsRowTransferrerScada}</item>
            <item>${pge.etl.settingsRowTransferrerFCLayerMapping}</item>
            <item>${pge.etl.settingsRowTransferrerTableLookup}</item>
            <item>${pge.etl.settingsRowTransferrerCapacitor}</item>
            <item>${pge.etl.settingsRowTransferrerCircuitBreaker}</item>
            <item>${pge.etl.settingsRowTransferrerInterrupter}</item>
            <!--<item>${pge.etl.settingsRowTransferrerNetworkProtector}</item>-->
            <item>${pge.etl.settingsRowTransferrerRecloser}</item>
            <item>${pge.etl.settingsRowTransferrerRegulator}</item>
            <item>${pge.etl.settingsRowTransferrerSectionalizer}</item>
            <item>${pge.etl.settingsRowTransferrerSwitch}</item>
          </list>
        </rowTransferrers>
        <storedProc>SM_EXPOSE_DATA_PKG.SP_SM_SET_DATE_PARAMS</storedProc>
      </parameters>
    </component>

  </components>
</configuration>