<configuration>
  <components>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared"
               type="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\gis_i@eder.sde]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWrites</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.ederSubSDEWorkspaceConnection"
               service="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared"
               type="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\gis_i@edersub.sde]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesEDERSUB</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.settingsAdoOracleConnection"
               service="PGE.ChangesManagerShared.AdoOracleConnection, PGE.ChangesManagerShared"
               type="PGE.ChangesManagerShared.AdoOracleConnection, PGE.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[Data Source=edgisspt;User Id=edsett;Password=*#Kk%(keOrRP4nTIU=]]></connectionString>
      </parameters>
    </component>
    <component id="pge.changeShared.versionInfo"
               service="PGE.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.ChangesManagerShared"
               type="PGE.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.ChangesManagerShared" >
      <parameters>
        <versionLow>Change_Detection_Sync_Settings</versionLow>
        <versionHigh>SDE.DEFAULT</versionHigh>
        <versionTemp>Settings_Temp</versionTemp>
      </parameters>
    </component>
    <component id="pge.changeSubscribers.settingsDatabase"
               service="PGE.ChangeSubscribers.Settings.SettingsDatabase, PGE.ChangeSubscribers"
               type="PGE.ChangeSubscribers.Settings.SettingsDatabase, PGE.ChangeSubscribers" >
      <parameters>
        <OracleWorkspaceConnection>${pge.connections.settingsAdoOracleConnection}</OracleWorkspaceConnection>
        <updateStoredProc>SM_CHANGE_DETECTION_PKG.SP_SM_DEVICE_DETECTION</updateStoredProc>
        <storedProcStatusView>EDSETT.SM_CHANGE_DETECTION_STATUS_VW</storedProcStatusView>
      </parameters>
    </component>
    <component id="pge.changeSubscribers.settingsChangeSubscriber"
               service="PGE.ChangeSubscribers.SettingsChangeSubscriber, PGE.ChangeSubscribers"
               type="PGE.ChangeSubscribers.SettingsChangeSubscriber, PGE.ChangeSubscribers" >
      <parameters>
        <schemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</schemaRestrictor>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <settingsChangeManager>${pge.changeSubscribers.settingsChangeManager}</settingsChangeManager>
        <settingsDatabase>${pge.changeSubscribers.settingsDatabase}</settingsDatabase>
      </parameters>
    </component>
    <component id="pge.changeSubscribers.settingsChangeManager"
               service="PGE.ChangeSubscribers.Settings.SettingsChangeManager, PGE.ChangeSubscribers"
               type="PGE.ChangeSubscribers.Settings.SettingsChangeManager, PGE.ChangeSubscribers" >
      <parameters>
        <childObjectClassesCSV>EDGIS.CONTROLLER,EDGIS.SUBRELAYCONTROL,EDGIS.SUBVOLTAGEREGULATORUNIT</childObjectClassesCSV>
        <childFeatureClassesCSV>EDGIS.SUBCAPACITORBANK,EDGIS.SUBSWITCH</childFeatureClassesCSV>
        <parentFeatureClassesCSV>EDGIS.SUBVOLTAGEREGULATOR,EDGIS.CAPACITORBANK,EDGIS.DYNAMICPROTECTIVEDEVICE,EDGIS.SWITCH,EDGIS.SUBINTERRUPTINGDEVICE,EDGIS.NETWORKPROTECTOR,EDGIS.SUBTRANSFORMERBANK,EDGIS.PRIMARYMETER,EDGIS.SECUGCONDUCTOR,EDGIS.SECOHCONDUCTOR,EDGIS.PRIOHCONDUCTOR,EDGIS.PRIUGCONDUCTOR</parentFeatureClassesCSV>
        <grandparentParentObjectClassesCSV>EDGIS.VOLTAGEREGULATOR-EDGIS.VOLTAGEREGULATORUNIT,EDGIS.SUBTRANSFORMERBANK-EDGIS.SUBLOADTAPCHANGER</grandparentParentObjectClassesCSV>
        <childObjectAttributesCSV>CONTROLLERTYPE,RELAYTYPE,RELAYCONTROLTYPE</childObjectAttributesCSV>
        <childFeatureAttributesCSV>SWITCHTYPE</childFeatureAttributesCSV>
      </parameters>
    </component>
    <component id="pge.changeManagerShared.schemaRestrictor"
               service="PGE.ChangesManagerShared.SchemaRestrictor, PGE.ChangesManagerShared"
               type="PGE.ChangesManagerShared.SchemaRestrictor, PGE.ChangesManagerShared" >
      <parameters>
        <featureClassChangeRestrictionsCSV>
          <dictionary>
            <entry key="Controller">CONTROLLERTYPE</entry>
            <entry key="CapacitorBank">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="DynamicProtectiveDevice">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="NetworkProtector">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="Switch">DIVISION,DISTRICT,SWITCHTYPE,OPERATINGNUMBER</entry>
            <entry key="VoltageRegulatorUnit">OPERATINGNUMBER,BANKCODE</entry>
            <entry key="VoltageRegulator">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="SUBRelayControl">RELAYTYPE</entry>
            <entry key="SUBInterruptingDevice">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="SUBLoadTapChanger"></entry>
            <entry key="SUBSwitch">DIVISION,DISTRICT,OPERATINGNUMBER,SWITCHTYPE</entry>
            <entry key="SUBTransformerBank">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="SUBVoltageRegulatorUnit">RELAYCONTROLTYPE</entry>
            <entry key="PrimaryMeter"></entry>
            <entry key="SecUGConductor"></entry>
            <entry key="PriUGConductor"></entry>
            <entry key="SecOHConductor"></entry>
            <entry key="PriOHConductor"></entry>
          </dictionary>
        </featureClassChangeRestrictionsCSV>
      </parameters>
    </component>
    <component id="pge.changesManager.versionedChangeDetector"
               service="PGE.ChangesManagerShared.Interfaces.IChangeDetector, PGE.ChangesManagerShared"
               type="PGE.ChangesManager.VersionedChangeDetector, ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>true</DoNotRollVersions>
        <SchemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</SchemaRestrictor>
      </parameters>
    </component>
    <component id="pge.changesManager.versionedChangeDetectorSub"
               service="PGE.ChangesManagerShared.Interfaces.IChangeDetector, PGE.ChangesManagerShared"
               type="PGE.ChangesManager.VersionedChangeDetector, ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSubSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>false</DoNotRollVersions>
      </parameters>
    </component>
    <component id="pge.changesManager.changeManager"
               service="PGE.ChangesManager.ChangeManager, ChangesManager"
               type="PGE.ChangesManager.ChangeManager, ChangesManager" >
      <parameters>
        <ChangeSubscribers>
          <list>
            <item>${pge.changeSubscribers.settingsChangeSubscriber}</item>
          </list>
        </ChangeSubscribers>
        <ChangeDetectors>
          <list>
            <item>${pge.changesManager.versionedChangeDetector}</item>
            <item>${pge.changesManager.versionedChangeDetectorSub}</item>
          </list>
        </ChangeDetectors>
      </parameters>

    </component>
  </components>
</configuration>