<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
	  <!--Database connections for SDE and oracle-->
	<component id="pge.connections.settingsAdoOracleConnectionDestination"
			   service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
			   type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
		  <parameters>
			  <connectionString><![CDATA[ADMS@PT4D]]></connectionString>
		  </parameters>
	</component>
    <component id="pge.connections.edgisSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[ADMS@PT4D]]></workspaceConnectionFile>     
      </parameters>
    </component>
	<component id="pge.connections.pgedataSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
		  <parameters>
			  <workspaceConnectionFile><![CDATA[ADMS@PT4D]]></workspaceConnectionFile>
			  <NonVersionedEditsVersionName>NonVersionedWritesEDER</NonVersionedEditsVersionName>
		  </parameters>
	  </component>
	<component id="pge.connections.intdataarchAdoOracleConnectionDestination"
               service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[ADMS@PT4D]]></connectionString>
      </parameters>
    </component>
	<component id="pge.connections.pgedataAdoOracleConnectionDestination"
				 service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
				 type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
		  <parameters>
			  <connectionString><![CDATA[ADMS@PT4D]]></connectionString>
		  </parameters>
	</component>
	  <!--Change subscriber for ADMS eder circuitids-->
	<component id="PGE.BatchApplication.ChangeSubscribers.admscircuitIDAttributeChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.ADMS_AttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.ADMS_AttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
		<edgisSDEWorkspaceConnection>${pge.connections.edgisSDEWorkspaceConnection}</edgisSDEWorkspaceConnection>
		<pgedataSDEWorkspaceConnection>${pge.connections.pgedataSDEWorkspaceConnection}</pgedataSDEWorkspaceConnection>
		<intdataarchAdoOracleConnectionDestination>${pge.connections.intdataarchAdoOracleConnectionDestination}</intdataarchAdoOracleConnectionDestination>
		<pgedataAdoOracleConnectionDestination>${pge.connections.pgedataAdoOracleConnectionDestination}</pgedataAdoOracleConnectionDestination>		
		<tableName>ADMS.PGE_CHANGED_CIRCUIT_ADMS</tableName>
		<attributeName>CIRCUITID</attributeName>
		<UserIDFieldName>USERID</UserIDFieldName>
		<PostDateFieldName>POSTDATE</PostDateFieldName>
		<versionname>Daily_ADMS_Change_Detection</versionname>
		<lastExecutedTable>ADMS.PGEDATA_EXECUTED</lastExecutedTable>
		<FeatureClassInclusion>EDGIS.PriUGConductor,EDGIS.ElectricDistNetwork_Junctions,EDGIS.NetworkProtector,EDGIS.StepDown,EDGIS.DeviceGroup,EDGIS.Switch,EDGIS.VoltageRegulator,EDGIS.ServiceLocation,EDGIS.OpenPoint,EDGIS.PriOHConductor,EDGIS.PrimaryMeter,EDGIS.DistBusBar,EDGIS.Fuse,EDGIS.DynamicProtectiveDevice,EDGIS.Transformer,EDGIS.CapacitorBank,EDGIS.FaultIndicator,EDGIS.Tie,EDGIS.ElectricStitchPoint,EDGIS.PrimaryRiser</FeatureClassInclusion>
		<StandAloneTableInclusion>EDGIS.PriOHConductorInfo,EDGIS.PriUGConductorInfo,EDGIS.ServicePoint,EDGIS.StepDownUnit,EDGIS.TransformerUnit,EDGIS.VoltageRegulatorUnit,EDGIS.GenerationInfo,EDGIS.CircuitSource</StandAloneTableInclusion>
		<OtherFeatureClassInclusion><![CDATA[Select featureclass as FEATURECLASS,featureguid as GLOBALID from ADMS.MAINLINEIDC where datecreated between {0} AND {1};Select feature_class_name as FEATURECLASS,global_id as GLOBALID from EDGIS.PGE_HFTD_FIA_VALUES where last_updated between {0} AND {1};Select featureclass as FEATURECLASS,deviceguid as GLOBALID from EDGIS.FLISR_DONOTBACKFEED where datecreated between {0} AND {1} or datemodified between {0} AND {1}]]></OtherFeatureClassInclusion>
		<RelatedTableName>EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.TRANSFORMER,EDGIS.PRIMARYMETER,EDGIS.StepDown,EDGIS.Transformer,EDGIS.VoltageRegulator,EDGIS.ServicePoint</RelatedTableName>
        <GDBM_DataQuery><![CDATA[Select FEAT_GLOBALID,feat_classname,FEAT_CIRCUITID_OLD,ACTION FROM (with backup_date AS(select FEAT_GLOBALID, MAX(CAPTURE_DATE) as max_post_date from intdataarch.PGE_GDBM_AH_INFO where BACKUPDATE between {0} AND {1} and status = 'C' and feat_classname in {2} group by FEAT_GLOBALID) SELECT AH.*FROM intdataarch.PGE_GDBM_AH_INFO AH JOIN backup_date ON AH.FEAT_GLOBALID = backup_date.FEAT_GLOBALID AND AH.CAPTURE_DATE = backup_date.max_post_date and AH.status = 'C' and AH.feat_classname in {3}) group by FEAT_GLOBALID,feat_classname,FEAT_CIRCUITID_OLD,ACTION]]></GDBM_DataQuery>
		<selectquery><![CDATA[Select * from {0} Where CIRCUITID = '{1}']]></selectquery>
		<insertquery><![CDATA[INSERT INTO {0} (OBJECTID, CIRCUITID, USERID,POSTDATE) VALUES (ADMS.PGE_CHANGE_CIRCUIT_ADMS_OBJECTID.nextval,'{1}','CHANGE_DETECTION','{2}')]]></insertquery>
		<updatequery><![CDATA[UPDATE {0} SET POSTDATE = '{1}' WHERE CIRCUITID = '{2}']]></updatequery>
		<GDBM_tbl>intdataarch.PGE_GDBM_AH_INFO</GDBM_tbl>
		<ExecutionSummaryEXE><![CDATA[C:\\Program Files (x86)\\Miner and Miner\\PG&E Custom Components\\PGE.IntExecutionSummaryTool\\PGE.BatchApplication.IntExecutionSummary.exe]]></ExecutionSummaryEXE>
	  </parameters>
	</component>
	  <!--Change subscriber for ADMS settings circuitids-->
	<component id="PGE.BatchApplication.ChangeSubscribers.admssettingcircuitIDAttributeChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.ADMS_SettingAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.ADMS_SettingAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
		<edgisSDEWorkspaceConnection>${pge.connections.edgisSDEWorkspaceConnection}</edgisSDEWorkspaceConnection>
		<pgedataSDEWorkspaceConnection>${pge.connections.pgedataSDEWorkspaceConnection}</pgedataSDEWorkspaceConnection>
		<pgedataAdoOracleConnectionDestination>${pge.connections.pgedataAdoOracleConnectionDestination}</pgedataAdoOracleConnectionDestination>
		<ExecutionSummaryEXE><![CDATA[C:\\Program Files (x86)\\Miner and Miner\\PG&E Custom Components\\PGE.IntExecutionSummaryTool\\PGE.BatchApplication.IntExecutionSummary.exe]]></ExecutionSummaryEXE>
		<tableName>ADMS.PGE_CHANGED_CIRCUIT_ADMS</tableName>
		<attributeName>CIRCUITID</attributeName>
		<UserIDFieldName>USERID</UserIDFieldName>
		<PostDateFieldName>POSTDATE</PostDateFieldName>
		<ADMStable>ADMS.PGEDATA_SM_GEN_ADMS_EAD</ADMStable>
		<ADMSedertable>EDGIS.GenerationInfo</ADMSedertable>
		<RelatedTableName>EDGIS.SERVICEPOINT,EDGIS.TRANSFORMER,EDGIS.PRIMARYMETER</RelatedTableName>
		<selectquery><![CDATA[Select * from {0} Where CIRCUITID = '{1}']]></selectquery>
		<insertquery><![CDATA[INSERT INTO {0} (OBJECTID, CIRCUITID, USERID,POSTDATE) VALUES (ADMS.PGE_CHANGE_CIRCUIT_ADMS_OBJECTID.nextval,'{1}','CHANGE_DETECTION','{2}')]]></insertquery>
		<updatequery><![CDATA[UPDATE {0} SET POSTDATE = '{1}' WHERE CIRCUITID = '{2}']]></updatequery>
		<uniquefield>GLOBALID</uniquefield>
		<EADTablefield>GLOBAL_ID</EADTablefield>
	  </parameters>
	</component>
	<component id="PGE.Common.ChangesManager.changeManager"
               service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
               type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
      <parameters>        
        <ChangeSubscribers>
          <list>
			  <item>${PGE.BatchApplication.ChangeSubscribers.admscircuitIDAttributeChangeSubscriber}</item>
			  <item>${PGE.BatchApplication.ChangeSubscribers.admssettingcircuitIDAttributeChangeSubscriber}</item>		    
		  </list>
        </ChangeSubscribers>
      </parameters>
    </component>	  
	<component id="pge.etl.settingsRowTransferrerGENPRO"
			 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
			 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
		  <parameters>
			  <sourceTableName>ADMS.SM_GEN_ADMS_EAD_VW</sourceTableName>
			  <destTableName>ADMS.PGEDATA_SM_GEN_ADMS_EAD</destTableName>
			  <KeyAttribute>GLOBAL_ID</KeyAttribute>
			  <UpdateIfRowExists>true</UpdateIfRowExists>
			  <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
			  <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
		  </parameters>
	  </component>
	<component id="pge.etl.settingsToEDERETL"
				 service="PGE.Common.ChangesManagerShared.Interfaces.IExtractTransformLoad, PGE.Common.ChangesManagerShared"
				 type="PGE.BatchApplication.ChangeDetection.ETL.SettingsToEDERETL, PGE.BatchApplication.ChangeDetection.ETL" >
		  <parameters>
			  <adoOracleConnectionSource>${pge.connections.pgedataAdoOracleConnectionDestination}</adoOracleConnectionSource>
			  <adoOracleConnectionDestination>${pge.connections.pgedataAdoOracleConnectionDestination}</adoOracleConnectionDestination>
			  <lastExecutedTable>ADMS.PGEDATA_EXECUTED</lastExecutedTable>
			  <PROCESSNAME>SETTINGS_ADMS</PROCESSNAME>
			  <rowTransferrers>
				  <list>				
					  <item>${pge.etl.settingsRowTransferrerGENPRO}</item>					  
				  </list>
			  </rowTransferrers>
			  <storedProc>edsett.SM_EXPOSE_DATA_PKG.SP_SM_SET_DATE_PARAMS</storedProc>
		  </parameters>
	  </component>
  </components>	
</configuration>