<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="pge.connections.ederSDEWorkspaceConnection"
                 service="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared"
                 type="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\gis_i@pge1.sde</workspaceConnectionFile>
          <!-- Use CData if your path has ampersands (&)s <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\edgis@edgisa1t.sde]]></workspaceConnectionFile> -->
          <NonVersionedEditsVersionName>NonVersionedWrites</NonVersionedEditsVersionName>
        </parameters>
      </component>
      <component id="pge.connections.webrSDEWorkspaceConnection"
                 service="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared"
                 type="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\webr@edgisw1p.sde</workspaceConnectionFile>
          <!-- Use CData if your path has ampersands (&)s <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\webr@edgisw1p.sde]]></workspaceConnectionFile> -->
        </parameters>
      </component>
      <component id="pge.connections.schematicsSDEWorkspaceConnection"
                 service="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared"
                 type="PGE.ChangesManagerShared.SDEWorkspaceConnection, PGE.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\gis_i@edscma1d.sde</workspaceConnectionFile>
          <!-- Use CData if your path has ampersands (&)s <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\edgis@edscma1d.sde]]></workspaceConnectionFile> -->
          <NonVersionedEditsVersionName>NonVersionedWrites</NonVersionedEditsVersionName>
        </parameters>
      </component>
      <component id="pge.changesManager.mdbManager"
                 service="PGE.ChangesManager.IExtractGDBManager, ChangesManager"
                 type="PGE.ChangesManager.MDBManager, ChangesManager" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.webrSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <featureClassName>WEBR.WIP_SPVW</featureClassName>
          <mdbLocation>\\sfetgis-nas01\sfgispoc_data\ApplicationDevelopment\IBM_TeamMembers\PhilPenn\wip_fgdbs\w1pt_test.mdb</mdbLocation>
          <!--          <mdbLocation>\\rcedgis-nas01\edgisnasfs01\Data\WIP_FGDBS\wip.mdb</mdbLocation> -->
        </parameters>
      </component>
      <component id="pge.changesManager.featureCompareChangeDetector"
                 service="PGE.ChangesManagerShared.Interfaces.IChangeDetector, PGE.ChangesManagerShared"
                 type="PGE.ChangesManager.FeatureCompareChangeDetector, ChangesManager" >
        <parameters>
          <extractGdbManager>${pge.changesManager.mdbManager}</extractGdbManager>
          <DoNotRollFGDBs>false</DoNotRollFGDBs>
        </parameters>
      </component>
      <component id="pge.changeShared.versionInfo"
                 service="PGE.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.ChangesManagerShared"
                 type="PGE.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.ChangesManagerShared" >
        <parameters>
          <versionLow>Daily_Change_Detection_Sync</versionLow>
          <versionHigh>SDE.DEFAULT</versionHigh>
          <versionTemp>Daily_Change_Temp</versionTemp>
        </parameters>
      </component>
      <component id="pge.changesManager.versionedChangeDetector"
                 service="PGE.ChangesManagerShared.Interfaces.IChangeDetector, PGE.ChangesManagerShared"
                 type="PGE.ChangesManager.VersionedChangeDetector, ChangesManager" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
          <DoNotRollVersions>false</DoNotRollVersions>
        </parameters>
      </component>
      <component id="pge.changeSubscribers.unifiedGridWriter"
                 service="PGE.ChangeSubscribers.GridWriter, PGE.ChangeSubscribers"
                 type="PGE.ChangeSubscribers.GridWriter, PGE.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <outputTable>EDGIS.PGE_CHANGEDETECTIONGRIDS</outputTable>
          <outputFieldMapNumber>MAPNUMBER</outputFieldMapNumber>
          <outputFieldChangeDate>GRIDCHANGEDDATE</outputFieldChangeDate>
          <outputFieldScale>SCALE</outputFieldScale>
        </parameters>
      </component>
      <component id="pge.changeSubscribers.maintenanceGridIntersector"
                 service="PGE.ChangeSubscribers.GridIntersector, PGE.ChangeSubscribers"
                 type="PGE.ChangeSubscribers.GridIntersector, PGE.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <gridMapNumberFieldName>MAPNUMBER</gridMapNumberFieldName>
          <gridScaleFieldName>MAPOFFICE</gridScaleFieldName>
          <gridFeatureClassName>EDGIS.MaintenancePlat</gridFeatureClassName>
        </parameters>
      </component>
      <component id="pge.changeSubscribers.unifiedGridIntersector"
                 service="PGE.ChangeSubscribers.GridIntersector, PGE.ChangeSubscribers"
                 type="PGE.ChangeSubscribers.GridIntersector, PGE.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <gridMapNumberFieldName>MAPNO</gridMapNumberFieldName>
          <gridScaleFieldName>SCALE</gridScaleFieldName>
          <gridFeatureClassName>EDGIS.plat_unified</gridFeatureClassName>
        </parameters>
      </component>
      <component id="pge.changeSubscribers.maintenancePlatChangeSubscriber"
                 service="PGE.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.ChangesManagerShared"
                 type="PGE.ChangeSubscribers.MaintenancePlatChangeSubscriber, PGE.ChangeSubscribers" >
        <parameters>
          <maintenanceGridIntersector>${pge.changeSubscribers.maintenanceGridIntersector}</maintenanceGridIntersector>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <mapOfficeFieldName>MAPOFFICE</mapOfficeFieldName>
          <mapNumberFieldName>MAPNUMBER</mapNumberFieldName>
          <modifiedMapsTableName>EDGIS.PGE_MODIFIEDMAPS</modifiedMapsTableName>
          <modifiedMapsValueFieldName>MODIFIEDMAPS_VALUE</modifiedMapsValueFieldName>
        </parameters>
      </component>
      <component id="pge.changeSubscribers.unifiedGridChangeSubscriber"
                 service="PGE.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.ChangesManagerShared"
                 type="PGE.ChangeSubscribers.UnifiedGridChangeSubscriber, PGE.ChangeSubscribers" >
        <parameters>
          <unifiedGridIntersector>${pge.changeSubscribers.unifiedGridIntersector}</unifiedGridIntersector>
          <unifiedGridWriter>${pge.changeSubscribers.unifiedGridWriter}</unifiedGridWriter>
        </parameters>
      </component>
      <component id="pge.changeSubscribers.circuitIDAttributeChangeSubscriber"
                 service="PGE.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.ChangeSubscribers"
                 type="PGE.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <tableName>EDGIS.PGE_CHANGED_CIRCUIT</tableName>
          <attributeName>CIRCUITID</attributeName>
          <UserIDFieldName>USERID</UserIDFieldName>
          <PostDateFieldName>POSTDATE</PostDateFieldName>
          <FeatureDatasetInclusion>EDGIS.ElectricDataset</FeatureDatasetInclusion>
          <FeatureClassExclusionCSV>EDGIS.SecOHConductor,EDGIS.SecondaryGeneration,EDGIS.SecUGConductor,EDGIS.SecondaryLoadPoint</FeatureClassExclusionCSV>
        </parameters>
      </component>
      <component id="pge.changeSubscribers.substationIDAttributeChangeSubscriber"
                 service="PGE.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.ChangeSubscribers"
                 type="PGE.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <tableName>EDGIS.PGE_CHANGED_SUBSTATION</tableName>
          <attributeName>SUBSTATIONID</attributeName>
          <UserIDFieldName>USERID</UserIDFieldName>
          <PostDateFieldName>POSTDATE</PostDateFieldName>
          <FeatureDatasetInclusion>EDGIS.SubstationDataset</FeatureDatasetInclusion>
        </parameters>
      </component>
      <component id="pge.changesManager.changeManager"
                 service="PGE.ChangesManager.ChangeManager, ChangesManager"
                 type="PGE.ChangesManager.ChangeManager, ChangesManager" >
        <parameters>
          <ChangeDetectors>
            <list>
              <item>${pge.changesManager.featureCompareChangeDetector}</item>
              <item>${pge.changesManager.versionedChangeDetector}</item>
            </list>
          </ChangeDetectors>
          <ChangeSubscribers>
            <list>
              <item>${pge.changeSubscribers.unifiedGridChangeSubscriber}</item>
              <item>${pge.changeSubscribers.circuitIDAttributeChangeSubscriber}</item>
              <item>${pge.changeSubscribers.substationIDAttributeChangeSubscriber}</item>
              <item>${pge.changeSubscribers.maintenancePlatChangeSubscriber}</item>
            </list>
          </ChangeSubscribers>
        </parameters>
      </component>
      <!-- ETL Schematics to EDER -->
      <component id="pge.etl.gridChangedTransferrer"
                 service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
                 type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.EDSCHEM_GridChanges</sourceTableName>
          <destTableName>EDGIS.PGE_SCHEMCHANGEDGRID</destTableName>
          <KeyAttribute>GRIDID</KeyAttribute>
          <AttributeFilter>
            <list>
              <item>GRIDID</item>
            </list>
          </AttributeFilter>
          <AttributeMapping>
            <dictionary>
              <entry key="GRIDID">MAPNUMBER</entry>
            </dictionary>
          </AttributeMapping>
          <RelatedTableName>EDGIS.Schematics_Unified_Grid</RelatedTableName>
          <RelatedTableKey>MAPNO</RelatedTableKey>
          <RelatedTableField>SCALE</RelatedTableField>
        </parameters>
      </component>
      <component id="pge.etl.guidTotalRowTransferrer"
                 service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
                 type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.EDSCHEM_GUIDTOTAL</sourceTableName>
          <destTableName>EDGIS.PGE_SCHEMGUIDTOTAL</destTableName>
          <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
        </parameters>
      </component>
      <component id="pge.etl.circuitChangesRowTransferrer"
                 service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
                 type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.EDSCHEM_CircuitChanges</sourceTableName>
          <destTableName>EDGIS.PGE_CHANGED_CIRCUIT</destTableName>
          <KeyAttribute>CIRCUITID</KeyAttribute>
          <DefaultDestAttributes>
            <dictionary>
              <entry key="USERID">SCHEMATICS</entry>
              <entry key="CHANGED_ACTION">UPDATE</entry>
              <entry key="POSTDATE"></entry>
            </dictionary>
          </DefaultDestAttributes>
        </parameters>
      </component>
      <!-- ETL EDER To Schematics -->
      <component id="pge.etl.changeSetPointRowTransferrer"
                 service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
                 type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERChangeSetPoint</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_EDERChangeSetPoint</destTableName>
          <KeyAttribute>FEATUREGUID</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.changeSetLineRowTransferrer"
                 service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
                 type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERChangeSetLine</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_EDERChangeSetLine</destTableName>
          <KeyAttribute>FEATUREGUID</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.sessionZeroRowTransferrer"
                 service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
                 type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERSession0MapGrid</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_EDERSession0MapGrids</destTableName>
          <KeyAttribute>MAPNO</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.postedSessionRowTransferrer"
                 service="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL"
                 type="PGE.ChangeDetection.ETL.RowTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERPostedSession</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_PostedSession</destTableName>
          <KeyAttribute>SESSIONID</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.tablesTransferrerSchematicsToEDER"
               service="PGE.ChangeDetection.ETL.TablesTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.TablesTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceSdeWorkspaceConnection>${pge.connections.schematicsSDEWorkspaceConnection}</sourceSdeWorkspaceConnection>
          <destSdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</destSdeWorkspaceConnection>
          <DeleteSourceRowsAfterTransfer>true</DeleteSourceRowsAfterTransfer>
          <rowTransferrers>
            <list>
              <item>${pge.etl.guidTotalRowTransferrer}</item>
              <item>${pge.etl.gridChangedTransferrer}</item>
              <item>${pge.etl.circuitChangesRowTransferrer}</item>
            </list>
          </rowTransferrers>
        </parameters>
      </component>
      <component id="pge.etl.tablesTransferrerEDERToSchematics"
               service="PGE.ChangeDetection.ETL.TablesTransferrer, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.TablesTransferrer, PGE.ChangeDetection.ETL" >
        <parameters>
          <sourceSdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sourceSdeWorkspaceConnection>
          <destSdeWorkspaceConnection>${pge.connections.schematicsSDEWorkspaceConnection}</destSdeWorkspaceConnection>
          <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
          <rowTransferrers>
            <list>
              <item>${pge.etl.postedSessionRowTransferrer}</item>
              <item>${pge.etl.sessionZeroRowTransferrer}</item>
              <item>${pge.etl.changeSetLineRowTransferrer}</item>
              <item>${pge.etl.changeSetPointRowTransferrer}</item>
            </list>
          </rowTransferrers>
        </parameters>
      </component>
      <component id="pge.etl.tablesTransferrers"
               service="PGE.ChangeDetection.ETL.TablesTransferrers, PGE.ChangeDetection.ETL"
               type="PGE.ChangeDetection.ETL.TablesTransferrers, PGE.ChangeDetection.ETL" >
        <parameters>
          <tablesTransferrers>
            <list>
              <item>${pge.etl.tablesTransferrerEDERToSchematics}</item>
              <item>${pge.etl.tablesTransferrerSchematicsToEDER}</item>
            </list>
          </tablesTransferrers>
        </parameters>
      </component>
    </components>
  </castle>
</configuration>