<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesEDER_CIT</NonVersionedEditsVersionName>
      </parameters>
    </component>   
  
    <component id="pge.changeShared.versionInfo"
               service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
      <parameters>
        <versionLow>Daily_Change_Detection_Sync</versionLow>
        <versionHigh>SDE.DEFAULT</versionHigh>
        <versionTemp>Daily_Change_Temp_CIT</versionTemp>
        <versionTable>INTDATAARCH.PGE_GDBM_AH_Info</versionTable>
        <versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
        <versionWhereClause>USAGE is NULL OR USAGE NOT LIKE 'NOCD'</versionWhereClause>
      </parameters>
    </component>
    
    <component id="PGE.Common.ChangesManager.versionedChangeDetector"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
            type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>true</DoNotRollVersions>
      </parameters>
    </component>
     
   
    <!--Changes for CIT - Start -->
    <component id="PGE.BatchApplication.ChangeSubscribers.conductorIDAttributeChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.ConductorInTrenchSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.ConductorInTrenchSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <tableName>PGEDATA.CIT_PGE_CHANGED_PRIUGCONDUCTOR</tableName>
        <attributeName>OBJECTID</attributeName>
        <UserIDFieldName>USERID</UserIDFieldName>
        <PostDateFieldName>POSTDATE</PostDateFieldName>
        <FeatureClassInclusionAlias>EDGIS.PriUGConductor,EDGIS.ConduitSystem,EDGIS.ConduitSystem_PriUG</FeatureClassInclusionAlias>
      </parameters>
    </component>
    <!--Changes for CIT - End -->
   
    <component id="PGE.Common.ChangesManager.changeManager"
               service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
               type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
      <parameters>
        <ChangeDetectors>
          <list>          
            <item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>           
          </list>
        </ChangeDetectors>
        <ChangeSubscribers>
          <list>          
            <item>${PGE.BatchApplication.ChangeSubscribers.conductorIDAttributeChangeSubscriber}</item>
          </list>
        </ChangeSubscribers>
      </parameters>
    </component>     

  </components>
</configuration>