<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesEDER</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.ederSubSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
       
        <workspaceConnectionFile><![CDATA[GIS_I@EDERSUB]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesEDERSUB</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.webrSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
       
        <workspaceConnectionFile><![CDATA[WEBR@WIP]]></workspaceConnectionFile>
      </parameters>
    </component>
    <component id="pge.connections.schematicsSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        
        <workspaceConnectionFile><![CDATA[GIS_I@EDSCHM]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesSchem101</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.mdbManager"
               service="PGE.Common.ChangesManager.IExtractGDBManager,PGE.Common.ChangesManager"
               type="PGE.Common.ChangesManager.MDBManager,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.webrSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <featureClassName>WEBR.WIP_SPVW</featureClassName>
        <mdbLocation><![CDATA[\\rcnas01-smb\edgisrearch-fs01\Data\WIP_FGDBS\W1P_WIP.mdb]]></mdbLocation>
        <!--          <mdbLocation>\\rcedgis-nas01\edgisnasfs01\Data\WIP_FGDBS\wip.mdb</mdbLocation> -->
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.featureCompareChangeDetector"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManager.FeatureCompareChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <extractGdbManager>${PGE.Common.ChangesManager.MDBManager}</extractGdbManager>
        <DoNotRollFGDBs>false</DoNotRollFGDBs>
      </parameters>
    </component>
    <component id="pge.changeShared.versionInfo"
               service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
      <parameters>
        <versionLow>Daily_Change_Detection_Sync</versionLow>
        <versionHigh>SDE.DEFAULT</versionHigh>
        <versionTemp>Daily_Change_Temp</versionTemp>
        <versionTable>INTDATAARCH.PGE_GDBM_AH_Info</versionTable>
        <versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
        <versionWhereClause><![CDATA[( (USAGE IS NULL OR USAGE NOT LIKE 'NOCD') AND  STATUS = 'C' AND FEAT_CLASSNAME NOT LIKE '%ANNO' )]]></versionWhereClause>
		<recordCount><![CDATA[10000]]></recordCount>
        <!-- Custom Execution [START] -->
        <!-- Date Format [yyyy-MM-dd HH:mm:ss]  ==> 2022-02-01 20:17:06-->
        <startDate><![CDATA[2022-01-27 22:08:05]]></startDate>
        <endDate><![CDATA[2022-02-24 02:39:55]]></endDate>
        <!-- true: to update interface execution summary, false : to don't update -->
        <UpdateEXESumm>true</UpdateEXESumm>
        <!-- Custom Execution [END] -->
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.versionedChangeDetector"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>false</DoNotRollVersions>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.versionedChangeDetectorSub"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSubSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>true</DoNotRollVersions>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter"
               service="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <outputTable>EDGIS.PGE_CHANGEDETECTIONGRIDS</outputTable>
        <outputFieldMapNumber>MAPNUMBER</outputFieldMapNumber>
        <outputFieldChangeDate>GRIDCHANGEDDATE</outputFieldChangeDate>
        <outputFieldScale>SCALE</outputFieldScale>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.maintenanceGridIntersector"
               service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <gridMapNumberFieldName>MAPNUMBER</gridMapNumberFieldName>
        <gridScaleFieldName>MAPOFFICE</gridScaleFieldName>
        <gridFeatureClassName>EDGIS.MaintenancePlat</gridFeatureClassName>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector"
               service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <gridMapNumberFieldName>MAPNO</gridMapNumberFieldName>
        <gridScaleFieldName>SCALE</gridScaleFieldName>
        <gridFeatureClassName>EDGIS.plat_unified</gridFeatureClassName>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.maintenancePlatChangeSubscriber"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
               type="PGE.BatchApplication.ChangeSubscribers.MaintenancePlatChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <maintenanceGridIntersector>${PGE.BatchApplication.ChangeSubscribers.maintenanceGridIntersector}</maintenanceGridIntersector>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <mapOfficeFieldName>MAPOFFICE</mapOfficeFieldName>
        <mapNumberFieldName>MAPNUMBER</mapNumberFieldName>
        <modifiedMapsTableName>EDGIS.PGE_MODIFIEDMAPS</modifiedMapsTableName>
        <modifiedMapsValueFieldName>MODIFIEDMAPS_VALUE</modifiedMapsValueFieldName>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
               type="PGE.BatchApplication.ChangeSubscribers.UnifiedGridChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <unifiedGridIntersector>${PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector}</unifiedGridIntersector>
        <unifiedGridWriter>${PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter}</unifiedGridWriter>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <tableName>EDGIS.PGE_CHANGED_CIRCUIT</tableName>
        <attributeName>CIRCUITID</attributeName>
        <UserIDFieldName>USERID</UserIDFieldName>
        <PostDateFieldName>POSTDATE</PostDateFieldName>
        <FeatureDatasetInclusion>EDGIS.ElectricDataset</FeatureDatasetInclusion>
        <FeatureClassExclusionCSV>EDGIS.SecOHConductor,EDGIS.SecondaryGeneration,EDGIS.SecUGConductor,EDGIS.SecondaryLoadPoint</FeatureClassExclusionCSV>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <tableName>EDGIS.PGE_CHANGED_SUBSTATION</tableName>
        <attributeName>SUBSTATIONID</attributeName>
        <UserIDFieldName>USERID</UserIDFieldName>
        <PostDateFieldName>POSTDATE</PostDateFieldName>
        <FeatureDatasetInclusion>EDGIS.SubstationDataset</FeatureDatasetInclusion>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriberCyme"
               service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <tableName>EDGIS.PGE_CHANGE_AGGREGATOR_HISTORY</tableName>
        <attributeName>CIRCUITID</attributeName>
        <AttributeFieldName>CHANGE_ID</AttributeFieldName>
        <ChangeAggregatorType>1</ChangeAggregatorType>
        <AlwaysInsert>True</AlwaysInsert>
        <PostDateFieldName>SUBMIT_DATE</PostDateFieldName>
        <FeatureDatasetInclusion>EDGIS.ElectricDataset</FeatureDatasetInclusion>
        <FeatureClassExclusionCSV>EDGIS.SecOHConductor,EDGIS.SecondaryGeneration,EDGIS.SecUGConductor,EDGIS.SecondaryLoadPoint</FeatureClassExclusionCSV>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriberCyme"
               service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <tableName>EDGIS.PGE_CHANGE_AGGREGATOR_HISTORY</tableName>
        <attributeName>SUBSTATIONID</attributeName>
        <AttributeFieldName>CHANGE_ID</AttributeFieldName>
        <ChangeAggregatorType>2</ChangeAggregatorType>
        <AlwaysInsert>True</AlwaysInsert>
        <PostDateFieldName>SUBMIT_DATE</PostDateFieldName>
        <FeatureDatasetInclusion>EDGIS.SubstationDataset</FeatureDatasetInclusion>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.changeManager"
               service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
               type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
      <parameters>
        <ChangeDetectors>
          <list>
            <!--              <item>${PGE.Common.ChangesManager.featureCompareChangeDetector}</item> -->
            <item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>
            <item>${PGE.Common.ChangesManager.versionedChangeDetectorSub}</item>
          </list>
        </ChangeDetectors>
        <ChangeSubscribers>
          <list>
            <item>${PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber}</item>
            <item>${PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriber}</item>
            <item>${PGE.BatchApplication.ChangeSubscribers.maintenancePlatChangeSubscriber}</item>
            <item>${PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriberCyme}</item>
            <item>${PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriber}</item>
            <item>${PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriberCyme}</item>
          </list>
        </ChangeSubscribers>
      </parameters>
    </component>
    <!-- ETL Schematics to EDER -->
    <component id="pge.etl.gridChangedTransferrer"
               service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDGIS.EDSCHEM_GridChanges</sourceTableName>
        <destTableName>EDGIS.PGE_SCHEMCHANGEDGRID</destTableName>
        <KeyAttribute>GRIDID</KeyAttribute>
        <AttributeFilter>
          <list>
            <item>GRIDID</item>
          </list>
        </AttributeFilter>
        <AttributeMapping>
          <dictionary>
            <entry key="GRIDID">MAPNUMBER</entry>
          </dictionary>
        </AttributeMapping>
        <RelatedTableName>EDGIS.Schematics_Unified_Grid</RelatedTableName>
        <RelatedTableKey>MAPNO</RelatedTableKey>
        <RelatedTableField>SCALE</RelatedTableField>
      </parameters>
    </component>
    <component id="pge.etl.guidTotalRowTransferrer"
               service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDGIS.EDSCHEM_GUIDTOTAL</sourceTableName>
        <destTableName>EDGIS.PGE_SCHEMGUIDTOTAL</destTableName>
        <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
      </parameters>
    </component>
    <component id="pge.etl.circuitChangesRowTransferrer"
               service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDGIS.EDSCHEM_CircuitChanges</sourceTableName>
        <destTableName>EDGIS.PGE_CHANGED_CIRCUIT</destTableName>
        <KeyAttribute>CIRCUITID</KeyAttribute>
        <DefaultDestAttributes>
          <dictionary>
            <entry key="USERID">SCHEMATICS</entry>
            <entry key="CHANGED_ACTION">UPDATE</entry>
            <entry key="POSTDATE"></entry>
          </dictionary>
        </DefaultDestAttributes>
      </parameters>
    </component>


    <component id="pge.etl.tablesTransferrerSchematicsToEDER"
             service="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
             type="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceSdeWorkspaceConnection>${pge.connections.schematicsSDEWorkspaceConnection}</sourceSdeWorkspaceConnection>
        <destSdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</destSdeWorkspaceConnection>
        <DeleteSourceRowsAfterTransfer>true</DeleteSourceRowsAfterTransfer>
        <rowTransferrers>
          <list>
            <!--<item>${pge.etl.guidTotalRowTransferrer}</item>-->
            <item>${pge.etl.gridChangedTransferrer}</item>
            <item>${pge.etl.circuitChangesRowTransferrer}</item>
          </list>
        </rowTransferrers>
      </parameters>
    </component>
    <component id="pge.etl.tablesTransferrers"
             service="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrers, PGE.BatchApplication.ChangeDetection.ETL"
             type="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrers, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <tablesTransferrers>
          <list>
            <!--<item>${pge.etl.tablesTransferrerEDERToSchematics}</item>-->
            <!--<item>${pge.etl.tablesTransferrerSchematicsToEDER}</item>-->
          </list>
        </tablesTransferrers>
      </parameters>
    </component>

  </components>
</configuration>