<configuration>
  <components>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesOutage</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.wipSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@WIP]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesWip101</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.wipAdoOracleConnectionDestination"
               service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[GIS_I@WIP]]></connectionString>
      </parameters>
    </component>
    <!-- ETL Schematics to EDER -->
    <component id="pge.etl.transformerOutageTotalRowTransferrer"
               service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDGIS.ZPGEVW_TRANSFORMER_OUTAGE</sourceTableName>
        <destTableName>WEBR.PGE_TRANSFORMER_STAGING</destTableName>
        <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
        <IgnoreExistingCheck>true</IgnoreExistingCheck>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
        <DisableSchemaTest>true</DisableSchemaTest>
      </parameters>
    </component>
    <component id="pge.etl.ederToWipEtl"
               service="PGE.Common.ChangesManagerShared.Interfaces.IExtractTransformLoad, PGE.Common.ChangesManagerShared"
               type="PGE.BatchApplication.ChangeDetection.ETL.EderToWipEtl, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <adoOracleConnectionDestination>${pge.connections.wipAdoOracleConnectionDestination}</adoOracleConnectionDestination>
        <sdeWorkspaceConnectionSource>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnectionSource>
        <sdeWorkspaceConnectionDestination>${pge.connections.wipSDEWorkspaceConnection}</sdeWorkspaceConnectionDestination>
        <rowTransferrers>
          <list>
            <item>${pge.etl.transformerOutageTotalRowTransferrer}</item>
          </list>
        </rowTransferrers>
        <outageTransformerTable>WEBR.PGE_TRANSFORMER</outageTransformerTable>
        <outageTransformerTableStaging>WEBR.PGE_TRANSFORMER_STAGING</outageTransformerTableStaging>
      </parameters>
    </component>
  </components>
</configuration>