<configuration>
  <components>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesOutage</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.fdiSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\egis@fdi_tst.sde]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesWip101</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.ederAdoOracleConnectionDestination"
               service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[GIS_I@EDER]]></connectionString>
      </parameters>
    </component>
    <!-- ETL Schematics to EDER -->
    <component id="pge.etl.fdiDeviceSumRowTransferrer"
               service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>FdrData.dbo.tblDevicesSum</sourceTableName>
        <destTableName>EDGIS.PGE_FDIDEVICESSUM</destTableName>
        <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
        <IgnoreExistingCheck>true</IgnoreExistingCheck>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
        <DisableSchemaTest>true</DisableSchemaTest>
      </parameters>
    </component>
    <component id="pge.etl.fdiDeviceWinRowTransferrer"
               service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>FdrData.dbo.tblDevicesWin</sourceTableName>
        <destTableName>EDGIS.PGE_FDIDEVICESWIN</destTableName>
        <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
        <IgnoreExistingCheck>true</IgnoreExistingCheck>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
        <DisableSchemaTest>true</DisableSchemaTest>
      </parameters>
    </component>
    <component id="pge.etl.fdiToEderEtl"
               service="PGE.Common.ChangesManagerShared.Interfaces.IExtractTransformLoad, PGE.Common.ChangesManagerShared"
               type="PGE.BatchApplication.ChangeDetection.ETL.FdiToEderEtl, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <adoOracleConnectionDestination>${pge.connections.ederAdoOracleConnectionDestination}</adoOracleConnectionDestination>
        <sdeWorkspaceConnectionSource>${pge.connections.fdiSDEWorkspaceConnection}</sdeWorkspaceConnectionSource>
        <sdeWorkspaceConnectionDestination>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnectionDestination>
        <rowTransferrers>
          <list>
            <item>${pge.etl.fdiDeviceSumRowTransferrer}</item>
            <item>${pge.etl.fdiDeviceWinRowTransferrer}</item>
          </list>
        </rowTransferrers>
        <fdiIbalView>EDGIS.ZPGEVW_FDIDEVICES</fdiIbalView>
        <fdiIbalTable>EDGIS.PGE_FAULTDUTYIBAL</fdiIbalTable>
      </parameters>
    </component>
  </components>
</configuration>