<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <components>
      <component id="pge.connections.ederSDEWorkspaceConnection"
                 service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
          <NonVersionedEditsVersionName>NonVersionedWritesLB</NonVersionedEditsVersionName>
        </parameters>
      </component>
      <component id="pge.connections.landbaseSDEWorkspaceConnection"
                 service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile><![CDATA[LBGIS_RO@LANDBASE]]></workspaceConnectionFile>
          <NonVersionedEditsVersionName>NonVersionedWritesLB</NonVersionedEditsVersionName>
        </parameters>
      </component>
      <component id="pge.changeShared.versionInfo"
                 service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
        <parameters>
          <versionLow>Daily_Change_Detection_Sync</versionLow>
          <versionHigh>SDE.DEFAULT</versionHigh>
          <versionTemp>Daily_Change_Temp</versionTemp>
          <versionTable>INTDATAARCH.PGE_GDBM_AH_Info</versionTable>
        <versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
          <versionWhereClause>USAGE is NULL OR USAGE NOT LIKE 'NOCD'</versionWhereClause>
        </parameters>
      </component>
      <component id="PGE.Common.ChangesManager.versionedChangeDetector"
                 service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
              type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.landbaseSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
          <DoNotRollVersions>false</DoNotRollVersions>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter"
                 service="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <outputTable>EDGIS.PGE_CHANGEDETECTIONGRIDS</outputTable>
          <outputFieldMapNumber>MAPNUMBER</outputFieldMapNumber>
          <outputFieldChangeDate>GRIDCHANGEDDATE</outputFieldChangeDate>
          <outputFieldScale>SCALE</outputFieldScale>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.maintenanceGridIntersector"
                 service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <gridMapNumberFieldName>MAPNUMBER</gridMapNumberFieldName>
          <gridScaleFieldName>MAPOFFICE</gridScaleFieldName>
          <gridFeatureClassName>EDGIS.MaintenancePlat</gridFeatureClassName>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector"
                 service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <gridMapNumberFieldName>MAPNO</gridMapNumberFieldName>
          <gridScaleFieldName>SCALE</gridScaleFieldName>
          <gridFeatureClassName>EDGIS.plat_unified</gridFeatureClassName>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.maintenancePlatChangeSubscriber"
                 service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
                 type="PGE.BatchApplication.ChangeSubscribers.MaintenancePlatChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <maintenanceGridIntersector>${PGE.BatchApplication.ChangeSubscribers.maintenanceGridIntersector}</maintenanceGridIntersector>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <mapOfficeFieldName>MAPOFFICE</mapOfficeFieldName>
          <mapNumberFieldName>MAPNUMBER</mapNumberFieldName>
          <modifiedMapsTableName>EDGIS.PGE_MODIFIEDMAPS</modifiedMapsTableName>
          <modifiedMapsValueFieldName>MODIFIEDMAPS_VALUE</modifiedMapsValueFieldName>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber"
                 service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
                 type="PGE.BatchApplication.ChangeSubscribers.UnifiedGridChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <unifiedGridIntersector>${PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector}</unifiedGridIntersector>
          <unifiedGridWriter>${PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter}</unifiedGridWriter>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriber"
                 service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <tableName>EDGIS.PGE_CHANGED_CIRCUIT</tableName>
          <attributeName>CIRCUITID</attributeName>
          <UserIDFieldName>USERID</UserIDFieldName>
          <PostDateFieldName>POSTDATE</PostDateFieldName>
          <FeatureDatasetInclusion>EDGIS.ElectricDataset</FeatureDatasetInclusion>
          <FeatureClassExclusionCSV>EDGIS.SecOHConductor,EDGIS.SecondaryGeneration,EDGIS.SecUGConductor,EDGIS.SecondaryLoadPoint</FeatureClassExclusionCSV>
        </parameters>
      </component>
      <component id="PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriber"
                 service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
                 type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
        <parameters>
          <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
          <tableName>EDGIS.PGE_CHANGED_SUBSTATION</tableName>
          <attributeName>SUBSTATIONID</attributeName>
          <UserIDFieldName>USERID</UserIDFieldName>
          <PostDateFieldName>POSTDATE</PostDateFieldName>
          <FeatureDatasetInclusion>EDGIS.SubstationDataset</FeatureDatasetInclusion>
        </parameters>
      </component>
      <component id="PGE.Common.ChangesManager.changeManager"
                 service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
                 type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
        <parameters>
          <ChangeDetectors>
            <list>
              <item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>
            </list>
          </ChangeDetectors>
          <ChangeSubscribers>
            <list>
              <item>${PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber}</item>
              <item>${PGE.BatchApplication.ChangeSubscribers.maintenancePlatChangeSubscriber}</item>
            </list>
          </ChangeSubscribers>
        </parameters>
      </component>
    </components>
</configuration>