<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="pge.connections.ederSDEWorkspaceConnection"
				   service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
				<NonVersionedEditsVersionName>NonVersionedWritesROBC</NonVersionedEditsVersionName>
			</parameters>
		</component>
		<component id="pge.connections.ederSubSDEWorkspaceConnection"
					 service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
					 type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<workspaceConnectionFile><![CDATA[GIS_I@EDERSUB]]></workspaceConnectionFile>
				<NonVersionedEditsVersionName>NonVersionedWritesROBC</NonVersionedEditsVersionName>
			</parameters>
		</component>
		<component id="pge.connections.ederAdoOracleConn"
					 service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
					 type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<connectionString><![CDATA[GIS_I@EDER]]></connectionString>
			</parameters>
		</component>
		<component id="pge.connections.ederSubAdoOracleConn"
					 service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
					 type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<connectionString><![CDATA[GIS_I@EDERSUB]]></connectionString>
			</parameters>
		</component>
		<component id="pge.changeShared.versionInfo"
				   service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
			<parameters>
				<versionLow>GIS_I.Change_Detection_Sync_ROBC</versionLow>
				<versionHigh>SDE.DEFAULT</versionHigh>
				<versionTemp>ROBC_Temp</versionTemp>
				<versionTable>INTDATAARCH.pge_gdbm_ah_info_ROBC_Test</versionTable>
				<versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
				<versionWhereClause><![CDATA[( (USAGE IS NULL OR USAGE NOT LIKE 'NOCD') AND  STATUS = 'C' AND FEAT_CLASSNAME NOT LIKE '%ANNO' )]]></versionWhereClause>
				<recordCount><![CDATA[500]]></recordCount>
				<!-- Custom Execution [START] -->
				<!-- Date Format [yyyy-MM-dd HH:mm:ss]  ==> 2022-02-01 20:17:06-->
				<startDate><![CDATA[2021-11-12 22:08:05]]></startDate>
				<endDate><![CDATA[2022-02-21 02:39:55]]></endDate>
				<!-- true: to update interface execution summary, false : to don't update -->
				<UpdateEXESumm>false</UpdateEXESumm>
				<!-- Custom Execution [END] -->
			</parameters>
		</component>
		<component id="pge.changeShared.ROBCCircuitUpdater"
				   service="PGE.Common.ChangesManagerShared.ROBC.CircuitUpdater, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.ROBC.CircuitUpdater, PGE.Common.ChangesManagerShared" >
			<parameters>
				<sdeEDERWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeEDERWorkspaceConnection>
				<sdeEDERSUBWorkspaceConnection>${pge.connections.ederSubSDEWorkspaceConnection}</sdeEDERSUBWorkspaceConnection>
				<adoEDEROracleConnection>${pge.connections.ederAdoOracleConn}</adoEDEROracleConnection>
				<adoEDERSUBOracleConnection>${pge.connections.ederSubAdoOracleConn}</adoEDERSUBOracleConnection>
				<EDERGeometricNetworkName>edgis.electricdataset\edgis.electricdistnetwork</EDERGeometricNetworkName>
				<EDERSUBGeometricNetworkName>edgis.substationdataset\edgis.subgeometricnetwork</EDERSUBGeometricNetworkName>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.ROBCChangeSubscriber"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
				   type="PGE.BatchApplication.ChangeSubscribers.ROBCChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<changeDetectionVersionInfo>${pge.changeShared.versionInfo}</changeDetectionVersionInfo>
				<CircuitUpdater>${pge.changeShared.ROBCCircuitUpdater}</CircuitUpdater>
				<fullRun>false</fullRun>
			</parameters>
		</component>
		<component id="pge.changeManagerShared.schemaRestrictor"
					 service="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared"
					 type="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared" >
			<parameters>
				<featureClassChangeRestrictionsCSV>
					<dictionary>
						<entry key="CapacitorBank"></entry>
						<entry key="DCConductor"></entry>
						<entry key="DCRectifier"></entry>
						<entry key="DCServiceLocation"></entry>
						<entry key="DeliveryPoint"></entry>
						<entry key="DistBusBar"></entry>
						<entry key="DynamicProtectiveDevice"></entry>
						<entry key="ElectricDistNetwork_Junctions"></entry>
						<entry key="ElectricStitchPoint"></entry>
						<entry key="FaultIndicator"></entry>
						<entry key="Fuse"></entry>
						<entry key="NetworkProtector"></entry>
						<entry key="OpenPoint"></entry>
						<entry key="PrimaryGeneration"></entry>
						<entry key="PrimaryMeter"></entry>
						<entry key="PrimaryRiser"></entry>
						<entry key="PriOHConductor"></entry>
						<entry key="PriUGConductor"></entry>
						<entry key="SecOHConductor"></entry>
						<entry key="SecondaryGeneration"></entry>
						<entry key="SecondaryLoadPoint"></entry>
						<entry key="SecUGConductor"></entry>
						<entry key="ServiceLocation"></entry>
						<entry key="SmartMeterNetworkDevice"></entry>
						<entry key="StepDown"></entry>
						<entry key="Streetlight"></entry>
						<entry key="Switch"></entry>
						<entry key="Tie"></entry>
						<entry key="Transformer"></entry>
						<entry key="TransformerLead"></entry>
						<entry key="VoltageRegulator"></entry>
						<entry key="ServicePoint"></entry>
					</dictionary>
				</featureClassChangeRestrictionsCSV>
			</parameters>
		</component>
		<component id="PGE.Common.ChangesManager.versionedChangeDetector"
					 service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
					type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<versionInfo>${pge.changeShared.versionInfo}</versionInfo>
				<DoNotRollVersions>false</DoNotRollVersions>
				<SchemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</SchemaRestrictor>
			</parameters>
		</component>
		<component id="PGE.Common.ChangesManager.changeManager"
				   service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
				   type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
			<parameters>
				<ChangeSubscribers>
					<list>
						<item>${PGE.BatchApplication.ChangeSubscribers.ROBCChangeSubscriber}</item>
					</list>
				</ChangeSubscribers>
				<ChangeDetectors>
					<list>
						<item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>
					</list>
				</ChangeDetectors>
			</parameters>
		</component>
	</components>
</configuration>