<configuration>
	<components>
		<component id="pge.connections.ederSDEWorkspaceConnection"
				   service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
				<NonVersionedEditsVersionName>NonVersionedWritesSchem</NonVersionedEditsVersionName>
			</parameters>
		</component>
		<component id="pge.connections.schematicsSDEWorkspaceConnection"
				   service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<workspaceConnectionFile><![CDATA[GIS_I@EDSCHM]]></workspaceConnectionFile>
				<NonVersionedEditsVersionName>NonVersionedWritesSchem101</NonVersionedEditsVersionName>
			</parameters>
		</component>
		<component id="pge.connections.landbaseSDEWorkspaceConnection"
				   service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<workspaceConnectionFile><![CDATA[LBGIS_RO@LANDBASE]]></workspaceConnectionFile>
				<NonVersionedEditsVersionName>Default</NonVersionedEditsVersionName>
			</parameters>
		</component>


		<component id="PGE.BatchApplication.ChangeSubscribers.circuitIDAttributeChangeSubscriber"
				   service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<tableName>EDGIS.PGE_CHANGED_CIRCUIT</tableName>
				<attributeName>CIRCUITID</attributeName>
				<UserIDFieldName>USERID</UserIDFieldName>
				<PostDateFieldName>POSTDATE</PostDateFieldName>
				<FeatureDatasetInclusion>EDGIS.ElectricDataset</FeatureDatasetInclusion>
				<FeatureClassExclusionCSV>EDGIS.SecOHConductor,EDGIS.SecondaryGeneration,EDGIS.SecUGConductor,EDGIS.SecondaryLoadPoint</FeatureClassExclusionCSV>
			</parameters>
		</component>
		<component id="pge.changeShared.versionInfo"
				   service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
			<parameters>
				<versionLow>Change_Detection_Sync_Schematics</versionLow>
				<versionHigh>SDE.DEFAULT</versionHigh>
				<versionTemp>Schematics_Temp</versionTemp>
				<versionTable>INTDATAARCH.PGE_GDBM_AH_Info</versionTable>
				<versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
				<versionWhereClause><![CDATA[( (USAGE IS NULL OR USAGE NOT LIKE 'NOCD') AND  STATUS = 'C' AND FEAT_CLASSNAME NOT LIKE '%ANNO' )]]></versionWhereClause>
				<recordCount><![CDATA[10]]></recordCount>
				<!-- Custom Execution [START] -->
				<!-- Date Format [yyyy-MM-dd HH:mm:ss]  ==> 2022-02-01 20:17:06-->
				<!--<startDate><![CDATA[2022-02-01 20:17:06]]></startDate>
				<endDate><![CDATA[2022-02-10 20:17:06]]></endDate>-->
				<!-- true: to update interface execution summary, false : to don't update -->
				<UpdateEXESumm>true</UpdateEXESumm>
				<!-- Custom Execution [END] -->
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.schematicsTablesReader"
				   service="PGE.BatchApplication.ChangeSubscribers.Schematics.SchematicsTablesReader, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.Schematics.SchematicsTablesReader, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<!--<postedSessionsView>SDE.PGE_SESSIONS_POSTED</postedSessionsView>-->
				<postedSessionsView>SDE.PGE_SESSIONS_POSTED_TIME</postedSessionsView>
				<versionInfo>${pge.changeShared.versionInfo}</versionInfo>
				<versionDeletePointFC>EDGIS.PGE_VERSIONDELETEPOINT</versionDeletePointFC>
				<versionDeleteLineFC>EDGIS.PGE_VERSIONDELETELINE</versionDeleteLineFC>
				<VersionsToUseStoredProc>SDE.VERSION_HISTORY_PKG.SET_VERSIONS_TO_USE</VersionsToUseStoredProc>
				<ReadESRIVersionsAsSessions>false</ReadESRIVersionsAsSessions>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.schematicsChangeSubscriber"
				   service="PGE.BatchApplication.ChangeSubscribers.SchematicsChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.SchematicsChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<schematicsTablesReader>${PGE.BatchApplication.ChangeSubscribers.schematicsTablesReader}</schematicsTablesReader>
				<schemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</schemaRestrictor>
				<gridWriter>${PGE.BatchApplication.ChangeSubscribers.schematicsMapGridWriter}</gridWriter>
				<changeSetFeatureWriter>${PGE.BatchApplication.ChangeSubscribers.changeSetFeatureWriter}</changeSetFeatureWriter>
				<SDEWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</SDEWorkspaceConnection>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.substationIDAttributeChangeSubscriber"
				   service="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.DistinctAttributeChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<tableName>EDGIS.PGE_CHANGED_SUBSTATION</tableName>
				<attributeName>SUBSTATIONID</attributeName>
				<UserIDFieldName>USERID</UserIDFieldName>
				<PostDateFieldName>POSTDATE</PostDateFieldName>
				<FeatureDatasetInclusion>EDGIS.SubstationDataset</FeatureDatasetInclusion>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter"
				   service="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<outputTable>EDGIS.PGE_SCHEMCHANGEDGRID</outputTable>
				<outputFieldMapNumber>MAPNUMBER</outputFieldMapNumber>
				<outputFieldChangeDate>GRIDCHANGEDDATE</outputFieldChangeDate>
				<outputFieldScale>SCALE</outputFieldScale>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.maintenanceGridIntersector"
				   service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<gridMapNumberFieldName>MAPNUMBER</gridMapNumberFieldName>
				<gridScaleFieldName>MAPOFFICE</gridScaleFieldName>
				<gridFeatureClassName>EDGIS.MaintenancePlat</gridFeatureClassName>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector"
				   service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<gridMapNumberFieldName>MAPNO</gridMapNumberFieldName>
				<gridScaleFieldName>SCALE</gridScaleFieldName>
				<gridFeatureClassName>EDGIS.Schematics_Unified_Grid</gridFeatureClassName>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.maintenancePlatChangeSubscriber"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
				   type="PGE.BatchApplication.ChangeSubscribers.MaintenancePlatChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<maintenanceGridIntersector>${PGE.BatchApplication.ChangeSubscribers.maintenanceGridIntersector}</maintenanceGridIntersector>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<mapOfficeFieldName>MAPOFFICE</mapOfficeFieldName>
				<mapNumberFieldName>MAPNUMBER</mapNumberFieldName>
				<modifiedMapsTableName>EDGIS.PGE_MODIFIEDMAPS</modifiedMapsTableName>
				<modifiedMapsValueFieldName>MODIFIEDMAPS_VALUE</modifiedMapsValueFieldName>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
				   type="PGE.BatchApplication.ChangeSubscribers.UnifiedGridChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<unifiedGridIntersector>${PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector}</unifiedGridIntersector>
				<unifiedGridWriter>${PGE.BatchApplication.ChangeSubscribers.unifiedGridWriter}</unifiedGridWriter>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.changeSetFeatureWriter"
				   service="PGE.BatchApplication.ChangeSubscribers.Schematics.ChangeSetFeatureWriter, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.Schematics.ChangeSetFeatureWriter, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<gridIntersector>${PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector}</gridIntersector>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<ChangeSetLineTable>EDGIS.PGE_EDERChangeSetLine</ChangeSetLineTable>
				<ChangeSetPointTable>EDGIS.PGE_EDERChangeSetPoint</ChangeSetPointTable>
			</parameters>
		</component>
		<component id="PGE.BatchApplication.ChangeSubscribers.schematicsMapGridWriter"
				   service="PGE.BatchApplication.ChangeSubscribers.Schematics.SchematicsMapGridWriter, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.Schematics.SchematicsMapGridWriter, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<gridIntersector>${PGE.BatchApplication.ChangeSubscribers.unifiedGridIntersector}</gridIntersector>
				<sessionZeroMapGridTable>EDGIS.PGE_EDERSession0MapGrid</sessionZeroMapGridTable>
				<postedSessionTable>EDGIS.PGE_EDERPostedSession</postedSessionTable>
				<LocalOfficeTable>EDGIS.PGE_LOPC</LocalOfficeTable>
				<ServiceAreaTable>EDGIS.SERVICEAREA</ServiceAreaTable>
			</parameters>
		</component>
		<component id="pge.changeManagerShared.schemaRestrictor"
				   service="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared" >
			<parameters>
				<featureClassChangeRestrictionsCSV>
					<dictionary>
						<entry key="CapacitorBank">CIRCUITID,CONVERSIONID,SYMBOLROTATION,OPERATINGNUMBER,STATUS,SUBTYPECD,SYMBOLNUMBER,TOTALKVAR</entry>
						<entry key="DeviceGroup">CONVERSIONID,DEVICEGROUPNAME,DEVICEGROUPTYPE,SYMBOLROTATION,STATUS,SUBTYPECD</entry>
						<entry key="DynamicProtectiveDevice">CIRCUITID,CONVERSIONID,SYMBOLROTATION,OPERATINGNUMBER,STATUS,SYMBOLNUMBER</entry>
						<entry key="ElectricDistNetwork_Junctions"></entry>
						<entry key="ElectricStitchPoint">CIRCUITID,CONVERSIONID,SYMBOLROTATION,STATUS,SUBTYPECD</entry>
						<entry key="FaultIndicator">CIRCUITID,CONVERSIONID,SYMBOLROTATION,STATUS,SUBTYPECD</entry>
						<entry key="Fuse">CIRCUITID,COMPLEXDEVICEIDC,CONVERSIONID,SYMBOLROTATION,LINKRATING,LINKTYPE,OPERATINGNUMBER,STATUS,SUBTYPECD</entry>
						<entry key="NetworkProtector">CIRCUITID,CONVERSIONID,SYMBOLROTATION,STATUS,SUBTYPECD</entry>
						<entry key="OpenPoint">CIRCUITID,CONVERSIONID,SYMBOLROTATION,RATEDAMPS,STATUS,SUBTYPECD</entry>
						<!--<entry key="PrimaryGeneration">CIRCUITID,CONVERSIONID,SYMBOLROTATION,STATUS,SUBTYPECD</entry>-->
						<entry key="ServiceLocation">CIRCUITID,CONVERSIONID,GENCATEGORY</entry>
						<entry key="PrimaryMeter">CIRCUITID,CONVERSIONID,SYMBOLROTATION,STATUS</entry>
						<entry key="PrimaryRiser">CIRCUITID,CONVERSIONID,SYMBOLROTATION,RISERUSAGE,STATUS</entry>
						<entry key="StepDown">CIRCUITID,CONVERSIONID,SYMBOLROTATION,STATUS</entry>
						<entry key="Switch">CIRCUITID,CONVERSIONID,SYMBOLROTATION,NORMALPOSITIONA,NORMALPOSITIONB,NORMALPOSITIONC,OPERATINGNUMBER,STATUS,SYMBOLNUMBER</entry>
						<entry key="Tie">CIRCUITID,CONVERSIONID,SYMBOLROTATION,STATUS</entry>
						<entry key="Transformer">CIRCUITID,CONVERSIONID,SYMBOLROTATION,OPERATINGNUMBER,STATUS,SYMBOLNUMBER</entry>
						<entry key="VoltageRegulator">CIRCUITID,CONVERSIONID,SYMBOLROTATION,OPERATINGNUMBER,STATUS,SYMBOLNUMBER</entry>
						<entry key="DistBusBar">CIRCUITID,STATUS</entry>
						<entry key="PriOHConductor">CIRCUITID,CONVERSIONID,LABELTEXT2,STATUS,SUBTYPECD,CIRCUITCOLOR</entry>
						<entry key="PriUGConductor">CIRCUITID,CONVERSIONID,LABELTEXT2,STATUS,SUBTYPECD,CIRCUITCOLOR</entry>
						<entry key="SecondaryOHConductor"></entry>
						<entry key="SecondaryUGConductor"></entry>
						<entry key="TransformerLead"></entry>
					</dictionary>
				</featureClassChangeRestrictionsCSV>
			</parameters>
		</component>
		<component id="PGE.Common.ChangesManager.versionedChangeDetector"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
				type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<versionInfo>${pge.changeShared.versionInfo}</versionInfo>
				<DoNotRollVersions>false</DoNotRollVersions>
				<SchemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</SchemaRestrictor>
			</parameters>
		</component>
		<component id="PGE.Common.ChangesManager.changeManager"
				   service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
				   type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
			<parameters>
				<ChangeSubscribers>
        	<list>
            <item>${PGE.BatchApplication.ChangeSubscribers.unifiedGridChangeSubscriber}</item>
						<item>${PGE.BatchApplication.ChangeSubscribers.schematicsChangeSubscriber}</item>
					</list>
				</ChangeSubscribers>
				<ChangeDetectors>
					<list>
						<item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>
					</list>
				</ChangeDetectors>
			</parameters>
		</component>


		<!-- ETL EDER To Schematics -->
		<component id="pge.etl.changeSetPointRowTransferrer"
				   service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
				   type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
			<parameters>
				<sourceTableName>EDGIS.PGE_EDERChangeSetPoint</sourceTableName>
				<destTableName>EDGIS.EDSCHEM_EDERChangeSetPoint</destTableName>
				<KeyAttribute>FEATUREGUID</KeyAttribute>
			</parameters>
		</component>
		<component id="pge.etl.changeSetLineRowTransferrer"
				   service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
				   type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
			<parameters>
				<sourceTableName>EDGIS.PGE_EDERChangeSetLine</sourceTableName>
				<destTableName>EDGIS.EDSCHEM_EDERChangeSetLine</destTableName>
				<KeyAttribute>FEATUREGUID</KeyAttribute>
			</parameters>
		</component>
		<component id="pge.etl.sessionZeroRowTransferrer"
				   service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
				   type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
			<parameters>
				<sourceTableName>EDGIS.PGE_EDERSession0MapGrid</sourceTableName>
				<destTableName>EDGIS.EDSCHEM_EDERSession0MapGrids</destTableName>
				<KeyAttribute>MAPNO</KeyAttribute>
			</parameters>
		</component>
		<component id="pge.etl.postedSessionRowTransferrer"
				   service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
				   type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
			<parameters>
				<sourceTableName>EDGIS.PGE_EDERPostedSession</sourceTableName>
				<destTableName>EDGIS.EDSCHEM_PostedSession</destTableName>
				<KeyAttribute>SESSIONID</KeyAttribute>
			</parameters>
		</component>
		<component id="pge.etl.tablesTransferrerEDERToSchematics"
				 service="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
				 type="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
			<parameters>
				<sourceSdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sourceSdeWorkspaceConnection>
				<destSdeWorkspaceConnection>${pge.connections.schematicsSDEWorkspaceConnection}</destSdeWorkspaceConnection>
				<DeleteSourceRowsAfterTransfer>true</DeleteSourceRowsAfterTransfer>
				<rowTransferrers>
					<list>
						<item>${pge.etl.postedSessionRowTransferrer}</item>
						<item>${pge.etl.sessionZeroRowTransferrer}</item>
						<item>${pge.etl.changeSetLineRowTransferrer}</item>
						<item>${pge.etl.changeSetPointRowTransferrer}</item>
					</list>
				</rowTransferrers>
			</parameters>
		</component>
		<component id="pge.etl.tablesTransferrers"
				 service="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrers, PGE.BatchApplication.ChangeDetection.ETL"
				 type="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrers, PGE.BatchApplication.ChangeDetection.ETL" >
			<parameters>
				<tablesTransferrers>
					<list>
						<item>${pge.etl.tablesTransferrerEDERToSchematics}</item>
					</list>
				</tablesTransferrers>
			</parameters>
		</component>
	</components>
</configuration>