<configuration>
  <components>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWrites</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.ederSubSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDERSUB]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesEDERSUB</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.settingsAdoOracleConnection"
               service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[EDSETT@EDAUX]]></connectionString>
      </parameters>
    </component>
    <component id="pge.changeShared.versionInfo"
               service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
      <parameters>
        <versionLow>Change_Detection_Sync_Settings</versionLow>
        <versionHigh>SDE.DEFAULT</versionHigh>
        <versionTemp>Settings_Temp</versionTemp>
        <versionTable>INTDATAARCH.PGE_GDBM_AH_Info</versionTable>
        <versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
        <versionWhereClause><![CDATA[( (USAGE IS NULL OR USAGE NOT LIKE 'NOCD') AND  STATUS = 'C' AND FEAT_CLASSNAME NOT LIKE '%ANNO' )]]></versionWhereClause>
		<recordCount><![CDATA[10000]]></recordCount>
        <!-- Custom Execution [START] -->
        <!-- Date Format [yyyy-MM-dd HH:mm:ss]  ==> 2022-02-01 20:17:06-->
        <startDate><![CDATA[2021-11-14 22:08:05]]></startDate>
        <endDate><![CDATA[2022-02-21 02:39:55]]></endDate>
        <!-- true: to update interface execution summary, false : to don't update -->
        <UpdateEXESumm>true</UpdateEXESumm>
        <!-- Custom Execution [END] -->
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.settingsDatabase"
               service="PGE.BatchApplication.ChangeSubscribers.Settings.SettingsDatabase, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.Settings.SettingsDatabase, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <OracleWorkspaceConnection>${pge.connections.settingsAdoOracleConnection}</OracleWorkspaceConnection>
        <updateStoredProc>SM_CHANGE_DETECTION_PKG.SP_SM_DEVICE_DETECTION</updateStoredProc>
        <storedProcStatusView>EDSETT.SM_CHANGE_DETECTION_STATUS_VW</storedProcStatusView>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.settingsChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.SettingsChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.SettingsChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <schemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</schemaRestrictor>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <settingsChangeManager>${PGE.BatchApplication.ChangeSubscribers.settingsChangeManager}</settingsChangeManager>
        <settingsDatabase>${PGE.BatchApplication.ChangeSubscribers.settingsDatabase}</settingsDatabase>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.settingsChangeManager"
               service="PGE.BatchApplication.ChangeSubscribers.Settings.SettingsChangeManager, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.Settings.SettingsChangeManager, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <childObjectClassesCSV>EDGIS.CONTROLLER,EDGIS.SUBRELAYCONTROL,EDGIS.SUBVOLTAGEREGULATORUNIT</childObjectClassesCSV>
        <childFeatureClassesCSV>EDGIS.SUBCAPACITORBANK,EDGIS.SUBSWITCH</childFeatureClassesCSV>
        <!--/*Changes for ENOS to SAP migration -EDER to Settings- change detection Start.. primarygeneration will be deleted from below line and EDGIS.GENERATIONINFO will be added.*/-->
        <!--<parentFeatureClassesCSV>EDGIS.SUBVOLTAGEREGULATOR,EDGIS.CAPACITORBANK,EDGIS.DYNAMICPROTECTIVEDEVICE,EDGIS.SWITCH,EDGIS.SUBINTERRUPTINGDEVICE,EDGIS.NETWORKPROTECTOR,EDGIS.SUBTRANSFORMERBANK,EDGIS.PRIMARYMETER,EDGIS.SECUGCONDUCTOR,EDGIS.SECOHCONDUCTOR,EDGIS.PRIOHCONDUCTOR,EDGIS.PRIUGCONDUCTOR</parentFeatureClassesCSV>-->
        <parentFeatureClassesCSV>EDGIS.SUBVOLTAGEREGULATOR,EDGIS.CAPACITORBANK,EDGIS.DYNAMICPROTECTIVEDEVICE,EDGIS.SWITCH,EDGIS.SUBINTERRUPTINGDEVICE,EDGIS.NETWORKPROTECTOR,EDGIS.SUBTRANSFORMERBANK,EDGIS.PRIMARYMETER,EDGIS.SECUGCONDUCTOR,EDGIS.SECOHCONDUCTOR,EDGIS.PRIOHCONDUCTOR,EDGIS.PRIUGCONDUCTOR,EDGIS.GENERATIONINFO</parentFeatureClassesCSV>
        <!--/*Changes for ENOS to SAP migration -EDER to Settings- change detection End..*/-->
        <grandparentParentObjectClassesCSV>EDGIS.VOLTAGEREGULATOR-EDGIS.VOLTAGEREGULATORUNIT,EDGIS.SUBTRANSFORMERBANK-EDGIS.SUBLOADTAPCHANGER</grandparentParentObjectClassesCSV>
        <childObjectAttributesCSV>CONTROLLERTYPE,RELAYTYPE,RELAYCONTROLTYPE</childObjectAttributesCSV>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
      </parameters>
    </component>
    <component id="pge.changeManagerShared.schemaRestrictor"
               service="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared" >
      <parameters>
        <featureClassChangeRestrictionsCSV>
          <dictionary>

            <!--/*Changes for ENOS to SAP migration -EDER to Settings- change detection Start..Below entry will be added. */-->
            <entry key="GenerationInfo">SAPEGINOTIFICATION,PROJECTNAME,GENTYPE,PROGRAMTYPE,EFFRATINGMACHKW,EFFRATINGINVKW,EFFRATINGMACHKVA,EFFRATINGINVKVA,BACKUPGEN,MAXSTORAGECAPACITY,CHARGEDEMANDKW,POWERSOURCE</entry>
            <!--/*Changes for ENOS to SAP migration -EDER to Settings- change detection End..*/-->
            <!--/*Powerbase to GIS changes start 9/8/2021*/-->
            <!--<entry key="Controller">CONTROLLERTYPE</entry>
            <entry key="CapacitorBank">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="DynamicProtectiveDevice">DIVISION,DISTRICT,OPERATINGNUMBER</entry>-->
            <entry key="NetworkProtector">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <!--<entry key="Switch">DIVISION,DISTRICT,SWITCHTYPE,OPERATINGNUMBER</entry>
            <entry key="VoltageRegulatorUnit">OPERATINGNUMBER,BANKCODE</entry>-->
            <!--<entry key="VoltageRegulatorUnit">OPERATINGNUMBER,BANKCODE</entry>
            <entry key="VoltageRegulator">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="SUBRelayControl">RELAYTYPE</entry>
            <entry key="SUBInterruptingDevice">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="SUBLoadTapChanger"></entry>
            <entry key="SUBSwitch">DIVISION,DISTRICT,OPERATINGNUMBER,SWITCHTYPE</entry>
            <entry key="SUBTransformerBank">DIVISION,DISTRICT,OPERATINGNUMBER</entry>
            <entry key="SUBVoltageRegulatorUnit">RELAYCONTROLTYPE</entry>-->
            <!--/*Changes for ENOS to SAP migration -EDER to Settings- change detection Start..*/-->
            <!--<entry key="PrimaryMeter"></entry>-->
            <!--<entry key="PrimaryMeter">DIVISION,DISTRICT,OPERATINGNUMBER</entry>-->
            <!--/*Powerbase to GIS changes end 9/8/2021*/-->
            <!--/*Changes for ENOS to SAP migration -EDER to Settings- change detection End..*/-->
            <entry key="PrimaryGeneration"></entry>
            <entry key="SecUGConductor"></entry>
            <entry key="PriUGConductor"></entry>
            <entry key="SecOHConductor"></entry>
            <entry key="PriOHConductor"></entry>
          </dictionary>
        </featureClassChangeRestrictionsCSV>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.versionedChangeDetector"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
            type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>false</DoNotRollVersions>
        <SchemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</SchemaRestrictor>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.versionedChangeDetectorSub"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
            type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSubSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>false</DoNotRollVersions>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.changeManager"
               service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
               type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
      <parameters>
        <ChangeSubscribers>
          <list>
            <item>${PGE.BatchApplication.ChangeSubscribers.settingsChangeSubscriber}</item>
          </list>
        </ChangeSubscribers>
        <ChangeDetectors>
          <list>
            <item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>
            <item>${PGE.Common.ChangesManager.versionedChangeDetectorSub}</item>
          </list>
        </ChangeDetectors>
      </parameters>

    </component>
  </components>
</configuration>