<configuration>
  <components>

    <component id="pge.connections.adoOleDbConnectionDestination"
           service="PGE.Common.ChangesManagerShared.AdoOleDbConnection, PGE.Common.ChangesManagerShared"
           type="PGE.Common.ChangesManagerShared.AdoOleDbConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[GIS_I@EDER]]></connectionString>
      </parameters>
    </component>

    <component id="pge.connections.adoOracleConnectionDestination"
           service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
           type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[GIS_I_WRITE@EDER]]></connectionString>
      </parameters>
    </component>

    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesSL</NonVersionedEditsVersionName>
      </parameters>
    </component>

    <component id="pge.changeManagerShared.minerSession"
               service="PGE.Common.ChangesManagerShared.MinerSession, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.MinerSession, PGE.Common.ChangesManagerShared" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <adoOleDbConnection>${pge.connections.adoOleDbConnectionDestination}</adoOleDbConnection>
      </parameters>
    </component>

    <component id="pge.changeShared.versionInfo"
               service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
      <parameters>
        <versionLow>Change_Detection_Sync_Streetlights</versionLow>
        <versionHigh>SDE.DEFAULT</versionHigh>
        <versionTemp>Weekly_Cd_Streetlights_Temp</versionTemp>
        <versionTable>INTDATAARCH.PGE_GDBM_AH_Info</versionTable>
        <versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
        <versionWhereClause>USAGE is NULL OR USAGE NOT LIKE 'NOCD'</versionWhereClause>
      </parameters>
    </component>

    <component id="pge.changeManagerShared.streetlightCcb"
       service="PGE.Common.ChangesManagerShared.Streetlights.StreetlightCcb, PGE.Common.ChangesManagerShared"
       type="PGE.Common.ChangesManagerShared.Streetlights.StreetlightCcb, PGE.Common.ChangesManagerShared" >
      <parameters>
        <adoOracleConnection>${pge.connections.adoOracleConnectionDestination}</adoOracleConnection>
      </parameters>
    </component>

    <component id="pge.changeManagerShared.streetlightSynchronizer"
               service="PGE.Common.ChangesManagerShared.Streetlights.StreetlightSynchronizer, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.Streetlights.StreetlightSynchronizer, PGE.Common.ChangesManagerShared" >
      <parameters>
        <streetlightCcb>${pge.changeManagerShared.streetlightCcb}</streetlightCcb>
        <minerSession>${pge.changeManagerShared.minerSession}</minerSession>
        <configFile>StreetlightChangeSubscriber.app.config</configFile>
      </parameters>
    </component>

    <component id="PGE.BatchApplication.ChangeSubscribers.streetlightChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.StreetlightChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.StreetlightChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <streetlightSynchronizer>${pge.changeManagerShared.streetlightSynchronizer}</streetlightSynchronizer>
      </parameters>
    </component>

    <component id="pge.changeManagerShared.schemaRestrictor"
               service="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared" >
      <parameters>
        <featureClassChangeRestrictionsCSV>
          <dictionary>
            <entry key="Streetlight"></entry>
          </dictionary>
        </featureClassChangeRestrictionsCSV>
      </parameters>
    </component>

    <component id="PGE.Common.ChangesManager.versionedChangeDetector"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
            type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>false</DoNotRollVersions>
        <SchemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</SchemaRestrictor>
      </parameters>
    </component>

    <component id="PGE.Common.ChangesManager.changeManager"
               service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
               type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
      <parameters>
        <ChangeSubscribers>
          <list>
            <item>${PGE.BatchApplication.ChangeSubscribers.streetlightChangeSubscriber}</item>
          </list>
        </ChangeSubscribers>
        <ChangeDetectors>
          <list>
            <item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>
          </list>
        </ChangeDetectors>
      </parameters>
    </component>
  </components>

</configuration>