<configuration>
  <components>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWrites</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.connections.tlmAdoOracleConnection"
               service="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.AdoOracleConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <connectionString><![CDATA[EDTLM@EDAUX]]></connectionString>
      </parameters>
    </component>
    <component id="pge.changeShared.versionInfo"
               service="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.ChangeDetectionVersionInfo, PGE.Common.ChangesManagerShared" >
      <parameters>
        <versionLow>Change_Detection_Sync_Tlm</versionLow>
        <versionHigh>SDE.DEFAULT</versionHigh>
        <versionTemp>Tlm_Temp</versionTemp>
        <versionTable>INTDATAARCH.PGE_GDBM_AH_Info</versionTable>
        <versionTableConnStr>INTDATAARCH@EDGMC</versionTableConnStr>
        <versionWhereClause>USAGE is NULL OR USAGE NOT LIKE 'NOCD'</versionWhereClause>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.tlmDatabase"
               service="PGE.BatchApplication.ChangeSubscribers.Tlm.TlmDatabase, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.Tlm.TlmDatabase, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <OracleWorkspaceConnection>${pge.connections.tlmAdoOracleConnection}</OracleWorkspaceConnection>
        <updateStoredProc>TLM_CD_MGMT.PROCESSXML</updateStoredProc>
        <storedProcStatusView>asdf</storedProcStatusView>
      </parameters>
    </component>
    <component id="PGE.BatchApplication.ChangeSubscribers.tlmChangeSubscriber"
               service="PGE.BatchApplication.ChangeSubscribers.TlmChangeSubscriber, PGE.BatchApplication.ChangeSubscribers"
               type="PGE.BatchApplication.ChangeSubscribers.TlmChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
      <parameters>
        <schemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</schemaRestrictor>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <tlmDatabase>${PGE.BatchApplication.ChangeSubscribers.tlmDatabase}</tlmDatabase>
      </parameters>
    </component>
    <component id="pge.changeManagerShared.schemaRestrictor"
               service="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SchemaRestrictor, PGE.Common.ChangesManagerShared" >
      <parameters>
        <featureClassChangeRestrictionsCSV>
          <dictionary>
            <entry key="ServicePoint"></entry>
            <entry key="Transformer"></entry>
            <entry key="TransformerUnit"></entry>
          </dictionary>
        </featureClassChangeRestrictionsCSV>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.versionedChangeDetector"
               service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
            type="PGE.Common.ChangesManager.VersionedChangeDetector,PGE.Common.ChangesManager" >
      <parameters>
        <sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
        <versionInfo>${pge.changeShared.versionInfo}</versionInfo>
        <DoNotRollVersions>false</DoNotRollVersions>
        <SchemaRestrictor>${pge.changeManagerShared.schemaRestrictor}</SchemaRestrictor>
      </parameters>
    </component>
    <component id="PGE.Common.ChangesManager.changeManager"
               service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
               type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
      <parameters>
        <ChangeSubscribers>
          <list>
            <item>${PGE.BatchApplication.ChangeSubscribers.tlmChangeSubscriber}</item>
          </list>
        </ChangeSubscribers>
        <ChangeDetectors>
          <list>
            <item>${PGE.Common.ChangesManager.versionedChangeDetector}</item>
          </list>
        </ChangeDetectors>
      </parameters>

    </component>
  </components>
</configuration>