<configuration>
  <components>
    <component id="pge.connections.tlmOleDbWorkspaceConnectionSource"
               service="PGE.Common.ChangesManagerShared.OleDbWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.OleDbWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\Conn\EDTLM@EDAUX_TS.odc]]></workspaceConnectionFile>
      </parameters>
    </component>
    <component id="pge.connections.ederSDEWorkspaceConnection"
               service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
               type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
      <parameters>
        <workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
        <NonVersionedEditsVersionName>NonVersionedWritesTlmEtl</NonVersionedEditsVersionName>
      </parameters>
    </component>
    <component id="pge.etl.tlmRowTransferrer"
               service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceTableName>EDTLM.TRF_PEAK_GIS_V</sourceTableName>
        <destTableName>EDGIS.PGE_EDTLMLOAD</destTableName>
        <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
        <IgnoreExistingCheck>true</IgnoreExistingCheck>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
      </parameters>
    </component>
    <component id="pge.etl.tlmToEDERETL"
               service="PGE.Common.ChangesManagerShared.Interfaces.IExtractTransformLoad, PGE.Common.ChangesManagerShared"
               type="PGE.BatchApplication.ChangeDetection.ETL.TlmToEderEtl, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <oleDbWorkspaceConnectionSource>${pge.connections.tlmOleDbWorkspaceConnectionSource}</oleDbWorkspaceConnectionSource>
        <sdeDbWorkspaceConnectionDestination>${pge.connections.ederSDEWorkspaceConnection}</sdeDbWorkspaceConnectionDestination>
        <rowTransferrer>${pge.etl.tlmRowTransferrer}</rowTransferrer>
        <storedProc>EDGIS.SP_EDTLM_UPDATE_PEAKS</storedProc>
      </parameters>
    </component>

  </components>
</configuration>