<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="pge.connections.webrSDEWorkspaceConnection"
				   service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<workspaceConnectionFile><![CDATA[WEBR@WIP]]></workspaceConnectionFile>
				<!-- Use CData if your path has ampersands (&)s <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\webr@edgisw1p.sde]]></workspaceConnectionFile> -->
			</parameters>
		</component>
		<component id="pge.connections.ederSDEWorkspaceConnection"
				   service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
			<parameters>
				<workspaceConnectionFile><![CDATA[GIS_I@EDER]]></workspaceConnectionFile>
				<!-- Use CData if your path has ampersands (&)s <workspaceConnectionFile><![CDATA[D:\Program Files (x86)\Miner and Miner\PG&E Custom Components\Change Detection\gis_i@edgisa1d.sde]]></workspaceConnectionFile> -->
				<NonVersionedEditsVersionName>NonVersionedWritesWIP</NonVersionedEditsVersionName>
			</parameters>
		</component>
		<component id="PGE.Common.ChangesManager.mdbManager"
				   service="PGE.Common.ChangesManager.IExtractGDBManager,PGE.Common.ChangesManager"
				   type="PGE.Common.ChangesManager.MDBManager,PGE.Common.ChangesManager" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.webrSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<featureClassName>WEBR.WIP_SPVW</featureClassName>
				<mdbLocation>c:\yasha\w1pt_test.mdb</mdbLocation>
				<!--          <mdbLocation>\\rcedgis-nas01\edgisnasfs01\Data\WIP_FGDBS\wip.mdb</mdbLocation> -->
			</parameters>
		</component>
		<component id="PGE.Common.ChangesManager.featureCompareChangeDetector"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeDetector, PGE.Common.ChangesManagerShared"
				   type="PGE.Common.ChangesManager.FeatureCompareChangeDetector,PGE.Common.ChangesManager" >
			<parameters>
				<extractGdbManager>${PGE.Common.ChangesManager.mdbManager}</extractGdbManager>
				<DoNotRollFGDBs>false</DoNotRollFGDBs>
			</parameters>
		</component>
		<component id="pge.BatchApplication.changeSubscribers.unifiedGridWriter"
				   service="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.GridWriter, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<outputTable>EDGIS.PGE_CHANGEDETECTIONGRIDS</outputTable>
				<outputFieldMapNumber>MAPNUMBER</outputFieldMapNumber>
				<outputFieldChangeDate>GRIDCHANGEDDATE</outputFieldChangeDate>
				<outputFieldScale>SCALE</outputFieldScale>
			</parameters>
		</component>
		<component id="pge.BatchApplication.changeSubscribers.maintenanceGridIntersector"
				   service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<gridMapNumberFieldName>MAPNUMBER</gridMapNumberFieldName>
				<gridScaleFieldName>MAPOFFICE</gridScaleFieldName>
				<gridFeatureClassName>EDGIS.MaintenancePlat</gridFeatureClassName>
			</parameters>
		</component>
		<component id="pge.BatchApplication.changeSubscribers.unifiedGridIntersector"
				   service="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers"
				   type="PGE.BatchApplication.ChangeSubscribers.GridIntersector, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<gridMapNumberFieldName>MAPNO</gridMapNumberFieldName>
				<gridScaleFieldName>SCALE</gridScaleFieldName>
				<gridFeatureClassName>EDGIS.plat_unified</gridFeatureClassName>
			</parameters>
		</component>
		<component id="pge.BatchApplication.changeSubscribers.UpdateWIPChangeSubscriber"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
				   type="PGE.BatchApplication.ChangeSubscribers.UpdateWIPChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<sdewberWorkspaceConnection>${pge.connections.webrSDEWorkspaceConnection}</sdewberWorkspaceConnection>
				<inputTable>WEBR.PGE_PMORDER</inputTable>
				<inputFeatureclass>WEBR.WIP_SPVW </inputFeatureclass>
				<inputFieldInstallJobNumber>InstallJobNumber</inputFieldInstallJobNumber>
				<outputTable>EDGIS.PGE_WIPCHANGES</outputTable>
				<outputFieldInstallJobNumber>InstallJobNumber</outputFieldInstallJobNumber>
				<outputFieldChangeDate>CHANGE_DATE</outputFieldChangeDate>
				<outputFieldWIPID>WIP_OBJECTID</outputFieldWIPID>
			</parameters>
		</component>
		<component id="pge.BatchApplication.changeSubscribers.maintenancePlatChangeSubscriber"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
				   type="PGE.BatchApplication.ChangeSubscribers.MaintenancePlatChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<maintenanceGridIntersector>${pge.BatchApplication.changeSubscribers.maintenanceGridIntersector}</maintenanceGridIntersector>
				<sdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sdeWorkspaceConnection>
				<mapOfficeFieldName>MAPOFFICE</mapOfficeFieldName>
				<mapNumberFieldName>MAPNUMBER</mapNumberFieldName>
				<modifiedMapsTableName>EDGIS.PGE_MODIFIEDMAPS</modifiedMapsTableName>
				<modifiedMapsValueFieldName>MODIFIEDMAPS_VALUE</modifiedMapsValueFieldName>
			</parameters>
		</component>
		<component id="pge.BatchApplication.changeSubscribers.unifiedGridChangeSubscriber"
				   service="PGE.Common.ChangesManagerShared.Interfaces.IChangeSubscriber, PGE.Common.ChangesManagerShared"
				   type="PGE.BatchApplication.ChangeSubscribers.UnifiedGridChangeSubscriber, PGE.BatchApplication.ChangeSubscribers" >
			<parameters>
				<unifiedGridIntersector>${pge.BatchApplication.changeSubscribers.unifiedGridIntersector}</unifiedGridIntersector>
				<unifiedGridWriter>${pge.BatchApplication.changeSubscribers.unifiedGridWriter}</unifiedGridWriter>
			</parameters>
		</component>
		<component id="PGE.Common.ChangesManager.changeManager"
				   service="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager"
				   type="PGE.Common.ChangesManager.ChangeManager,PGE.Common.ChangesManager" >
			<parameters>
				<ChangeDetectors>
					<list>
						<item>${PGE.Common.ChangesManager.featureCompareChangeDetector}</item>
					</list>
				</ChangeDetectors>
				<ChangeSubscribers>
					<list>
						<item>${pge.BatchApplication.changeSubscribers.unifiedGridChangeSubscriber}</item>
						<item>${pge.BatchApplication.changeSubscribers.maintenancePlatChangeSubscriber}</item>
						<item>${pge.BatchApplication.changeSubscribers.UpdateWIPChangeSubscriber}</item>
					</list>
				</ChangeSubscribers>
			</parameters>
		</component>
	</components>
</configuration>
