<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--EDER SDE Connection File Path-->
    <add key="CONN_EDGIS_FILE" value="C:\Users\v1rr\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\edgisq9q@edgis.sde" />
    <!--LANDBASE SDE Connection File Path-->
    <add key="CONN_LBGIS_FILE" value="C:\Users\v1rr\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\LBGIS_RO@LANDBASE.sde" />
    <!--Version Name in which data loading is required-->
    <add key="VERSION_NAME" value="" />

    <add key="LOGPATH" value="" />
    <add key="SCRIPT_PATH" value="" />


    <!--Coloumn Name - Fixed-->
    <add key="Query_SubFields" value="" />    

    <add key="UPDATE_FEATURE_CLASS" value="EDGIS.NETWORKPROTECTOR" />

    <add key="HFTD_FIA_TABLE" value="EDGIS.PGE_HFTD_FIA_VALUES"/>
    <add key="HFTD_FIA_TABLE_WHERE_CLAUSE" value="FEATURE_CLASS_NAME ='EDGIS.NETWORKPROTECTOR' AND TO_CHAR(LAST_UPDATED, 'mm/dd/yyyy') NOT IN ('04/03/2020')" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>