<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.PowerBI.Api" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
</packages>