<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="C:\PGE_Reports\" />
    
    <!-- NonGeoCoded_SP_Replacement -->
    <add key="InputTransformerGlobalidsList" value="Transformer_Globalids.txt" />


    <!-- GeoCoading_Validations -->
    <add key="Gis_ServiceLocation_fc" value="EDGIS.ServiceLocation" />
    <add key="Gis_ServicPoint" value="EDGIS.ServicePoint" />
    <add key="GeoCode_fc" value="Geocoding_Result" />
    <add key="Lansbase_fc" value="CentralCoast_Corelogic" />
    <add key="GeoCode_Score" value="score=100 " />
    <!-- CleanupCase1_2_Reports -->
    <add key="Landbase_Corelogic" value="CV_Corelogic_1" />
    <add key="InputLogReportName" value="14-4-7-25_PGE_ReGeoCodingOBJECTID _ 1 and OBJECTID _ 2004.CSV" />
    <!-- ServicePnt_Input_preparation -->
    <add key="streetName_parse" value=" APT , BLDG , UNIT, #, STE , LOT, FLAT , FLT , UNT , COUNTRY , REAR , (HSE MTR) , SPC , SP , MTR , SUITE , REAR , REAR, FRONT , FRONT, UPPR , UPPR, LOWR , LOWR" />


  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>