<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="ConnectionStr" connectionString="DATA SOURCE=EDGISQ6Q;PASSWORD=edsettTemp;PERSIST SECURITY INFO=True;USER ID=EDSETT;Connection Timeout=5000" />
  </connectionStrings>

  <appSettings>
    <add key="filePeakLoad" value="\\ffshare01-nas\etgisshare\Applications\Temp\ManagedService_Developement\Electric\ED\Shyam\CSV\EDGIS-PeakLoad-Final.csv" />
    <add key="fileFeederPeak" value="\\ffshare01-nas\etgisshare\Applications\Temp\ManagedService_Developement\Electric\ED\Shyam\CSV\CircuitGUID.csv" />
    <add key="fileEDPIFeeder" value="\\ffshare01-nas\etgisshare\Applications\Temp\ManagedService_Developement\Electric\ED\Shyam\CSV\CircuitCapabilities.xlsx" />

    <!--<add key="filePeakLoad" value="\\ffshare01-nas\etgisshare\Applications\Temp\ManagedService_Developement\Electric\ED\Deliverables_Q2_(Apr-Jun)_2017\To_Onsite_Deliverables\ED\Settings\Load Data\CSV\PeakLoad EDGIS-CYME.xlsx" />
    <add key="fileFeederPeak" value="\\ffshare01-nas\etgisshare\Applications\Temp\ManagedService_Developement\Electric\ED\Deliverables_Q2_(Apr-Jun)_2017\To_Onsite_Deliverables\ED\Settings\Load Data\CSV\FeederPeak_Query_Test.xlsx" />  
    <add key="fileEDPIFeeder" value="\\ffshare01-nas\etgisshare\Applications\Temp\ManagedService_Developement\Electric\ED\Deliverables_Q2_(Apr-Jun)_2017\To_Onsite_Deliverables\ED\Settings\Load Data\CSV\EDPI Feeders 5-24-17_Test.xlsx" />-->

    <add key="UserID" value="EDCYMELOADMIG" />
    <add key="SummerCapacity" value="SummerNormalPlanningCapabilityMva" />
    <!--Column in file - fileEDPIFeeder -->
    <add key="WinterCapacity" value="WinterNormalPlanningCapabilityMva" />
    <!--Column in file - fileEDPIFeeder -->
    <add key="SubstationName" value="SubstationName" />
    <!--Column in file - fileEDPIFeeder -->
    <add key="FeederName" value="dbo_tbl_feeder.str_name" />
    <!--Column in file - fileFeederPeak -->
    <add key="Date" value="Date" />
    <add key="KW_Peak" value="KW PEAK TOTAL" />
    <!-- Column in file - filePeakLoad -->

    <add key="conversionFactor" value="1000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>