<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="EDWorkSpaceConnString" value="C:\eder\data\connections\gis_i_write@eder.sde"/>
    <add key="SMUser" value="gis_i_write"/>
    <add key="SMUPWD" value="gis_i_write"/>
    <add key="SMDB" value="lbgisq1q"/>-->

    <add key ="EDER_SDEConnection" value ="GIS_I_WRITE@EDER"/>
    
    <add key="EditsPerSession" value="500"/>

    <!--<add key="QueryToGetPrimaryGeneration" value="where OBJECTID in (2368673,2913320)"/>-->
    <add key="QueryToGetPrimaryGeneration" value=""/>
    
    <add key="ServiceLocationClassName" value="EDGIS.SERVICELOCATION"/>
    <add key="PrimaryGenerationClassName" value="EDGIS.PRIMARYGENERATION"/>
    <add key="TargetVersionName" value="SLU"/>
    <add key="VersionNamePrefix" value="SLUPDP_"/>
    <add key="DefaultVersionName" value="SDE.DEFAULT"/>
    <add key="SessionName" value="SN_"/>

    <add key="ChangesLoggedTableName" value="PGEDATA.TEMP_PRIMRAYGENREPLACED"/>

  </appSettings>
</configuration>