<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogFilePath" value="C:\PGE_Reports\" />
    <add key="ReportFilePath" value="C:\PGE_Reports\" />
    <add key="MANUALLYOPERATEDIDC" value="MANUALLYOPERATEDIDC" />
    <add key="SDEDATABASEINSTANCE" value="" />
    <!--AMPS-->
    

    <!-- Generate ConversionId -->
    <add key="ConvIDAddFClass" value="EDGIS.CustAgreeNumberAnno" />

    <!-- FeatureCount -->
    <add key="SrcDBPath" value="EDGIS.CustAgreeNumberAnno" />
    <add key="TargetDBPath" value="EDGIS.CustAgreeNumberAnno" />   
    

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>