<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <!-- Connection and user details needed in the process : Start -->
    <!--<add key="ConnString_EDWorkSpace" value="C:\EDER\Data\Connections\PB_EDITOR@EDER.sde"/>
    <add key="ConnectionString_pbuser" value="EDER,PB_EDITOR,*#Kk%(KTQ2t14ZbTDfnASVXH3W9A=="/>    
    
    <add key="ConnectionString_pgedata" value="EDER,pgedata,*#Kk%(nxmJ+L/Oifc="/>
    --><!-- Connection and user details needed in the process : End --><!--
    --><!--<add key="ConnString_EDWorkSpace" value="C:\EDER\Data\Connections\PB_EDITOR@EDER.sde"/>--><!--
    <add key="ConnectionString_pbuser" value="SSBAT3D,PB_EDITOR,PB_EDITOR"/>-->

    <!--<add key="ConnectionString_pgedata" value="SSBAT3D,pgedata,pgedata"/>-->
    <!-- Connection and user details needed in the process : End -->
    <add key="ConnString_EDWorkSpace" value="POWERBASE_RW@EDER"/>
    <add key="ConnectionString_pbuser" value="POWERBASE_RW@EDER"/>
    <add key="ConnectionString_pgedata" value="pgedata@EDER"/>  
    <!-- Keep columns DATE and RECORD_STATUS in table pgedata.PowerbaseStage --> 
    <add key="tableName_PowerbaseStage" value="pgedata.pb_gis_updates"/>
    <add key="whereClause_PowerbaseStage" value="" />
    <!--<add key="whereClause_PowerbaseStage" value=" where globalid in ('{824F13D7-3113-4AA8-8BC2-89229A42D634}','{5EB9EDF5-ED6E-44C7-A962-7E61F2AB4FB9}')"/>-->
    <!--<add key="whereClause_PowerbaseStage" value=" where FEATURECLASS='EDGIS.DynamicProtectiveDevice'" />-->   

    <add key="tableName_PowerbaseStage_Archive" value="pgedata.PB_GIS_UPDATES_ARCHIVE"/>    
    
    <add key="tableName_PB_Session" value="pgedata.PB_SESSION_STATUS"/>
    <add key="tableName_PB_Session_Archive" value="pgedata.PB_SESSION_STATUS_ARCHIVE"/>

    <add key="tableName_PB_GIS_REJECTED_RECORDS" value="PGEDATA.PB_GIS_REJECTED_RECORDS"/>    

    <!--updated to skip previous session checks-->
    <add key="CheckPreviousSessionStatus" value="true"/>
    <add key="SessionNamePrefix" value="SN" />    
    <add key ="SESSION_STATE" value="9"/>
    <add key ="SESSION_PRIORITY" value="20"/>

    <add key ="PB_Value_NO_UPDATE" value="NO_UPDATES"/>
    <add key ="PB_Value_NOT_RELEVANT" value="NOT_RELEVANT"/>
    <add key ="PB_GIS_Mapping_ConfigFileName" value="PBGIS_Synch_Config.xml"/>   

    <!-- Mail Related : Start -->
    <!--Multiple Email IDs can be kept seperated by ,-->
    <add key="SUBJECT" value="ALERT (Environment : Dev) : Powerbase to EDGIS data update interface" />
    <add key="MAIL_FROM_DISPLAY_NAME" value="Powerbase" />    
    <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com" />
    <add key="ToemailID" value="T3TQ@PGE.COM" />
    <add key="clientHost" value="mailhost.utility.pge.com" />
    <add key="fileName" value="Invalid_Attribute_Values" />
    <add key="fileExtension" value=".csv" />

    <add key="ToemailID_SessionNotPosted" value="T3TQ@PGE.COM" />
    <add key="ccemailID_SessionNotPosted" value="" />
    <add key="SUBJECT_SessionNotPosted" value="ALERT (Environment : Dev) : Powerbase to EDGIS data update interface - previously created session is not posted yet." />
   
    <!-- Configurable parameters for the process : Strat -->  
    <add key="logNeededWhileExecuting" value="true"/>
    <add key="dateFormatToChange" value="dd/mm/yy hh24:mi:ss"/>    

    <add key="LogConfigName" value="pge.log4net.config"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
