<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--Adding Connection String for PONS[Start]-->
    <add name="ConnectionString" connectionString="Data Source=EDPUB;user id=pons_ro;password=pons_ro!2016;" providerName="System.Data.OracleClient" />
    <add name="PSLConnectionString" connectionString="Server =SQLASC07;Database = BPM_ShutdownLtrs;User Id= CustInfo_Load;Password=4046-A6AE-D207;" providerName="System.Data.SQLClient" />
    <add name="JetTnsConnectionString" connectionString="Data Source=WIP;user id=webr;password=webr;" providerName="System.Data.OracleClient" />
    <add name="FeederConnectionString" connectionString="Data Source=EDPUB;user id=webr;password=webr;" providerName="System.Data.OracleClient" />
    <!--Adding Connection String for PONS[End]-->
    <add name="SettingsConnectionString" connectionString="Data Source=EDAUX1P;user id=EDSETT;password=edsettTemp;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <!--CIT Config Values-->
    <add key="Manual_Table_Name" value="WEBR.CIT_MANUAL_UPDATES" />
    <!--Adding keys for repotrs and email[Start]-->
    <add key="PSLPortalURL" value="http://adscrt/bpmjobs/shutdownltrs/" />
    <add key="PSLSTAGINGTAB" value="tblStaging" />
    <add key="PSLSTAGINGPROC" value="dbo.spLoadData" />
    <add key="PSLContacts" value="tblContacts" />
    <add key="PSLStagingFields" value="INSERT INTO dbo.tblStaging (SubmitUser, SubmitDT, SubmitTM, Vicinity, AddrLine1, AddrLine2, AddrLine3, AddrLine4, AddrLine5, CGCTNum, SSD, Phone, Work1DT, Work1TMStart, Work1TMEnd, Work2DT, Work2TMStart, Work2TMEnd, AccountID, OutageID, ContactID, SPID, SPAddrLine1, SPAddrLine2, SPAddrLine3, CustType, meter_number, division, cn_fld1, cn_fld2, cn_fld3)" />
    <add key="ExpportFileLocationNew" value="\\\\rcedgis-nas01\\edgisnasfs01\\ArcGISServer\\PONS\\" />
    <add key="ExpportPDFURLNew" value="http://edgiswwwprd01/PONS/" />
    <add key="DisplayReportFields" value="Type, Customer Name, Address, City,State,ZIP, CGC,SSD, Phone" />
    <add key="PhysicalReportFields" value="ServicePoint.CustomerType,Customer_info.mailname1,Customer_info.mailname2, ServicePoint.StreetNumber, ServicePoint.StreetName1, ServicePoint.StreetName2,Customer_info.MailStreetNum, Customer_info.MailStreetName1, Customer_info.MailStreetName2, ServicePoint.Zip, Customer_info.MailZipCode, ServicePoint.City,Customer_info.MailCity,ServicePoint.State, Customer_info.MailState, transformer.CGC12, transformer.SourceSideDeviceId" />
    <add key="mailhost" value="mailhost.comp.pge.com" />
    <add key="CustomerInfoAttributes" value="ServicePoint.CustomerType,ServicePoint.StreetNumber,ServicePoint.StreetName1,ServicePoint.StreetName2,ServicePoint.MailStreetNum,ServicePoint.MailStreetName1,ServicePoint.MailStreetName2,ServicePoint.Zip,ServicePoint.City,ServicePoint.State,ServicePoint.CGC12,Transformer.OperatingNumber,PrimaryMeter.OperatingNumber,Transformer.SourceSideDeviceId" />
    <add key="ServicePointTable" value="EDGIS.Servicepoint" />
    <add key="PrimaryMeterTable" value="EDGIS.PrimaryMeter" />
    <add key="TransformerTable" value="EDGIS.Transformer" />
    <add key="CGC_INC_SPName" value="PONS.CUST_INFO_CGC_INCL" />
    <add key="CGC_EXC_SPName" value="PONS.CUST_INFO_CGC_EXCL" />
    <add key="SERVP_INC_SPName" value="PONS.CUST_INFO_SERVICEPOINTS_INCL" />
    <add key="SERVP_EXC_SPName" value="PONS.CUST_INFO_SERVICEPOINTS_EXCL" />
    <add key="CIRCUITP_INC_SPName" value="PONS.CUST_INFO_CIRCUITID_INCL" />
    <add key="CIRCUITP_EXC_SPName" value="PONS.CUST_INFO_CIRCUITID_EXCL" />
    <add key="SEQSP_SPName" value="PONS.gen_shutdownID" />
    <add key="SUBBANKCIRCUITPSPName" value="PONS.GETDIVISION_FEEDER" />

    <!--Adding Keys for PONS Report[End]-->
    <add key="JetTns" value="User Id=wip_rw;Password=wip_rw;Data Source=WIP;" />
    <add key="JetUserGroup" value="EDGIS_WEB_EST_MAP_PROD" />
    <add key="SAPFileUploadDC1" value="\\\\rcedgis-nas01\\edgisnasfs01\\SAPRWNotification\\" />
    <add key="SAPFileUploadDC2" value="\\\\ffedgis-nas01\\edgisnasfs01\\SAPRWNotification\\" />
    <!-- Start Production Tags -->
    <!--<add key="SAPFileUploadDC1" value="\\\\rcedgis-nas01\\edgisnasfs01\\ArcGISServer\\SAPRWNotification\\"/>
    <add key="SAPFileUploadDC2" value="\\\\ffedgis-nas01\\edgisnasfs01\\ArcGISServer\\SAPRWNotification\\"/>-->
    <!-- Stop  Production Tags -->
    <!--Adding Keys for StandardPrint-->
    <add key="PrintDeleteDate" value="7" />
    <add key="StandardPrintFileUploadDC2" value="\\\\rcedgis-nas01\\edgisnasfs01\\SAPRWNotification\\StandardPrint" />
    <add key="StandardPrintFilePDFURLNew" value="http://edgiswwwprd01/PDF/" />
    <add key="StandardPrintFileSourceDC2" value="\\rcedgis-nas01\rcedgis-nas02\EDGIS_Map_Prod\"/>
    <!--PLC Changes Start-->
    <add key="GetZOrderDataUrl" value="https://itapimprd.pge.com:443/Electric/v1/GetZOrderData"/>
    <add key="GetZOrderDataAuthorization" value="R0lTX1BMRDpVcVxnPXtOTUU2dDxLcTJG"/>
    <!--PLC Changes Ends-->
    <add key="VALIDATE_ADD_JETJOB_SPName" value="WEBR.JETJOB_VALIDATE_INSERT" />
    <add key="FAVORITES_INSERTUPDATE_SP" value="WEBR.FAVORITES_INSERTUPDATE" />
    <add key="LOADINGINFO_CUSTDATA_SPName" value="PONS.LOADINGINFO_CUSTOMER_CGC" />
    <!--ME Q3 2019 - DA#190501-->
    <add key="WEBRLOGINDATA_Table" value="WEBR.WEBR_LOGIN_DATA" />
    <!--ME Q3 2019 - DA#190506-->

  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="409600" requestValidationMode="2.0" executionTimeout="356657" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpModules>
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <authentication mode="Windows" />
    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="." />
          <add fileExtension="." allowed="true" />
          <remove fileExtension=".config" />
          <add fileExtension=".config" allowed="true" />
        </fileExtensions>
      </requestFiltering>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true">
          <providers>
            <clear />
            <add value="NTLM" />
            <add value="Negotiate" />
          </providers>
        </windowsAuthentication>
      </authentication>
      <authorization>
        <add accessType="Allow" roles="PGE\Domain Users" />
      </authorization>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFPONSService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="0:25:00" sendTimeout="0:25:00">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="ArcFMSilverlight.Web.Services.WCFPONSService" behaviorConfiguration="MyServiceBehavior">
        <endpoint contract="ArcFMSilverlight.Web.Services.IWCFPONSService" bindingConfiguration="BasicHttpBinding_IWCFPONSService" binding="basicHttpBinding" name="BasicHttpBinding_IWCFPONSService" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <bufferedReceive />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>