<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>

		<add key="LogConfigName" value="pge.log4net.config"/>
		<!--Connection Strings [START]-->


		<add key="EDER_ConnectionStr" value ="GIS_I@EDER"/>

		<add key="EDGMC_ConnectionStr" value ="GIS_I@EDGMC"/>

		<add key="WIP_ConnectionStr" value ="GIS_I@WIP"/>



    <!--ED07 Configration [START]-->
    <add key="ED07RETRYCOUNTLIMIT" value="5"/>
    <add key="ED07RETRYDELAY" value="2000"/>
    <!--ED07 Configration [END]-->

		<!--Connection Strings [END]-->
		<add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
		<!--Configration Tables [START]-->
		<add key="INTEGRATION_FIELD_MAPPING" value="PGEDATA.INTEGRATION_FIELD_MAPPING"/>
		<add key="INTERFACE_STAGINGTABLE_CONFIG" value="PGEDATA.INTERFACE_STAGINGTABLE_CONFIG"/>
		<add key="INTEGRATION_LASTRUN_DATE" value="PGEDATA.INTEGRATION_LASTRUN_DATE"/>

		<!--INTEGRATION_LASTRUN_DATE Configration Tables Attributes-->
		<add key="ILD_INTERFACE_NAME" value="INTERFACE_NAME"/>
		<add key="ILD_LASTRUN_DATE" value="LASTRUN_DATE"/>

		<!--INTERFACE_STAGINGTABLE_CONFIG Configration Tables Attributes-->
		<add key="ISC_interface_name" value="interface_name"/>
		<add key="ISC_staging_table" value="staging_table"/>
		<add key="ISC_database_name" value="database_name"/>
		<add key="ISC_interface_number" value="interface_number"/>
		<add key="ISC_batch_size" value="batch_size"/>

		<!--INTEGRATION_FIELD_MAPPING Configration Tables Attributes-->
		<add key="IFM_INTERFACE_NAME" value="INTERFACE_NAME"/>
		<add key="IFM_GIS_FIELD" value="GIS_FIELD"/>
		<add key="IFM_SAP_FIELD" value="SAP_FIELD"/>
		<add key="IFM_SAP_SEQUENCE" value="SAP_SEQUENCE"/>

		<add key="SAPRecordIdField" value="RecordId"/>
		<add key="SAPBatchIdField" value="BatchId"/>
		<add key="GISErrorField" value="ERRORDESCRIPTION"/>
		<add key="GISProcessFlagField" value="PROCESSEDFLAG"/>
		<add key="GISProcessedTime" value="PROCESSEDTIME"/>
		<!--Configration Tables [END]-->

		<!--Layer 7 Dev URL [START]-->
		<!--<add key="UrlED08" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED08Set"/>
		<add key="UrlED06" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED06Set"/>
		<add key="UrlED12" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED12Set"/>
		<add key="UrlED16" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED16Set"/>


		<add key ="URLED07" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED07Set?$filter=RequestDate"/>
		<add key ="URLED11" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED11Set?$filter=RequestDate"/>
		<add key ="URLED13" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED13Set?$filter=RequestDate"/>
		<add key ="URLED13A" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED13ASet?$filter=RequestDate"/>
		<add key ="URLED14" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED14Set?$filter=RequestDate"/>
		<add key ="URLED15INDV" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED15_INDVSet?$filter=RequestDate"/>
		<add key ="URLED15SUMMARY" value="https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED15_SUMMSet?$filter=RequestDate"/>-->

		<!--Layer 7 Dev URL [END]-->

		<!--Layer 7 Test URL [START]-->
    <!-- WG1 Config Change start 05/05/2022-->
		<add key="UrlED08" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED08Set"/>
		<add key="UrlED06" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED06Set"/>
		<add key="UrlED12" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED12Set"/>
		<add key="UrlED16" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED16Set"/>

    <add key ="URLED07" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED07Set?$filter=RequestDate"/>
		<add key ="URLED11" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED11Set?$filter=RequestDate"/>
		<add key ="URLED13" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED13Set?$filter=RequestDate"/>
		<add key ="URLED13A" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED13ASet?$filter=RequestDate"/>
		<add key ="URLED14" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED14Set?$filter=RequestDate"/>
		<add key ="URLED15INDV" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED15_INDVSet?$filter=RequestDate"/>
		<add key ="URLED15SUMMARY" value="https://api-t.cloud.pge.com/Electric/v1/ElectricDistribution/ED15_SUMMSet?$filter=RequestDate"/>

    <!-- WG1 Config Change end 05/05/2022-->
		<!--Layer 7 Test URL [END]-->

		<!-- Sample Layer 7 URL  for dev/test[START]-->
		<!--GET    https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED07Set?$filter=RequestDate eq '20210203' and BatchId eq ' '&$format=json
    GET    https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED11Set?$filter=RequestDate eq '20210405' and BatchId eq ''&$format=json
    GET    https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED15_INDVSet?$filter=RequestDate eq '20210420' and BatchId eq ''&$format=json
    GET    https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED15_SUMMSet?$filter=RequestDate eq '20210420' and BatchId eq ''&$format=json
    GET    https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED14Set?$filter=RequestDate eq '20210420' and BatchId eq ''&$format=json
    GET  https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED13ASet?$filter=RequestDate eq '20210513' and BatchId eq ''&$format=json
    GET   https://api-d.cloud.pge.com/Electric/v1/ElectricDistribution/ED13Set?$filter=RequestDate eq '20210421' and BatchId eq ''&$format=json-->

		<!--Post Configration [START]-->
		<add key="PostContentType" value="application/json; charset=utf-8"/>
		<add key="PostMethod" value="POST"/>
		<!--<add key="Credentials_serviceUserName" value="SVC-A2919-QA-GISSAP@LAYER7"/>-->
    <!-- WG1 Config Change start 05/05/2022-->
		<add key="Credentials_serviceUserName" value="SVC-A2919-DEV-GISSAP@LAYER7"/>
    <!-- WG1 Config Change end 05/05/2022-->

		<!--Response Keys-->
		<add key="PostResponse_metadata" value="__metadata"/>
		<add key="PostResponse_results" value="results"/>

		<!--Response Status-->
		<add key="PostResponseStatus_Success" value="Success"/>
		<add key="PostResponseStatus_Fail" value="Fail"/>

		<!--Post Configration [END]-->

		<add key="ED07StagingTable" value="EDGIS.SAP_TO_GIS"/>
		<add key="ED07StagingTableName" value="SAP_TO_GIS"/>
		<add key="RequestMethod" value="GET"/>
		<!--ED07 staging table Fields Name-->
		<add key="OBJECTID" value="OBJECTID"/>
		<add key="SAP_EQUIPMENT_ID" value="SAP_EQUIPMENT_ID"/>
		<add key="EQUIPMENT_NAME" value="EQUIPMENT_NAME"/>
		<add key="SAP_EQUIPMENT_TYPE" value="SAP_EQUIPMENT_TYPE"/>
		<add key="GISGUID" value="GUID"/>
		<add key="RECORDID" value="RECORDID"/>
		<add key="BATCHID" value="BATCHID"/>
		<add key="CREATIONDATE" value="CREATIONDATE"/>
		<add key="PROCESSEDFLAG" value="PROCESSEDFLAG"/>
		<add key="ERROR_DESCRIPTION" value="ERRORDESCRIPTION"/>
		<add key="RELATEDRECORDID" value="RELATEDRECORDID"/>
		<add key="SAPRELATEDRECORDID" value="RelatedRecordID"/>
		<add key="SAPBatchID" value="BatchId"/>
		<!--ED14 configuration-->
		<add key="ED14StagingTable" value="PGEDATA.SAP_NOTIFICATIONHEADER_STG"/>
		<add key="ED14StagingTableName" value="SAP_NOTIFICATIONHEADER_STG"/>
		<add key="ERDAT" value="NOTIFICATIONCREATION"/>
		<add key="QMDAT" value="NOTIFICATIONDATE"/>
		<add key="QMDAB" value="COMPLETIONDATE"/>
		<add key="LTRMN" value="DUEDATE"/>
		<add key="NOTIFICATIONNUM" value="NOTIFICATIONNUM"/>
		<add key="NOTIFICATIONTYPE" value ="NOTIFICATIONTYPE"/>
		<add key ="NOTIFICATIONSTATUS" value ="NOTIFICATIONSTATUS"/>
		<add key ="SAPEQUIPMENTID" value ="SAPEQUIPMENTID"/>
		<add key ="EQUIPMENTTYPE" value ="EQUIPMENTTYPE"/>

		<add key="ED11StagingTable" value="PGEDATA.PGE_ED11_STAGING"/>
		<add key="ED11StagingTableName" value="PGE_ED11_STAGING"/>

		<add key="ED13StagingTable" value="PGEDATA.PGE_ED13_STAGING"/>
		<add key="ED13StagingTableName" value="PGE_ED13_STAGING"/>
		<add key="ORDERCREATEDATE" value="ORDERCREATEDATE"/>

		<add key="ED13AStagingTable" value="WEBR.PGE_AUTOCREATEWIP_SAP_DATA"/>
		<add key="ED13AStagingTableName" value="PGE_AUTOCREATEWIP_SAP_DATA"/>

		<add key="ED15SummaryStagingTable" value="PGEDATA.GEN_SUMMARY_STAGE"/>
		<add key="ED15SummaryStagingTableName" value="GEN_SUMMARY_STAGE"/>
		<add key="EFF_RATING_MACH_KW" value="EFF_RATING_MACH_KW"/>
		<add key="EFF_RATING_INV_KW" value="EFF_RATING_INV_KW"/>
		<add key="EFF_RATING_MACH_KVA" value="EFF_RATING_MACH_KVA"/>
		<add key="EFF_RATING_INV_KVA" value="EFF_RATING_INV_KVA"/>
		<add key="MAX_STORAGE_CAPACITY" value="MAX_STORAGE_CAPACITY"/>
    <!-- WG1 Config Change start 05/13/2022-->
    <add key="CHARGE_DEMAND_KW" value="CHARGE_DEMAND_KW"/>
    <add key="TOT_SYS_LIMITED_EXPORT_KW" value="TOT_SYS_LIMITED_EXPORT_KW"/>
    <add key="DERATED_TOT_NP_CAP_INV_KW" value="DERATED_TOT_NP_CAP_INV_KW"/>
    <add key="SAPACTION" value="Action"/>
    <add key="PROJECT_TOTAL_EXPORT_KW" value="PROJECT_TOTAL_EXPORT_KW"/>
    <add key="LIMITED" value="LIMITED"/>
    <!-- WG1 Config Change end 05/13/2022-->

		<add key="ED15INDVStagingTable" value="PGEDATA.GEN_EQUIPMENT_STAGE"/>
		<add key="ED15INDVStagingTableName" value="GEN_EQUIPMENT_STAGE"/>
		<add key="PTC_RATING" value="PTC_RATING"/>
		<add key="INVERTER_EFFICIENCY" value="INVERTER_EFFICIENCY"/>
		<add key="NAMEPLATE_RATING" value="NAMEPLATE_RATING"/>
		<add key="QUANTITY" value="QUANTITY"/>
		<add key="POWER_FACTOR" value="POWER_FACTOR"/>
		<add key="EFF_RATING_KW" value="EFF_RATING_KW"/>
		<add key="EFF_RATING_KVA" value="EFF_RATING_KVA"/>
		<add key="RATED_VOLTAGE" value="RATED_VOLTAGE"/>
		<add key="NUMBER_OF_PHASES" value="NUMBER_OF_PHASES"/>
		<add key="MAX_STORAGE_CAPACITY" value="MAX_STORAGE_CAPACITY"/>
		<add key="RATED_DISCHARGE" value="RATED_DISCHARGE"/>
		<add key="CHARGE_DEMAND_KW" value="CHARGE_DEMAND_KW"/>
		<add key="SS_REACTANCE" value="SS_REACTANCE"/>
		<add key="SS_RESISTANCE" value="SS_RESISTANCE"/>
		<add key="TRANS_REACTANCE" value="TRANS_REACTANCE"/>
		<add key="TRANS_RESISTANCE" value="TRANS_RESISTANCE"/>
		<add key="SUBTRANS_REACTANCE" value="SUBTRANS_REACTANCE"/>
		<add key="SUBTRANS_RESISTANCE" value="SUBTRANS_RESISTANCE"/>
		<add key="NEG_REACTANCE" value="NEG_REACTANCE"/>
		<add key="NEG_RESISTANCE" value="NEG_RESISTANCE"/>
		<add key="ZERO_REACTANCE" value ="ZERO_REACTANCE" />
		<add key="ZERO_RESISTANCE" value ="ZERO_RESISTANCE" />
		<add key="GRD_REACTANCE" value ="GRD_REACTANCE" />
		<add key="GRD_RESISTANCE" value ="GRD_RESISTANCE" />
		<add key="PTO_DATE" value ="PTO_DATE" />
		<add key="ENOS_EQUIP_REF" value ="ENOS_EQUIP_REF" />
		<add key="ENOS_PROJ_REF" value="ENOS_PROJ_REF"/>
		<add key="NAMEPLATE_CAPACITY" value ="NAMEPLATE_CAPACITY" />
    <!-- WG1 Config Change start 05/13/2022-->
    <add key="DERATED_RATING_PER_UNIT_KW" value ="DERATED_RATING_PER_UNIT_KW" />
    <add key="DERATED_INV_TOTAL_NP_KW" value ="DERATED_INV_TOTAL_NP_KW" />
    <add key="EST_ANN_USAGE_AES_KW" value ="EST_ANN_USAGE_AES_KW" />
    <add key="TECH_TYPE_CD" value ="TECH_TYPE_CD"/>
    <add key="LIMIT_EXPORT_PLAN" value ="LIMIT_EXPORT_PLAN"/>
    <add key="LIMITED_EXPORT_PCS" value ="LIMITED_EXPORT_PCS"/>
    <add key="SP_CRDPCS_CERT" value ="SP_CRDPCS_CERT"/>
    <add key="MAX_EXPCT_EXPORT" value ="MAX_EXPCT_EXPORT"/>
    <add key="OPERATING_MODE" value ="OPERATING_MODE"/>
    <!-- WG1 Config Change end 05/13/2022-->


		<!--Ed11 Staging Table Fields Name-->

		<add key="PROJECTID_I" value="TRANSACTIONTYPE"/>
		<add key="PROJECTID_D" value="PROJECTID_D"/>
		<add key="PROJECTID_U" value="PROJECTID_U"/>
		<add key="EQUIPMENTNUMBER_I" value="EQUIPMENTNUMBER_I"/>
		<add key="EQUIPMENTNUMBER_D" value="EQUIPMENTNUMBER_D"/>
		<add key="EQUIPMENTNUMBER_U" value="EQUIPMENTNUMBER_U"/>
		<add key="GUID_I" value="GUID_I"/>
		<add key="GUID_U" value="GUID_U"/>
		<add key="GUID_D" value="GUID_D"/>
		<add key="TRANSACTIONTYPE" value="TRANSACTIONTYPE"/>
		<add key="POLECLASS" value="POLECLASS"/>
		<add key="POLETYPE" value="POLETYPE"/>
		<add key="HEIGHT" value="HEIGHT"/>
		<add key="POLECNTYNAME" value="POLECNTYNAME"/>
		<add key="LATITUDE_I" value="LATITUDE_I"/>
		<add key="LONGITUDE_I" value="LONGITUDE_I"/>
		<add key="DIVISION" value="DIVISION"/>
		<add key="DISTRICT" value="DISTRICT"/>
		<add key="LOCDESC2" value="LOCDESC2"/>
		<add key="CITY" value="CITY"/>
		<add key="ZIP" value="ZIP"/>
		<add key="BARCODE" value="BARCODE"/>
		<add key="MAPNAME" value="MAPNAME"/>
		<add key="MAPOFFICE" value="MAPOFFICE"/>
		<add key="STARTUPDATE_I" value="STARTUPDATE_I"/>
		<add key="STARTUPDATE_D" value="STARTUPDATE_D"/>
		<add key="JOINTPOLENBR" value="JOINTPOLENBR"/>
		<add key="ATTRIBUTENAME_U" value="ATTRIBUTENAME_U"/>
		<add key="OLDVALUE_U" value="OLDVALUE_U"/>
		<add key="NEWVALUE_U" value="NEWVALUE_U"/>
		
	<!--Mail configuration settings-->
		
	 <add key="EmailSubject" value ="EDGIS Layer7 Failure Report for Interface"/>
    <add key ="FromLanID" value ="EDGISSupport@pge.com"/>
    <add key ="DisplayName" value ="EDGIS Support team"/>
	<add key ="ToMailIds"  value ="a9ks@pge.com;v3sf@pge.com;"/>
    <add key ="EmailBody" value ="Hello Team :
         &#xD;&#xA;                
         &lt;br&gt; &lt;br&gt;&#xD;&#xA;
         
         Please find the list of below failed records
          &#xD;&#xA;                
         &lt;br&gt; &lt;br&gt;&#xD;&#xA;
         {1}                     
         &lt;br&gt; &lt;br&gt;&#xD;&#xA;
         Thank You!
          &#xD;&#xA;                
         &lt;br&gt; 
         Edgis Support Team        
         "/>

   <!-- End Mail Configuration settings-->

	</appSettings>
<system.net>
    <mailSettings>
      <smtp>
        <network host="mailhost.comp.pge.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>