<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Warning: The configSections element must be the first element under configuration -->
	<configSections>
		<!--<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"
             allowDefinition="Everywhere"/>
	</configSections>
	<log4net>
		<!--<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="log-file.txt" />
			--><!--<file type="log4net.Util.PatternString" value="%property{LogFileName}.log" />--><!--
			<threshold value="ALL" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>-->
		<appender name="RollByDateAppender" type="log4net.Appender.RollingFileAppender">
			<file value="${USERPROFILE}\Application Data\ESRI\PGE Integration\log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<!-- Maximum number of logs before rolling over (overwriting the first log.) -->
			<maxSizeRollBackups value="10" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="RollByDateAppender" type="log4net.Appender.RollingFileAppender">
			<file value="${USERPROFILE}\Application Data\ESRI\PGE Integration\log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<!-- Maximum number of logs before rolling over (overwriting the first log.) -->
			<maxSizeRollBackups value="10" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<backColor value="Green" />
			</mapping>
			<mapping>
				<level value="INFO"/>
				<backColor value="Green"/>
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<!--<appender-ref ref="FileAppender" />-->
			<appender-ref ref="RollByDateAppender" />
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
		<logger name="NHibernate">
			<level value="ERROR" />
		</logger>

		<logger name="NHibernate.SQL">
			<level value="ERROR" />
		</logger>
	</log4net>
</configuration>