<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="APIURL" value="https://geomartintsvrqa.cloud.pge.com/SAPGIS/service/data/?OrderNo={0}{1}System={2}"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>

      </customBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="WCF_EESGIS.Service1">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
          name="WCF_EESGIS.Service1" contract="WCF_EESGIS.EESGISService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

   

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>
