<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ROBC" connectionString="ROBCAPP@EDGMC" />
  </connectionStrings>
  <appSettings>
    <add key="LogFile" value="c:\temp\ROBC\CsvGeneratorLog\ROBC_CsvGenerator_Log_{0}.txt"/>
    <add key="CSVFileDir" value="\\rcnas01-smb\edgisrearch-fs01\ROBC_Reports\Non-Production\Test"/> 
    <add key="ECTPSSD_REPORT" value="select CONTROL_CENTER &quot;Control Center&quot;,  
                                            CIRCUITNAME &quot;Feeder&quot;, 
                                            EQUIPMENT_TYPE &quot;Equip Type&quot;, 
                                            OPERATINGNUMBER &quot;Oper #&quot;, 
                                            SERVICEPOINTID SP_ID, 
                                            METERNUMBER Meter_ID, 
                                            '&quot;' || CUSTOMER_NAME ||  '&quot;' Name
                                            from ECTPSSD_REPORT"/>
    <add key="EEP_REPORT" value="select 
                                        DIVISION_NAME &quot;Division Name&quot;,
                                        CONTROL_CENTER_NAME &quot;Control Center&quot;,
                                        SUBID &quot;Sub#&quot;,
                                        FEEDERID &quot;Fdr#&quot;,
                                        CIRCUITID &quot;Feeder Number&quot;,
                                        CIRCUITNAME &quot;Feeder Name&quot;,
                                        EQUIPMENT_TYPE &quot;Equipment Type&quot;,
                                        OPERATINGNUMBER &quot;Operating Number&quot;,
                                        decode(ROBC, 50, 'E', 60, 'F', ROBC) &quot;ROBC Number&quot;,
                                        SUBBLOCK &quot;ROBC alpha&quot;,
                                        NO_OF_CUST &quot;# of Cust&quot;,
                                        SUMMER_SIMUL_PEAK &quot;Sum Simultaneous Peak&quot;,
                                        SUMMER_PROJ_MW &quot;Summer Projected MW&quot;,
                                        SUMMER_MIN_MW &quot;Sum Minimum MW&quot;,
                                        WINTER_SIM_PEAK &quot;Win Simultaneous Peak&quot;,
                                        WINTER_PROJ_MW &quot;Winter Projected&quot;,
                                        WINTER_MIN_MW &quot;Win Minimum MW&quot;,
                                        SCADA,
                                        '&quot;' || replace(DEP_FEEDER_NAME, '&quot;', '&quot;&quot;') || '&quot;' &quot;Supplying Feeder Name&quot;, 
                                        '&quot;' || SUP_FEEDER_NAME  ||  '&quot;' &quot;Supplying Feeder Name&quot;,
                                        decode(SUP_FEEDER_ROBC, 50, 'E', 60, 'F', SUP_FEEDER_ROBC) &quot;Supply Feeder ROBC Number&quot;,
                                        SUP_FEEDER_SUBBLOCK &quot;Supply Feeder ROBC alpha&quot;,
                                        SUPPLY_DEPEND &quot;Supply/Depend&quot;
                                        from  EEP_REPORT"/>
  </appSettings>
</configuration>