<?xml version="1.0"?>
<configuration>
    <appSettings>
     
      <add key ="EDER_ConnectionStr" value ="CCB_EI_EDGIS_RW@EDER"/>
      <add key ="EDER_SDEConnection" value ="CCB_EI_EDGIS_RW@EDER"/>
      <add key="SessionName" value="CCBtoGIS"/>
    
      <add key="VersionNamePrefix" value="SN_"/>
      <add key="SessionOwner" value="CCB_EI_EDGIS_RW"/>
      <add key ="Stagingtable" value="PGEDATA.PGE_CCBTOEDGIS_STG"/>
      <add key ="OutboundStagingTable" value ="PGEDATA.PGE_EDGISTOCCB_STG"/>
      
      <add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
      <add key="CheckStatusSQL" value="PGEDATA.CCBTOGIS_CHECKSTATUS"/>
      <add key="SPActionSQL" value="PGEDATA.CCBTOGIS_INITIALIZE_FILTERS,PGEDATA.CCBTOGIS_SP_ACTION_INSERTS, PGEDATA.CCBTOGIS_SP_ACTION_REPLACE,PGEDATA.CCBTOGIS_SP_ACTION_UPDATES,PGEDATA.CCBTOGIS_SP_ACTION_DELETES,PGEDATA.CCBTOGIS_SP_ACTION_NO_ACTION,PGEDATA.Generate_Ext_CCB_Meter_Load"/>
      <!-- <add key="SPActionSQL" value="PGEDATA.CCBTOGIS_INITIALIZE_FILTERS,PGEDATA.CCBTOGIS_SP_ACTION_INSERTS, PGEDATA.CCBTOGIS_SP_ACTION_REPLACE,PGEDATA.CCBTOGIS_SP_ACTION_UPDATES,PGEDATA.CCBTOGIS_SP_ACTION_DELETES,PGEDATA.CCBTOGIS_SP_ACTION_NO_ACTION"/>  -->
      <!--<add key="SPActionSQL" value="PGEDATA.CCBTOGIS_SP_ACTION_NO_ACTION"/>  -->
      
      <!--ENOS Migration Changes Start-->
      <!--<add key="GISSQL" value="PGEDATA.CCBTOGIS_GIS_INSERTS,PGEDATA.CCBTOGIS_GIS_UPDATES,PGEDATA.CCBTOGIS_GIS_REPLACEMENTS,PGEDATA.CCBTOGIS_GIS_DELETES,PGEDATA.CCBTOGIS_UPDATECWOT"/>-->
      <add key="GISSQL" value="PGEDATA.CCB_GWOC_INSERT,PGEDATA.CCBTOGIS_GIS_INSERTS,PGEDATA.CCBTOGIS_GIS_UPDATES,PGEDATA.CCBTOGIS_GIS_REPLACEMENTS,PGEDATA.CCBTOGIS_GIS_DELETES,PGEDATA.CCB_GWOC_FROM_STG_INSERT,PGEDATA.PGE_GWOC_UPDATE_GENERATION,PGEDATA.CCBTOGIS_UPDATECWOT"/>  
      <!--ENOS Migration Changes End-->
      <!-- <add key="GISSQL" value="PGEDATA.CCBTOGIS_GIS_INSERTS,PGEDATA.CCBTOGIS_GIS_REPLACEMENTS,PGEDATA.CCBTOGIS_GIS_DELETES"/> -->
     <!-- <add key="POSTGISSQL" value="PGEDATA.CCBTOGIS_RETURN_GISVALUES,PGEDATA.Generate_cd_tables"/>-->
      <!--//added  on  12/04/2019 for TLM ENHANCEMENT-->
      <add key="POSTGISSQL" value="PGEDATA.CCBTOGIS_RETURN_GISVALUES"/>
      <add key ="LOOKUPTABLENAME" value="EDGIS.PGE_POSTERROR_AH_LOOKUP"/>
      <add key ="ERROR_REPORT_EXPORTPATH_DIRECTORY" value="C:\"/>
      <!--EMAIL Parameters-->
      <add key="MAIL_FROM_DISPLAY_NAME" value="GIS CCBtoGIS Admin NP"/>
      <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com"/>
      <add key="MAIL_SUBJECT" value="CCB To GIS Session not Posted"/>
      <!--<add key="LANIDS" value="ITGISIncidentTeam@pge.com;ITGISOpsTeam@pge.com"/>-->
      <add key="LANIDS" value="m4jf@pge.com"/>
      <add key="MAIL_BODY" value="Hello Team:,
                &lt;br&gt; &lt;br&gt;
                An earlier CCBToGIS Session found in process. Please get that session posted first. CCB to GIS process getting terminated.
                &lt;br&gt; &lt;br&gt;
                Thank you,
                &lt;br&gt;
                EDGIS Support Team"/>
      <!-- Mail Body and Mail Subject for Conflict Condition-->
       <add key="MAIL_SUBJECT_FOR_CONFLICT" value="CCB To GIS Session got conflict"/>
    
      <add key="MAIL_BODY_FOR_CONFLICT" value="Hello Team:,
                &lt;br&gt; &lt;br&gt;
                CCBTOGIS Session has Conflict. Please resolve and Try Again. CCB to GIS process getting terminated.
                &lt;br&gt; &lt;br&gt;
                Thank you,
                &lt;br&gt;
                EDGIS Support Team"/>
      <!--Session State: Data Processing=9,Post Queue=5,Pending QA/QC=2--> 
      <add key ="SESSION_STATE" value="9"/>
      <!-- GIS TO CCB EMAIL PARAMETERS-->
      <!-- Mail Body and Mail Subject for Service Point Data Errors-->
      <add key ="FROM_LANID" value ="EDGISSUPPORT@pge.com" />
      <add key ="TO_LANID" value ="m4jf@pge.com" />
      <add key ="FROM_DISPLAYNAME" value ="EDGIS SUPPORT TEAM" />
      <add key="MAIL_SUBJECT_FOR_SPIDERROR" value="CC&amp;B To GIS - ServicePoint Errors"/>
      <add key="MAIL_BODY_FOR_SPIDERROR" value="Hello Team :                 
         &lt;br&gt; &lt;br&gt;                
         CCBTOGIS has SPID Errors, please refer attachment for details.                
         &lt;br&gt; &lt;br&gt;                 
         Thank you,                
         &lt;br&gt;                
         EDGIS Support Team"/>
      <!-- Mail Body and Mail Subject for No Service Point Data Errorsà-->
      <add key="MAIL_SUBJECT_FOR_NOSPIDERROR" value="CC&amp;B To GIS - No ServicePoint Errors Found"/>
      <add key="MAIL_BODY_FOR_NOSPIDERROR" value="Hello Team :                
         &lt;br&gt; &lt;br&gt;                 
         CCBTOGIS has no SPID Errors.                
         &lt;br&gt; &lt;br&gt;                 
         Thank you,               
         &lt;br&gt;                 
         EDGIS Support Team"/>

    </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mailhost.comp.pge.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
