<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Need to change the SDE File Path to run the tool-->
    <add key="SDE_FILEPATH" value="C:\Venkatesh\ED GIS\ED_Phase2\07 Code\GO_NOGO\PGE.AIFCorrectionTool\PGE.AIFCorrectionTool\EDGISQ9Q.sde"/>
 
    <!--Need to change the session name to run the tool-->
   <add key ="SESSION_NAME" value ="SN_260383"/>
    
    <!--Need to change the CSVFile name to run the tool-->
   <add key ="CSVFILENAME" value="Applicant Installed Jobs 091515 Test.csv"/>
   
   <add key ="CUSTOMER_AGREEMENT_TABLE" value= "EDGIS.CustomerAgreement"/>
   <add key ="QUERIED_FEATURECLASSES" value="EDGIS.DeliveryPoint,EDGIS.PadmountStructure,EDGIS.PriOHConductor,EDGIS.PriUGConductor,EDGIS.SecOHConductor,EDGIS.SecUGConductor,EDGIS.ServiceLocation,EDGIS.SubsurfaceStructure,EDGIS.SupportStructure,EDGIS.Transformer"/>
   <add key ="QUERIED_RELCLASSES" value="EDGIS.CustAgree_DeliveryPoint,EDGIS.CustAgree_PadmountStruct,EDGIS.CustAgree_PriOHCond,EDGIS.CustAgree_PriUGCond,EDGIS.CustAgree_SecOHCond,EDGIS.CustAgree_SecUGCond,EDGIS.CustAgree_ServiceLocation,EDGIS.CustAgree_SubsurfaceStruct,EDGIS.CustAgree_SupportStruct,EDGIS.CustAgree_Transformer"/>

  <!--Need to change - If CSV Column Name has been Changed -->
  <add key ="CSV_COLUMN_ORDER_NO" value ="Order  No"/>
  <add key ="CSV_COLUMN_DESC_DATE" value ="DSC Date"/>
  <add key ="CSV_COLUMN_CN24_CompDate" value ="CN24 CompDate*"/>
  </appSettings>
</configuration>