<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key ="EDER_SDEConnection" value ="EDGIS@EDER"/>
    <add key ="EDERSUB_SDEConnection" value ="EDGIS@EDERSUB"/>
    
    <add key="EDER_ELECSTICHPOINT_FC" value="EDGIS.ElectricStitchPoint"/>
    <add key="SUB_ELECSTICHPOINT_FC" value="EDGIS.SUBElectricStitchPoint"/>
    <add key="EDER_FEEDERTABLENAME" value="EDGIS.PGE_CircuitSource"/>
    <add key="SUB_BUFFER" value="600"/>
    <add key="SUB_BUSBAR_FC" value="EDGIS.SUBBusBar"/>
    <add key="EDER_PRIOH_FC" value="EDGIS.PriOHConductor"/>
    <add key="EDER_PRIUG_FC" value="EDGIS.PriUGConductor"/>
    <add key="EDER_SUBSTATION_FC" value="EDGIS.Substation"/>
    <add key="SUB_GEOMNETWORK" value="EDGIS.SubGeometricNetwork"/>
    <add key="EDER_GEOMNETWORK" value="EDGIS.ElectricDistNetwork"/>
    <add key="SUB_OHCONDUCTOR_FC" value="EDGIS.SUBOHConductor"/>
    <add key="SUB_UGCONDUCTOR_FC" value="EDGIS.SUBUGConductor"/>
    <add key="SUB_TRANSFORMER_BANK_FC" value="EDGIS.SUBTRANSFORMERBANK"/>
    
    <add key="PGE_FEEDERFEDNETWORK_TRACE_TBL" value="EDGIS.PGE_FEEDERFEDNETWORK_TRACE"/>
    <add key="SUBSTATION_FILTER" value=""/>
    <add key="STITCHPOINT_BUS_BUFFER" value="0.1"/>
  </appSettings>
</configuration>