<?xml version="1.0" encoding="utf-8"?>
<configuration>
	 
	<appSettings>
		<!-- Licenses Configuration. -->
		<!-- ArcGIS License (refer to esriLicenseProductCode enumeration in ESRI documentation for valid values)-->
		<add key="EsriLicense" value="esriLicenseProductCodeAdvanced"/>
		<!-- ArcFM License (refer to mmLicensedProductCode enumeration in ArcFM documentation for valid values)-->
		<add key="ArcFMLicense" value="mmLPArcFM"/>
   
    <add key ="ED11UserName" value ="INT_ED11_12_RW"/>
    <add key="IntExecutionSummaryExePath" value="c:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>

    <!-- Database Connection Information -->


    <add key ="sessionState" value ="9"/>
    <add key ="EDER_SDEConnection" value ="INT_ED11_12_RW@EDER_QA"/>
    <add key ="LBMAINT_SDEConnection" value ="LBGIS_RO@LBMAINT_QA"/>
    <add key ="EDER_ConnectionStr" value ="INT_ED11_12_RW@EDER_QA"/>
    
    
    <add key="StagingTable" value="EDGIS.SupportStructurePTT"/>

    <!-- ED12 Staging table Name Added for EDGIS Re-Arch Project by V1T8-->
    <add key="ED12StagingTable" value="EDGIS.PGE_ED12_STAGING"/>
    <add key="ED12StagingTableName" value="PGE_ED12_STAGING"/>

    <!--<add key="ED12StagingTable" value="EDGIS.PGE_ED12_OUTBOUND_STAGING"/>
    <add key="ED12StagingTableName" value="EDGIS.PGE_ED12_OUTBOUND_STAGING"/>-->

    <add key="ED12_RECORDID_SEQ" value="EDGIS.ED12_RECORDID_SEQ"/>

    <!--ED12 StagingTableFields-->
    <add key="RecordID" value="RecordID"/>
    <add key="BatchID" value="BatchID"/>
    <add key="CreationDate" value="CreationDate"/>
    <add key="ProcessedFlag" value="ProcessedFlag"/>
    <add key="ProcessedTime" value="ProcessedTime"/>
    <add key="ErrorDescription" value="ErrorDescription"/>
    <add key="RelatedRecordID" value="RelatedRecordID"/>
    <add key="SAPEquipID" value="SAPEquipID"/>
    <add key="GUID" value="GUID"/>
    <add key="TRANSACTIONTYPE" value="TRANSACTIONTYPE"/>
    <add key="TransactionStatus" value="TransactionStatus"/>
    <add key="ProjectID" value="ProjectID"/>
    <add key="MessageCode" value="MessageCode"/>
    <add key="MESSAGEDESCRIPTION" value="MESSAGEDESCRIPTION"/>
    <add key="MESSAGEDETAIL" value="MESSAGEDETAIL"/>
    <add key="DATETIMEPROCESSED" value="DATETIMEPROCESSED"/>
    <add key="DELETEDGHOSTPOLE" value="DELETEDGHOSTPOLE"/>
    <add key="PTTORIGINALTRANSACTION" value="PTTORIGINALTRANSACTION"/>


    <!--<add key="EquipmentNumber_I" value="EquipmentNumber_I"/>
    <add key="GUID_I" value="GUID_I"/>
    <add key="PoleClass_I" value="PoleClass_I"/>
    <add key="Material_I" value="Material_I"/>
    <add key="Height_I" value="Height_I"/>
    <add key="PlantSection_I" value="PlantSection_I"/>
    <add key="StartupDate_I" value="StartupDate_I"/>
    <add key="Latitude_I" value="Latitude_I"/>
    <add key="Longitude_I" value="Longitude_I"/>
    <add key="ProjectID_I" value="ProjectID_I"/>
    <add key="Division_I" value="Division_I"/>
    <add key="District_I" value="District_I"/>
    <add key="LocDesc2_I" value="LocDesc2_I"/>
    <add key="City_I" value="City_I"/>
    <add key="Zip_I" value="Zip_I"/>
    <add key="Barcode_I" value="Barcode_I"/>
    <add key="GemsMapOffice_I" value="GemsMapOffice_I"/>
    <add key="JPNumber_I" value="JPNumber_I"/>
    <add key="DistMap_I" value="DistMap_I"/>
    <add key="EquipmentNumber_D" value="EquipmentNumber_D"/>
    <add key="GUID_D" value="GUID_D"/>
    <add key="ProjectID_D" value="ProjectID_D"/>-->


    <!--<add key="EquipmentNumber_U" value="EquipmentNumber_U"/>
    <add key="GUID_U" value="GUID_U"/>
    <add key="AttributeName_U" value="AttributeName_U"/>
    <add key="OldValue_U" value="OldValue_U"/>
    <add key="NewValue_U" value="OldValue_U"/>
    <add key="ProjectID_U" value="ProjectID_U"/>-->


    <!-- Location for the transaction results and trigger file to be written to -->
    <!--<add key="ED12OutputLocation" value="C:\ED011\Output"/>-->
    <add key="TriggerFileName" value="ED12_P_TRIGGER.TXT"/>
    <!-- Thge file name specified here will have _yyyymmdd_hhMMss.xml appended-->
    <add key="PTTTransactionStatusFileName" value="GIS_PTT_Transactions"/>

    <!-- PTT Xml Input file.  The input file name specified here should have _yyyymmdd_hhMMss.xml appended to it -->
    <!--<add key="PTTED11FileName" value="SAP_PTT_Transactions"/>
    <add key="PTTED11InputDirectory" value="C:\ED011\Input\"/>

    --><!--PTT Archive Directory--><!--
    <add key="PTTED11ArchiveDirectory" value="C:\ED011\Input\Archive\"/>
    <add key="PTTED12ArchiveDirectory" value="C:\ED011\Output\Archive\"/>-->

    <!-- Ghost pole spatial search buffer -->
    <add key="GhostPoleSearchBuffer" value="10.0"/>


  </appSettings>
</configuration>