<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Licenses Configuration. -->
    <!-- ArcGIS License (refer to esriLicenseProductCode enumeration in ESRI documentation for valid values)-->
    <add key="EsriLicense" value="esriLicenseProductCodeAdvanced"/>
    <!-- ArcFM License (refer to mmLicensedProductCode enumeration in ArcFM documentation for valid values)-->
    <add key="ArcFMLicense" value="mmLPArcFM"/>

    <!-- Database Connection Information -->
    <add key="SDEConnectionFile" value="C:\ED011\EDGIS@EDGIS1Q.sde"/>
    <add key="LandbaseConnectionFile" value="C:\ED011\lbgis_ro@LBGISM1Q.sde"/>
    <!--<add key="ConnectionString" value="user id=edgis;password=;data source=dq1d;" />-->
    <add key="ConnectionString" value="Provider=OraOLEDB.Oracle.1;Data Source=edgis1q;User Id=edgis;Password=edgisTemp;" />
    <!--<add key="Password" value="*#Kk%(hLbTiQNO7Izo4uYgTdVu2g==" />-->
    <add key="Password" value="*#Kk%(wK6sCjZ3A9BLKB2Y4XAJog==" />
    <add key="StagingTable" value="EDGIS.SupportStructurePTT"/>

    <!-- Location for the transaction results and trigger file to be written to -->
    <add key="ED12OutputLocation" value="C:\ED011\Output"/>
    <add key="TriggerFileName" value="ED12_P_TRIGGER.TXT"/>
    <!-- Thge file name specified here will have _yyyymmdd_hhMMss.xml appended-->
    <add key="PTTTransactionStatusFileName" value="GIS_PTT_Transactions"/>

    <!-- PTT Xml Input file.  The input file name specified here should have _yyyymmdd_hhMMss.xml appended to it -->
    <add key="PTTED11FileName" value="SAP_PTT_Transactions"/>
    <add key="PTTED11InputDirectory" value="C:\ED011\Input\"/>

    <!--PTT Archive Directory-->
    <add key="PTTED11ArchiveDirectory" value="C:\ED011\Input\Archive\"/>
    <add key="PTTED12ArchiveDirectory" value="C:\ED011\Output\Archive\"/>

    <!-- Ghost pole spatial search buffer -->
    <add key="GhostPoleSearchBuffer" value="10.0"/>

  </appSettings>
</configuration>