<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Comma separated list of stored displays excluded from comparison when validating all stored displays-->
    <add key="ExcludedMapDocuments" value=""/>
    
    <!--Comma separated list of layers in all map documents that will be excluded from validation-->
    <add key="ExcludedLayers" value="Landbase,TomTom Labels"/>
    <add key="CSVWriteLocation" value="C:\temp\stored_displays_validation.csv"/>
    <add key="ExportCSVWriteLocation" value="C:\temp\stored_displays_export.csv"/>

   
    <add key ="EDER_SDEConnection" value ="EDGIS@EDER"/>
    
    <add key="ControlMxdFolder" value="C:\temp\mxds\prod mxds\"/>
    <add key="CompareMxdFolder" value="C:\temp\mxds\pre prod mxds\"/>
  </appSettings>
</configuration>
