<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="logfilelocation" value="\\rcnas01-smb\edgisrearch-fs01\MapDeployment\Common\logs_svrvalidation" />
    <add key="hostnamekeypath" value="SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" />
    <add key="Hostnamekeyname" value="hostname" />

    <add key="winheapsizekeypath" value="SYSTEM\CurrentControlSet\Control\Session Manager\SubSystems" />
    <add key="winheapsizekeyname" value="windows" />

    <add key="virtualmemkeypath" value="SYSTEM\CurrentControlSet\Control\Session Manager\Memory Management" />
    <add key="pagingfileskeyname" value="PagingFiles" />

    <add key="dotnetversionkeypath" value="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full\" />
    <add key="dotnetreleasekeyname" value="Release" />

    <add key="iiskeypath" value="Software\Microsoft\InetStp" />

    <add key="tcpipkeypath" value="SYSTEM\CurrentControlSet\Services\Tcpip\Parameters" />
    <add key="maxUserPort" value="MaxUserPort" />
    <add key="TcpTimedWaitDelay" value="TcpTimedWaitDelay" /> 

     <add key="uc4agentservicename" value="UC4.ServiceManager" />

    <add key="accessgroup" value="Administrators" />
    <add key="Administrators" value="SVC-A2675-PRD-MON;SVC-A2921-PRD-GIS;SVC-A2963-PRD-CICD;SVC-A2921-PRD-AGS" />
    <add key="installedsoftware" value="Google Chrome;Microsoft Edge;PGE.PerfQA.Setup_v10.8.1;ArcFM Solution Desktop 10.8.1;ArcGIS Desktop 10.8.1;ArcGIS VBA Compatibility;ArcGIS Server 10.8.1;Notepad++ (64-bit x64);Chef Infra Client v16.8.14;PGE ED Desktop EDER v10.8.1.0;ROBC Mangement App_v10.8.35;ArcGIS PerfQA Analyzer 10.8" />
    <add key="check32bitsoftwares" value="SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall" />
    <add key="check64bitsoftwares" value="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall" />
    <add key="installedfeatures" value="Telnet Client;CGI" />
 <add key="msxml6path" value="C:/Windows/System32/msxml6.dll" />

    <add key="log_in_database" value="true" />
    <add key="datasource" value="WIP_PRD" />
    <add key="user" value="UC4Admin" />
    <add key="pwd" value="V0lga#theriver55" />

    <add key="checkport" value="false" />
    <add key="host_port_filepath" value="\\rcnas01-smb\edgisrearch-fs01\MapDeployment\Common\Scripts\ValidateSystemConfig\portdetails.csv" />

  </appSettings>
</configuration>