<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ColumnNames" value="OBJECTID,TOTALNUMEDITS,SessionID,REGION,DIVISION,Date Processed,MAPNO,ELANID"/>
		<add key="SessionIDColumn" value="SESSIONID"/>
		<add key="MapNOColumn" value="MAPNO"/>
		<add key="WorkQueueWhereClause" value="STATUS = 2 OR STATUS = 3 OR STATUS = 5"/>
	</appSettings>
</configuration>