<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>


		<add key="LogFilePath" value="C:\SAP_ED06_Logs" />

		<add key ="EDER_SDEConnection" value ="GIS_I@EDER"/>
		<!--<add key="GDBM_CD_Table" value="PGEDATA.PGE_GDBM_AH_Info" />
		<add key="Bkp_Schema_Credentials" value=" " />-->
		<add key="GDBM_CD_Table" value="INTDATAARCH.PGE_GDBM_AH_Info" />
		<add key="Bkp_Schema_Credentials" value="INTDATAARCH@EDGMC" />
		<add key="CDWhereClause" value="( (USAGE IS NULL OR USAGE NOT LIKE '%NOED06%') AND  STATUS = 'C' AND FEAT_CLASSNAME NOT LIKE '%ANNO')" />
		<add key="RecordCount" value="10000" />
    <add key="RetryCount" value="1" />
    <add key="TimeDelay" value="60000" />
		<!-- Specific Date Execution [START] -->
		<!-- Date Format yyyy-MM-dd HH:mm:ss -->
    <add key="START_Date" value="2022-03-01 22:08:05" />
		<add key="END_Date" value="2022-06-07 00:00:00" />
		<!--Set it as true/false, if true will Update Interface Execution Summary and will also update Last Run Date-->
		<add key="updateINT_Summ" value="true" />
		<add key="ResetSequence" value="true" />
		<!-- Specific Date Execution [END] -->

    <!-- Oracle Exception Handeling-->
    <add key="OracleErrorCodes" value="01013,00936,00604,03114,03113,03114,00257" />
    <add key="HandleAllOracleErrorCodes" value="false" />
    
		<add key="Edit_Version" value="SDE.DEFAULT" />
		<add key="Target_Version" value="Change_Detection_ED06_Interface" />
		<add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
		<add key ="CSVExportBatchArguments" value="A,B"/>

		<add key="FunctionalLocationsFileName" value="c:\GisSap_AssetSynch\GIS_Data_Export_FL" />
		<add key="StructuresFileName" value="c:\GisSap_AssetSynch\GIS_Data_Export_SC" />
		<add key="DevicesFileName" value="c:\GisSap_AssetSynch\GIS_Data_Export_EU" />
		<add key="TriggerFileName" value="c:\GisSap_AssetSynch\ED06_P_TRIGGER.TXT" />
		<add key="BackUpFolder" value="c:\GisSap_AssetSynch\backup" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

	</appSettings>
</configuration>