<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <!--Specify the file path and the file base. Do not include the file extension in this parameter-->
    <add key="FilePathAndBase" value="C:\temp\ArcFM_Field_Order" />
    
    <!--The SDE to read from. Will not be used if a write operation is performed-->
    <add key="ReadSDEConnection" value="C:\users\a1nc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\edgis@pge1.sde"/>
    
    <!--The SDE to write an existing file into. Will not be used if a read operation is performed-->
    <add key="WriteSDEConnection" value="C:\users\a1nc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\sde@pge1.sde"/>
  </appSettings>
</configuration>