<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
    <section name="ED06_FieldMappingSection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ED07_FieldMappingSection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Insert_FieldList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Update_FieldList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Delete_FieldList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ConflationRules" type="GISPLDBAssetSynchProcess.ConfigRuleReader,GISPLDBAssetSynchProcess"/>
  </configSections>
  <appSettings>
    <add key="LogFolder" value="C:\\GISPLDBInterface\\Log"/>
    <add key="queryStatus" value="NEW,ERROR"/>
    <add key="sentStatus" value="SENT"/>
    <add key="completedStatus" value="COMPLETED"/>
    <add key="errorStatus" value="ERROR"/>
    <add key="Retry_Count" value="5"/>
    <add key="noupdates_Status" value="DO_NOT_PROCESS"/>
    <add key="queryStatus" value="NEW,ERROR"/>
    <add key="DB_Conn_String_EDGIS" value="Data Source=PT4D;Persist Security Info=True;User ID=PLDB;Password=@Password;Connection Timeout=10;"/>
    <add key="DB_Conn_String_EDGIS_PGEDATA" value="Data Source=PT4D;Persist Security Info=True;User ID=PLDB;Password=@Password;Connection Timeout=10;"/>
	  <add key="Username_Instance" value="PLDB@PT4D"/>  
    <!--<add key="NAS_FILE_LOCATION_ED06" value="\\sfshare04-nas2\sfgispoc_data\INTERFACE\EDAMGIS_ED06_PRODUCER\OUTBOUND\Backup\11302020"/>
    <add key="NAS_FILE_LOCATION_ED07" value="\\sfshare04-nas2\sfgispoc_data\INTERFACE\EDAMGIS_ED07_CONSUMER\INBOUND\backup\11102020"/>-->
    <add key="NAS_FILE_LOCATION_ED06" value="C:\NAS_FILE_LOCATION\ED006_06212021"/>
    <add key="NAS_FILE_LOCATION_ED07" value="C:\NAS_FILE_LOCATION\ED007_06212021"/>
    <add key="RequestMethod" value="POST"></add>
    <add key="SetSAPEQUIPIDURL" value="https://itapidev01vip.comp.pge.com/Electric/Poles/v1/SetSAPEquipId"/>
    <add key="UpdateLocationsURL" value="https://itapidev01vip.comp.pge.com/Electric/Poles/v1/UpdatePoleLocations"/>
    <add key="DecommissionPoleURL" value="https://itapidev01vip.comp.pge.com/Electric/Poles/v1/SetDecommissionPoles"/>
    <add key="CommonUpdateRule" value="PushALL"></add>
    <add key="PushAll_Insert" value="Pldbid;PGE_SAPEQUIPID;PGE_GLOBALID;Latitude;Longitude"></add>
    <add key="PushAll_Update" value="Pldbid;Latitude;Longitude"></add>
    <add key="PushAll_Delete" value="Pldbid;PGE_ORDERNUMBER"></add>
    <add key="NoLATLONGUPDATE_Insert" value="Pldbid;PGE_SAPEQUIPID;PGE_GLOBALID"></add>
    <add key="NoLATLONGUPDATE_Update" value="Pldbid"></add>
    <add key="NoLATLONGUPDATE_Delete" value="Pldbid"></add>
    <add key="NOUPDATES_Insert" value=""></add>
    <add key="NOUPDATES_Update" value=""></add>
    <add key="NOUPDATES_Delete" value=""></add>
    <add key="serviceUserName" value="GIS"/>
    <add key="servicePassword" value="*B{&gt;gUVMc7"/>
    <add key="DeleteRecordDays" value="180"/>
    <add key="InsertBatchRecordLimit" value="50"/>
    <add key="UpdateBatchRecordLimit" value="40"/>
    <add key="DeleteBatchRecordLimit" value="10"/>
	<add key="SAPJSONAttributeSeq" value="EDIT_TYPE=ActionType;ID_Type=IDType;PGE_SAPEQUIPID=SAPEquipID;PGE_ORDERNUMBER=InstallJobNumber;LATITUDE=y;Longitude=x;PGE_GLOBALID=GUID;Parent_GUID=ParentGUID;PLDBID=PLDBID"/>
	<add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
	<add key="Table_ED006" value="INTDATAARCH.PGE_GISSAP_ASSETSYNCH"/>
	<add key="Table_ED007" value="INTDATAARCH.SAP_TO_GIS"/>
	<add key="Table_Ed006__GISPLDB_INTERFACE" value="PLDB.ED06_GISPLDB_INTERFACE" />
    <add key="USP_UpdateSapEquipID" value="PLDB.UPDATESAPEQUIPID_ED006TABLE"/>  
  </appSettings>
  <ED06_FieldMappingSection>
    <add key="EDIT_TYPE" value="EDIT_TYPE"></add>
    <add key="ID_Type" value="ID_Type"/>
    <add key="PGE_SAPEQUIPID" value="PGE_SAPEQUIPID"/>
    <add key="PGE_ORDERNUMBER" value="PGE_ORDERNUMBER"></add>
    <add key="Latitude" value="LATITUDE"/>
    <add key="Longitude" value="Longitude"/>
    <add key="PGE_GLOBALID" value="PGE_GLOBALID"/>
    <add key="Parent_GUID" value="Parent_GUID"/>
    <add key="PLDBID" value="PLDBID"/>
    <add key="CREATED_DATE" value="CREATED_DATE"/>
    <add key="LASTMODIFED_DATE" value="LASTMODIFED_DATE"/>
    <add key="INTERFACE_STATUS" value="INTERFACE_STATUS"/>
    <add key="RETRY_COUNT" value="RETRY_COUNT"/>
    
    <!--<add key="SHAPE" value="PLDBID"></add>-->
    <!--<ED07_FieldMapping>
      <add key="SAPEquipID" value="SAPEquipID" />
      <add key="ASSET_DETAILS" value="ASSET_DETAILS">
      </add>
      <add key="TYPE" value="TYPE"></add>
      -->
    <!--<add key="OPER_FLAG" value="SNOW_LOAD_DIST"/>
      <add key="SYMBOL_NO" value="ORDER_DESCRIPTION"/>-->
    <!--
      <add key="GlobalID" value="GlobalID" />
      -->
    <!--<add key="SHAPE" value="PLDBID"></add>-->
    <!--
    </ED07_FieldMapping>-->
  </ED06_FieldMappingSection>
  <ED07_FieldMappingSection>
    <add key="PGE_SAPEQUIPID" value="PGE_SAPEQUIPID"></add>
    <add key="ASSET_DETAILS" value="DETAILS"/>
    <add key="TYPE" value="TYPE"/>
    <add key="PGE_GLOBALID" value="PGE_GLOBALID"/>
  </ED07_FieldMappingSection>
  <Insert_FieldList>
    <add key="Edit_Type" value="EDIT_TYPE"/>
    <add key="Pldbid" value="Pldbid"></add>
    <add key="Pge_Sapequipid" value="PGE_SAPEQUIPID"/>
    <add key="Pge_Globalid" value="PGE_GLOBALID"/>
    <add key="Latitude" value="Latitude"/>
    <add key="Longitude" value="Longitude"/>
    <!--<add key="Elevation" value="Elevation"/>-->
  </Insert_FieldList>
  <Update_FieldList>
    <add key="Edit_Type" value="EDIT_TYPE"/>
    <add key="Pldbid" value="Pldbid"></add>
    <add key="Latitude" value="Latitude"/>
    <add key="Longitude" value="Longitude"/>
    <!--<add key="Elevation" value="Elevation"/>-->
  </Update_FieldList>
  <Delete_FieldList>
    <add key="Edit_Type" value="EDIT_TYPE"/>
    <add key="Pldbid" value="Pldbid"></add>
    <add key="Pge_Ordernumber" value="PGE_ORDERNUMBER"/>
    <add key="Pge_Notificationnumber" value="PGE_NOTIFICATIONNUMBER"/>
  </Delete_FieldList>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
<!--<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>-->
