<configuration>
	<configSections>
		<section name="GlobalClientReplicaSection" type="Miner.Geodatabase.Replication.Configuration.GlobalClientReplicaSection, Miner.Geodatabase, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
	</configSections>
	<GlobalClientReplicaSection BasePath="D:\Mobile\ClientBase">
		<CategorizedClientReplicaElementCollection>
			<CategorizedClientReplicaElement Category="Northeast">
				<PersonalGdbClientReplicaElementCollection>
					<PersonalGdbClientReplicaElement PersonalGdbFileName="NortheastElectric.mdb" Name="NortheastElectric">
						<ServerClientReplicaElement ReplicaWebServiceUrl="" TransportMethod="Bits"/>
						<ClientScheduledReplicaElement NumberRetriesToGetFullDownload="3" ReplicaUpdateInterval="01:00:00" NumberRetries="5" RetryInterval="00:02:00"/>
					</PersonalGdbClientReplicaElement>
				</PersonalGdbClientReplicaElementCollection>
				<FileGdbClientReplicaElementCollection>
					<FileGdbClientReplicaElement FileGdbDirectoryName="NortheastLandbase.gdb" Name="NortheastLandbase">
						<ServerClientReplicaElement ReplicaWebServiceUrl="" TransportMethod="Bits"/>
						<ClientScheduledReplicaElement NumberRetriesToGetFullDownload="3" ReplicaUpdateInterval="1.00:00:00" NumberRetries="5" RetryInterval="00:15:00"/>
					</FileGdbClientReplicaElement>
				</FileGdbClientReplicaElementCollection>
			</CategorizedClientReplicaElement>
		</CategorizedClientReplicaElementCollection>
	</GlobalClientReplicaSection>
	<system.web>
		<trust level="Full"/>
		<webControls clientScriptsLocation="/aspnet_client/{0}/{1}/"/>
	</system.web>
</configuration>
