<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="NumProcesses" value="16"/>
    <add key="CircuitsPerRequest" value="1"/>
    <!-- Licenses Configuration. -->
    <!-- ArcGIS License (refer to esriLicenseProductCode enumeration in ESRI documentation for valid values)-->
    <add key="EsriLicense" value="esriLicenseProductCodeAdvanced"/>
    <!-- ArcFM License (refer to mmLicensedProductCode enumeration in ArcFM documentation for valid values)-->
    <add key="ArcFMLicense" value="mmLPArcFM"/>

    <!-- Electric Distribution database information -->
   
    
    <add key="EDER_SDEConnection" value ="EDGIS@EDER"/>
    <add key="EDER_ConnectionStr" value ="EDGIS@EDER"/>
    
    <add key="DistributionNetwork" value="EDGIS.ElectricDistNetwork"/>

  </appSettings>

</configuration>