<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- To recover delete/Update record-->
    <add key ="FORRECORVERY" value ="FALSE"/>
    <add key="tempConnString" value="EDGIS@EDGMC" />
    <!-- To recover delete/Update record-->


    <add key="LogConfigName" value="PGE.BatchApplication.LoadDifference.log4net.config" />
    <!--Make a EDER/EDERSUB connection with EDGIS User-->
    <add key="SDEEDERWorkSpaceConnString" value="EDGIS@EDER" />
    <add key="SDEEDERSUBWorkSpaceConnString" value="EDGIS@EDERSUB" />
    <!--Make a EDGMC_A connection with EDGIS User-->
    <add key="EDGMCConnectionString" value="EDGIS@EDGMC" />

    <!--  Convert the status T->A(Archieve)in EDER database and move to Geomart for those record where Capture_date(POSTED DATE) is less then given day -->
    <add key="T_RETENTION_PERIOD" value="15"/>
    
    
    <!--make a oracle connection -->
    <add key="OracleConnectionString" value="GIS_I@EDER" />
    <add key ="VERSION_NAME" value = "PGE_UpdateOldData"/>
    
    <add key ="UPDATEQUERY" value = "select distinct Feat_OID,FEAT_CLASSNAME,ACTION,OBJECTID,VERSIONNAME from PGEDATA.PGE_GDBM_AH_INFO where 
         (ACTION in ('U','D')) and (status in ('T')) and ((FEAT_CLASSNAME not like 'EDGIS.ELECTRICDISTNETWORK_JUNCTIONS%') and  FEAT_CLASSNAME not like ('%ANNO%'))"/>
    
    <add key ="INSERTQUERY" value = "select distinct Feat_OID,FEAT_CLASSNAME,ACTION,OBJECTID,VERSIONNAME from PGEDATA.PGE_GDBM_AH_INFO where  
		   ((ACTION in ('I')) and (status='T' and FEAT_GLOBALID is null ) and (FEAT_CLASSNAME not like '%EDGIS.ELECTRICDISTNETWORK_JUNCTIONS%'))"/>
    
    
    <add key ="FINDFEATURE_INTDATAARACH" value ="N"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>