<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
       <add key="LogConfigName" value="pge.log4net.config"/>
     
      <!--Make a WIP connection with ACWIP User-->
     
      <!--Make a EDER connection with WIPEDITOR Usser-->
      
      <!--Make a LANDBASE connection with SDE Usser-->
      
      <!--make a connection from WIP Database through webr User-->
      
      <!--make a connection from Setting Database through EDTLM User-->
  
      <add key ="WIP_SDEConnection" value ="ACWIP@WIP"/>
      <add key ="EDER_SDEConnection" value ="EDGIS@EDER"/>
      <add key ="LBMAINT_SDEConnection" value ="SDE@LBMAINT"/>
      <add key ="WIP_ConnectionStr" value ="WEBR@WIP"/>
      <add key ="EDAUX_ConnectionStr" value ="EDTLM@EDAUX"/>

      <!--ESFT INPUT/OUTPUT File Path-->
      <add key="XMLFOLDERPATH" value="\\sfshare04-nas2\sfgispoc_data\Enhancements\EES_Enhancement_Automated_WIP_Creation\21-ESFT\DEV\EDAMGIS_ED13A_CONSUMER\INBOUND"/>
      <add key ="OUTPUT_PDF_PATH" value ="\\sfshare04-nas2\sfgispoc_data\Enhancements\EES_Enhancement_Automated_WIP_Creation\21-ESFT\DEV\EDAMGIS_ED13B_PRODUCER\OUTBOUND"/>
      
      <!--<add key="XMLFOLDERPATH" value="\\sfshare04-nas2\sfgispoc_data\INTERFACE\EDAMGIS_ED13A_CONSUMER\INBOUND"/>
      <add key ="OUTPUT_PDF_PATH" value ="\\SFSHARE04-NAS2\sfgispoc_data\INTERFACE\EDAMGIS_ED13B_PRODUCER\OUTBOUND"/>-->
      <add key ="TRIGGER_FILE_NAME" value ="ED13B_P_TRIGGER.TXT"/>
      
      <!--<PDF Detail>-->     
      <add key ="PORTRAIT_MXD_NAME" value ="AdHocMap_11x17_Portrait_1_1200.mxd"/>
       
      <!--<Staging Table Detail>-->
      <add key="WIPINPUTTABLE" value="WEBR.PGE_AUTOCREATEWIP_SAP_DATA"/>
      <add key ="WIP_FILE_DETAIL" value ="WEBR.PGE_AUTOCREATEWIP_FILEDETAIL"/>
      <add key ="WIP_SEQUENCE" value ="WEBR.AUTOCREATEWIP_SEQUENCE"/>
      
      <!--SAP-GIS Object Class Mapping seperated by comma in given format - <SAP_Object_Class:GIS_Object_Class,SAP_Object_Class:GIS_Object_Class>-->
      <add key ="SAP_GIS_MAPPING_CLASS" value ="ED.POLE:EDGIS.SUPPORTSTRUCTURE"/>

      <add key="PROCESSING_MINUTE" value="120"/>
      
      <add key ="WIP_CREATION_USER" value ="ACWIP"/>
      <add key ="TRANSFORMER_SEARCH_BUFFER" value ="50" />
      <add key ="WIP_BUFFER" value ="50" />
      <add key ="MAP_SCALE" value ="1200" />
      <add key ="DATALOADING_REQUIRED" value ="true"/>
      <add key ="WIP_STRUCTURE_DISTANCE" value ="3"/>
      <add key ="PDFSUFFIX" value ="CON"/>
      <add key ="ARCHIVING_DAYS_LIMIT" value ="90"/>
      <add key="STRUCTURECLASSNAME" value ="EDGIS.SUPPORTSTRUCTURE"/>
      
      
      <!--EMAIL Parameters-->
      <add key="MAIL_FROM_DISPLAY_NAME" value="GIS Auto Create WIP Admin NP"/>
      <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com"/>

      <!-- Mail Address and Mail Body for EDGIS Support Team -->
      <add key="MAIL_TO_ADDRESS_EDGISSupportTeam" value="YXA6"/>
      <add key="MAIL_SUBJECT_PROCESSERROR" value="[DEV]GIS Auto Create WIP process error"/>

      <!--Mail Address and Mail Subject for DAPHIE-->
      <add key="MAIL_TO_ADDRESS_SAP" value="YXA6"/>
      <add key="MAIL_SUBJECT_INVALIDXML" value="[DEV]Failed to load XML file in WIP Database"/>


    </appSettings>
  <system.net>
    <mailSettings >
      <smtp >
        <network host="mailhost.comp.pge.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration> 