<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--<connectionStrings>
    <add name="ConnectionStr6Q" connectionString="DATA SOURCE=EDGISQ6Q;PASSWORD=edsettTemp;PERSIST SECURITY INFO=True;USER ID=EDSETT" />
    <add name="ConnectionStr1D" connectionString="DATA SOURCE=EDGIST1D;PASSWORD=edgis!T1Di;PERSIST SECURITY INFO=True;USER ID=edgis" />
    --><!--<add name="ConnectionStr1D" connectionString="DATA SOURCE=EDGIST1D;PASSWORD=gisTemp!;PERSIST SECURITY INFO=True;USER ID=gis_i" />--><!--
  </connectionStrings>-->

  <connectionStrings>
    <add name="ConnectionStr6Q" connectionString="DATA SOURCE=EDGISS1D;PASSWORD=edsettTemp;PERSIST SECURITY INFO=True;USER ID=EDSETT"/>
    <add name="ConnectionStr1D" connectionString="DATA SOURCE=EDER;PASSWORD=edgis!Q9Qu;PERSIST SECURITY INFO=True;USER ID=edgis"/>
  </connectionStrings>

  <appSettings>
    <add key="QueryGetData" value="select OPERATINGNUMBER, GLOBALID, DIVISION,DISTRICT from EDGIS.ZZ_MV_NETWORKPROTECTOR" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>