<?xml version="1.0"?>
<configuration>
  <appSettings>  
    <add key ="MM_SESSION_SessionTable" value="PROCESS.MM_SESSION"/>
    <add key ="CURRENT_STATE_SessionTable" value="PROCESS.MM_PX_CURRENT_STATE"/>
   
    <add key="LogConfigName" value="pge.log4net.config"/>
    <add key ="CurretnOwnersQuery" value ="Select Distinct CURRENT_OWNER from PROCESS.MM_SESSION"/>
    
    <add key ="EDER_SDEConnection" value ="GIS_I@EDER"/>
    <add key ="EDER_ConnectionStr" value ="GIS_I@EDER"/>
   
    <!--EMAIL Parameters-->
    <!-- Mail parameters for Old Session Notification-->
    <add key="MAIL_SUBJECT_OLD_SESSION" value="Aged (> 5 Days) In-Progress Session Notification(NON-PRODUCTION, this is a test please ignore)"/>
    <add key="EMAIL_BODY" value="Dear Mapper,                
         &lt;br&gt; &lt;br&gt;  
         Please complete the following In-Progress aged sessions.
         &lt;br&gt; &lt;br&gt;"/>
    <add key="EMAIL_BODY_CLOSURE" value="Thank you ,                     
         &lt;br&gt;                 
         EDGIS Support Team"/>
    <add key="MAIL_FROM_DISPLAY_NAME" value ="EDGIS Support Team"/>    
    <add key ="FROMLANID" value="M4JF@pge.com"/>
    <add key ="CC_LanIds" value =""/>
    <add key ="MaxSessionAge" value ="5"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mailhost.comp.pge.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
