<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Table_Details" value="PT1D,pgedata,pgedata#PT1Dv$pgedata.CIT_PGE_AUTO_UPDATES$180$PROCESSED_ON;PTW1D,edgis,edgis#PTW1DV$CIT_MANUAL_UPDATES$180$PROCESSED_ON"/>
    <add key ="EDER_ConnectionStr" value ="PGEDATA@EDER"/>
    <add key ="WIP_ConnectionStr" value ="EDGIS@EDER"/>
    
    
    <add key="LogConfigName" value="pge.log4net.config"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
