<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    
    
    
    <add key ="EDER_ConnectionStr" value ="GIS_I@EDER"/>
    <add key ="EDGIS_ConnectionStr" value ="EDGIS@EDER"/>
    <add key ="EDER_ConnectionStr_Pgedata" value ="PGEDATA@EDER"/>
    
    
    <add key="gisSapAssetSynchTableName" value="EDGIS.PGE_GISSAP_AssetSynch" />
    <add key="gisSapAssetSynchTempTableName" value="EDGIS.PGE_GISSAP_ASSETSYNCH_TMP" />
    <add key="ED07_User" value="INT_USER_ED07" />
    <add key="LASTUSERFEILD" value="LASTUSER" />
    <add key="ED07TableName" value="EDGIS.SAP_TO_GIS" />
    <add key="FunctionalLocation" value="F" />
    <add key="SupportStructure" value="S" />
    <add key="Device" value="E" />
    <add key="NotApplicable" value="N" />
    <add key="Separator" value="." />
    <add key="InterfaceName" value="ED06" />
    
    
    <!--##ME Q3-19 Release## : Main table is used at place of Main table for batch process enhancement-->
     
    <add key="scriptsLocation" value="c:\GisSap_AssetSynch"/>
    <add key="reverseSynchDeviceList" value="CapacitorBank,Interrupter,Recloser,Regulator,Sectionalizer,Switch"/>
    <!--Reverse synch fields-->
    <!--keys must be class names in smaller case-->
    <add key="capacitorbank" value=""/>
    <add key="interrupter" value=""/>
    <add key="recloser" value=""/>
    <add key="regulator" value=""/>
    <add key="sectionalizer" value=""/>
    <add key="switch" value=""/>
  </appSettings>
  <setting>
    <add key="connectionString" value="GIS_I@EDER" />
  </setting>
</configuration>
