<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="connectionString" value="Data Source=DQ1t;User ID=edgis;Password=Eddygis.0725#" />-->
    <add key="connectionString" value="Data Source=EDGIST1D;User ID=edgis;Password=edgis!T1Di" />
    <add key="settingsConnectionString" value="Data Source=DQ1t;User ID=pgedata;Password=pgedata" />
    <add key="gisSapAssetSynchTableName" value="EDGIS.PGE_GISSAP_AssetSynch" />
    <!--<add key="gisSapAssetSynchTempTableName" value="EDGIS.PGE_GISSAP_ASSETSYNCH_TMP" />-->
    <!--##ME Q3-19 Release## : Main table is used at place of Main table for batch process enhancement-->
    <add key="gisSapAssetSynchTempTableName" value="EDGIS.PGE_GISSAP_AssetSynch" />   
    <add key="scriptsLocation" value="c:\GisSap_AssetSynch"/>
    <add key="reverseSynchDeviceList" value="CapacitorBank,Interrupter,Recloser,Regulator,Sectionalizer,Switch"/>
    <!--Reverse synch fields-->
    <!--keys must be class names in smaller case-->
    <add key="capacitorbank" value=""/>
    <add key="interrupter" value=""/>
    <add key="recloser" value=""/>
    <add key="regulator" value=""/>
    <add key="sectionalizer" value=""/>
    <add key="switch" value=""/>
  </appSettings>
  <setting>
    <add key="connectionString" value="Data Source=EDGIST1D;User ID=edgis;Password=edgis!T1Di" />
  </setting>
</configuration>
