<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key ="LOG_FILENAME" value ="PGE.Interface.ENOS.Batch"/>    
    <add key ="MAX_ARCHIVE_AGE" value ="36"/>
    <add key ="SERVICE_PREFIX" value ="sde:Oracle11g:/;local="/>
    <add key ="SERVICE" value ="EDGIST1D"/>    
    <add key ="EDIT_USER" value ="GIS_I"/>
    <add key ="EDIT_USER_PASSWORD" value =""/>
    <add key ="POST_USER" value ="SDE"/>
    <add key ="POST_USER_PASSWORD" value =""/>
    <add key ="TARGET_VERSION_NAME" value ="SDE.DEFAULT"/>
    <add key ="RECONCILE_VERSION_NAME" value ="ENOS_EDIT"/>
    <add key ="RECONCILE_ACQUIRE_LOCK" value ="false"/>
    <add key ="RECONCILE_ABORT_IF_CONFLICTS" value ="false"/>
    <add key ="RECONCILE_CHILD_WINS" value ="true"/>
    <add key ="RECONCILE_COLUMN_LEVEL" value ="true"/>
    <add key ="POST_AFTER_RECONCILE" value ="true"/>
    <add key ="DELETE_ENOS_STAGE" value ="true"/>
      
    <childprocesses>
      <childprocess last_digits ="1,2">1</childprocess>
      <childprocess last_digits ="3,4">2</childprocess>
      <childprocess last_digits ="5,6">3</childprocess>
      <childprocess last_digits ="7,8">4</childprocess>
      <childprocess last_digits ="9,0">5</childprocess>
    </childprocesses>
    
  </appSettings> 
</configuration>