<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FieldMappingSection" type="PGE.Interfaces.SAP.WOSynchronization.FieldMappingSection,PGE.Interfaces.SAP.WOSynchronization"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="PickupDirectory" value="C:\PMOrder\SAPGISReports"/>
    <!--<add key="file_regex" value="(20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0-3])([0-5][0-9])([0-5][0-9])[0-9][0-9][0-9].[xX][mM][lL]$"/>-->
    <add key="file_regex" value="(Orders-20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0-3])([0-5][0-9])([0-5][0-9]).[xX][mM][lL]$"/>
    <!--<add key="TriggerFile" value="\ED13_C_TRIGGER.TXT" />-->
    <add key="WIPCloudVersion" value="SDE.DEFAULT"/>
    <add key="WIPCloudName" value="WEBR.WIP"/>
    <add key="PMOrderName" value="WEBR.PGE_PMOrder"/>
    <add key="PMJOBNUMBER" value="INSTALLJOBNUMBER"/>
    <add key="WIPJOBNUMBER" value="INSTALLJOBNUMBER"/>
    
    <!--Below are added for EDGIS rearch Project START-->

    <add key ="WIP_SDEConnection" value ="WEBR@WIP"/>
    
  
    <add key ="EDER_ConnectionStr" value="EDGIS@EDER"/>
    
    <add key="ED13StagingTable" value="PGEDATA.PGE_ED13_STAGING"/>
    <add key="PROCESSEDTIME" value="PROCESSEDTIME"/>
    <add key="PROCESSEDFLAG" value="PROCESSEDFLAG"/>
    <add key="ERRORDESCRIPTION" value="ERRORDESCRIPTION"/>
    <add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
    <!--END-->

    <add key="ErrorLocation" value="C:\PMOrder\SAPGISReports\Errors"/>
    <!--<add key="ArchiveLocation" value="C:\PMOrder\SAPGISReports\Archive"/>-->
    <add key="MaxAge" value="365"/>
    <add key="OutputDirectoy" value="C:\PMOrder\SAPGISReports\Output"/>
    <add key="PMOrderFieldOrder" value="Region,Division,MainWorkCenter,JobNumber,JobDescription,JobType,MAT,WorkType,UserStatus,JobOwnerLANID,OrderCreateDate,FunctionLocation,Equipment,LegacyMapNumber"/>
    <add key="WIPFieldOrder" value="JobNumber,JobDescription,LANID,JobDate,Status,JobType,Comments,CreationUser,DateCreated,LastUser,DateModified,CompletionDate,ObjectID,GlobalID,ConversionID,ConversionWorkPackage"/>
  </appSettings>
  <FieldMappingSection>
    <FieldMapping>
      <add key="Order" value="InstallJobNumber"/>
      <add key="Type" value="JobType"/>
      <add key="Location" value="FunctionLocation"/>
      <add key="Status" value="UserStatus"/>
      <add key="MaintActType" value="MAT"/>
      <add key="JobOwner" value="JobOwnerLANID"/>
      <add key="JobDesription" value="JobDescription"/>
    </FieldMapping>
  </FieldMappingSection>
  <!--<startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>-->

</configuration>
