<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONNECTIONPATH" value="D:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.PasswordMgmt\Connections.xml"/>
    <add key="ARCPYPATH" value="D:\Python27\ArcGIS10.8\python.exe"/>
    <add key="SDEPYTHONPATH" value="D:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.PasswordMgmt\CreateSDEConn.py"/>
    <add key="PROD" value="N"/>
  </appSettings>    
</configuration>