<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogConfigName" value="PGE.BatchApplication.GDBMAHBatchJobs.log4net.config" />
    <!--Make a EDER connection with GDBMEDITOR User-->
    <add key="SDEEDERWorkSpaceConnString" value="GIS_I@EDER" />
    <!--Make a EDER connection with SDE User (Not Used)-->
    <add key="SDEWorkSpaceConnString" value="SDE@EDER.sde" />
    <!--make a oracle connection -->
    <add key="OracleConnectionString" value="GIS_I@EDER" />
    <!--<Staging Table Detail>-->
    <add key="USERNAME" value="WEBR" />
    <add key="PASSWORD" value="webr#WM1D" />
    <!--GDBM POST_QUEUE_Transition_state . Send Session to Dataprocessing set as 9 and if want to send session in post_queue set as 5-->
    <add key="GDBM_POST_QUEUE_STATE" value="9" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>