<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  
  
  <appSettings>   

    <add key ="EDER_ConnectionStr" value ="PGEDATA@EDER"/>
    <add key ="EDER_SDEConnection" value ="GIS_I_WRITE@EDER"/>
    
    <add key="EditsPerSession" value="20"/>
    <add key="EditsPerBatchRun" value="100"/>
    
    <add key="ServiceLocationClassName" value="EDGIS.SERVICELOCATION"/>
    <add key="PrimaryGenerationClassName" value="EDGIS.PRIMARYGENERATION"/>
    <add key="TargetVersionName" value="SLU"/>
    <add key="VersionNamePrefix" value="SLUP_"/>
    <add key="DefaultVersionName" value="SDE.DEFAULT"/>

    <add key="ChangesLoggedTableName" value="PGEDATA.TEMP_PRIMRAYGENREPLACED"/>    
    
    <add key="SessionName" value="SN_"/>    
   
  </appSettings>
</configuration>