<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <!-- Connection and user details needed in the process : Start -->
    <add key ="EDER_ConnectionStr" value ="IGPCITEDITOR@EDER"/>
    <add key ="EDER_SDEConnection" value ="IGPCITEDITOR@EDER"/>
    <add key ="EDER_ConnectionStr_IGPCITEDITOR" value ="IGPCITEDITOR@EDER"/>
    <add key ="EDER_ConnectionStr_PGEDATA" value ="PGEDATA@EDER"/>
    <add key ="WIP_ConnectionStr_WEBR" value ="WEBR@WIP"/>



    <add key="Process_Name" value ="SCHEDULE" />
    <add key="queryToGetRule1Records" value="select * from igpciteditor.cit_allPriUGCond_Rule1" />

 
    
    
    <!-- Connection and user details needed in the process : End -->

    <!-- Mail Related : Start -->
    <add key="SUBJECT" value="CIT | Conflict between Automatic and Manual Updates" />
    <add key="MAIL_FROM_DISPLAY_NAME" value="IGP" />
    <add key="MAIL_FROM_ADDRESS" value="A0SW@PGE.COM" />
    <!--<add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com" />-->
    <add key="ToemailID" value="A0SW@PGE.COM,NXAW@PGE.COM,A9BJ@PGE.COM,H1K3@PGE.COM,YXA6@PGE.COM,AIM9@PGE.COM" />
    <add key="clientHost" value="mailhost.utility.pge.com" />
    <add key="fileName" value="ConflictingPriUGConductors" />
    <add key="fileExtension" value=".csv" />
    <add key="SendMailDaysDifference" value="1" />
    <add key="SendMailDay" value="Monday,Tuesday,Wednesday,Thursday,Friday" />
    <add key="webrUrl" value="http://wwwedgis/EDViewer" />
    <add key="mailContent" value="The Primary UG Conductor(s) in attached csv were found to be eligible for updates by Scheduled Process. However, the conductor(s) have already been updated manually. Therefore, Filledduct values for these conductor(s) are not being updated through Scheduled process." />
    <add key="columnOrder" value="select DISTRICT,DIVISION,LOCALOFFICEID,SUBSTATIONID,SUBSTATIONNAME,CIRCUITID,OBJECTID,GLOBALID,CIT_UPDATEDON,FILLEDDUCT_MANUAL,FILLEDDUCT_CAPTURED from PGEDATA.CIT_PGE_CONFLICT_INFORMATION" />
    <add key="OrderBy" value="ORDER BY SUBSTATIONNAME" />
    <!-- Mail Related : End -->

    <!-- Configurable parameters for the process : Strat -->
    <add key="searchDistance" value="6" />
    <add key="searchDistance_50" value="3" />
    <add key="linefractions" value="11" />
    <add key="numberOfPointsToBeConsidered" value="5" />
    <add key="cutoffLengthConductorToExclude" value="100" />
    <!-- Below value is whose 40% is equal to 100 Feet (100/0.4)-->
    <add key="ConductorLengthToCalculateParallelLengthIsGreaterThanCutOffLength" value="250"/>
    <add key="logNeededWhileExecuting" value="true" />
    <add key="dateFormatToChange" value="dd/mm/yy hh24:mi:ss" />

    <!-- list_LineFractions = new List<double> { 0, 0.1, 0.2, 0.3,0.4, 0.5, 0.6, 0.7, 0.8,0.9, 1 };// lineFractions = 11 40%(numberOfPointsToBeConsidered=5) -->
    <!-- Configurable parameters for the process : End -->

    <add key="SessionNamePrefix" value="SN" />

    <!--Session State: Data Processing=9,Post Queue=5,Pending QA/QC=2-->
    <add key ="SESSION_STATE" value="9"/>
    <add key ="SESSION_PRIORITY" value="20"/>

    <add key="columnCodes" value="DIVISION#DIVISION NAME,DISTRICT#DISTRICT NAME,LOCALOFFICEID#LOCAL OFFICES" />

    <add key="overwriteFilledductValue" value="true" />
    <add key="FilledductValueForNotInService" value="0" />
    <add key="tableNameToSavePriUGException" value="pgedata.cit_conductor_exception" />

    <!-- Tables used for daily process : Start -->
    <add key="tableNameForConductorCodes" value="pgedata.cit_pge_conductorcodes" />
    <add key="tableNameChangeDetection" value="PGEDATA.CIT_PGE_CHANGED_PRIUGCONDUCTOR" />
    <add key="tableNameToSaveFinalData" value="pgedata.CIT_PGE_AUTO_UPDATES" />
    <add key="tableNameToSaveVersionData" value="pgedata.CIT_VERSION_STATUS" />
    <add key="tableNameForManualUpdates" value="WEBR.CIT_MANUAL_UPDATES" />
    <add key="tableNameForConductorCodes" value="pgedata.cit_pge_conductorcodes" />
    <add key="tableNameForConflictInformation" value="PGEDATA.CIT_PGE_CONFLICT_INFORMATION" />
    <!-- Tables used for daily process : End -->

    <!-- Queries used in the process : Start -->
    <add key="queryToGetConduitSystemDuctBankData" value="select * from pgedata.cit_PriUG_FilledDucts" />
    <add key="queryToGetVersionName" value="select MAX(VERSION_NAME) as VERSION_NAME from pgedata.CIT_VERSION_STATUS WHERE POST_STATUS=0 ORDER BY PROCESSED_ON DESC" />
    <!-- Queries used in the process : End -->

    <!-- One time used tables : Start -->
    <add key="tableNameToUpdateForChanges" value="igpciteditor.cit_allPriUGCond_Rule1_FD_LE" />
    <add key="tableNameToFindChanges" value="igpciteditor.cit_allpriugcond_rule1_changes" />
    <add key="tableNameToKeepAllChangedConductors" value="igpciteditor.cit_allpriugcond_rule1_ch_FD" />
    <!-- One time used tables : Start -->

    <add key="LogConfigName" value="pge.log4net.config" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
