<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<connectionStrings>
    --><!-- Connection strings needed in the bulk update process --><!--
    <add name="connString_edgis" connectionString="Provider=MSDAORA;Persist Secutiry Info=True;Data Source=EDER;PLSQLRSet=1;User Id=edgis; Password=edgis#PT1Dv" />
    <add name="connString_igpciteditor" connectionString="Provider=MSDAORA;Persist Secutiry Info=True;Data Source=EDER;PLSQLRSet=1;User Id=igpciteditor; Password=igpciteditor#PT1Dv" />
  </connectionStrings>-->

  <appSettings>

    <!-- Connection and user details needed in the process : Start -->

    <add key ="EDER_ConnectionStr" value ="GIS_I_WRITE@EDER"/>
    <add key ="EDER_SDEConnection" value ="GIS_I_WRITE@EDER"/>
    <add key ="EDER_ConnectionStr_EDGIS" value ="EDGIS@EDER"/>
    <add key ="EDER_ConnectionStr_PGEDATA" value ="PGEDATA@EDER"/>
    <add key ="EDER_ConnectionStr_IGPCITEDITOR" value ="IGPCITEDITOR@EDER"/>

    <!-- Most important parameters in the process : Start -->
    <add key="Process_Name" value ="BULK" />
    <!--SCHEDULE/BULK/BULK_50SCALE/TESTLOG/FINDALLCHANGES/LEFTRECORDS/RUNCHANGES-->
    <add key="queryToGetRule1Records" value="select * from igpciteditor.cit_allPriUGCond_Rule1" />
    <add key="tableNameallPriUGCond_Rule1_FD" value="igpciteditor.cit_allpriugcond_rule1_fd" />

    <!--<add key="queryToGetRule1Records" value="select * from igpciteditor.cit_allpriugcond_NearSub" />
    <add key="tableNameallPriUGCond_Rule1_FD" value="igpciteditor.cit_allpriugcond_NearSub_fd" />-->
    <!-- Most important parameters in the process : End -->

  
    
    <!-- Connection and user details needed in the process : End -->

    <!-- Mail parameters : End -->

    <!-- Configurable parameters for the process : Strat -->
    <add key="searchDistance" value="6" />
    <add key="searchDistance_50" value="3" />
    <add key="searchDistance_double" value="12" />
    <add key="linefractions" value="11" />
    <add key="numberOfPointsToBeConsidered" value="5" />
    <add key="cutoffLengthConductorToExclude" value="100" />
    <!-- Below value is whose 40% is equal to 100 Feet (100/0.4)-->
    <add key="ConductorLengthToCalculateParallelLengthIsGreaterThanCutOffLength" value="250"/>

    <add key="logNeededWhileExecuting" value="false" />
    <!-- list_LineFractions = new List<double> { 0, 0.1, 0.2, 0.3,0.4, 0.5, 0.6, 0.7, 0.8,0.9, 1 };// lineFractions = 11 40%(numberOfPointsToBeConsidered=5) -->
    <!-- Configurable parameters for the process : End -->

    <!--<add key="PriUGVersionName" value="PriUG_Version" />-->
    <add key="SessionName" value="cit_" />

    <add key="overwriteFilledductValue" value="true" />
    <add key="FilledductValueForNotInService" value="1" />
    <add key="tableNameToSavePriUGException" value="pgedata.cit_conductor_exception" />

    <!-- Tables used in bulk update : Start -->

    <add key="tableNameForConductorCodes" value="pgedata.cit_pge_conductorcodes" />
    
    <add key="tableNameallPriUGCond_50Scale" value="igpciteditor.cit_allpriugcond_50scale" />
    <add key="tableforPriUGCondLeft" value="igpciteditor.cit_allPriUGCond_Left" />
    <add key="tableforPriUGCondLeftFD" value="igpciteditor.cit_allPriUGCond_Left_FD" />
    <add key="tableForChangedPriUGCond" value="igpciteditor.cit_PriUGCond_Changed" />
    <add key="tableForAllChangedPriUGCond" value="igpciteditor.cit_PriUGCond_Changed_All" />
    <add key="tableForAllChangedPriUGCondFD" value="igpciteditor.cit_PriUGCond_Changed_AllFD" />
    <!-- Tables used in bulk update : End -->

    <!-- Queries used in the process : Start -->
    <add key="queryToGetConduitSystemDuctBankData" value="select * from cit_PriUG_FilledDucts" />
    <!-- Queries used in the process : End -->

    <add key="LogConfigName" value="pge.log4net.config" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
