<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <appSettings>
    <!--<add key="SettingsConnectionString" value="Data Source=EDGISI2Q;User ID=edsett;Password=edsett"/>-->
    <add key="SettingsConnectionString" value="Data Source=PTSET1T;User ID=edsett;Password=edsettTemp"/>
    <add key="SDEConnectionFile" value="C:\Users\p2d3\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\edgis@edgis1q.sde"/>
    <add key="SDESubConnectionFile" value="C:\Users\p2d3\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\edgis@edgisx1x.sde"/>
         
    <!--<add key="SMTPServer" value="mailhost.utility.pge.com "/>-->
    <add key="SMTPServer" value="mail01.comp.pge.com"/>
    <add key="EmailSender" value="AskEDGIS@pge.com"/>
    <add key="EmailSubject" value="Settings Email Notification"/>
    <add key="MessageHeader" value="Following features have been added in settings database..."/>
    <!--Mutually exclusive key... only one of the two values can be active. Activate EmailByDivDistLO only if recipients are avaible based on Division-District-Local office-->
    <add key="EmailOption" value="EmailByRecipient"/>
    <!--<add key="EmailOption" value="EmailByDivDistLO"/>-->
    
    
    
    <!--Primary Meter fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.PrimaryMeter" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,METERTYPE,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--Primary Generator fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.PrimaryGeneration" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,GENERATORTYPE,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--Capacitor Bank fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.CapacitorBank" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--Dynamic Protective Device fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.DynamicProtectiveDevice" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--Netwrok Protector fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.NetworkProtector" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--SUB Capacitor Bank fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.SubCapacitorBank" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--SUB Interrupting Device fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.SubInterruptingDevice" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--SUB Transformer Bank fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.SubTransformerBank" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--SUB Voltage Regulator fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.SubVoltageRegulator" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    <!--Voltage Regulator fields from GIS... Should be in capital letters-->
    <add key ="EDGIS.VoltageRegulator" value="OBJECTID,GLOBALID,LOCALOFFICEID,OPERATINGNUMBER,INSTALLJOBNUMBER,CIRCUITID,REGION"/>
    
  </appSettings>
</configuration>
