<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Path_To_SAP_Files" value="C://ENOS_File/Data" />
    <add key="Path_To_Archive" value="C:\ENOS_File\Data_Archive\" />
    
    <!--<add key="connString" value="Data Source=LBGISQ1Q;Persist Security Info=True;User Id=GIS_I_WRITE; Password=gis_i_write;" />-->

    <add key ="EDER_ConnectionStr" value ="GIS_I_WRITE@EDER"/>
    
    <add key="Log_File_Path" value="C://ENOS_File/Logs" />
    <add key="Summary_File_Name" value="EGI_Generation_Assets_Summary" />
    <add key="Equipment_File_Name" value="EGI_Generation_Assets" />
    <add key="Delimiter" value="\t" />
    <add key="Summary_Table_Name" value="PGEDATA.GEN_SUMMARY_STAGE" />
    <add key="Equipment_Table_Name" value="PGEDATA.GEN_EQUIPMENT_STAGE" />
    <add key="Summary_Column_List" value="ACTION,SAP_EGI_NOTIFICATION,PROJECT_NAME,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,PROGRAM_TYPE,SERVICE_POINT_ID,GUID,OBJECTID" />
    <add key="Summary_Action" value="ACTION" />
    <add key="Summary_SAP_Noti" value="SAP_EGI_NOTIFICATION" />
    <add key="Summary_Project_Name" value="PROJECT_NAME" />
    <add key="Summary_Mach_KW" value="EFF_RATING_MACH_KW" />
    <add key="Summary_Inv_KW" value="EFF_RATING_INV_KW" />
    <add key="Summary_Mach_KVA" value="EFF_RATING_MACH_KVA" />
    <add key="Summary_Inv_KVA" value="EFF_RATING_INV_KVA" />
    <add key="Summary_Max_Cap" value="MAX_STORAGE_CAPACITY" />
    <add key="Summary_Charfe_Dmd" value="CHARGE_DEMAND_KW" />
    <add key="Summary_Program_Type" value="PROGRAM_TYPE" />
    <add key="Summary_Spid" value="SERVICE_POINT_ID" />
    <add key="Summary_Guid" value="GUID" />
    <add key="Summary_Objid" value="OBJECTID" />
    <add key="LoggingConfigurations" value="C:\ENOS_File\Logs\" />

    <add key="Summary_Insert_Columns" value="GUID,ACTION,SERVICE_POINT_ID,SAP_EGI_NOTIFICATION,PROJECT_NAME,PROGRAM_TYPE,POWER_SOURCE,EFF_RATING_MACH_KW,EFF_RATING_INV_KW,EFF_RATING_MACH_KVA,EFF_RATING_INV_KVA,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,STATUS,OBJECTID,STATUS_MESSAGE,UPDATED_IN_MAIN,UPDATED_IN_ED_MAIN,UPDATED_IN_SETTINGS,CEDSA_MATCH_FOUND" />
    <add key="Equip_Insert_Columns" value="ACTION,SAP_EGI_NOTIFICATION,PROJECT_NAME,SAP_QUEUE_NUMBER,SAP_EQUIPMENT_ID,GEN_TECH_CD,TECH_TYPE_CD,POWER_SOURCE,MANUFACTURER,MODEL,PTC_RATING,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,NAMEPLATE_CAPACITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,CERTIFICATION,NUMBER_OF_PHASES,MODE_OF_INV,GEN_TECH_EQUIPMENT,MAX_STORAGE_CAPACITY,CHARGE_DEMAND_KW,GRID_CHARGED,SS_RESISTANCE,SS_REACTANCE,TRANS_RESISTANCE,TRANS_REACTANCE,SUBTRANS_RESISTANCE,SUBTRANS_REACTANCE,NEG_RESISTANCE,NEG_REACTANCE,ZERO_RESISTANCE,ZERO_REACTANCE,GRD_RESISTANCE,GRD_REACTANCE,PTO_DATE,PROGRAM_TYPE,ENOS_EQUIP_REF,ENOS_PROJ_REF,SERVICE_POINT_ID,GUID,OBJECTID" />
    <add key="Equip_Column_List" value="ACTION,SERVICE_POINT_ID,GUID,SAP_EGI_NOTIFICATION,PROJECT_NAME,SAP_QUEUE_NUMBER,GEN_TECH_CD,POWER_SOURCE,MANUFACTURER,MODEL,PTC_RATING,INVERTER_EFFICIENCY,NAMEPLATE_RATING,QUANTITY,NAMEPLATE_CAPACITY,POWER_FACTOR,EFF_RATING_KW,EFF_RATING_KVA,RATED_VOLTAGE,NUMBER_OF_PHASES,MODE_OF_INV,GEN_TECH_EQUIPMENT,MAX_STORAGE_CAPACITY,RATED_DISCHARGE,CHARGE_DEMAND_KW,GRID_CHARGED,SS_REACTANCE,SS_RESISTANCE,TRANS_REACTANCE,TRANS_RESISTANCE,SUBTRANS_REACTANCE,SUBTRANS_RESISTANCE,NEG_REACTANCE,NEG_RESISTANCE,ZERO_REACTANCE,ZERO_RESISTANCE,GRD_REACTANCE,GRD_RESISTANCE,PTO_DATE,PROGRAM_TYPE,STATUS,OBJECTID,SAP_EQUIPMENT_ID,STAUS,STATUS_MESSAGE,ENOS_EQUIP_REF,ENOS_PROJ_REF,CERTIFICATION,UPDATED_IN_SETTINGS,CEDSA_MATCH_FOUND,TECH_TYPE_CD" />

    <!--chane the index value in case PTO_DATE index change in text file-->
    <add key ="PTO_DATE_INDEX" value="38"/>

    <!--<add key ="Equip_Insert_Columns" value="ACTION,EGI_QMNUM,PROJ_NAME,QUEUE_NUM,EGI_EQUNR,GEN_TECH,FUEL_TECH,MANUFACTURER,EGI_MODEL,PTC_RATING_KW,INV_EFFICIENCY,EGI_NP_RATING_KW,QUANTITY,EGI_PF,EFF_RATING_KW,EFF_RATING_KVA,KVOLTS_RATING,ZZCERTIFICATION,EGI_PHASE,INV_USG_MODE,EGI_GEN_EQUNR,AES_MAX_CAP,AES_RTECHRG_DMND,AES_GRID_CHARGE,POS_RESIST,POS_REACT,POS_RESIST_PRM,POS_REACT_PRM,POS_RESIST_DBL_PRM,POS_REACT_DBL_PRM,NEG_RESIST,NEG_REACT,ZERO_RESIST,ZERO_REACT,GRND_RESIST,GRND_REACT,PTO_DATE,PROJ_TYPE,ENOS_EQREF,ENOS_REF,FS_SERV_PT,FS_SPATIAL_GUID"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>