<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- Licenses Configuration. -->
    <!-- ArcGIS License (refer to esriLicenseProductCode enumeration in ESRI documentation for valid values)-->
    <add key="EsriLicense" value="esriLicenseProductCodeAdvanced"/>
    <!-- ArcFM License (refer to mmLicensedProductCode enumeration in ArcFM documentation for valid values)-->
    <add key="ArcFMLicense" value="mmLPArcFM"/>

    <!-- Database Connection Information -->
    
    <add key ="EDER_SDEConnection" value ="GIS_I_Write@EDER"/>
    <add key ="LANDBASE_SDEConnection" value ="LBGIS_RO@LANDBASE"/>
    <add key ="EDER_ConnectionStr" value ="GIS_I_WRITE@EDER"/>
    <!--Field Asset Inventory Updates-->
    <add key="FAIInputFGDBLocation" value="C:\FAI\InputFGDBs"/>
    <add key="FAIArchiveFGDBLocation" value="C:\FAI\ArchivedFGDBs"/>
    
    <!-- DRG Queries -->
    <!--
    <add key="OriginalGUIDField" value="ORIGINAL_GLOBALID"/>
    <add key="AddedFeaturesFC" value="CREATIONUSER = 'DRG'"/>
    <add key="DeletedFeaturesFC" value="COMMENTS LIKE '%DNE%'"/>
    <add key="UpdatedFeaturesFC" value="LASTUSER = 'DRG' AND CREATIONUSER &lt;&gt; 'DRG'"/>
    <add key="AddedFeaturesTables" value="CREATIONUSER = 'DRG'"/>
    <add key="DeletedFeaturesTables" value="COMMENTS LIKE '%DNE%'"/>
    <add key="UpdatedFeaturesTables" value="LASTUSER = 'DRG' AND CREATIONUSER &lt;&gt; 'DRG'"/>
    -->

    <!-- UDC FGDB Queries -->
    <add key="OriginalGUIDField" value="GLOBALID_O"/>
    <add key="AddedFeaturesFC" value="CHGCODE = 1"/>
    <add key="DeletedFeaturesFC" value="CHGCODE = 99"/>
    <add key="UpdatedFeaturesFC" value="CHGCODE IN (2,3,4)"/>
    <add key="AddedFeaturesTables" value="UACTION = 'A'"/>
    <add key="DeletedFeaturesTables" value="UACTION = 'D'"/>
    <add key="UpdatedFeaturesTables" value="UACTION = 'U'"/>
    
    
  </appSettings>
</configuration>