<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Set the path of the LANDBASE connection file (using SDE user)-->
    <add key="SDE_FILE_PATH" value="C:\RowAutomationOneTime\Landbase_sde_user.sde" />

    <!-- Set the name of an existing LANDBASE version (using SDE user) -->
    <add key ="LOTLINES_ONE_TIME_VERSION" value ="SDE.RECREATE_ROW_ONE_TIME"/>

    <!-- Set the log file path. If left blank, logs will be created at the executing file location-->
    <add key="LOG_FILE_PATH" value="" />
    
    <!-- Set the path of Dissolved Lotline Feature Class-->
    <add key="GDB_LOTLINE_DISSOLVED_FC" value="C:\RowAutomationOneTime\LotLines_Dissolve.gdb\LotLines_Dissolved_FC" />

    <!-- Set as TRUE to move GDB_LOTLINE_DISSOLVED_FC to LOTLINES_ONE_TIME_VERSION -->
    <add key ="MOVE_LOTLINES_TO_VERSION" value="TRUE"/>
    
  </appSettings>

</configuration>