<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--PGE.MapProduction.Integration-->
  <Fragment>
    <ComponentGroup Id="Extras">

      <Component Id="PGE.BatchApplication.ReconcilVersions.exe" Directory="RECONCILEVERSIONS" Guid="3E9C68B5-3AD6-4E54-9FE2-201326D4D120" >
        <File Id="PGE.BatchApplication.ReconcilVersions.exe" KeyPath="yes" Source="..\..\..\..\..\PGE_ProjectOutput\ReconcileVersions\PGE.BatchApplication.ReconcilVersions.exe"/>
      </Component>      
      <Component Id="PGE.BatchApplication.ReconcilVersions.exe.config" Directory="RECONCILEVERSIONS" Guid="18E017D6-5A89-4856-BA1A-C6E1AB91FB1B" Permanent="yes" NeverOverwrite="yes">
        <File Id="PGE.BatchApplication.ReconcilVersions.exe.config" KeyPath="yes" Source="..\..\..\..\..\PGE_ProjectOutput\ReconcileVersions\PGE.BatchApplication.ReconcilVersions.exe.config"/>
      </Component>
      <Component Id="ReconcileVersions.log4net.config" Directory="LoggingConfiguration" Guid="{E81B3B8E-1336-4B1A-9A7C-0DD996DA2A6D}" Permanent="yes" NeverOverwrite="yes">
        <File Id="ReconcileVersions.log4net.config" KeyPath="yes" Source="..\..\..\..\..\PGE_ProjectOutput\ReconcileVersions\ReconcileVersions.log4net.config"/>
      </Component>
      
    </ComponentGroup>
    
  </Fragment>
</Wix>
