<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PDFBaseDirectory" value="\\rcedgis-nas01\rcedgis-nas02\EDGIS_Map_Prod"/>
    <!--<add key="PDFBaseDirectory" value="\\sfetgis-nas01\sfgispoc_data\UNIFIED_GRID_MAP_PRODUCTION\PDFMaps"/>-->
    <add key="AdobeReaderDirectory" value="C:\Program Files (x86)\Adobe\Reader 11.0\Reader\AcroRd32.exe"/>
    <add key="ExpandByDefault" value="false"/>
    <add key="CircuitMapNumCSVFilePath" value="C:\Subhankar\PGE_CIRCUITTOMAPNUM.csv"/>

    <!--Registry Info-->
    <add key="MapBookDBConnectionRegKey" value="MapBookPrintDBConnection"/>
    <add key="MapBookDBConnectionKeyName" value="MapBookPrintDBConnectionString"/>
    <add key="MapBookDBUserKeyName" value="MapBookPrintDBUser"/>
    <add key="MapBookDBPasswordKeyName" value="MapBookPrintDBPwd"/>
    
  </appSettings>
  
  <system.windows.forms jitDebugging="true" />

</configuration>