<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EDER_ConnectionStr" connectionString="CWOSL_RW@EDER"/>
  </connectionStrings>
  
  <appSettings>
    <add key="LOGPATH" value="CWOSLAssignmentLOGS"/>
    <add key="LogRefreshIntervalSec" value="3"/>
    
    <add key="EDER_DOMAIN_TABLE" value="EDGIS.PGE_CODES_AND_DESCRIPTIONS"/>
    <add key="TransformerSubTypeQuery" value="select SUBTYPECD,DESCRIPTION from EDGIS.PGE_SUBTYPECD where UPPER(FEATURECLASS) = 'EDGIS.TRANSFORMER'"/>
    <add key="HFTDDomainName" value="HFTD"/>
    <add key="DivisionDomainName" value="Division Name"/>
    <add key="CountyDomainName" value="County Name"/>
    <add key="LocalOfcIdDomainName" value="Local Offices"/>
    <add key="SessionNameQuery" value="select SESSION_NAME from process.mm_session where SESSION_NAME like 'CWOSL%'"/>
    <add key="SessionNameField" value="SESSION_NAME"/>
  </appSettings>
</configuration>
