<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key ="EDER_ConnectionStr" value ="PGEDATA@EDER"/>
    <add key ="EDER_SDEConnection" value ="GIS_I_WRITE@EDER"/>
    
  <add key="QueryToGetRecordsFromSL" value="select distinct globalid, gencategory, labeltext,localoffice from pgedata_stage_service_loc_prim"/>

  <!--First time run-->  
  <add key="localOfficeQueryValue" value="select localoffice,count(*) as Count from (select distinct globalid, gencategory, labeltext,localoffice from pgedata_stage_service_loc_prim where localoffice &lt;= 'NL') group by localoffice"/>
  <add key="SessionNumberStartValue" value="1"/>

  <!--Second time run-->
  <!--<add key="localOfficeQueryValue" value="select localoffice,count(*) as Count from (select distinct globalid, gencategory, labeltext,localoffice from pgedata_stage_service_loc_prim where localoffice &gt; 'NL') group by localoffice"/>-->
  <!--<add key="SessionNumberStartValue" value="100"/>-->

  <add key="minValue" value="1"/>
  <add key="maxValue" value="1"/>
  <add key="multiplier" value="10"/>    
    
  <add key="ServiceLocationClassName" value="EDGIS.SERVICELOCATION"/> 
  <add key="TargetVersionName" value="SLUP"/>
  <add key="VersionNamePrefix" value="TEMP_GEN_VERSION_"/>
  <add key="DefaultVersionName" value="SDE.DEFAULT"/>
  <add key="SessionName" value="SLUP"/> 

  <add key="Col_GLOBALID" value="GLOBALID"/>
  <add key="Col_GENCATEGORY" value="GENCATEGORY"/>
  <add key="Col_LABELTEXT" value="LABELTEXT"/>
  <add key="Col_VERSIONNAME" value="VERSIONNAME"/> 
 
    
  <add key="LogConfigName" value="pge.log4net.config"/> 
  </appSettings>
    
</configuration>