<?xml version="1.0" encoding="utf-8" ?>
<!--Make sure path contains \\ instead of \.-->
<configuration>
  <appSettings>
    <!--Added for ED07-374 v1t8-->
    
    <add key="SessionName" value="ED07"/>    
    <add key="VersionNamePrefix" value="SN_"/>
    <add key="SessionOwner" value="INT_ED07_RW"/>
    <add key ="SESSION_STATE" value="9"/>
    <add key ="GdbmPostQueue" value="SDE.GDBM_POST_QUEUE"/>
    <add key="Exception_FileName" value="Exception_Sap_to_gis_DateWriter.txt"/>
    <add key="LogConfigName" value="pge.log4net.config"/>
    <add key="SPUNCATE_SAP_TABLES" value="EDGIS.TRUNCATE_SAP_TABLES"/>
    <add key="SPLoadGISData" value="EDGIS.LOAD_GIS_GUID"/>
    <add key="SPIntegratedResult" value="EDGIS.INSERT_SAP_INTEGRATED_RESULT"/>
    <add key="ED07StagingTable" value="edgis.sap_to_gis"/>
    <add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
    <add key ="RECONCILE_COLUMNOPTION" value ="true" />
    <add key ="CHECK_SAP_DATA" value ="select count(*)  from EDGIS.sap_to_gis where PROCESSEDFLAG not in ('D','E') "/>
    <add key ="EDER_SDEConnection" value ="INT_ED07_RW@EDER"/>
    
    <add key="CheckInterval" value="5000"/>
    <add key="maxAppRunningTime" value="2"/>    <!--Time is minute-->
    
    
    <add key ="EDER_ConnectionStr" value="INT_ED07_RW@EDER"/>
    <!--EMAIL Parameters-->
    <add key ="FROM_LANID" value ="EDGISSUPPORT@pge.com" />

    <!-- Mail Body and Mail Subject for Job Faile Condition-->

    <add key ="TO_LANID_OPERATION" value ="s2nn@pge.com;yxa6@pge.com;M4A1@pge.com;a7m6@pge.com" />    
    <add key="MAIL_SUBJECT_FOR_JOBFAIL" value="[PROD] ED07 Session not Posted"/>  
    <add key="MAIL_BODY_FOR_JOBFAIL" value="Hello Team,
                &lt;br&gt; &lt;br&gt;
                ED07 Process Failed. For more detail please see the log.
                &lt;br&gt; &lt;br&gt;
                Thank you,
                &lt;br&gt;
                EDGIS Support Team"/>
    <!-- Mail Body and Mail Subject for Conflict Condition-->
    <!--<add key ="TO_LANID" value = "RES6@pge.com;SAGw@pge.com;ETR5@pge.com; ELECTRIC_GIS_INFY_TEAM@PGE.COM; EDGISrearchTeam@PGE.onmicrosoft.com" />-->
    <add key ="TO_LANID" value ="s2nn@pge.com;yxa6@pge.com;M4A1@pge.com;a7m6@pge.com" />
    <add key="MAIL_SUBJECT_FOR_CONFLICT" value="[PROD] ED07 Session got conflict"/>

    <add key="MAIL_BODY_FOR_CONFLICT" value="Hello Team,
                &lt;br&gt; &lt;br&gt;
                ED07 Session has Conflict. Please resolve and Try Again. ED07 process getting terminated.
                &lt;br&gt; &lt;br&gt;
                Thank you,
                &lt;br&gt;  
                EDGIS Support Team"/>
    <!-- Mail Body and Mail Subject for Previous  day session-->
    <add key="LANIDS_EXISTINGSESSION" value="s2nn@pge.com;yxa6@pge.com;M4A1@pge.com;a7m6@pge.com"/>
    <add key="MAIL_BODY_EXISTINGSESSION" value="Hello Team,
                &lt;br&gt; &lt;br&gt;
                An earlier ED07 Session found in process. Please get that session posted.
                &lt;br&gt; &lt;br&gt;
                Thank you,
                &lt;br&gt;
                EDGIS Support Team"/>

  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mailhost.comp.pge.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>  
 </configuration>