<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CONNECTIONPATH" value="\\rcnas01-smb\edgisrearch-fs01\Connections\Credentials\PreProd\Connections.xml"/>
    <add key="ARCPYPATH" value="C:\Python27\ArcGIS10.8\python.exe"/>
    <add key="SDEPYTHONPATH" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.PasswordMgmt\CreateSDEConn.py"/>
    <add key="PROD" value="N"/>
  </appSettings>    
</configuration>