<?xml version="1.0" encoding="UTF-8"?>
<!--This file contains the features for the Desktop installers. 
This was moved to the Shared project since it is used by both the Desktop and GWD installers.-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
<!--    <ComponentGroup Id="GDBM">
      <ComponentGroupRef Id="Telvent.Delivery.Diagnostics.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Framework.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Geodatabase.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Systems.dll"/>
      <ComponentGroupRef Id="Telvent.PGE.SAP.dll"/>
      <ComponentGroupRef Id="Telvent.PGE.Framework.dll"/>
      <ComponentGroupRef Id="Telvent.PGE.GDBM.dll"/>
      <ComponentRef Id="ConfigFiles"/>
    </ComponentGroup>-->
    <ComponentGroup Id="BatchApplicaiton">
      <ComponentGroupRef Id="Telvent.Delivery.Diagnostics.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Framework.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Geodatabase.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Systems.dll"/>
      <ComponentGroupRef Id="Telvent.PGE.SAP.dll"/>
      <ComponentGroupRef Id="Telvent.PGE.Framework.dll"/>
      <ComponentRef Id="BatchFiles"/>
      <ComponentRef Id="ConfigFiles"/>
    </ComponentGroup>
    <ComponentGroup Id="TestApplicaiton">
      <ComponentGroupRef Id="Telvent.Delivery.Diagnostics.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Framework.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Geodatabase.dll"/>
      <ComponentGroupRef Id="Telvent.Delivery.Systems.dll"/>
      <ComponentRef Id="TestApp"/>
      <ComponentRef Id="ConfigFiles"/>
    </ComponentGroup>
  </Fragment>
</Wix>


