<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--SDE Connection File Path-->
    <add key="CONN_EDGIS_FILE" value="C:\Users\JI3W\AppData\Roaming\ESRI\Desktop10.2\ArcCatalog\RELEDITOR@EDGISQ9Q.sde" />
    <add key="CONNECTION_STRING" value="User ID=releditor; Password=releditor!123; Data Source=edgis1q" />
    <!--Session Name in which data loading is required-->
    <add key="SESSION_NAME" value="LiDAR_Data_Load_Ver"/>
    <add key="LOGPATH" value=""/>
    <!--true/flase for Disable AU Framework-->
    <add key="DISABLE_AU_FRAMEWORK" value="true"/>
    <!--Source Table for Date Loading-->
    <add key="SourceTable" value=""/><!--EDGIS.LiDAR_Data_Test-->
    <!--Feature Class Name to Load/Update date-->
    <add key="UPDATE_FEATURE_CLASS" value="EDGIS.SupportStructure"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
