<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <castle>
    <components>
      <component id="pge.connections.ederSDEWorkspaceConnection"
                 service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
        <parameters>
          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\edgis@edgisa1d.sde</workspaceConnectionFile>
          <NonVersionedEditsVersionName>NonVersionedWrites</NonVersionedEditsVersionName>
        </parameters>
      </component>
      <component id="pge.connections.schematicsSDEWorkspaceConnection"
                 service="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared"
                 type="PGE.Common.ChangesManagerShared.SDEWorkspaceConnection, PGE.Common.ChangesManagerShared" >
        <parameters>
          <!--          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\sde@edgist1t.sde</workspaceConnectionFile> -->
          <workspaceConnectionFile>C:\Users\p1pc\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\edgis@edscma1d.sde</workspaceConnectionFile>
          <NonVersionedEditsVersionName>NonVersionedWrites</NonVersionedEditsVersionName>
        </parameters>
      </component>
      <component id="pge.etl.gridChangedTransferrer"
                 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
                 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.EDSCHEM_GridChanges</sourceTableName>
          <destTableName>EDGIS.PGE_SCHEMCHANGEDGRID</destTableName>
          <KeyAttribute>GRIDID</KeyAttribute>
          <AttributeFilter>
            <list>
              <item>GRIDID</item>
            </list>
          </AttributeFilter>
          <AttributeMapping>
            <dictionary>
              <entry key="GRIDID">MAPNUMBER</entry>
            </dictionary>            
          </AttributeMapping>
          <RelatedTableName>EDGIS.Schematics_Unified_Grid</RelatedTableName>
          <RelatedTableKey>MAPNO</RelatedTableKey>
          <RelatedTableField>SCALE</RelatedTableField>
        </parameters>
      </component>
      <component id="pge.etl.changeSetPointRowTransferrer"
                 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
                 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERChangeSetPoint</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_EDERChangeSetPoint</destTableName>
          <KeyAttribute>FEATUREGUID</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.changeSetLineRowTransferrer"
                 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
                 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERChangeSetLine</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_EDERChangeSetLine</destTableName>
          <KeyAttribute>FEATUREGUID</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.sessionZeroRowTransferrer"
                 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
                 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERSession0MapGrid</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_EDERSession0MapGrids</destTableName>
          <KeyAttribute>MAPNO</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.postedSessionRowTransferrer"
                 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
                 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.PGE_EDERPostedSession</sourceTableName>
          <destTableName>EDGIS.EDSCHEM_PostedSession</destTableName>
          <KeyAttribute>SESSIONID</KeyAttribute>
        </parameters>
      </component>
      <component id="pge.etl.guidTotalRowTransferrer"
                 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
                 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.EDSCHEM_GUIDTOTAL</sourceTableName>
          <destTableName>EDGIS.PGE_SCHEMGUIDTOTAL</destTableName>
          <TruncateDestTableBeforeWriting>true</TruncateDestTableBeforeWriting>
          <IgnoreExistingCheck>true</IgnoreExistingCheck>
        </parameters>
      </component>
      <component id="pge.etl.circuitChangesRowTransferrer"
                 service="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
                 type="PGE.BatchApplication.ChangeDetection.ETL.RowTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceTableName>EDGIS.EDSCHEM_CircuitChanges</sourceTableName>
          <destTableName>EDGIS.PGE_CHANGED_CIRCUIT</destTableName>
          <KeyAttribute>CIRCUITID</KeyAttribute>
          <DefaultDestAttributes>
            <dictionary>
              <entry key="USERID">SCHEMATICS</entry>
              <entry key="CHANGED_ACTION">UPDATE</entry>
              <entry key="POSTDATE"></entry>
            </dictionary>
          </DefaultDestAttributes>
        </parameters>
      </component>
      <component id="pge.etl.tablesTransferrerSchematicsToEDER"
               service="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
      <parameters>
        <sourceSdeWorkspaceConnection>${pge.connections.schematicsSDEWorkspaceConnection}</sourceSdeWorkspaceConnection>
        <destSdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</destSdeWorkspaceConnection>
        <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
        <rowTransferrers>
          <list>
            <item>${pge.etl.guidTotalRowTransferrer}</item>
            <item>${pge.etl.gridChangedTransferrer}</item>
            <item>${pge.etl.circuitChangesRowTransferrer}</item>
          </list>
        </rowTransferrers>
      </parameters>
     </component>
      <component id="pge.etl.tablesTransferrerEDERToSchematics"
               service="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrer, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <sourceSdeWorkspaceConnection>${pge.connections.ederSDEWorkspaceConnection}</sourceSdeWorkspaceConnection>
          <destSdeWorkspaceConnection>${pge.connections.schematicsSDEWorkspaceConnection}</destSdeWorkspaceConnection>
          <DeleteSourceRowsAfterTransfer>false</DeleteSourceRowsAfterTransfer>
          <rowTransferrers>
            <list>
              <item>${pge.etl.postedSessionRowTransferrer}</item>
              <item>${pge.etl.sessionZeroRowTransferrer}</item>
              <item>${pge.etl.changeSetLineRowTransferrer}</item>
              <item>${pge.etl.changeSetPointRowTransferrer}</item>
            </list>
          </rowTransferrers>
        </parameters>
      </component>
      <component id="pge.etl.tablesTransferrers"
               service="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrers, PGE.BatchApplication.ChangeDetection.ETL"
               type="PGE.BatchApplication.ChangeDetection.ETL.TablesTransferrers, PGE.BatchApplication.ChangeDetection.ETL" >
        <parameters>
          <tablesTransferrers>
            <list>
              <item>${pge.etl.tablesTransferrerEDERToSchematics}</item>
              <item>${pge.etl.tablesTransferrerSchematicsToEDER}</item>
            </list>
          </tablesTransferrers>
        </parameters>
      </component>
    </components>
  </castle>
</configuration>