<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PGE.BatchApplication.CircuitProtectionZone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PGE.BatchApplication.CircuitProtectionZone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PGE.BatchApplication.CircuitProtectionZone.Properties.Settings>
      <setting name="ReloserFieldValue" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ReloserFieldName" serializeAs="String">
        <value>SubtypeCD</value>
      </setting>
      <setting name="GlobalIdFieldName" serializeAs="String">
        <value>GlobalId</value>
      </setting>
      <setting name="OperatingNumberFieldName" serializeAs="String">
        <value>OperatingNumber</value>
      </setting>
      <setting name="CircuitIdFieldName" serializeAs="String">
        <value>CIRCUITID</value>
      </setting>
      <setting name="FireTierFieldName" serializeAs="String">
        <value>HFTD</value>
      </setting>
      <setting name="SubstationIdFieldName" serializeAs="String">
        <value>SubstationID</value>
      </setting>
      <setting name="SubstationNameFieldName" serializeAs="String">
        <value>SubstationName</value>
      </setting>
      <setting name="DynamicProtectiveDeviceFeatureClassName" serializeAs="String">
        <value>EDGIS.DynamicProtectiveDevice</value>
      </setting>
      <setting name="ZoneFeatureClassName" serializeAs="String">
        <value>EDGIS.PGE_CircuitProtectionZones</value>
      </setting>
      <setting name="FireTierFeatureClassName" serializeAs="String">
        <value>LBGIS.HighFireThreatDist</value>
      </setting>
      <setting name="PrimaryOverheadFeatureClassName" serializeAs="String">
        <value>EDGIS.PriOHConductor</value>
      </setting>
      <setting name="PrimaryUndergroundFeatureClassName" serializeAs="String">
        <value>EDGIS.PriUGConductor</value>
      </setting>
      <setting name="ElectricStitchPointFeatureClassName" serializeAs="String">
        <value>EDGIS.ElectricStitchPoint</value>
      </setting>
      <setting name="FuseFeatureClassName" serializeAs="String">
        <value>EDGIS.Fuse</value>
      </setting>
      <setting name="CircuitSourceTableName" serializeAs="String">
        <value>EDGIS.CircuitSource</value>
      </setting>
      <setting name="SwitchFeatureClassName" serializeAs="String">
        <value>EDGIS.Switch</value>
      </setting>
      <setting name="ServicePointTableName" serializeAs="String">
        <value>EDGIS.ServicePoint</value>
      </setting>
      <setting name="ServicePointForiegnKeyFieldName" serializeAs="String">
        <value>ServiceLocationGUID</value>
      </setting>
      <setting name="ServiceLocationFeatureClassName" serializeAs="String">
        <value>EDGIS.ServiceLocation</value>
      </setting>
      <setting name="FireIndexFeatureClassName" serializeAs="String">
        <value>EDGIS.FireIndexAreas_Draft</value>
      </setting>
      <setting name="FireIndexNameField" serializeAs="String">
        <value>Name1_</value>
      </setting>
      <setting name="SubInterruptingDeviceTableName" serializeAs="String">
        <value>EDGIS.SUBInterruptingDevice</value>
      </setting>
      <setting name="SubElectricStitchPointTableName" serializeAs="String">
        <value>EDGIS.SUBElectricStitchPoint</value>
      </setting>
      <setting name="SubstationNetworkName" serializeAs="String">
        <value>EDGIS.SubGeometricNetwork</value>
      </setting>
      <setting name="DistributionNetworkName" serializeAs="String">
        <value>EDGIS.ElectricDistNetwork</value>
      </setting>
      <setting name="SubStitchToElecStitchField" serializeAs="String">
        <value>ELECTRICSTITCHPOINTGUID</value>
      </setting>
      <setting name="SubStitchToElecStitchBuffer" serializeAs="String">
        <value>0.03</value>
      </setting>
      <setting name="NormalPositionFieldName" serializeAs="String">
        <value>NormalPosition</value>
      </setting>
      <setting name="StatusFieldName" serializeAs="String">
        <value>Status</value>
      </setting>
      <setting name="EssentialCustomerFieldName" serializeAs="String">
        <value>ESSENTIALCUSTOMERIDC</value>
      </setting>
      <setting name="SensitiveCustomerFieldName" serializeAs="String">
        <value>SENSITIVECUSTOMERIDC</value>
      </setting>
      <setting name="LifeSupportCustomerFieldName" serializeAs="String">
        <value>LIFESUPPORTIDC</value>
      </setting>
      <setting name="CustomerTypeFieldName" serializeAs="String">
        <value>CUSTOMERTYPE</value>
      </setting>
      <setting name="CustomerOwnedFieldName" serializeAs="String">
        <value>CUSTOMEROWNED</value>
      </setting>
      <setting name="ZoneEnergizedFeatureClassName" serializeAs="String">
        <value>EDGIS.PGE_CircuitEnergizedZones</value>
      </setting>
    </PGE.BatchApplication.CircuitProtectionZone.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <PGE.BatchApplication.CircuitProtectionZone.Properties.Settings>
      <setting name="ZoneDetailsFeatureClassName" serializeAs="String">
        <value>EDGIS.PGE_CircuitProtectionDetails</value>
      </setting>
      <setting name="ZoneEnergizedDetailsFeatureClassName" serializeAs="String">
        <value>EDGIS.PGE_CircuitEnergizedDetails</value>
      </setting>
      <setting name="PointDetailsToInclude" serializeAs="String">
        <value>EDGIS.SERVICELOCATION,EDGIS.TRANSFORMER</value>
      </setting>
      <setting name="LineDetailsToInclude" serializeAs="String">
        <value />
      </setting>
    </PGE.BatchApplication.CircuitProtectionZone.Properties.Settings>
  </userSettings>
</configuration>