<?xml version="1.0" encoding="utf-8"?>
<!--Make sure path contains \\ instead of \.-->
<configuration>
  <appSettings>
    <add key="Result_and_Exception_File" value="Result_and_Exception_File.txt" />
    <add key="maxAppRunningTime" value="2" />
    <!--Time is minute-->
    <add key="VersionCheckInterval" value="3000" />
    <!-- Value in MilliSecond. Every 1000 equals to 1 second.-->
   

    <add key ="EDER_SDEConnection" value ="SDE@EDER"/>
    
    <add key="TargetVersion_Name" value="SDE.DEFAULT" />
    <!--Make sure name is case sensitive. If value is given as blank then default version of VersionEdit consider as default.-->
    <add key="ReconcileVersion_Name" value="SDE.A2" />
    <!--Name of the version which you want to reconcile. Can not left null. -->
    <add key="Reconcile4_AcquireLock" value="false" />
    <!--if locks should be obtained or not - true acquires the lock, false does not acquire the locks-->
    <add key="Reconcile4_AbortIfConflicts" value="true" />
    <!-- Reconcile process should abort the reconcile if conflicts are detected for any class. Ideally, 
      the second Boolean is only set to true when performing a reconcile in an automated batch type environment where
      a user does not have the ability to interactively resolve conflicts-->
    <add key="Reconcile4_ChildWins" value="false" />
    <!--True if all conflicts detected would be resolved in favor of the source version-->
    <add key="Reconcile4_ColumnLevel" value="false" />
    <!--True, conflicts are detected only when the same attribute is updated in the source and target versions-->
    <add key="PostAfterReconcile" value="false" />
    <!--If there is no error/conflict then post the changes. -->
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
  </appSettings>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
</configuration>