<?xml version="1.0"?>
<configuration>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <appSettings>
    

    <add key ="EDER_ConnectionStr" value ="GIS_I_WRITE@EDER"/>
    <add key ="EDERSUB_ConnectionStr" value ="GIS_I_WRITE@EDERSUB"/>

    <add key="RobcDomainName" value="Rotating Outage Block Codes"/>
    <add key="SubBlockDomainName" value="Sub Block Codes"/>
    <add key="Division" value="Division Name"/>
    <add key="EstablishedROBCCode" value="50"/> <!--E-->
    <add key="FixedEssentialROBCCode" value="60"/> <!--F-->
    
    <add key="EDERGeometricNetworkName" value="EDGIS.ElectricDataset\EDGIS.ElectricDistNetwork"/>
    <add key="SUBGeometricNetworkName" value="EDGIS.SubstationDataset\EDGIS.SubGeometricNetwork"/>

    <add key="EEPReportFilePath" value="\\sfetgis-nas01\sfgispoc_data\ROBC_Reports\Non-Production\Test\EEP_REPORT.csv"/>
    <add key="ECTPReportFilePath" value="\\sfetgis-nas01\sfgispoc_data\ROBC_Reports\Non-Production\Test\ECTPSSD_REPORT.csv"/>
  </appSettings>
</configuration>
