<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Make a connection from IGPEDITOR user>-->


    <add key ="EDER_SDEConnection" value="IGPEDITOR@EDER"/>
    <add key ="EDER_ConnectionStr" value="IGPEDITOR@EDER"/>


    <!--Make a connection from SDE user>-->


    <add key ="EDER_ConnectionStr_SDE" value="SDE@EDER" />

    <!--Connection and Table Information of Datamart>-->
    <add key="DATAMART_LOADING_REQUIRED" value="true" />



    <!--add key ="EDER_ConnectionStr_SDE" value="EDGIS@EDER" />-->

    <add key="TRACE_TABLENAME_DATAMART" value="EDGIS.PGE_FEEDERFEDNETWORK_TRACE" />
    <add key="APPLICATION_USER" value="IGPEDITOR" />
    <!--Data Loading is required or not set through true or false-->
    <add key="DATALOADING_REQUIRED" value="true" />
    <!--QAQC Validation error messages, set through true or false-->
    <add key="QAQC_VALIDATION_REQUIRED" value="false" />
    <!--Statistical Report Need to generate or not, set through true or false-->
    <add key="STATISTICAL_REPORT" value="true" />
    <!--Trace a Feeder is required or not, set through true or false-->
    <add key="TRACE_FEEDER_REQUIRED" value="true" />
    <!--Reconcile is required or not in BatchJOB 2, set through true or false-->
    <add key="RECONCIE_REQUIRED" value="false" />
    <!--GDBM POST_QUEUE_Transition_state . Send Session to Dataprocessing set as 9 and if want to send session in post_queue set as 5-->
    <add key="GDBM_POST_QUEUE_STATE" value="9" />
    <!-- Threshold edit feature count  for post a session through GDBM-->
    <add key="GDBM_LIMIT" value="20000" />
    <!--  GDBM Priority-->
    <add key="GDBM_PRIORITY" value="25" />
    <!-- No of circuits , user wants to run the process-->
    <add key="MAX_PROCESS_NUMBERS" value="25" />
    <!-- Threshold count to run the process-->
    <add key="THRESHOLD_PROCESS_COUNT" value="25" />
    <!-- Threshold count to run the process-->
    <add key="THRESHOLD_FLUSHCURSOR_COUNT" value="25" />
    <!--Parameter For JSON-->
    <add key="DAPHIE_FolderPath" value="\\rcnas01-smb\edgisrearch-fs01\INTERFACE\EDAMGIS_ED19_CONSUMER\INBOUND\DAPHIE_DATA\DAPHIE" />
    <!--Required Stored Procedure-->
    <add key="checkGUID" value="PGEIGPDATA.PGE_IGP_CHECK_GUID_OCCURENCE" />
    <add key="checkSubtype" value="PGEIGPDATA.PGE_IGP_CHECK_SUBTYPE" />
    <add key="RELATED_INFO_SP_NAME_CONDINFO" value="PGEIGPDATA.PGE_IGP_UPDATECONDUCTORINFO" />
    <add key="RELATED_INFO_SP_NAME_TRANSUNIT" value="PGEIGPDATA.PGE_IGP_UPDATETRANSFORMERUNIT.UPDATE_PHASE_TRANS_UNIT" />
    <add key="UPDATE_UNPROCESSED_PHASE_SP_NAME" value="PGEIGPDATA.PGE_IGP_UPDATE_UNPROCESS_PHASE" />
    <add key="UPDATE_OPENPOINT_PHASE_SP_NAME" value="PGEIGPDATA.PGE_IGP_UPDATE_OPENPOINT" />
    <add key="UPDATE_DMS_TABLE_SP_NAME" value="PGEIGPDATA.PGE_IGP_DMS_UPDATE" />
    <add key="UPDATE_DMS_ATTR_SP_NAME" value="PGEIGPDATA.PGE_IGP_DMS_FC_ATTR_UPDATE" />
    <add key="CHECK_DMS_PHASEMISMATCH_SP_NAME" value="PGEIGPDATA.PGE_IGP_CHECK_DMS_RULE" />
    <add key="LogConfigName" value="pge.log4net.config" />
    <add key="VersionNamePrefix" value="SN_" />
    <add key="SessionName" value="IGP_PHASE_UPDATE" />
    <add key="SESSION_DESC_FOR_DMS" value="DMS_IGP_PASS" />
    <!--PROJECT TABLES NAME>-->
    <!--DAPHIE Input Tables -->
    <add key="DAPHIE_TRANSFORMER_TABLENAME" value="PGEIGPDATA.PGE_IGP_INPUT_TRANSFORMER_DATA" />
    <add key="DAPHIE_CONDUCTORS_TABLENAME" value="PGEIGPDATA.PGE_IGP_INPUT_CONDUCTORS_DATA" />
    <add key="DAPHIE_METERS_TABLENAME" value="PGEIGPDATA.PGE_IGP_INPUT_METERS_DATA" />
    <!-- Project Sequence>-->
    <add key="IGP_SEQUENCE" value="PGEIGPDATA.PGE_IGP_SERIALNO_SEQ" />
    <!--Unprocessed Table Name where calculation is stored =-->
    <add key="UNPROCESSEDRECORDS_TABLENAME" value="PGEIGPDATA.PGE_IGP_UNPROCESSED_REC" />
    <!--Statistical Report Table Name where Exception has been stored -->
    <add key="STATISTICALREPORT_TABLENAME" value="EDGIS.PGE_IGP_EXP_REPORT" />
    <!--QAQC Report Table Name where QAQC Log has been stored -->
    <add key="QAQC_TABLENAME" value="PGEIGPDATA.PGE_IGP_QAQCLOG" />
    <!-- DMS_RULE_TABLE-->
    <add key="DMS_RULE_TABLE" value="PGEIGPDATA.PGE_IGP_DMS_RULE_INFO_DATA" />
    <!-- Process Info Tables  -->
    <add key="DAPHIEFILE_DET_TABLENAME" value="PGEIGPDATA.PGE_IGP_DAPHIEFILE_DET" />
    <!--COnfiguration tables-->
    <add key="CONFIG_MERGE_PHASE_TABLENAME" value="PGEIGPDATA.PGE_IGP_CONFIG_MERGE_PHASE" />
    <add key="CONFIG_DETAILS_TABLENAME" value="PGEIGPDATA.PGE_IGP_CONFIG_DETAILS" />
    <add key="DAPHIE_FILEDET_TABLENAME" value="PGEIGPDATA.PGE_IGP_DAPHIEFILE_DET" />
    <add key="CONFIG_VALIDATION_SEVERITY_TABLENAME" value="PGEIGPDATA.PGE_IGP_VALIDATION_SEVERITYMAP" />
    <!--Trace Table>-->
    <add key="TRACE_TABLENAME" value="PGEIGPDATA.PGE_FEEDERFEDNETWORK_TRACE" />
    <!--Stage Related Status>-->
    <add key="STAGE_TO_BE_COMPLETED" value="ALL" />
    <add key="STATUS_TO_BE_SKIPPED" value="'USER_QUEUE','QAQC_PASSED','CONFLICT','POST_ERROR','RECONCILE_ERROR'" />
    <!--For Aborting The Process>-->
    <add key="MAX_EDITED_FEATURES_ALLOWED" value="100000" />
    <add key="PERCENTAGE_ALLOWED" value="20" />
    <add key="PROCESSING_HOURS" value="3" />
    <add key="WAIT_TIME" value="300000" />
    <add key="RECREATE_CONNECTION_TIME" value="17" />
    <!--Stage Related Status>-->
    <add key="QAQC_SKIPPING_PRIMARY_COUNT" value="50000" />
    <!--Statistical Report Parameters -->
    <add key="ARCHIVE_STAT_REPORT_COUNTER" value="4" />
    <add key="ARCHIVING_STAT_REQUIRED" value="true" />
    <!--Batch 2 Parameters -->
    <add key="FEATURECLASS_EXCLUDED_FROM_VERDIFF" value="EDGIS.PGE_IGP_EXP_REPORT,EDGIS.ELECTRICDISTNETWORK_JUNCTIONS,EDGIS.SECUGCONDUCTOR50ANNO" />
    <add key="PROCESSING_HOURS_UPDATESESSION" value="2" />
    <add key="FEATURE_CLASSES_TO_BE_UPDATED" value="EDGIS.SECONDARYLOADPOINT-EDGIS.ZZ_MV_SECONDARYLOADPOINT,EDGIS.DCSERVICELOCATION-EDGIS.ZZ_MV_DCSERVICELOCATION,EDGIS.STREETLIGHT-EDGIS.ZZ_MV_STREETLIGHT,EDGIS.SECUGCONDUCTOR-EDGIS.ZZ_MV_SECUGCONDUCTOR,EDGIS.SECOHCONDUCTOR-EDGIS.ZZ_MV_SECOHCONDUCTOR,EDGIS.SERVICELOCATION-EDGIS.ZZ_MV_SERVICELOCATION,EDGIS.DELIVERYPOINT-EDGIS.ZZ_MV_DELIVERYPOINT,EDGIS.DISTBUSBAR-EDGIS.ZZ_MV_DISTBUSBAR,EDGIS.OPENPOINT-EDGIS.ZZ_MV_OPENPOINT,EDGIS.DCCONDUCTOR-EDGIS.ZZ_MV_DCCONDUCTOR,EDGIS.DCRECTIFIER-EDGIS.ZZ_MV_DCRECTIFIER,EDGIS.SMARTMETERNETWORKDEVICE-EDGIS.ZZ_MV_SMARTMETERNETWORKDEVICE,EDGIS.TIE-EDGIS.ZZ_MV_TIE,EDGIS.TRANSFORMERLEAD-EDGIS.ZZ_MV_TRANSFORMERLEAD" />
    <add key="PRIMARY_NETWORK_FEATURE_CLASSES" value="EDGIS.PRIUGCONDUCTOR,EDGIS.PRIOHCONDUCTOR,EDGIS.DISTBUSBAR,EDGIS.SWITCH,EDGIS.FUSE,EDGIS.DYNAMICPROTECTIVEDEVICE,EDGIS.TRANSFORMER,EDGIS.PRIMARYRISER,EDGIS.VOLTAGEREGULATOR,EDGIS.STEPDOWN,EDGIS.TIE,EDGIS.FAULTINDICATOR,EDGIS.PRIMARYMETER,EDGIS.CAPACITORBANK" />
    <add key="AUTOPHASEASSIGNCLASS" value="EDGIS.DistBusBar&#xD;&#xA;              EDGIS.SecondaryGeneration&#xD;&#xA;              EDGIS.CapacitorBank&#xD;&#xA;              EDGIS.PrimaryMeter&#xD;&#xA;              EDGIS.LoadCheckPoint&#xD;&#xA;              EDGIS.Switch&#xD;&#xA;              EDGIS.Tie&#xD;&#xA;              EDGIS.Fuse&#xD;&#xA;              EDGIS.OpenPoint&#xD;&#xA;              EDGIS.FaultIndicator&#xD;&#xA;              EDGIS.DynamicProtectiveDevice&#xD;&#xA;              EDGIS.PrimaryGeneration&#xD;&#xA;              EDGIS.StepDown&#xD;&#xA;              EDGIS.SecondaryLoadPoint&#xD;&#xA;              EDGIS.StreetLight&#xD;&#xA;              EDGIS.ServiceLocation&#xD;&#xA;              EDGIS.DeliveryPoint&#xD;&#xA;              " />
    <!-- STATISTICAL REPORT QUERY STRING -->
    <add key="STATISTICAL_REPORT_QUERY" value="select  b.FILENAME,b.PROCESSINGDT,b.CIRCUITID,a.Name as FEATURECLASS,a.feature_guid as FEATURE_GLOBALID,a.value as NEW_PH_ID_VALUE,a.processed as PROCESSING_STATUS,a.old_PHASE as	OLD_PH_ID_VALUE,a.ERROR_MSG as ERROR_MESSAGE,b.RECEIVEDDT,a.batchid  from PGEIGPDATA.PGE_IGP_UNPROCESSED_REC a, PGEIGPDATA.PGE_IGP_DAPHIEFILE_DET b where (a.batchid=b.BATCHID) and (error_msg is not null)" />
    <add key ="DEVICE_LIST" value ="EDGIS.SWITCH,EDGIS.OPENPOINT"/>
    <!--EMAIL Parameters-->
    <add key="MAIL_FROM_DISPLAY_NAME" value="GIS IGP Admin NP" />
    <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com" />
    <!-- Mail Address and Mail Body for EDGIS Support Team -->
    <add key="MAIL_TO_ADDRESS_EDGISSupportTeam" value="YXA6;S2NN;C5PU" />
    <add key="MAIL_SUBJECT_PROCESSERROR" value="[PRE-PROD]IGP Phase update process error" />
    <!-- Mail Address and Mail Subject for MAPPER -->
    <add key="MAIL_TO_ADDRESS_MAPPER" value="YXA6;S2NN;C5PU" />
    <add key="MAIL_SUBJECT_MAPPER" value="[PRE-PROD]IGP Phase update Circuit ID" />
    <add key="MAIL_SUBJECT_MAPPER_REMINDER" value="[PRE-PROD] [REMINDER] IGP Phase update Circuit ID" />
    <!--Mail Address and Mail Subject for DAPHIE-->
    <add key="MAIL_TO_ADDRESS_DAPHIE" value="YXA6;S2NN;C5PU" />
    <add key="MAIL_SUBJECT_INVALIDJSON" value="[PRE-PROD]Failed to load ARAD JSON file in EDGIS" />
    <add key="CHANGEUSERNAME" value="YXA6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--EGIS-923 CHANGE FOR AC3-->
    <add key="REMINDER_MAIL_TO_MAPPER" value="false" />
    <!--EGIS-975 CHANGE FOR AC4-->
    <add key="USE_EXISTING_SESSION" value="false" />
    <add key="REPROCESS_EXISTING_REQ_JSON_CIRCUITID" value="true" />
    <!--EGIS-975 CHANGE FOR AC5-->
    <add key="DEVICE_PHASE_VALIDATE_BY_CONDUTOR_PHASELENGTH" value="true" />

  </appSettings>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="mailhost.comp.pge.com" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>