<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="PageConfigLocation"
         value="c:\Projects\EDAMGIS\Source_Development_10_2_1_WEBR4\WEBR-4.1-JET\Miner.Server.Silverlight\ArcFMSilverlight.Web\ClientBin\UserConfiguration\Page.config" />
    <!--<add key="PageConfigLocation"
         value="C:\temp\Page_prod.config" />-->
    <add key="TemplatesConfigLocation"
         value="C:\Projects\EDAMGIS\Source_Development_10_2_1_WEBR4\WEBR-4.1-JET\Miner.Server.Silverlight\ArcFMSilverlight.Web\ClientBin\Templates\Templates.config" />
    <!--<add key="TemplatesConfigLocation"
         value="C:\temp\Templates_prod.config" />-->
    <add key="NewPageConfigLocation"
         value="C:\temp\pagenew.config"/>
    <add key="GenerateClassIdLayerMappings"
         value="False"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>