<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set the path of sde connection file-->
    <add key="CONN_SDE_FILE" value="C:\Users\t1gx\Desktop\EDGIS_4_Way_Junction_Sol\edgist1d new.sde" />
    
    <!-- Set the SESSION NAME - *NOTE* This session must be open in ARCFM  -->
    <add key="SESSION_NAME" value="EDGIS.SN_236484" />
    
    <!-- Set the LOGPATH - If no LOGPATH is specified then path of the executing assembly will be taken-->
    <add key="LOGPATH" value="" />
    
    <!-- Set the path of CSV file for the list of Electric junctions to be replaced with Tie-->
    <add key="JUNCTION_LIST_CSV_PATH" value="C:\Users\t1gx\Desktop\EDGIS_4_Way_Junction_Sol\Input_Junction_List.csv" />

    <!-- Set the path of CSV file to populate default values in Tie feature-->
    <add key="TIE_FIELDS_LIST_CSV_PATH" value="C:\Users\t1gx\Desktop\EDGIS_4_Way_Junction_Sol\Tie_Attributes_Configuration.csv" />

    <add key="ELECTRICDISTNETWORK_JUNCTIONS_FC_NAME" value="EDGIS.ELECTRICDISTNETWORK_JUNCTIONS" />
    <add key="TIE_FC_NAME" value="EDGIS.TIE" />
    <add key="PRI_OH_COND_FC_NAME" value="EDGIS.PriOHConductor" />
    <add key="PRI_UG_COND_FC_NAME" value="EDGIS.PriUGConductor" />
    <add key="ELECTRIC_DATASET" value="EDGIS.ElectricDataset" />
    <add key="ELECTRIC_DIST_NETWORK" value="EDGIS.ElectricDistNetwork" />
    <!-- Enter the field to be used to search junction features. ex OBJECTID or GLOBALID. The same field list should be entered at JUNCTION_LIST_CSV_PATH-->
    <add key ="JUNCTION_SEARCH_FIELD" value="GLOBALID" />

  </appSettings>
</configuration>