<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SDEConnectionFile" value="C:\Users\S6BDADMIN\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\EDGISBO@EDGISP2D.sde"/>
    <add key="CircuitSourceTable" value="EDGIS.CircuitSource"/>
    
    <add key="StructureClassNames" value="EDGIS.SUPPORTSTRUCTURE,EDGIS.SUBSURFACESTRUCTURE,EDGIS.PADMOUNTSTRUCTURE"/>
    <add key="GridClassName" value="EDGIS.PLAT_UNIFIED"/>
    <add key ="CircuitToMapTable" value="EDGIS.PGE_CIRCUITTOMAPNUM"/>
    <add key="TruncateCircuitToMapTableProc" value="EDGIS.TRUNCATE_CIRCUITTOMAPNUM"/>
    <add key="GridScales" value="500,100"/>
    <!--The temporary table to write to.  The ED08RunCompletedProcedure will write it to it's final table-->
    <add key="DataTable" value="edgisbo.WORKORDERSTRUCTURE_TEMP"/>

    <add key="ED08RunCompletedProcedure" value="edgisbo.ED08RunCompleted"/>

    <add key="NumberOfProcesses" value="8"/>
    <add key="CircuitsPerProcess" value="4"/>
    <add key="GeometricNetwork" value="EDGIS.ElectricDistNetwork"/>

    <add key="OracleConnection" value="edgiswebdb01.comp.pge.com,edgisp2d,edgisbo,edgis.80"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
