<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-SettingsApp-20140219095821;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=EDGISQ6Q;PASSWORD=edsettTemp;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgispocdb01.comp.pge.com:1521/EDGISS1D;PASSWORD=edsettTemp;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgisdbqa01.comp.pge.com:1521/EDGISA2Q;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgispocdb01:1521/EDGISS1D;PASSWORD=edsettTemp;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=EDGISI2Q;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient" />-->
    <!-- DEV -->
 
    <add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgisdbqa01.comp.pge.com:1521/EDGISA2Q;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient"/>
   
    <!-- TEST -->
    <!--<add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=EDGISI2Q;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient" />-->
    
    <!-- TRAINING -->
    <!--
    <add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgisdbqa01.comp.pge.com:1521/EDGIST2Q;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!-- PREPROD 
    <add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgisdboraqa04.comp.pge.com:1521/EDGISSPT;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!-- PROD -->
    <!--
    <add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=edgisdboraprd03.comp.pge.com:1521/EDAUX1P;PASSWORD=edsett;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient"/>
    -->
    <!--<add name="SettingsEntities" connectionString="metadata=res://*/SettingsAppModel.csdl|res://*/SettingsAppModel.ssdl|res://*/SettingsAppModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=EDGISQ6Q;PASSWORD=edsettTemp;PERSIST SECURITY INFO=True;USER ID=EDSETT&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Domain" value="PGE" />
    <add key="Environment" value="DEV" />
    <add key="ShowADInfoAtTop" value="0" />
    <!-- 1=on, 0=off, this is added because of the AD performace issue, can be taken out later.-->
    <add key="VoltageRegulatorLayerName" value="Voltage Regulator" />
    <add key="SubVoltageRegulatorLayerName" value="Sub Voltage Regulator" />
    <add key="VoltageRegulatorUnitLayerName" value="EDGIS.VoltageRegulatorUnit" />
    <!--<add key="VoltageRegulatorUnitLayerID" value="298"/>-->
    <add key="SubVoltageRegulatorUnitLayerName" value="EDGIS.SUBVoltageRegulatorUnit" />
    <!--<add key="SubVoltageRegulatorUnitLayerID" value="139"/>-->
    <add key="TrfBankLayerName" value="Transformer Bank - N, N, Y;Transformer Bank - N, N, N;Transformer Bank - N, Y, N;Transformer Bank - N, Y, Y;Transformer Bank - Y, N, N and Y, Y, N;Transformer Bank - Y, N, Y and Y, Y, Y" />
    <add key="TrfBankUnitLayerName" value="EDGIS.SUBLoadTapChanger" />
    <!--ENOS2EDGIS Start-->
    <add key="GENTECHCD_INVEXT" value="INVEXT" />
    <add key="GENTECHCD_INVINC" value="INVINC" />
    <add key="GENTECHCD_SYNCH" value="SYNCH" />
    <add key="GENTECHCD_INDCT" value="INDCT" />
    <add key="GENTECHCD_BATT" value="BATT" />
    <add key="PROTECTION_ParentType_Gen" value="GENERATION" />
    <add key="PROTECTION_ParentType_PM" value="PRIMARYMETER" />
    <add key="RelayCd_PPHA" value="PPHA" />
    <add key="RelayCd_PGRD" value="PGRD" />
    <add key="RelayCd_BPHA" value="BPHA" />
    <add key="RelayCd_BGRD" value="BGRD" />
    <add key="PROTECTION_Type_RELY" value="RELY" />
    <add key="PROTECTION_Type_RECL" value="RECL" />
    <add key="PROTECTION_Type_UNSP" value="UNSP" />
    <add key="CurrentOrFuture_C" value="C" />
    <add key="CurrentOrFuture_F" value="F" />
    <add key="Certification" value="UL1741" />
    <add key="ModeOfInverter" value="BSIC" /> 
    <add key="RelayType_1" value="1" />
    <add key="CurveType_1" value="1" />
    <add key="RestraintType_0" value="0" />   
    <add key="CertificationValues" value="UL1741,UL1741$UL1741SA,UL1741SA$NO,NO$," />    
    <!--ENOS2EDGIS End-->
    <!--DEV -->
    <add key="DEV_EnableLogging" value="true" />
    <add key="DEV_GISService" value="http://edgiswebdev02:6080/arcgis/rest/services/Data/ElectricDistribution/MapServer" />
    <add key="DEV_GISSubStationService" value="http://edgisapppqa02:6080/arcgis/rest/services/data/Substation/MapServer" />
    <add key="DEV_DocumentumService" value="https://itapposbd01vip.comp.pge.com/ei.it.documentmanagement/DocumentRequestManage" />
    <!--<add key="DEV_DocumentumNAS" value="\\ecmqa01-nas\ecmstage01\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="DEV_DocumentumFilePath" value="\ecmstage01\IntegrationIntake\ELDS\PG&amp;E Internal" />-->
    <add key="DEV_DocumentumNAS" value="\\ffshare01-nas\EtGisShare\Applications\Temp\ManagedService_Developement\Electric\ED\SETTINGS WEBER" />
    <add key="DEV_DocumentumFilePath" value="\EtGisShare\Applications\Temp\ManagedService_Developement\Electric\ED\SETTINGS WEBER" />
    <add key="DEV_DocumentumURL" value="https://wwwintra3dev.comp.pge.com/ecmd2/?docbase=pge_ecm_dev&amp;locatePath=/Business Cabinet/ELDS/" />
    <add key="DEV_AdminGroupName" value="EDGIS_PLENG_OPENG_NP" />
    <add key="DEV_AdminGroupName_Electric_Operations" value="Electric Operations"/>
    <!--ENOS2EDGIS Start-->
    <add key="DEV_SuperUserGroupName" value="Apr-265-Dev-ELEC_GEN_SUP_MAPPER" />    
    <!--ENOS2EDGIS end-->
    <!--TEST -->
    <add key="TEST_EnableLogging" value="false" />
    <add key="TEST_GISService" value="http://edgiswebtst02:6080/arcgis/rest/services/Data/ElectricDistribution/MapServer" />
    <add key="TEST_GISSubStationService" value="http://edgisapppqa02:6080/arcgis/rest/services/data/Substation/MapServer" />
    <add key="TEST_DocumentumService" value="https://itapposbt01vip.comp.pge.com:443/ei.it.documentmanagement/DocumentRequestManage" />
    <add key="TEST_DocumentumNAS" value="\\fxecmtst-nas01\ecmfxtstnas-fs03\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="TEST_DocumentumFilePath" value="\integrationshare\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="TEST_DocumentumURL" value="https://ecmappwlst01ms1.comp.pge.com:8004/D2/?docbase=pge_ecm_tst&amp;locatePath=/Business Cabinet/ELDS/" />
    <add key="TEST_AdminGroupName" value="EDGIS_PLENG_OPENG_NP" />
    <add key="TEST_AdminGroupName_Electric_Operations" value="Electric Operations"/>
    <!--ENOS2EDGIS Start-->
    <add key="TEST_SuperUserGroupName" value="Apr-265-Test-ELEC_GEN_SUP_MAPPER" />   
    <!--ENOS2EDGIS end-->
    <!--TRAINING -->
    <add key="TRAINING_EnableLogging" value="false" />
    <add key="TRAINING_GISService" value="http://edgiswebtrn01/arcgis/rest/services/Data/ElectricDistribution/MapServer" />
    <add key="TRAINING_GISSubStationService" value="http://edgiswebtrn01/arcgis/rest/services/Data/Substation/MapServer" />
    <add key="TRAINING_DocumentumService" value="https://itapposbt01vip.comp.pge.com:443/ei.it.documentmanagement/DocumentRequestManage" />
    <add key="TRAINING_DocumentumNAS" value="\\fxecmtst-nas01\ecmfxtstnas-fs03\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="TRAINING_DocumentumFilePath" value="\integrationshare\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="TRAINING_DocumentumURL" value="https://ecmappwlst01ms1.comp.pge.com:8004/D2/?docbase=pge_ecm_tst&amp;locatePath=/Business Cabinet/ELDS/" />
    <add key="TRAINING_AdminGroupName" value="EDGIS_PLENG_OPENG_NP" />
    <!--ENOS2EDGIS-->
    <add key="TRAINING_SuperUserGroupName" value="EDGIS_PLENG_OPENG_NP" />
    <!--PREPROD -->
    <add key="PREPROD_EnableLogging" value="false" />
    <add key="PREPROD_GISService" value="http://eoappgisqa01/arcgis/rest/services/Data/ElectricDistribution/MapServer" />
    <add key="PREPROD_GISSubStationService" value="http://eoappgisqa01/arcgis/rest/services/Data/Substation/MapServer" />
    <add key="PREPROD_DocumentumService" value="https://itapposbq01vip.comp.pge.com:443/ei.it.documentmanagement/DocumentRequestManage" />
    <add key="PREPROD_DocumentumNAS" value="\\fxecmqa-nas01.utility.pge.com\ecmfxqanas-fs01\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="PREPROD_DocumentumFilePath" value="\integrationshare\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="PREPROD_DocumentumURL" value="https://ecmappwlsq01c1.comp.pge.com/D2/?docbase=pge_ecm_qa&amp;locatePath=/Business Cabinet/ELDS/" />
    <add key="PREPROD_AdminGroupName" value="EDGIS_PLENG_OPENG_NP" />
    <add key="PREPROD_AdminGroupName_Electric_Operations" value="Electric Operations"/>
     <!--ENOS2EDGIS-->
    <add key="PREPROD_SuperUserGroupName" value="Apr-265-Non-Prod-ELEC_GEN_SUP_ENGINEER" />
    
    <!--PROD -->
    <add key="PROD_EnableLogging" value="false" />
    <add key="PROD_GISService" value="http://wwwedgis/arcgis/rest/services/Data/ElectricDistribution/MapServer" />
    <add key="PROD_GISSubStationService" value="http://wwwedgis/arcgis/rest/services/Data/Substation/MapServer" />
    <add key="PROD_DocumentumService" value="https://itapposbprd.comp.pge.com:443/ei.it.documentmanagement/DocumentRequestManage" />
    <add key="PROD_DocumentumNAS" value="\\rcecmprd-nas01\ecmprdnas-fs01\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="PROD_DocumentumFilePath" value="\integrationshare\IntegrationIntake\ELDS\PG&amp;E Internal" />
    <add key="PROD_DocumentumURL" value="https://edrm.comp.pge.com/D2/?docbase=pge_ecm&amp;locatePath=/Business Cabinet/ELDS/" />
    <add key="PROD_AdminGroupName" value="EDGIS_PLENG_OPENG" />
    <add key="PROD_AdminGroupName_Electric_Operations" value="Electric Operations"/>
    <!--ENOS2EDGIS-->
    <add key="PROD_SuperUserGroupName" value="Apr-265-Prod-ELEC_GEN_SUP_ENGINEER" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmMapping dataType="number">
          <add name="Int16" precision="1" />
          <add name="Int16" precision="2" />
          <add name="Int16" precision="3" />
          <add name="Int16" precision="4" />
          <add name="Int32" precision="5" />
          <add name="Int32" precision="6" />
          <add name="Int32" precision="7" />
          <add name="Int32" precision="8" />
          <add name="Int32" precision="9" />
          <add name="Int64" precision="10" />
          <add name="Int64" precision="11" />
          <add name="Int64" precision="12" />
          <add name="Int64" precision="13" />
          <add name="Int64" precision="14" />
          <add name="Int64" precision="15" />
          <add name="Int64" precision="16" />
          <add name="Int64" precision="17" />
          <add name="Int64" precision="18" />
        </edmMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <!--<add namespace="SettingsApp.Common"/>-->
      </namespaces>
    </pages>
    <identity impersonate="true" />
    <customErrors mode="On" defaultRedirect="~/Error"></customErrors>
    <httpRuntime maxUrlLength="2097151" maxQueryStringLength="2097151" maxRequestLength="2097151" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>