<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	<!-- Newly added 12/02/2016 -->
	

    <add name ="LOADSEER_ConnectionStr" connectionString ="DATAMART@EDGMC_QA"/>
    <add name ="ROBC_ConnectionStr" connectionString ="ROBCAPP@EDGMC_QA"/>
    <add name ="TLM_ConnectionStr" connectionString ="EDTLM@EDAUX_QA"/>
    <add name ="TLM_Weekly_ConnectionStr" connectionString ="GIS_I_WRITE@EDER_QA"/>
    <add name ="Settings_ConnectionStr" connectionString ="EDSETT@EDAUX_QA"/>
    <add name ="EDER_ConnectionStr" connectionString ="PGEDATA@EDER_QA"/>
    
  </connectionStrings>
  <appSettings>
	<!--LoadSEER Settings--> <!-- Newly added 12/02/2016 -->
    <add key="LOADSEER_ApplicationLogFile" value="C:\LOADSEER\Log\LOADSEER_Application_{0}.log" />
    <!--OMSDMS settings-->
    <add key="OMS_LogFile" value="C:\Settings\OMSDMS\OMS_{0}.log" />
    <add key="OMS_ExportFileFolder" value="C:\Settings\OMSDMS\" />
    <add key="OMS_ExportFileName" value="OMSDMS.xml" />
    <add key="OMS_TriggerFileName" value="OMSDMS.ok" />

    <!--/*Changes for ENOS to SAP migration - ED51 changes ..*/-->
    <add key="OMS_PrimGenerationQuery" value="select globalid from edgis.zz_mv_generationinfo where gensymbology='Primary'" />
    <!--<add key="OMS_PrimGenerationQuery" value="select globalid from edgis.generationinfo where gensymbology='Primary'" />-->
    <!--/*Changes for ENOS to SAP migration - ED51 changes ..*/-->
    
    <!--End OMSDMS settings-->
    <!-- TLM Monthly Load Settings-->
    <add key="TLM_ApplicationLogFile" value="C:\TLM\Log\TLM_Application_{0}.log" />
    <add key="TLM_CCNB_Zipped" value ="false" />
    <add key="TLM_CCNB_TriggerFile" value ="smload.ok" /> 
    <add key="TLM_CCNB_SourceFile" value="\\SFSHARE04-NAS2\sfgispoc_data\ApplicationDevelopment\IBM_Delivery\TLM\TLMMonthly\CCBData" />
    <add key="TLM_CCW_TriggerFile" value ="" />
    <add key="TLM_CCW_SourceFile" value="\\SFSHARE04-NAS2\sfgispoc_data\ApplicationDevelopment\IBM_Delivery\TLM\TLMMonthly\CDWData\Dec2013" />
    <add key="TLM_WorkingFolder" value="C:\TLM\" />
    <add key="TLM_ArchiveFolder" value="C:\TLM\Archive\" />
    <add key="TLM_MeterFile" value="EDGIS.cedsards.dat" />
    <add key="TLM_ServicePointLoadFile" value="smservicepoint.dat" />
    <add key="TLM_TransformerLoadFile" value="smtransformer.dat" />
    <add key="TLM_ServicePointGenerationFile" value="smservicepointReceived.dat" />
    <add key="TLM_TransformerGenerationFile" value="smtransformerReceived.dat" />
    <add key="TLM_MonthlyLoadLogFile" value="C:\TLM\Report\MonthlyLoad_{0}.log" />
    <add key="TLM_NotificationEmail" value="" />
    <!-- TLM_MonthlyLoadBatchDate batch date format  must be in format(MM/DD/YYYY) -->
    <add key="TLM_MonthlyLoadBatchDate" value="" />
	  <!-- Newly added 12/02/2016 -->
	  <add key="TLM_CYME_MonthlyLoadBatchDate" value="11/1/2014" />
    <!-- Newly added 12/04/2019 for  TLM enhancement  -->
   
    <add key="TLM_Process_CCB_Refresh" value="yes" />
    
    <!--End setting for TLM-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	
	<!--Start ROBC Settings--><!-- Newly added 12/02/2016 -->
    <add key="ROBC_ApplicationLogFile" value="C:\temp\ROBC\Log\ROBC_Application_{0}.log" />
    <!--End ROBC Settings-->
    
    <!--Changes for Fuse Saver 06/28/2018 Start-->
    <!--<add key="DeviceMapping_Key" value="Capacitor,CircuitBreaker,Interrupter,NetworkProtector,Recloser,Recloser_TS,Regulator,Sectionalizer,Switch,Generation,Recloser_FS"/>-->
    <add key="DeviceMapping_Key" value="NetworkProtector,Generation"/>

    <!--<add key="DeviceMapping_Value" value="SM_CAPACITOR,SM_CIRCUIT_BREAKER,SM_INTERRUPTER,SM_NETWORK_PROTECTOR,SM_RECLOSER,SM_RECLOSER_TS,SM_REGULATOR,SM_SECTIONALIZER,SM_SWITCH,SM_GENERATION,SM_RECLOSER_FS"/>-->
    <add key="DeviceMapping_Value" value="SM_NETWORK_PROTECTOR,SM_GENERATION"/>

    <!--Changes for Fuse Saver 06/28/2018 End-->

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>