<?xml version="1.0"?>
<configuration>

  <appSettings>

    <!--Common Start -->   
    
    <!--Connection to EDER To Perform Operations in the EDER Database-->
    
  

    <add key ="EDER_ConnectionStr" value ="GIS_I_WRITE@EDER"/>
    <add key ="EDAUX_ConnectionStr" value ="EDSETT@EDAUX"/>
    
    
     <add key="IntExecutionSummaryExePath" value="C:\Program Files (x86)\Miner and Miner\PG&amp;E Custom Components\PGE.IntExecutionSummaryTool\PGE.BatchApplication.IntExecutionSummary.exe"/>
   

    <!--Connection to Perform Version Operations in Main Database-->
    
    <add key ="EDER_SDEConnection" value ="GIS_I_WRITE@EDER"/>

    <!--Common End -->
    <add key="VersionOperationRetryCount" value="5"/>
    <add key="RECORDID" value="RECORDID"/>    
    <add key="PROCESSEDFLAG" value="PROCESSEDFLAG"/>
    
    
    <add key="GenerationInfoTableName" value="EDGIS.GENERATIONINFO"/>
    <add key="GenerationInfoStageTableName" value="PGEDATA.PGEDATA_GENERATIONINFO_STAGE"/>
    <add key="SMGenerationStageTableName" value="PGEDATA.PGEDATA_SM_GENERATION_STAGE"/>
    <add key="EDGISChangesToSAPTableName" value="PGEDATA.PGE_ED16_GIS_CHANGES_TO_SAP"/>
    
    <add key="Col_GEN_GUID" value="GEN_GUID"/>
    <add key="Col_SPGUID" value="SERVICEPOINTGUID"/>
    <add key="Col_SPID" value="SERVICEPOINTID"/>
    <add key="Col_CGC12" value="CGC12"/>
    <add key="Col_CID" value="CIRCUITID"/>
    <add key="Col_Updated_Field" value="UDATED_FIELD"/>
    <add key="Col_Updated_Table" value="UDATED_TABLE"/>
    <add key="Col_FeatureGUID" value="FEATUREGUID"/>
    <add key="Col_Postdate" value="POSTDATE"/>
    <add key="Col_Comments" value="COMMENTS"/>
    <add key="Col_Action" value="ACTION"/>
    <add key="ACTION" value="ACTION"/>

    <add key="FieldsToInsert_EDGIS_GIS_CHANGES_SAP" value="GEN_GUID,SERVICEPOINTGUID,SERVICEPOINTID,CGC12,CIRCUITID,UDATED_FIELD,UDATED_TABLE,FEATUREGUID,POSTDATE,COMMENTS"/>

    <add key="Date_Format" value="mm/dd/yy"/>
    
    <add key="LogConfigName" value="pge.log4net.config"/>
   
    <add key="Flag" value="@Flag"/>
    
    <add key="Input_DM_DI_Flag" value="DI"/>
    <add key="DailyInterface" value="DI"/>
    

    
    
    <add key="SP_EDER_TO_SAP_STATUS_INSERT" value="PGEDATA.EDER_TO_SAP_STATUS_INSERT"/>
    <add key="Proc_Unique_Records" value="PGEDATA.EDER_TO_SAP_UNIQUE_RCRD"/>
    

    <add key="PGE_STG2_GUID_UPDT_STG1_SP" value="PGEDATA.PGE_ENOS_TO_EDGIS_DM_PKG.PGE_STG2_GUID_UPDT_STG1_SP"/>
    
    <add key="Qry_Clear_Curr_Data" value="delete from pgedata.EDER_TO_SAP_STATUS where date_inserted = trunc(sysdate)"/>
    
    
    <add key="Qry_Fetch_EqpId_Frm_Settings" value="select sm_genrtr.SAP_EQUIPMENT_ID SAP_EQUIPMENT_ID from (select sm_pt.ID ID from (select sm_gen.ID ID from edsett.sm_generation sm_gen where global_id='{0}') gen_id, edsett.sm_protection sm_pt where sm_pt.parent_id = gen_id.ID) pt_id, edsett.sm_generator sm_genrtr where sm_genrtr.protection_id = pt_id.ID"/>
    <add key="Qry_Select_EDER_TO_SAP" value="Select * from PGEDATA.EDER_TO_SAP_STATUS where date_inserted=trunc(sysdate)"/>
    <add key="Qry_Update_EDER_TO_SAP" value="update pgedata.EDER_TO_SAP_STATUS set equipmentid={0} WHERE ROWID IN (SELECT MIN (ROWID) FROM pgedata.EDER_TO_SAP_STATUS where guid= '{1}' and equipmentid is null GROUP BY guid)"/>

    <add key="Export_Header" value="EQUIPMENT NUMBER,GUID,SPID,NOTIFICATION NUMBER,MESSAGE,MESSAGE TYPE,CGC#,CIRCUIT ID"/>


    <!--Capturing CircuitID,CGC,SPID updates from GIS to send to SAP.. Start  -->

    <add key="parentVersionName" value="SDE.DEFAULT"/>
    <add key="childVersionName" value="ED16_GIS_Changes_To_SAP"/>

    <add key="ChangedTables" value="EDGIS.GENERATIONINFO,EDGIS.SERVICEPOINT,EDGIS.PRIMARYMETER,EDGIS.TRANSFORMER"/>
    <add key="ChangeCol_EDGIS.GENERATIONINFO" value="SERVICEPOINTGUID"/>
    <add key="ChangeCol_EDGIS.SERVICEPOINT" value="SERVICEPOINTID"/>
    <add key="ChangeCol_EDGIS.PRIMARYMETER" value="CIRCUITID,CGC12"/>
    <add key="ChangeCol_EDGIS.TRANSFORMER" value="CIRCUITID,CGC12"/>

    <add key="ChangedTables_generationinfo" value="EDGIS.GENERATIONINFO"/>
    <add key="ChangedTables_servicepoint" value="EDGIS.SERVICEPOINT"/>
    <add key="ChangedTables_primarymeter" value="EDGIS.PRIMARYMETER"/>
    <add key="ChangedTables_transformer" value="EDGIS.TRANSFORMER"/>

    <add key="ChangedColumns_SERVICEPOINTGUID" value="SERVICEPOINTGUID"/>
    <add key="ChangedColumns_SERVICEPOINTID" value="SERVICEPOINTID"/>
    <add key="ChangedColumns_CIRCUITID" value="CIRCUITID"/>
    <add key="ChangedColumns_CGC12" value="CGC12"/>

    <add key="ColName_GLOBALID" value="GLOBALID"/>
    <add key="ColName_SERVICEPOINTGUID" value="SERVICEPOINTGUID"/>
    <add key="ColName_SERVICEPOINTID" value="SERVICEPOINTID"/>
    <add key="ColName_CGC12" value="CGC12"/>
    <add key="ColName_CIRCUITID" value="CIRCUITID"/>

    <!--Set True when same changes require for version difference-->
    <!--Set True if you want that versions will not be initialized every time-->
    <add key="DoNotRollVersions" value="false"/>

    <!--Capturing CircuitID,CGC,SPID updates from GIS to send to SAP.. End  -->

    <add key="SAP_TO_EDER_STAGGING_TABLENAME" value="pgedata.SAPTOEDER_STG"/>
   
  </appSettings>
  
</configuration>
