<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="settingsConnectionString" value="Data Source=edgisa1d;User ID=pgedata;Password=pgedata"/>
    <add key="SDEConnectionFile" value="C:\Users\s6bd\AppData\Roaming\ESRI\Desktop10.0\ArcCatalog\EDGIS@EDGISA1D.sde"/>
  </appSettings>
</configuration>
