<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--PGE.Interfaces.MapProduction.Integration.PSPS-->
  <Fragment>
    <ComponentGroup Id="PSPSMapProduction">
      <ComponentGroupRef Id="PGE.Common.Delivery.Framework.dll"/>
      <ComponentGroupRef Id="PGE.Common.Delivery.Diagnostics.dll"/>
      <ComponentGroupRef Id="PGE.Common.Delivery.Geodatabase.dll"/>
      <ComponentGroupRef Id="PGE.Common.Delivery.Systems.dll"/>
      <ComponentGroupRef Id="PGE.Common.Delivery.ArcFM.dll"/>
      <ComponentGroupRef Id="PGE.Common.ChangeDetectionAPI.dll"/>
      <ComponentGroupRef Id="PGE.Common.Delivery.Process.dll"/>
      <ComponentGroupRef Id="PGE.Common.Delivery.SessionManager.dll"/>
      <ComponentGroupRef Id="PGE.Common.Delivery.UI.dll"/>
      <ComponentGroupRef Id="PGE.BatchApplication.PSPSMapProduction.dll"/>
      <ComponentGroupRef Id="MAPPSPSExtra"/>
      <ComponentRef Id="RegistryEntries"/>
      <ComponentRef Id="DefaultLogFile"/>
    </ComponentGroup>
  </Fragment>
</Wix>