<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <!-- Ad Hoc Workflow -->
  <!-- Scale Options Configuration Section -->
  <ScaleOptions>
    <ScaleOption DisplayText="1:50" Value="50" />
    <ScaleOption DisplayText="1:100" Value="100" />
    <ScaleOption DisplayText="1:200" Value="200" />
    <ScaleOption DisplayText="1:500" Value="500" />
    <ScaleOption DisplayText="1:1000" Value="1000" />
    <ScaleOption DisplayText="1:5000" Value="5000" />
    <ScaleOption DisplayText="1:15,000" Value="15000" />
  </ScaleOptions>

  <!-- Ad Hoc Workflow -->
  <!-- The config is created so multiple print services can be utilized. The current UI and requirements,
    // however, do not specify the need to print from multiple print services. An additional UI item would
    // need to be added to allow the user to select between print services. The name "Default" should be
    // given to the print service in single service environments. 
    //
    // DPI: The output DPI of the printable filetype / pdf.
    // UpdateDelay: The time in milliseconds to wait between checking if the pdf has been created on the server.
    // Url: Print Service endpoint.
    -->
  <PrintServiceUrls>
    <PrintServiceUrl Name="Default" DPI="300" UpdateDelay="6000" Url="http://edgiswwwprd02/printservice/rest/services/Data/PGnEAdHocPrintService/GPServer/Export%20Web%20Map"/>
  </PrintServiceUrls>
  <ExtractSendService Url="http://edgiswwwprd02/printservice/rest/services/Data/ExtractSend/GPServer/ExtractSend" MinimumAsyncSize="20" />
  <UfmPrintSendService Url="http://edgiswwwprd02/printservice/rest/services/Data/UfmPrint/GPServer/ExportSendUfmPdf" />


  <!-- Standard Workflow -->
  <!-- Grid Layers Configuration Section -->
  <GridLayers ServiceAreaMapService="http://wwwedgis/arcgis/rest/services/Data/RuralMapView/MapServer" ServiceAreaLayerId="268" LayerName="EDGIS.ServiceArea">
    <GridLayer Name="Unified Grid Layer"
               MapService="http://wwwedgis/arcgis/rest/services/Data/ElectricDistribution/MapServer"
               LayerId="290" LayerName="Unified Map Grid"
               ScaleFieldName="SCALE"
               RegionFieldName="REGION"
               DivisionFieldName="DIVISION"
               DistrictFieldName="DISTRICT"
               GridNumberFieldName="MAPNO"/>
    <GridLayer Name="Schematics Unified Grid Layer"
               MapService="http://wwwedgis/arcgis/rest/services/Data/Schematics/MapServer"
               LayerId="74" LayerName="Schematics_Unified_Grid"
               ScaleFieldName="SCALE"
               RegionFieldName="REGION"
               DivisionFieldName="DIVISION"
               DistrictFieldName="DISTRICT"
               GridNumberFieldName="MAPNO"/>
  </GridLayers>

  <!-- Standard Workflow -->
  <PDFMaps RootUrl="http://edgiswwwprd02/PDFMaps">
    <PDFMap MapType="ElectricDistribution" MapSize="24x36" GridNumberScaleFilters="50,100"/>
    <PDFMap MapType="StreetLight" MapSize="24x36" GridNumberScaleFilters="50,100"/>
    <PDFMap MapType="CircuitMap" MapSize="24x36" GridNumberScaleFilters="100,500"/>
    <PDFMap MapType="ED_M_and_C" MapSize="24x36" GridNumberScaleFilters="50,100"/>
    <PDFMap MapType="JointUtility" MapSize="24x36" GridNumberScaleFilters="50,100"/>
    <PDFMap MapType="RuralMapView" MapSize="24x36" GridNumberScaleFilters="500"/>
    <PDFMap MapType="Schematics" MapSize="24x36" GridNumberScaleFilters="100,250,500"/>
    <PDFMap MapType="AssesmentMaps" MapSize="28x40" GridNumberScaleFilters="1000"/>
  </PDFMaps>
  
  <!--INC000004479909-->
  <AddDataUrls UrlPrefix="http://edgisprprd02:6080/arcgis/rest/services/Data/">
    <UploadUrlSHP Url="EDGIS_SHPLOAD/GPServer/uploads/upload"/>
    <UploadUrlKML Url="EDGIS_KMLLOAD/GPServer/uploads/upload"/>
    <GeoprocessingTaskUrlSHP Url="EDGIS_SHPLOAD/GPServer/ShapeFileToFeatureLyr"/>
    <GeoprocessingTaskUrlKML Url="EDGIS_KMLLOAD/GPServer/KMLtoLayers"/>
    <KmlMapServiceUrl Url="EDGIS_KMLLOAD/MapServer/jobs/"/>
    <UploadedCSVURLNew Value="http://edgiswwwprd02/PDF/" />
  </AddDataUrls>

</Configuration>
