<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Set the path of the LANDBASE connection file (using SDE user)-->
    <add key="SDE_FILE_PATH" value="C:\FINAL\RowAutomationOneTime\LBGISPvtRoadsMiscLines\Landbase_sde_user.sde"/>

    <!-- Set the name of an existing LANDBASE version (using SDE user) -->
    <add key="ONE_TIME_VERSION_NAME" value="SDE.PVT_MISC_ONE_TIME_VERSION"/>

    <!-- Set the log file path. If left blank, logs will be created at the executing file location-->
    <add key="LOG_FILE_PATH" value=""/>

    <!-- XY Tolerance (in FEET) to be set for Symmetric Difference Geoprocessing Tool-->
    <add key ="XY_TOLERANCE" value="0.01"/>

    <!-- To be set as TRUE/FALSE based on activities to be completed-->
    <add key="COPY_FEATURE_CLASSES_TO_GDB" value="TRUE"/>
    <add key="CREATE_SUBSETS_FROM_DIVISIONS" value="TRUE"/>
    <add key="PROCESS_ALL_DIVISIONS" value="TRUE"/>
    <add key="APPEND_TO_MAIN_GDB" value="TRUE"/>
    <add key="PROCESS_LOTS_OUTSIDE_DIVISIONS" value="TRUE"/>
    <add key="FINAL_PROCESSING" value="TRUE"/>
    <add key="MOVE_TO_SDE_VERSION" value="TRUE"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

</configuration>
