<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
  <appSettings>
    <!-- Connection and user details needed in the process : Start -->
    
    <!-- Connection and user details needed in the process : End -->

    <add key ="EDER_SDEConnection" value ="PB_EDITOR@EDER"/>
    <add key ="EDER_ConnectionStr_pbuser" value ="PB_EDITOR@EDER"/>
    <add key ="EDER_ConnectionStr_pgedata" value ="PGEDATA@EDER"/>


    <!-- Keep columns DATE and RECORD_STATUS in table pgedata.PowerbaseStage --> 
    <add key="tableName_PowerbaseStage" value="pgedata.pb_gis_updates_test_1" />
    <add key="tableName_PowerbaseStage_Archive" value="pgedata.PB_GIS_UPDATES_ARCHIVE" />    
    
    <add key="tableName_PB_Session" value="pgedata.PB_SESSION_STATUS" />
    <add key="tableName_PB_Session_Archive" value="pgedata.PB_SESSION_STATUS_ARCHIVE" />

    <add key="tableName_PB_GIS_REJECTED_RECORDS" value="PGEDATA.PB_GIS_REJECTED_RECORDS" />    

    <add key="SessionNamePrefix" value="SN" />    
    <add key ="SESSION_STATE" value="9"/>
    <add key ="SESSION_PRIORITY" value="20"/>

    <add key ="PB_Value_NO_UPDATE" value="NO_UPDATES"/>
    <add key ="PB_Value_NOT_RELEVANT" value="NOT_RELEVANT"/>
    <add key ="PB_GIS_Mapping_ConfigFileName" value="PBGIS_Synch_Config.xml"/>   

    <!-- Mail Related : Start -->
    <add key="SUBJECT" value="ALERT (Environment : Dev) : Powerbase to EDGIS data update interface" />
    <add key="MAIL_FROM_DISPLAY_NAME" value="Powerbase" />    
    <add key="MAIL_FROM_ADDRESS" value="EDGISSUPPORT@pge.com" />
    <add key="ToemailID" value="A0SW@PGE.COM" />
    <add key="clientHost" value="mailhost.utility.pge.com" />
    <add key="fileName" value="Invalid_Attribute_Values" />
    <add key="fileExtension" value=".csv" />
   
    <!-- Configurable parameters for the process : Strat -->  
    <add key="logNeededWhileExecuting" value="true" />
    <add key="dateFormatToChange" value="dd/mm/yy hh24:mi:ss" />    

    <add key="LogConfigName" value="pge.log4net.config" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
