<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Warning: The configSections element must be the first element under configuration -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Miner.Geodatabase.GeodatabaseManager.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <log4net>
    <appender name="WcfAppender" type="Miner.Geodatabase.GeodatabaseManager.Services.WcfAppender, GeodatabaseManagerServices, Version=10.8.0.0, Culture=neutral,PublicKeyToken=196beceb052ed5dc">
      <param name="Threshold" value="DEBUG"/>
      <!--message queue when we reach a given size-->
      <param name="QueueSize" value="2"/>
      <!--Flush LoggingEvent queue when we receive an event with this level-->
      <param name="FlushLevel" value="ERROR"/>
      <!--set to None/Transport/Message/...-->
      <param name="SecurityMode" value="None"/>
      <param name="UseDefaultWebProxy" value="false"/>
      <!--used for username authentication with WCF-->
      <param name="Username" value="notUsed"/>
      <!--used for username authentication with WCF-->
      <param name="Password" value="notUsed"/>
      <!--uri of the service-->
      <param name="RemoteAddress" value="net.tcp://localhost:9000"/>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="WcfAppender"/>
    </root>
  </log4net>
  <applicationSettings>
    <Miner.Geodatabase.GeodatabaseManager.Services.Properties.Settings>
      <setting name="TotalTimeToStop" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="MemoryThreshold" serializeAs="String">
        <value>1600</value>
      </setting>
      <setting name="MemoryTrace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReconcileTrace" serializeAs="String">
        <value>False</value>
      </setting>
    </Miner.Geodatabase.GeodatabaseManager.Services.Properties.Settings>
  </applicationSettings>
  <!--<system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Warning, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="TraceWcfLoggingService.svcLog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="regularBindingConfiguration" receiveTimeout="infinite" listenBacklog="100" maxBufferSize="1048576" maxConnections="100" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="16384"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- Do not modify the endpoint names in this section.  They must be supplied to the proxy constructors-->
      <endpoint address="net.tcp://localhost:9000" binding="netTcpBinding" bindingConfiguration="regularBindingConfiguration" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmLoggingWrite" name="GdbmLogWriteClient"/>
      <endpoint address="net.tcp://localhost:9002" binding="netTcpBinding" bindingConfiguration="regularBindingConfiguration" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmStatusNotifier" name="GdbmStatusNotifierClient"/>
      <endpoint address="net.tcp://localhost:9003" binding="netTcpBinding" bindingConfiguration="regularBindingConfiguration" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmWriteToFile" name="GdbmWriteToFileClient"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceThrottling maxConcurrentCalls="30" maxConcurrentSessions="100" maxConcurrentInstances="1"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Miner.Geodatabase.GeodatabaseManager.Services.ReconcilePostLoggingService">
        <endpoint address="net.tcp://localhost:9000" binding="netTcpBinding" bindingConfiguration="regularBindingConfiguration" name="LoggingWrite" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmLoggingWrite"/>
        <endpoint address="net.tcp://localhost:9001" binding="netTcpBinding" bindingConfiguration="regularBindingConfiguration" name="LoggingRead" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmLoggingRead"/>
        <endpoint address="net.tcp://localhost:9002" binding="netTcpBinding" bindingConfiguration="regularBindingConfiguration" name="StatusNotifier" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmStatusNotifier"/>
        <endpoint address="net.tcp://localhost:9003" binding="netTcpBinding" bindingConfiguration="regularBindingConfiguration" name="WriteToFile" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmWriteToFile"/>
        <endpoint address="net.tcp://localhost:9010" binding="mexTcpBinding" bindingConfiguration="" name="MetadataExchange" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9010"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
