<?xml version="1.0" encoding="utf-8"?>
<!-- Miner & Miner log4net logging configuration -->
<!-- 
 *************************** WARNING! *************************** 
    
    This version of log4net configuration is included with release 
    versions of product and should be modified with discretion.
    
    *************************** WARNING! *************************** 
-->
<configuration>
  <!-- Warning: The configSections element must be the first element under configuration -->
  <configSections>
    <section name="ActionHandlerAssemblies" type="Miner.GeodatabaseUI.GeodatabaseManager.ActionHandlerListHandler, Miner.GeodatabaseUI, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="EventLogAppender" type="Miner.EventLogAppender, Miner.System, Version=10.8.0.0, Culture=neutral,PublicKeyToken=196beceb052ed5dc">
      <param name="LogName" value="Miner"/>
      <param name="Threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%exception%properties%n"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Miner.log"/>
      <param name="Threshold" value="ERROR"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="5"/>
      <param name="MaximumFileSize" value="500KB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#13;&#10;===== Application Begin =====&#13;&#10;"/>
        <param name="Footer" value="====== Application End ======&#13;&#10;"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%exception%properties%n"/>
      </layout>
    </appender>
    <appender name="MessageBoxAppender" type="Miner.MessageBoxAppender, Miner.SystemUI, Version=10.8.0.0, Culture=neutral,PublicKeyToken=196beceb052ed5dc">
      <param name="Caption" value="Application Error"/>
      <param name="ShowAbortOnError" value="false"/>
      <param name="Threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %c [%x] - %m%n"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="INFO"/>
      <appender-ref ref="EventLogAppender"/>
    </root>
  </log4net>
  <ActionHandlerAssemblies>
    <ActionHandlerAssembly type="Miner.Geodatabase.Engine, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
    <ActionHandlerAssembly type="Miner.Process, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
    <ActionHandlerAssembly type="Miner.Framework.FiberManager, Version=10.8.0.0, Culture=neutral, PublicKeyToken=196beceb052ed5dc"/>
    <ActionHandlerAssembly type="PGE.Desktop.EDER, Version=10.8.1.0, Culture=neutral, PublicKeyToken=d01347ab6ada58e7"/>
    <ActionHandlerAssembly type="PGE.Interfaces.SAP.GDBM, Version=10.8.1.0, Culture=neutral, PublicKeyToken=d01347ab6ada58e7"/>

  </ActionHandlerAssemblies>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="clientBinding" receiveTimeout="Infinite" listenBacklog="100"
          maxBufferSize="1048576" maxConnections="100" maxReceivedMessageSize="1048576">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576"
            maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- Do not modify the endpoint name in this section.  It must be supplied to the proxy constructor-->
      <endpoint address="net.tcp://localhost:9001" binding="netTcpBinding"
        bindingConfiguration="clientBinding" contract="Miner.Geodatabase.GeodatabaseManager.Services.IGdbmLoggingRead"
        name="GdbmLogReadClient" />
    </client>
  </system.serviceModel>
</configuration>