<?xml version="1.0"?>
<configuration>
  <appSettings>
   <add key="STG_TABLE" value="LBGIS.PGE_VMS_STAGING"/>
    <add key="VMSStoredProcedure" value="LBGIS.VMSAlertFeature"/>


    <add key ="LBMAINT_SDEConnection" value ="LBGIS@LBMAINT"/>

    <!--<add key="TARGET_VERSION" value="VMS_ALERTS"/>-->
    <add key="TARGET_VERSION" value="TESTVMSALERTS"/>

    <add key="SOURCE_CONN_KEY" value="Server =PRETAPPDBSWC019;Database = VMS;User Id=VegAlerts;Password="/>
    <add key ="SOURCE_CONN" value ="VegAlerts@VMS"/>

    <!-- SQLASC600prod2\ascon600prod2,1537 -->


    <add key ="LBMAINT_ConnectionStr" value ="LBGIS@LBMAINT"/>

    <add key="SOURCE_TABLE" value="VMS.dbo.GIS_LocationAlerts"/>
    <add key="TARGET_STG_TABLE" value="LBGIS.VMS_ALERTS_STG"/>
    <add key="TARGET_FClass" value="LBGIS.VMSAlerts"/>
    <add key="TARGET_FClass_ATABLE" value="LBGIS.VMSAlerts"/>
    <add key="LOGPATH" value="D:\VMS_Delta\logs\"/>
    <add key="TIMEOUT_BULK_MIN" value="30"/>
    <add key="RECONCILEPOST" value="Y"/>
    <add key="DELETEAFTERPOST" value="Y"/>
    <add key="DELETEEXISTINGVERSION" value="Y"/>
    <!--<add key="DATAFILEPATH" value="C:\VMS_Delta\logs\Datafile_636792211805425683.csv"/>-->
    <add key="PERSAVECOUNT" value="999"/>
    <add key="DELETEDATAFILE" value="Y"/>
    <add key ="RUNVD" value ="N"/>
    <add key ="INCLUDE_DATE" value ="N"/>
    
  <!--EMAIL Parameters-->
    <add key ="FROM_LANID" value ="EDGISSUPPORT@pge.com" />

    <!-- Mail Body and Mail Subject for Job Faile Condition-->

    <add key ="TO_LANID" value ="s2nn@pge.com;yxa6@pge.com;M4A1@pge.com;a7m6@pge.com" />    
    <add key="MAIL_SUBJECT" value="[PROD] VMS ALERT JOB BLOCKED "/>  
    <add key="MAIL_BODY_FOR_VMSLAYERFAIL" value="Hello Team,
                &lt;br&gt; &lt;br&gt;
                VMS Alert Feature Count 0, VMS-Alert process blocked the job blocked the job.
                &lt;br&gt; &lt;br&gt;
                Thank you,
                &lt;br&gt;
                EDGIS Support Team"/>
    
   <add key="MAIL_BODY_FOR_STGFAIL" value="Hello Team,
                &lt;br&gt; &lt;br&gt;
                No staging data recieved, VMS-Alert process blocked the job.
                &lt;br&gt; &lt;br&gt;
                Thank you,
                &lt;br&gt;
                EDGIS Support Team"/>
  
  </appSettings>
   <system.net>
    <mailSettings>
      <smtp>
        <network host="mailhost.comp.pge.com" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>  
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
</configuration>
