<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
    <section name="ED06_FieldMappingSection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ED07_FieldMappingSection" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Insert_FieldList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Update_FieldList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="Delete_FieldList" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ConflationRules" type="PGE.BatchApplication.GISPLDBAssetSynchProcess.ConfigRuleReader,PGE.BatchApplication.GISPLDBAssetSynchProcess"/>
  </configSections>
  <appSettings>
    <add key="LogFolder" value="C:\\DEV\\GISPLDB"/>
    <add key="queryStatus" value="NEW,ERROR"/>
    <add key="sentStatus" value="SENT"/>
    <add key="errorStatus" value="ERROR"/>
    <add key="queryStatus" value="NEW,ERROR"/>
    
   
    <add key ="EDER_ConnectionStr_EDGIS" value ="EDGIS@EDER"/>
    <add key ="EDER_ConnectionStr_PGEDATA" value ="PGEDATA@EDER"/>


    <add key="NAS_FILE_LOCATION_ED06" value="\\sfshare04-nas2\sfgispoc_data\INTERFACE\EDAMGIS_ED06_PRODUCER\OUTBOUND"/>
    <add key="NAS_FILE_LOCATION_ED07" value="\\sfshare04-nas2\sfgispoc_data\INTERFACE\EDAMGIS_ED07_CONSUMER\INBOUND"/>
    <add key="RequestMethod" value="POST"></add>
    <add key="SetSAPEQUIPIDURL" value="https://itapidev01vip.comp.pge.com/Electric/Poles/v1/SetSAPEquipId"/>
    <add key="UpdateLocationsURL" value="https://itapidev01vip.comp.pge.com/Electric/Poles/v1/UpdatePoleLocations"/>
    <add key="DecommissionPoleURL" value="https://itapidev01vip.comp.pge.com/Electric/Poles/v1/SetDecommissionPoles"/>
    <add key="CommonUpdateRule" value="PushALL"></add>
    <add key="PushAll_Insert" value="PLDBID;PGE_SAPEQUIPID;PGE_GLOBALID;Latitude;Longitude"></add>
    <add key="PushAll_Update" value="PLDBID;Latitude;Longitude"></add>
    <add key="PushAll_Delete" value="PLDBID;PGE_ORDERNUMBER"></add>
    <add key="NoLATLONGUPDATE_Insert" value="PLDBID;PGE_SAPEQUIPID;PGE_GLOBALID"></add>
    <add key="NoLATLONGUPDATE_Update" value="PLDBID"></add>
    <add key="NoLATLONGUPDATE_Delete" value="PLDBID"></add>
    <add key="NOUPDATES_Insert" value=""></add>
    <add key="NOUPDATES_Update" value=""></add>
    <add key="NOUPDATES_Delete" value=""></add>
    <add key="serviceUserName" value="GIS"/>
    <add key="servicePassword" value="*B{>gUVMc7"/>
  </appSettings>
  <ED06_FieldMappingSection>
    <add key="EDIT_TYPE" value="EDIT_TYPE"></add>
    <add key="ID_Type" value="ID_Type"/>
    <add key="LocDesc2" value="LocDesc2"/>
    <add key="Barcode" value="Barcode"/>
    <add key="Class" value="Class"/>
    <add key="Material" value="Material"/>
    <add key="Species" value="Species"/>
    <add key="Height" value="Height"/>
    <add key="JPNumber" value="JPNumber"/>
    <add key="Customer_Owned" value="Customer_Owned"/>
    <add key="Original_Circumference" value="Original_Circumference"/>
    <add key="Original_Treatment_Type" value="Original_Treatment_Type"/>
    <add key="PGE_SAPEQUIPID" value="PGE_SAPEQUIPID"/>
    <add key="Installation_Date" value="Installation Date"></add>
    <add key="PGE_ORDERNUMBER" value="PGE_ORDERNUMBER"></add>
    <!--<add key="OPER_FLAG" value="SNOW_LOAD_DIST"/>
      <add key="SYMBOL_NO" value="ORDER_DESCRIPTION"/>-->
    <add key="Manufacturer" value="Manufacturer"/>
    <add key="Manufactured_Year" value="Manufactured_Year"/>
    <add key="Loc_Desc1" value="Loc_Desc1"/>
    <add key="Local_Office_Id" value="Local_OfficeId"/>
    <add key="Latitude" value="LATITUDE"/>
    <add key="Longitude" value="Longitude"/>
    <add key="MapNumber" value="MapNumber"/>
    <add key="Circuit_MapNumber" value="Circuit_MapNumber"/>
    <add key="City" value="City"/>
    <add key="County" value="County"/>
    <add key="Zip" value="Zip"/>
    <add key="PGE_GLOBALID" value="PGE_GLOBALID"/>
    <add key="Parent_GUID" value="Parent_GUID"/>
    <add key="LastUser" value="LastUser"/>
    <add key="LastModifed_Date" value="LastModifed"></add>
    <add key="GEMS_Map_Office" value="GEMS_Map_Office"/>
    <add key="SubtypeCD" value="SubtypeCD"></add>
    <!--<add key="GLOBALID_PLD" value="GLOBALID"></add>-->
    <add key="PoleUse" value="PoleUse"/>
    <add key="PTTDIDC" value="PTTDIDC"/>
    <add key="PLDBID" value="PLDBID"/>
    <add key="Comments" value="Comments"/>
    <add key="HFTD" value="HFTD"/>
    <add key="INTERFACE_STATUS" value="INTERFACE_STATUS"/>
    <!--<add key="SHAPE" value="PLDBID"></add>-->
    <!--<ED07_FieldMapping>
      <add key="SAPEquipID" value="SAPEquipID" />
      <add key="ASSET_DETAILS" value="ASSET_DETAILS">
      </add>
      <add key="TYPE" value="TYPE"></add>
      -->
    <!--<add key="OPER_FLAG" value="SNOW_LOAD_DIST"/>
      <add key="SYMBOL_NO" value="ORDER_DESCRIPTION"/>-->
    <!--
      <add key="GlobalID" value="GlobalID" />
      -->
    <!--<add key="SHAPE" value="PLDBID"></add>-->
    <!--
    </ED07_FieldMapping>-->
  </ED06_FieldMappingSection>
  <ED07_FieldMappingSection>
    <add key="PGE_SAPEQUIPID" value="PGE_SAPEQUIPID"></add>
    <add key="ASSET_DETAILS" value="DETAILS"/>
    <add key="TYPE" value="TYPE"/>
    <add key="PGE_GLOBALID" value="PGE_GLOBALID"/>
  </ED07_FieldMappingSection>
  <Insert_FieldList>
    <add key="Edit_Type" value="EDIT_TYPE"/>
    <add key="Pldbid" value="PLDBID"></add>
    <add key="Pge_Sapequipid" value="PGE_SAPEQUIPID"/>
    <add key="Pge_Globalid" value="PGE_GLOBALID"/>
    <add key="Latitude" value="Latitude"/>
    <add key="Longitude" value="Longitude"/>
    <!--<add key="Elevation" value="Elevation"/>-->
  </Insert_FieldList>
  <Update_FieldList>
    <add key="Edit_Type" value="EDIT_TYPE"/>
    <add key="Pldbid" value="PLDBID"></add>
    <add key="Latitude" value="Latitude"/>
    <add key="Longitude" value="Longitude"/>
    <!--<add key="Elevation" value="Elevation"/>-->
  </Update_FieldList>
  <Delete_FieldList>
    <add key="Edit_Type" value="EDIT_TYPE"/>
    <add key="Pldbid" value="PLDBID"></add>
    <add key="Pge_Ordernumber" value="PGE_ORDERNUMBER"/>
    <add key="Pge_Notificationnumber" value="PGE_NOTIFICATIONNUMBER"/>
  </Delete_FieldList>
  <ConflationRules>
    <Rules>
      <add Name="NEITHER" HFTD="{0}" SourceAccuracy=" " LIDARConflatedDate=" " ruleDesc="PushALL" />
      <!--<add HFTD="{0}" SourceAccuracy=" " LIDARConflatedDate=" " ruleDesc="PushALL" method="Update"/>
      <add HFTD="{0}" SourceAccuracy=" " LIDARConflatedDate=" " ruleDesc="PushALL" method="Delete"/>-->

      <add Name="BOTH" HFTD="{2,3} " SourceAccuracy="{31,37}" LIDARConflatedDate="" ruleDesc="NoLATLONGUPDATE" />
      <!--<add HFTD="{2,3} " SourceAccuracy="{31,37}" LIDARConflatedDate=" " ruleDesc="NoLATLONGUPDATE" method="Update"/>
      <add HFTD="{2,3} " SourceAccuracy="{31,37}" LIDARConflatedDate=" " ruleDesc="PushALL" method="Delete"/>-->

      <!--<add HFTD="{2,3} " SourceAccuracy="&lt;&gt;37" LIDARConflatedDate="NOT NULL" ruleDesc="PushALL" method="Insert"/> -->
      <add Name="BOTHWITHDATE" HFTD="{2,3} " SourceAccuracy="{31,37}" LIDARConflatedDate="NOT NULL" ruleDesc="PushALL"/>

      <add Name="BOTHWITHOUTDATE" HFTD="{2,3} " SourceAccuracy="{31,37}" LIDARConflatedDate="" ruleDesc="NOUPDATES"/>
      <!--<add HFTD="{2,3}" SourceAccuracy=" " LIDARConflatedDate="NOT NULL" ruleDesc="PushALL" method="Update"/>-->
    </Rules>
  </ConflationRules>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
<!--<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>-->
