<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SMUser" value="GIS_I_WRITE"/>
        <add key="SMUPWD" value="gis_i_write"/>
        <add key="SMDB" value="lbgiss2q"/>
        <add key="SessionName" value="CCBtoGIS"/>
        <add key="SDEConnFile" value="gis_i_writelbgiss2q.sde"/>
        <add key="VersionNamePrefix" value="SN_"/>
        <add key="SessionOwner" value="GIS_I_Write"/>
        <!-- <add key="SPActionSQL" value="PGEDATA.CCBTOGIS_INITIALIZE_FILTERS,PGEDATA.CCBTOGIS_SP_ACTION_INSERTS, PGEDATA.CCBTOGIS_SP_ACTION_REPLACE,PGEDATA.CCBTOGIS_SP_ACTION_UPDATES,PGEDATA.CCBTOGIS_SP_ACTION_DELETES,PGEDATA.CCBTOGIS_SP_ACTION_NO_ACTION,PGEDATA.Generate_Ext_CCB_Meter_Load,PGEDATA.Generate_cd_tables"/> -->
        <!-- <add key="SPActionSQL" value="PGEDATA.CCBTOGIS_INITIALIZE_FILTERS,PGEDATA.CCBTOGIS_SP_ACTION_INSERTS, PGEDATA.CCBTOGIS_SP_ACTION_REPLACE,PGEDATA.CCBTOGIS_SP_ACTION_UPDATES,PGEDATA.CCBTOGIS_SP_ACTION_DELETES,PGEDATA.CCBTOGIS_SP_ACTION_NO_ACTION"/> --> 
        <add key="SPActionSQL" value="PGEDATA.CCBTOGIS_SP_ACTION_NO_ACTION"/>
        <!--<add key="GISSQL" value="PGEDATA.CCBTOGIS_GIS_INSERTS,PGEDATA.CCBTOGIS_GIS_UPDATES,PGEDATA.CCBTOGIS_GIS_REPLACEMENTS,PGEDATA.CCBTOGIS_GIS_DELETES"/>-->
        <add key="GISSQL" value="PGEDATA.CCBTOGIS_GIS_INSERTS,PGEDATA.CCBTOGIS_GIS_REPLACEMENTS,PGEDATA.CCBTOGIS_GIS_DELETES"/>
        <add key="POSTGISSQL" value="PGEDATA.CCBTOGIS_RETURN_GISVALUES"/>
    </appSettings>
</configuration>