<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
    <add key="ConnectionString" value="Data Source=edgisa2q;User ID=edsaprw;Password=edsaprw"/>
    <!--For Dev Start-->
    <add key="DC1DestFileNamePath" value="\\\\eoappgisqa01\\arcgisserver\\SAPRWNotification\\"/>
    <add key="DC2DestFileNamePath" value="\\\\eoappgisqa01\\arcgisserver\\SAPRWNotification\\"/>
    <add key="NoofDays" value="6"/>
    <add key="Select_NotificationDetail" value="Select NOTIFICATION_ID from EDSAPRW.PGE_SAP_RW_HEADER_DETAILS where SUBMITDATE &lt;= TO_DATE('"/>
    <add key="Delete_NotificationDetail" value="Delete from EDSAPRW.PGE_SAP_RW_HEADER_DETAILS where SUBMITDATE &lt;= TO_DATE('"/>
    <add key="Delete_NotificationLocation" value="Delete from EDSAPRW.PGE_SAP_RW_MAP_LOCATIONS where NOTIFICATION_ID IN ("/>
    <add key="Delete_Attachment" value="Delete from EDSAPRW.PGE_SAP_RW_ATTACHMENTS where NOTIFICATION_ID IN ("/>
    <!--For Dev End-->
  </appSettings>
</configuration>